Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$

chore(labot): import ΛBot files (group 5) (#1207)
  prompts/labot/serve_error_handling.md
  prompts/labot/serve_middleware_cors.md
Due: none

chore(labot): import ΛBot files (group 6) (#1208)
  prompts/labot/lukhas_identity_core.md
  prompts/labot/lukhas_identity_webauthn.md
Due: none

chore(labot): import ΛBot files (group 7) (#1209)
  prompts/labot/lukhas_governance_guardian.md
  prompts/labot/matriz_core_engine.md
Due: none

chore(labot): import ΛBot files (group 8) (#1210)
  prompts/labot/matriz_adapters_llm_adapter.md
  prompts/labot/matriz_memory_context.md
Due: none

chore(labot): import ΛBot files (group 9) (#1211)
  prompts/labot/core_monitoring_metrics.md
  prompts/labot/matriz_bio_adaptation.md
Due: none

chore(labot): import ΛBot files (group 10) (#1212)
  prompts/labot/core_security_encryption.md
  reports/evolve_candidates.json
Due: none

chore(labot): import ΛBot files (group 11) (#1213)
  requests/labot/serve_identity_middleware.pr.yml
  requests/labot/serve_main.pr.yml
Due: none

chore(labot): import ΛBot files (group 12) (#1214)
  requests/labot/serve_responses.pr.yml
  requests/labot/serve_streaming.pr.yml
Due: none

chore(labot): import ΛBot files (group 13) (#1215)
  requests/labot/serve_error_handling.pr.yml
  requests/labot/serve_middleware_cors.pr.yml
Due: none

chore(labot): import ΛBot files (group 14) (#1216)
  requests/labot/lukhas_identity_core.pr.yml
  requests/labot/lukhas_identity_webauthn.pr.yml
Due: none

chore(labot): import ΛBot files (group 15) (#1217)
  requests/labot/lukhas_governance_guardian.pr.yml
  requests/labot/matriz_core_engine.pr.yml
Due: none

chore(labot): import ΛBot files (group 16) (#1218)
  requests/labot/matriz_adapters_llm_adapter.pr.yml
  requests/labot/matriz_memory_context.pr.yml
Due: none

chore(labot): import ΛBot files (group 17) (#1219)
  requests/labot/core_monitoring_metrics.pr.yml
  requests/labot/matriz_bio_adaptation.pr.yml
Due: none

chore(labot): import ΛBot files (group 18) (#1220)
  requests/labot/core_security_encryption.pr.yml
Due: none

chore(labot): import ΛBot files (group 20) (#1222)
  .github/workflows/labot_audit.yml
  prompts/_templates/test_surgeon_system_prompt.md
Due: none

chore(labot): add task delegation files and enable draft PRs by default (#1243)
  tasks/CLAUDE_WEB_TASKS.md
  tasks/CODEX_PROMPTS.md
  tasks/JULES_TODO.md
  tools/labot.py
Due: block-labs-imports, guardrail-check

feat(identity): add Lambda ID verification script for audit validation
  scripts/verify_lambdaid.sh
Due: none

feat(audit): add comprehensive Dream-Consciousness-Memory integration architecture analysis document
  docs/audits/architecture/DREAM_CONSCIOUSNESS_MEMORY_INTEGRATION_ANALYSIS.md
Due: check-markdown-encoding, validate-docs-frontmatter

feat: F821 T4 annotations for QI distributed architecture
  qi/distributed_qi_architecture.py
Due: block-labs-imports, guardrail-check

docs: F821 T4 annotation progress report and automation tool
  F821_T4_ANNOTATION_PROGRESS.md
  tools/t4_f821_consciousness_template.py
Due: block-labs-imports, guardrail-check

docs(agents): add centralized caching and logging standards for all agents
  docs/agents/AGENT_UPDATES_2025_01_10.md
  scripts/update_agents_docs.sh
Due: check-markdown-encoding, validate-docs-frontmatter

feat: F821 T4 annotations for post-quantum cryptography
  qi/post_quantum_crypto.py
Due: block-labs-imports, guardrail-check

feat(labot): support draft PR dry-run and labels
  tools/labot.py
Due: block-labs-imports, guardrail-check

feat: add dry-run mode to labot import splitter
  scripts/split_labot_import.sh
Due: none

feat(products): add status page with Prometheus metrics integration
  .github/workflows/deploy_status_page.yml
  products/status_page/README.md
  products/status_page/index.html
  products/status_page/status.js
Due: none

Add whitelist support to guard_patch
  tests/test_guard_patch.py
  tools/guard_patch.py
Due: block-labs-imports, guardrail-check

Add OPA policy enforcement to audit workflow
  .github/workflows/labot_audit.yml
  .policy/diff_to_json.py
  .policy/rules.rego
Due: opa-format, block-labs-imports, guardrail-check

Implement OpenAPI drift diffing tool
  tests/tools/test_check_openapi_drift.py
  tools/check_openapi_drift.py
Due: block-labs-imports, guardrail-check

Add DAST adapter module with tests and ADR
  docs/ADR/ADR-0003-dast-adapter-interface.md
  lukhas/adapters/dast_adapter.py
  tests/integration/test_dast_adapter_integration.py
  tests/unit/test_dast_adapter.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

test(serve): add comprehensive test suite for serve/main.py (78% coverage)
  tests/unit/serve/test_serve_main.py
Due: block-labs-imports, guardrail-check

chore(qrg): add QRG spec & ADR (Phase 0) — draft
  docs/ADR/000-qrg-spec-adr.md
  docs/specs/QRG_SPEC.md
Due: check-markdown-encoding, validate-docs-frontmatter

feat: F821 T4 annotations for quantum substrate simulation
  vivox/quantum_readiness/core/qi_substrate.py
Due: block-labs-imports, guardrail-check

feat: F821 T4 annotations for bio-inspired voice adapter
  qi/bio/voice_adapter.py
Due: block-labs-imports, guardrail-check

docs: Update F821 T4 annotation progress - major session achievements
  F821_T4_ANNOTATION_PROGRESS.md
Due: none

feat(core): add global initialization system with feature flags
  lukhas_website/lukhas/core/initialization.py
  tests/unit/core/test_initialization.py
Due: block-labs-imports, guardrail-check

docs(handoff): comprehensive handoff to Claude Code web for Tasks 2-9
  HANDOFF_TO_CLAUDE_CODE_WEB.md
Due: none

feat: F821 T4 annotations for VIVOX consciousness core
  vivox/consciousness/vivox_cil_core.py
Due: block-labs-imports, guardrail-check

feat: F821 T4 annotations for metamorphic consciousness testing
  rl/tests/test_metamorphic_consciousness.py
Due: block-labs-imports, guardrail-check

docs: F821 T4 annotation session completion summary
  F821_T4_ANNOTATION_PROGRESS.md
Due: none

feat(core): add wrapper modules for consciousness, dreams, and glyphs
  lukhas_website/lukhas/consciousness/__init__.py
  lukhas_website/lukhas/core/initialization.py
  lukhas_website/lukhas/dream/__init__.py
  lukhas_website/lukhas/glyphs/__init__.py
  tests/unit/core/test_wrappers.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check
