Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$

docs(gonzo): add T4 linting report for 32 Jules PRs
  docs/gonzo/T4_LINTING_JULES_PRS_2025-11-06.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(gonzo): add comprehensive daily automation summary
  docs/gonzo/DAILY_AUTOMATION_SUMMARY_2025-11-06.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(t4): Add Jules test integration quality report
  T4_JULES_TEST_INTEGRATION_STATUS.md
Due: none

docs(gonzo): add Batch 4 Jules sessions (14 high-priority test sessions)
  docs/gonzo/JULES_API_OPTIONS_TREE.md
  docs/gonzo/JULES_BATCH_4_STATUS_2025-11-06.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(critical): Document 138 test import errors for Codex resolution
  GITHUB_ISSUE_JULES_TEST_IMPORTS.md
Due: none

docs(critical): Update status with pytest collection results
  T4_JULES_TEST_INTEGRATION_STATUS.md
Due: none

docs(branding): fix vocabulary violations across all domains for governance compliance
  branding/websites/lukhas.ai/Updated_architecture_matriz_ready.md
  branding/websites/lukhas.ai/Updated_homepage_matriz_ready.md
  branding/websites/lukhas.ai/homepage.md
  branding/websites/lukhas.app/homepage_matriz_ready.md
  branding/websites/lukhas.com/homepage.md
  branding/websites/lukhas.dev/Updated_architecture_matriz_ready.md
  branding/websites/lukhas.dev/homepage.md
Due: none

docs(discovery): ROOT CAUSE - Module fragmentation, not missing modules
  MODULE_DUPLICATION_ANALYSIS.md
Due: none

docs(analysis): Comprehensive guardian_system version ranking 1-10
  GUARDIAN_SYSTEM_VERSION_RANKING.md
Due: none

docs(branding): add complete front-matter with evidence links to all domains
  branding/websites/lukhas.ai/homepage.md
  branding/websites/lukhas.dev/homepage.md
Due: none

🌟 Guardian V3 Vision: 0.01% standard, AGI-ready, 8-week consolidation
  GUARDIAN_V3_VISION.md
Due: none

📋 System-Wide Module Audit Plan: Complete consolidation strategy
  SYSTEM_WIDE_AUDIT_PLAN.md
Due: none

📖 Executive Summary: Complete architectural vision for LUKHAS rebuild
  ARCHITECTURAL_VISION_SUMMARY.md
Due: none

feat(ops): integrate LUKHAS architectural rules with T4 Lint Platform
  .github/workflows/architectural-guardian.yml
  tools/ci/lukhas_t4_linter.py
Due: block-labs-imports, guardrail-check

🔧 Setup Guardian Consolidation Toolkit with T4 Guardrails
  .github/PULL_REQUEST_TEMPLATE.md
  scripts/fix_pythonpath.sh
  scripts/guardian_discovery.py
Due: block-labs-imports, guardrail-check

⚡ Quick Win: PYTHONPATH Configuration for Import Resolution
  EXECUTION_PLAN_WITH_TOOLKIT.md
  conftest.py
Due: block-labs-imports, guardrail-check

📋 Session Summary: Option A Execution - Toolkit + Quick Win Complete
  SESSION_SUMMARY_OPTION_A_EXECUTED.md
Due: none

📊 Jules Test Integration - Autonomous Completion Report
  JULES_TEST_INTEGRATION_COMPLETION_REPORT.md
Due: none

📋 Add Guardian Consolidation Strategy artifact
  GUARDIAN_CONSOLIDATION_STRATEGY.md
Due: none

📋 Session Summary: Autonomous Jules Test Integration Complete
  SESSION_SUMMARY_2025-11-07.md
Due: none

feat(bridge): add Claude-powered test generator and quick setup
  scripts/claude_generate_tests.py
  scripts/setup_claude_quick.sh
Due: block-labs-imports, guardrail-check

📊 Guardian V3: Complete component location analysis (Steps 1-3)
  GUARDIAN_V3_EXTRACTION_ANALYSIS.md
Due: none

fix(bridge): update type hints for Python 3.9 compatibility
  bridge/llm_wrappers/env_loader.py
  scripts/configure_claude_api.py
  scripts/update_keychain_key.py
Due: block-labs-imports, guardrail-check

📋 Claude Opus 4.1 Research Brief - Guardian V3 AGI-proof guidance
  CLAUDE_OPUS_RESEARCH_BRIEF.md
Due: none

📋 Claude Desktop (Opus 4.1) Brief: Guardian V3 AGI-Proof Review
  CLAUDE_DESKTOP_GUARDIAN_V3_BRIEF.md
Due: none

⏸️ Guardian V3: Checkpoint before Claude Opus research
  GUARDIAN_V3_STATUS_CHECKPOINT.md
Due: none
