Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock

matrix-contract-presence:
  name: Matrix Contract Presence
  entry: python3 tools/validate_contract_presence.py --enforce --quiet
  language: system
  pass_filenames: false

matrix-contract-schema:
  name: Matrix Contract Schema Validation
  entry: python3 tools/matrix_gate.py --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

opa-format:
  name: Format OPA policies
  entry: opa fmt -w
  language: system

matrix-identity-validation:
  name: Matrix Identity Block Validation
  entry: python3 tools/matrix_gate.py --identity --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

lukhas-tier-consistency:
  name: ΛiD Tier Consistency Check
  entry: python3 tools/lukhas_id_bridge.py --check-consistency
  language: system
  pass_filenames: false

guardrail-check:
  name: guardrail-check (ban direct LLM calls)
  entry: python3 scripts/ci/check_guardrail_usage.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

matrix-contract-validation:
  name: Validate Matrix Contracts
  entry: python3 tools/pre_commit_matrix_check.py
  language: system
  pass_filenames: true

telemetry-semconv-validation:
  name: Validate Telemetry Semantic Conventions
  entry: python3 tools/pre_commit_telemetry_check.py
  language: system
  pass_filenames: true

demo-script-validation:
  name: Validate Matrix Tracks Demo Scripts
  entry: python3 tools/pre_commit_demo_lint.py
  language: system
  pass_filenames: true

reject-legacy-directory-index:
  name: Reject legacy directory_index.json files
  entry: python3 -c "import sys; files=[f for f in sys.argv[1:] if 'directory_index.json' in f]; sys.exit(1 if files else 0)"
  language: system
  pass_filenames: true

validate-module-manifests-changed:
  name: T4 Module Manifest Validation
  entry: python3 tools/manifest_validate.py --all
  language: system
  pass_filenames: false

validate-configs-and-secrets:
  name: Validate configs and detect secrets
  entry: python3 tools/validate_configs.py
  language: system
  pass_filenames: false

manifest-validate:
  name: Manifest Validate
  entry: python3 tools/manifest_validate.py
  language: system
  pass_filenames: false

manifest-lock:
  name: Manifest Lock Hydrator
  entry: python3 tools/manifest_lock_hydrator.py
  language: system
  pass_filenames: false

docs(web): add comprehensive web content for LUKHAS ecosystem
  docs/web/content/agi_features_showcase.md
  docs/web/content/consciousness_technology_overview.md
  docs/web/content/developer_getting_started.md
  docs/web/content/enterprise_solutions.md
  docs/web/content/matriz_engine_overview.md
  docs/web/content/research_and_publications.md
  docs/web/content/technology_architecture.md
  docs/web/content/vision_page.md
Due: none

chore(ops): add codebase health report and cleanup utilities
  CODEBASE_HEALTH_REPORT.md
  scripts/cleanup_stale_branches.sh
Due: none

security(identity): replace deterministic WebAuthn challenges with cryptographic random nonces
  core/identity/adapters/webauthn_adapter.py
Due: guardrail-check

docs(ops): add LUKHAS quick reference guide
  QUICK_REFERENCE.md
Due: none

refactor(core): convert relative imports to absolute imports across consciousness modules
  core/bio_symbolic_processor.py
  core/consciousness_signal_router.py
  core/constellation_alignment_system.py
  core/integration/innovation_orchestrator/autonomous_innovation_orchestrator.py
  core/integration/symbolic_network.py
  core/matriz_consciousness_integration.py
  core/observability/unified_monitoring_dashboard.py
Due: guardrail-check

chore(cleanup): remove unused streamlit import + TODO analysis
  .claude/.DS_Store
  .claude/settings.local.json
  .claude/tasks/.DS_Store
  MATRIZ/adapters/drive/__init__.py
  MATRIZ/interfaces/api_server.py
  MATRIZ/router.py
  TODO_CLEANUP_REPORT.md
  core/constellation_alignment_system.py
  docs/web/content/security_and_compliance.md
  docs/web/content/use_cases_by_industry.md
Due: guardrail-check

feat(api): implement Prometheus metrics recording for API requests
  core/interfaces/api/v1/v1/rest/routers/process.py
  core/orchestration/brain/brain_integration.py
Due: guardrail-check

docs(web): add community and ecosystem page
  docs/web/content/community_and_ecosystem.md
Due: none

docs(agents): create TODO batch assignments for Jules and Codex agents
  agents/batches/BATCH-CODEX-CONSCIOUSNESS-MESH-01.json
  agents/batches/BATCH-CODEX-SYMBOLIC-ENGINE-01.json
  agents/batches/BATCH-CODEX-TYPE-SYSTEM-01.json
  agents/batches/BATCH-JULES-STREAMLIT-UI-01.json
  agents/batches/BATCH-JULES-TODO-CLEANUP-01.json
  agents/batches/README.md
  core/governance/auth_cross_module_integration.py
  core/governance/auth_glyph_registry.py
  core/governance/auth_guardian_integration.py
  core/governance/ethics/compliance_monitor.py
  core/governance/ethics/ethical_decision_maker.py
  core/governance/ethics/guardian_reflector.py
  core/governance/guardian/compliance_audit_system.py
  core/governance/identity/auth_web/websocket_server.py
  core/governance/identity/qrg_integration.py
  core/governance/identity/tools/onboarding_cli.py
  matriz/consciousness/core/engine.py
  matriz/consciousness/core/engine_complete.py
  matriz/consciousness/reflection/core.py
  matriz/consciousness/reflection/ethical_reasoning_system.py
  matriz/consciousness/reflection/lambda_dependa_bot.py
  matriz/consciousness/reflection/privacy_preserving_memory_vault.py
Due: guardrail-check

docs(agents): update AGENTS.md with TODO batch system and critical workspace navigation
  AGENTS.md
Due: none

docs(web): add domain-specific landing pages for λWecosystem
  docs/web/content/domains/lukhas-ai-main/landing_page.md
  docs/web/content/domains/lukhas-cloud/landing_page.md
  docs/web/content/domains/lukhas-dev/landing_page.md
  docs/web/content/domains/lukhas-id/landing_page.md
  docs/web/content/domains/lukhas-io/landing_page.md
  docs/web/content/domains/lukhas-store/landing_page.md
Due: none

chore(agents): add consciousness mesh batch plan
  agents/batches/BATCH-CODEX-CONSCIOUSNESS-MESH-01.json
Due: none

feat(agents): add symbolic engine codex batch plan
  agents/batches/BATCH-CODEX-SYMBOLIC-ENGINE-01.json
Due: none

chore(scripts): restore execute bit for batch automation helpers (#477)
  scripts/batch_next_auto.sh
  scripts/batch_status.py
Due: guardrail-check

fix(scripts): harden hidden gems summary cli (#479)
  scripts/hidden_gems_summary.py
  tests/test_hidden_gems_summary.py
  urllib3/__init__.py
  urllib3/exceptions.py
Due: guardrail-check

test(governance): add consent ledger integration coverage (#500)
  tests/integration/governance/test_consent_ledger_v1.py
Due: guardrail-check

feat(core): add ethics swarm colony integration engine (#496)
  core/colonies/__init__.py
  core/colonies/ethics_swarm_colony.py
  tests/core/test_ethics_swarm_colony.py
Due: guardrail-check

feat(core): integrate endocrine hormone system (#497)
  core/endocrine/__init__.py
  core/endocrine/hormone_system.py
  core/events/__init__.py
  core/events/contracts.py
  docs/enhancements/ENDOCRINE_NEUROMODULATION_2035_BLUEPRINT.md
  tests/core/endocrine/test_hormone_system.py
Due: guardrail-check

feat(governance): integrate basic governance example (#499)
  core/governance/__init__.py
  core/governance/examples/__init__.py
  core/governance/examples/basic/__init__.py
  core/governance/examples/basic/example.py
  labs/governance/examples/basic/example.py
  sitecustomize.py
  tests/core/governance/examples/test_basic_example.py
Due: guardrail-check

docs: add PR squash merge batch report
  tmp/pr_squash_merge_report.md
Due: none

feat(agents): add symbolic engine codex batch plan (#508)
  agents/batches/BATCH-CODEX-SYMBOLIC-ENGINE-01.json
Due: none

chore(agents): add consciousness mesh batch plan (#507)
  agents/batches/BATCH-CODEX-CONSCIOUSNESS-MESH-01.json
Due: none

docs(web): add domain-specific landing pages for λWecosystem
  docs/web/content/domains/lukhas_ai_landing.md
  docs/web/content/domains/lukhas_cloud_landing.md
  docs/web/content/domains/lukhas_dev_landing.md
  docs/web/content/domains/lukhas_id_landing.md
  docs/web/content/domains/lukhas_io_landing.md
  docs/web/content/domains/lukhas_store_landing.md
Due: none

docs: add systematic PR squash merge execution report
  tmp/systematic_squash_merge_report.md
Due: none

docs: add comprehensive PR cleanup campaign final status report
  tmp/pr_cleanup_final_status.md
Due: none

docs(hygiene): replace Trinity Framework with Constellation Framework
  branding/docs/LUKHAS_TONE_ENFORCEMENT_SYSTEM.md
  identity/claude.me
  labs/claude.me
  labs/core/orchestration/claude.me
  labs/core/symbolic/claude.me
  trace/claude.me
  trace/lukhas_context.md
Due: none

docs: add final PR cleanup campaign completion report
  tmp/pr_cleanup_completion_report.md
Due: none

docs: add 100% PR cleanup completion report - zero open PRs achieved
  tmp/pr_cleanup_100_percent_complete.md
Due: none

refactor(orchestration): convert relative imports to absolute paths in brain modules
  .claude/settings.local.json
  core/orchestration/brain/adaptive_image_generator.py
  core/orchestration/brain/australian_awareness_engine.py
  core/orchestration/brain/consciousness_core.py
  core/orchestration/brain/github_vulnerability_manager.py
  core/orchestration/brain/integration/brain_integration.py
  core/orchestration/brain/integration_bridge.py
  core/orchestration/brain/neural/cognitive_core.py
  core/orchestration/brain/output/report_generator.py
  core/orchestration/brain/spine/healix_mapper.py
  core/orchestration/brain/spine/trait_sync_gpt_synb_ref.py
  core/orchestration/brain/spine/unified_self.py
Due: guardrail-check

feat(ui): enable streamlit dashboard integration across LUKHAS interfaces
  core/interfaces/as_agent/streamlit/app.py
  core/notion_sync.py
Due: guardrail-check

fix(ci): resolve registry-smoke script permissions and PQC Docker OpenSSL detection
  .github/docker/pqc-runner.Dockerfile
  .github/workflows/registry-smoke.yml
Due: none

docs: add GitHub issues resolution session 1 summary
  tmp/issue_prioritization_analysis.md
  tmp/issue_resolution_session_1.md
Due: none

feat(consciousness): implement BaseColony infrastructure for GLYPH mesh formation
  core/colonies/__init__.py
  core/colonies/base_colony.py
  core/colonies/ethics_swarm_colony.py
  core/symbolic_core/colony_tag_propagation.py
  core/symbolic_legacy/colony_tag_propagation.py
Due: guardrail-check

docs: add GitHub issues resolution session 2 summary (investigation phase)
  tmp/issue_resolution_session_2.md
Due: none

feat(consciousness): add mesh topology service with drift-safe agent registry
  core/colonies/__init__.py
  core/colonies/mesh_topology.py
  core/symbolic_core/colony_tag_propagation.py
Due: guardrail-check

docs(manifests): add comprehensive agent briefing for Phase 1 coverage
  docs/plans/MANIFEST_COVERAGE_AGENT_BRIEF.md
Due: none

feat(swarm): implement AIAgentTracer, Supervisor, and Actor infrastructure
  core/agent_tracer.py
  core/fault_tolerance.py
  core/minimal_actor.py
  core/swarm.py
Due: guardrail-check

feat(manifests): seed Phase 1 production manifests - Sample batch (5)
  manifests/core/api/module.manifest.json
  manifests/core/collective/swarm/module.manifest.json
  manifests/core/common/logger/module.manifest.json
  manifests/core/consciousness/module.manifest.json
  manifests/core/governance/ethics/module.manifest.json
Due: validate-module-manifests-changed, manifest-validate, manifest-lock

feat(serve): implement strict policy mode authentication middleware
  serve/main.py
Due: guardrail-check

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
