Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$

feat(website): add production-ready MATADA visualization and chat components
  CAROUSEL_RECOVERY_SUCCESS.md
  lukhas_chat_interface_component.tsx
  lukhas_chat_studio_template.tsx
  lukhas_website/components/sections/matada.tsx
  lukhas_website_gradient_analysis.md
Due: none

chore(gitignore): exclude 9.2GB recovery/experimental directories
  .gitignore
Due: none

feat(web): cherry-pick website components and domain strategy
  docs/web/DOMAIN_STRATEGY_REVIEW_2025-10-26.md
  lukhas_website/public/lukhas-ai-website.html
  lukhas_website_original_working/app/(auth)/lib/errors.ts
  lukhas_website_original_working/lib/accessibility.ts
  lukhas_website_original_working/lib/api/aiProviders.ts
  lukhas_website_original_working/lib/auth-accessibility.ts
  lukhas_website_original_working/lib/glyphSampler.ts
  lukhas_website_original_working/lib/i18n.ts
  lukhas_website_original_working/lib/intentGlyph.ts
  lukhas_website_original_working/lib/poeticGuard.ts
  lukhas_website_original_working/lib/prisma.ts
  lukhas_website_original_working/lib/prng.ts
  lukhas_website_original_working/lib/quote-bank.ts
  lukhas_website_original_working/lib/rate-limit.ts
  lukhas_website_original_working/lib/safety.ts
  lukhas_website_original_working/lib/shape-dna.ts
  lukhas_website_original_working/lib/state-machine.ts
  lukhas_website_original_working/lib/tokenEstimator.ts
  lukhas_website_original_working/lib/toneSystem.ts
  lukhas_website_original_working/lib/utils.ts
  lukhas_website_original_working/lib/visuals/enhanced-particle-system.ts
  lukhas_website_original_working/lib/voice-analyzer.ts
  lukhas_website_original_working/templates/lukhas-ai-web-studio/src/lib/state/appStateMachine.ts
  lukhas_website_original_working/templates/react_studio_template/src/lib/utils.js
  lukhas_website_original_working/tools/eslint-plugin-lukhas/lib/rules/require-transparency-box.js
Due: none

docs(web): update domain strategy with comprehensive documentation discovery
  docs/web/DOMAIN_STRATEGY_REVIEW_2025-10-26.md
Due: none

test(economics): cover auto escalator policy flows
  tests/economics/test_auto_escalator_policy.py
Due: guardrail-check

test(economics): extend auto escalator coverage
  tests/economics/test_auto_escalator_policy.py
Due: guardrail-check

docs(agents): add Codex batch execution completion report
  agents/batches/CODEX_EXECUTION_REPORT_2025-10-26.md
Due: none

feat(quantum): implement QI orchestration engines
  candidate/__init__.py
  candidate/quantum/annealing.py
  candidate/quantum/measurement.py
  candidate/quantum/superposition_engine.py
  core/orchestration/integration_hub.py
  tests/unit/core/orchestration/__init__.py
  tests/unit/core/orchestration/test_integration_hub_quantum.py
Due: guardrail-check

feat(quantum): implement quantum-inspired orchestration engines
  candidate/__init__.py
  candidate/quantum/annealing.py
  candidate/quantum/measurement.py
  candidate/quantum/superposition_engine.py
  core/orchestration/integration_hub.py
  tests/unit/core/orchestration/__init__.py
  tests/unit/core/orchestration/test_integration_hub_quantum.py
Due: guardrail-check

test(economics): add AutoEscalatorPolicy tier escalation coverage
  tests/economics/test_auto_escalator_policy.py
Due: guardrail-check

security(deps): fix high-severity npm vulnerabilities in Dependabot alerts
  lukhas_website/package-lock.json
  lukhas_website/package.json
  tools/git-hooks/vscode-extension/package-lock.json
Due: none

security(deps): fix high-severity npm vulnerabilities (Dependabot #76, #75, #50)
  lukhas_website/package-lock.json
  lukhas_website/package.json
  tools/git-hooks/vscode-extension/package-lock.json
Due: none

fix(aka_qualia): resolve RecursionError in lazy module loading
  tests/conftest.py
Due: guardrail-check

fix(deps): upgrade six to 1.17.0 to fix pytest find_spec AttributeError
  requirements.txt
Due: none

docs: update MODULE_INDEX and README with October 2025 progress
  MODULE_INDEX.md
  README.md
Due: none

docs(hygiene): comprehensive repository state and registry update documentation
  docs/PENDING_REGISTRY_UPDATES_OCT_2025.md
  docs/REPOSITORY_STATE_2025-10-26.md
Due: none

test(core): add symbolic colony mesh coverage
  tests/core/symbolic/test_colony_tag_propagation.py
Due: guardrail-check

docs(consolidation): add production-ready V2 consolidation plan and safety tools
  archive/doc_stub_2025-10-26/README.md
  archive/doc_stub_2025-10-26/claude.me
  archive/doc_stub_2025-10-26/config/README.md
  archive/doc_stub_2025-10-26/config/config.yaml
  archive/doc_stub_2025-10-26/config/environment.yaml
  archive/doc_stub_2025-10-26/config/logging.yaml
  archive/doc_stub_2025-10-26/dev/DEVELOPER_QRG.md
  archive/doc_stub_2025-10-26/docs/README.md
  archive/doc_stub_2025-10-26/docs/api.md
  archive/doc_stub_2025-10-26/docs/architecture.md
  archive/doc_stub_2025-10-26/docs/troubleshooting.md
  archive/doc_stub_2025-10-26/lukhas_context.md
  archive/doc_stub_2025-10-26/tests/README.md
  archive/doc_stub_2025-10-26/tests/conftest.py
  archive/doc_stub_2025-10-26/tests/test_doc_integration.py
  archive/doc_stub_2025-10-26/tests/test_doc_unit.py
  docs/DIRECTORY_CONSOLIDATION_PLAN_OCT_2025.md
  docs/DIRECTORY_CONSOLIDATION_PLAN_V2_CORRECTED.md
  scripts/consolidation/check_import_health.py
  scripts/consolidation/rewrite_matriz_imports.py
  scripts/consolidation/validate_config_merge.sh
Due: guardrail-check, validate-configs-and-secrets

fix(bridge): solidify high-priority adapters and explainability
  labs/bridge/adapters/api_framework.py
  labs/bridge/api/api.py
  labs/bridge/explainability_interface_layer.py
  labs/bridge/llm_wrappers/openai_modulated_service.py
  tests/bridge/test_explainability_interface.py
  tests/bridge/test_jwt_adapter_high_priority.py
  tests/bridge/test_qrs_manager_high_priority.py
  tests/bridge/test_vector_store_adapter.py
  tests/conftest.py
Due: guardrail-check

chore(structure): archive completed final_sweep batch artifacts
  archive/final_sweep_batch_2025-10-26/BATCH-CODEX-CLEANUP-005.md
  archive/final_sweep_batch_2025-10-26/README.md
  archive/final_sweep_batch_2025-10-26/claude.me
  archive/final_sweep_batch_2025-10-26/config/README.md
  archive/final_sweep_batch_2025-10-26/config/config.yaml
  archive/final_sweep_batch_2025-10-26/config/environment.yaml
  archive/final_sweep_batch_2025-10-26/config/logging.yaml
  archive/final_sweep_batch_2025-10-26/docs/README.md
  archive/final_sweep_batch_2025-10-26/docs/api.md
  archive/final_sweep_batch_2025-10-26/docs/architecture.md
  archive/final_sweep_batch_2025-10-26/docs/troubleshooting.md
  archive/final_sweep_batch_2025-10-26/lukhas_context.md
  archive/final_sweep_batch_2025-10-26/tests/README.md
  archive/final_sweep_batch_2025-10-26/tests/conftest.py
  archive/final_sweep_batch_2025-10-26/tests/test_final-sweep_integration.py
  archive/final_sweep_batch_2025-10-26/tests/test_final-sweep_unit.py
Due: guardrail-check, validate-configs-and-secrets

chore(structure): consolidate eval directories into evaluations/
  evaluations/definitions/README.md
  evaluations/definitions/run_evals.py
  evaluations/runs/README.md
  evaluations/runs/claude.me
  evaluations/runs/config/README.md
  evaluations/runs/config/config.yaml
  evaluations/runs/config/environment.yaml
  evaluations/runs/config/logging.yaml
  evaluations/runs/docs/README.md
  evaluations/runs/docs/api.md
  evaluations/runs/docs/architecture.md
  evaluations/runs/docs/troubleshooting.md
  evaluations/runs/eval_5274ba1383f3.json
  evaluations/runs/lukhas_context.md
  evaluations/runs/tests/README.md
  evaluations/runs/tests/conftest.py
  evaluations/runs/tests/test_eval_runs_integration.py
  evaluations/runs/tests/test_eval_runs_unit.py
Due: guardrail-check, validate-configs-and-secrets

fix(config): correct invalid JSON files
  config/core/main.json
  config/permissions.json
Due: none

chore(config): merge configs/ into config/
  config/legacy_imports.yml
  config/observability/slo_budgets.yaml
  config/policy/guardian_policies.yaml
  config/quotas.yaml
  config/runtime/reliability.yaml
  config/star_rules.json
Due: none

docs(session): comprehensive session summary for Oct 26 consolidation work
  docs/SESSION_SUMMARY_2025-10-26.md
  docs/gonzo/OPTION_B.md
Due: none

fix(ci): ensure lane-guard installs importlinter and add fallback scan in shell script to avoid spurious failures
  .claude/settings.local.json
  .github/workflows/ci.yml
  tools/ci/lane_guard.sh
Due: none

fix(ci): add shims for required checks 'registry-ci' and 'pqc-sign-verify' and harden lane-guard setup
  .github/workflows/pqc-sign-verify-shim.yml
  .github/workflows/registry-ci.yml
Due: none

fix(matriz): add case-insensitive filesystem compatibility with deprecation warnings
  .claude/settings.local.json
  GEMINI_NAVIGATION_GUIDE.md
  MATRIZ/__init__.py
  gemini.md
  labs/gemini.md
  scripts/create_gemini_md_files_fixed.sh
Due: guardrail-check

docs(matriz): add comprehensive migration guide for case standardization
  MATRIZ_MIGRATION_GUIDE.md
Due: none

chore(ci): add MATRIZ legacy import checks (CI warning + pre-commit)
  .github/workflows/matriz-import-check.yml
  .pre-commit-config.yaml
  MATRIZ_MIGRATION_GUIDE.md
  scripts/consolidation/check_matriz_imports_ci.sh
  scripts/consolidation/check_matriz_imports_precommit.sh
Due: none

chore(ci): exclude artifact directories from MATRIZ import checks
  scripts/consolidation/check_matriz_imports_ci.sh
  scripts/consolidation/check_matriz_imports_precommit.sh
Due: none

chore(imports): migrate matriz -> MATRIZ in serve/ (AST codemod)
  serve/main.py
Due: guardrail-check
