Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock

matrix-contract-presence:
  name: Matrix Contract Presence
  entry: python3 tools/validate_contract_presence.py --enforce --quiet
  language: system
  pass_filenames: false

matrix-contract-schema:
  name: Matrix Contract Schema Validation
  entry: python3 tools/matrix_gate.py --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

opa-format:
  name: Format OPA policies
  entry: opa fmt -w
  language: system

matrix-identity-validation:
  name: Matrix Identity Block Validation
  entry: python3 tools/matrix_gate.py --identity --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

lukhas-tier-consistency:
  name: ΛiD Tier Consistency Check
  entry: python3 tools/lukhas_id_bridge.py --check-consistency
  language: system
  pass_filenames: false

guardrail-check:
  name: guardrail-check (ban direct LLM calls)
  entry: python3 scripts/ci/check_guardrail_usage.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

matrix-contract-validation:
  name: Validate Matrix Contracts
  entry: python3 tools/pre_commit_matrix_check.py
  language: system
  pass_filenames: true

telemetry-semconv-validation:
  name: Validate Telemetry Semantic Conventions
  entry: python3 tools/pre_commit_telemetry_check.py
  language: system
  pass_filenames: true

demo-script-validation:
  name: Validate Matrix Tracks Demo Scripts
  entry: python3 tools/pre_commit_demo_lint.py
  language: system
  pass_filenames: true

reject-legacy-directory-index:
  name: Reject legacy directory_index.json files
  entry: python3 -c "import sys; files=[f for f in sys.argv[1:] if 'directory_index.json' in f]; sys.exit(1 if files else 0)"
  language: system
  pass_filenames: true

validate-module-manifests-changed:
  name: T4 Module Manifest Validation
  entry: python3 tools/manifest_validate.py --all
  language: system
  pass_filenames: false

validate-configs-and-secrets:
  name: Validate configs and detect secrets
  entry: python3 tools/validate_configs.py
  language: system
  pass_filenames: false

manifest-validate:
  name: Manifest Validate
  entry: python3 tools/manifest_validate.py
  language: system
  pass_filenames: false

manifest-lock:
  name: Manifest Lock Hydrator
  entry: python3 tools/manifest_lock_hydrator.py
  language: system
  pass_filenames: false

chore(pre-freeze): bridge pkgs + symbol surfaces + Prometheus guard + aka_qualia fixes
  aka_qualia/core/__init__.py
  bridge/adapters/__init__.py
  bridge/api/__init__.py
  bridge/api/analysis/__init__.py
  bridge/external_adapters/__init__.py
  core/metrics.py
  lukhas/consciousness/creativity_engine.py
  lukhas/consciousness/creativity_engine/__init__.py
  lukhas/consciousness/guardian_integration.py
  lukhas/consciousness/guardian_integration/__init__.py
  lukhas/consciousness/reflection_engine.py
  lukhas/consciousness/reflection_engine/__init__.py
  lukhas/governance/guardian_system/__init__.py
  lukhas/main.py
  lukhas/observability/advanced_metrics/__init__.py
  scripts/analysis/top_fail_imports.py
Due: matrix-contract-presence, guardrail-check

fix(mcp-servers): resolve TypeScript compilation errors in devtools and memory servers
  lukhas/consciousness/enhanced_thought_engine/__init__.py
  mcp-servers/lukhas-devtools-mcp/src/http-simple.ts
  mcp-servers/lukhas-memory-mcp/scripts/test.ts
  scripts/analysis/focus_last_mile.py
Due: matrix-contract-presence, guardrail-check

Refactor and enhance various modules with fallback mechanisms
  .claude/settings.local.json
  bridge/api/identity/__init__.py
  bridge/api/identity/auth_middleware.py
  bridge/api/settings/__init__.py
  candidate/core/policy_guard/__init__.py
  candidate/governance/__init__.py
  candidate/governance/guardian/__init__.py
  consciousness/collapse/simulator/__init__.py
  lukhas/__init__.py
  lukhas/consciousness/enhanced_thought_engine/__init__.py
  lukhas/consciousness/guardian_integration/__init__.py
  lukhas/consciousness/matriz_thought_loop/__init__.py
  lukhas/consciousness/reflection_engine/__init__.py
  lukhas/memory/__init__.py
  lukhas/observability/advanced_metrics/__init__.py
  lukhas/tools/collapse_simulator/__init__.py
  memory/folds/__init__.py
  requirements.txt
  tests/conftest.py
Due: matrix-contract-presence, guardrail-check

chore(bridges): add enhanced_thought_engine, core.common.exceptions, and collapse_simulator facades
  lukhas/consciousness/enhanced_thought_engine/__init__.py
  lukhas/core/common/__init__.py
  lukhas/core/common/exceptions.py
  lukhas/tools/__init__.py
  lukhas/tools/collapse_simulator/__init__.py
  tests/bridges/test_enhanced_thought_engine.py
Due: matrix-contract-presence, guardrail-check

chore(bridges): add trace, ethics.logic, update core.common, and add aka_qualia facades
  lukhas/aka_qualia.py
  lukhas/aka_qualia/__init__.py
  lukhas/aka_qualia/core/__init__.py
  lukhas/aka_qualia/memory/__init__.py
  lukhas/aka_qualia/metrics/__init__.py
  lukhas/core/common/__init__.py
  lukhas/core/common/exceptions.py
  lukhas/core/ethics/__init__.py
  lukhas/core/ethics/logic/__init__.py
  lukhas/trace/__init__.py
Due: matrix-contract-presence, guardrail-check

chore(bridges): add policy_guard facade and improve collapse_simulator bridge
  lukhas/core/policy_guard/__init__.py
  lukhas/tools/collapse_simulator/__init__.py
Due: matrix-contract-presence, guardrail-check

Refactor and enhance module compatibility and observability metrics
  .claude/settings.local.json
  bio/__init__.py
  bio/energy/__init__.py
  candidate/aka_qualia/__init__.py
  candidate/cognitive_core/reasoning/deep_inference_engine/__init__.py
  candidate/core/matriz/__init__.py
  candidate/rl/coordination/__init__.py
  consciousness/__init__.py
  core/collective/clusters/__init__.py
  core/consciousness/__init__.py
  core/metrics.py
  governance/guardian_system/__init__.py
  lukhas/async_utils/__init__.py
  lukhas/bio/core/architecture_analyzer/__init__.py
  lukhas/bridge/adapters/__init__.py
  lukhas/bridge/adapters/service_adapter_base/__init__.py
  lukhas/consciousness/meta_cognitive_assessor/__init__.py
  lukhas/core/common/exceptions.py
  lukhas/governance/guardian_system/__init__.py
  lukhas/governance/identity/__init__.py
  lukhas/governance/identity/core/__init__.py
  lukhas/metrics.py
  lukhas/observability/__init__.py
  lukhas/observability/advanced_metrics/__init__.py
  lukhas/observability/otel_compat.py
  lukhas/observability/prometheus_registry.py
  lukhas/observability/service_metrics/__init__.py
  lukhas/utils/__init__.py
  lukhas/utils/streamlit_compat.py
  observability/__init__.py
  observability/advanced_metrics/__init__.py
  tests/conftest.py
Due: matrix-contract-presence, guardrail-check

feat(tools): add error analysis toolkit with 16x speed improvement
  artifacts/TOOLKIT_DELIVERY_REPORT.md
  artifacts/TOOLKIT_DEMO.md
  artifacts/TOOLKIT_SUMMARY.md
  artifacts/pytest_collect_after_targeted_fixes_analysis.json
  tools/error_analysis/INDEX.md
  tools/error_analysis/QUICK_START.md
  tools/error_analysis/README.md
  tools/error_analysis/bridge_generator.py
  tools/error_analysis/pytest_error_analyzer.py
Due: guardrail-check

fix(bridges): apply toolkit to generate 15 bridges and 2 export fixes
  .claude/settings.local.json
  candidate/async_utils/__init__.py
  candidate/core/reliability/__init__.py
  candidate/memory/backends/__init__.py
  candidate/observability/advanced_metrics/__init__.py
  candidate/orchestration/__init__.py
  candidate/orchestration/multi_ai_router/__init__.py
  cognitive_core/reasoning/deep_inference_engine/__init__.py
  consciousness/meta_cognitive_assessor/__init__.py
  core/breakthrough/__init__.py
  core/collective/routing/__init__.py
  core/consciousness/oracle/__init__.py
  lukhas/aka_qualia/memory_noop/__init__.py
  lukhas/bio/core/__init__.py
  lukhas/core/matriz/async_orchestrator/__init__.py
  lukhas/metrics.py
  lukhas/rl/__init__.py
  lukhas/rl/coordination/__init__.py
  lukhas/rl/coordination/multi_agent_trainer/__init__.py
  lukhas/trace/TraceRepairEngine/__init__.py
Due: matrix-contract-presence, guardrail-check

fix(bridges): add 6 fixes reducing errors from 150 to 148
  aka_qualia/memory_noop/__init__.py
  candidate/consciousness/meta_cognitive_assessor/__init__.py
  lukhas/async_utils/__init__.py
  lukhas/memory/backends/__init__.py
  lukhas/memory/backends/base/__init__.py
  lukhas/metrics.py
  lukhas/observability/advanced_metrics/__init__.py
Due: matrix-contract-presence, guardrail-check

docs(toolkit): add comprehensive session report with live metrics
  artifacts/TOOLKIT_SESSION_REPORT.md
  artifacts/pytest_collect_round3_analysis.json
  artifacts/round3_analysis.txt
Due: none

fix(bridges): systematic fixes reducing errors from 148 to 143
  .claude/settings.local.json
  bio/core/architecture_analyzer/__init__.py
  candidate/branding_bridge/__init__.py
  candidate/ledger/__init__.py
  core/collective/swarm/__init__.py
  core/matriz/__init__.py
  core/matriz/async_orchestrator/__init__.py
  lukhas/aka_qualia/memory_sql/__init__.py
  lukhas/aka_qualia/pls/__init__.py
  lukhas/governance/multi_vector_detector/__init__.py
  lukhas/ledger/__init__.py
  lukhas/ledger/consent_handlers/__init__.py
  lukhas/metrics.py
  lukhas/observability/evidence_collection.py
  memory/backends/base/__init__.py
  rl/coordination/multi_agent_trainer/__init__.py
  trace/TraceRepairEngine/__init__.py
Due: matrix-contract-presence, guardrail-check

fix(bridges): add 10 more bridges and 2 metrics (143 errors stable)
  aka_qualia/memory_sql/__init__.py
  aka_qualia/pls/__init__.py
  ledger/__init__.py
  ledger/consent_handlers/__init__.py
  lukhas/aka_qualia/glyphs/__init__.py
  lukhas/aka_qualia/monitoring_dashboard/__init__.py
  lukhas/aka_qualia/teq_hook/__init__.py
  lukhas/matriz/__init__.py
  lukhas/matriz/runtime/__init__.py
  lukhas/memory/backends/faiss_store/__init__.py
  lukhas/metrics.py
  memory/scheduled_folding/__init__.py
Due: matrix-contract-presence, guardrail-check

fix(bridges): add 20 bridges and 1 metric attempting zero errors
  MATRIZ/runtime/__init__.py
  aka_qualia/glyphs/__init__.py
  aka_qualia/monitoring_dashboard/__init__.py
  aka_qualia/teq_hook/__init__.py
  candidate/core/consciousness_ticker/__init__.py
  candidate/core/drift/__init__.py
  candidate/core/ring/__init__.py
  candidate/core/symbolic/symbolic_glyph_hash/__init__.py
  candidate/memory/scheduled_folding/__init__.py
  candidate/security/__init__.py
  cognitive_core/integration/cognitive_modulation_bridge/__init__.py
  consciousness/registry/__init__.py
  consciousness/resilience/__init__.py
  core/quantum_financial/__init__.py
  lukhas/bridge/external_adapters/__init__.py
  lukhas/bridge/external_adapters/gmail_adapter/__init__.py
  lukhas/core/matriz/optimized_orchestrator/__init__.py
  lukhas/core/reliability/circuit_breaker/__init__.py
  lukhas/metrics.py
  lukhas/observability/compliance_dashboard/__init__.py
  memory/backends/faiss_store/__init__.py
  orchestration/context_preservation/__init__.py
Due: matrix-contract-presence, guardrail-check

fix(bridges): add 15 bridges and 1 metric reducing errors to 140
  aka_qualia/palette/__init__.py
  aka_qualia/router_client/__init__.py
  candidate/consciousness/registry/__init__.py
  candidate/flags/__init__.py
  candidate/matriz/runtime/__init__.py
  candidate/orchestration/context_preservation/__init__.py
  core/matriz/optimized_orchestrator/__init__.py
  lukhas/aka_qualia/palette/__init__.py
  lukhas/aka_qualia/router_client/__init__.py
  lukhas/flags/__init__.py
  lukhas/matriz/runtime/policy/__init__.py
  lukhas/metrics.py
  lukhas/observability/enhanced_distributed_tracing/__init__.py
  lukhas/security/__init__.py
  lukhas/security/secure_random/__init__.py
  observability/compliance_dashboard/__init__.py
  security/__init__.py
  security/secure_random/__init__.py
Due: matrix-contract-presence, guardrail-check

fix(bridges): add 1 metric and 3 bridges reaching 139 errors (-7.3%)
  MATRIZ/runtime/policy/__init__.py
  lukhas/flags/ff/__init__.py
  lukhas/metrics.py
  observability/enhanced_distributed_tracing/__init__.py
Due: matrix-contract-presence, guardrail-check

docs(campaign): add comprehensive zero-errors campaign summary
  artifacts/ZERO_ERRORS_CAMPAIGN_SUMMARY.md
Due: none

fix(exports): add 1 metric + 1 bridge + 3 async exports (139 stable)
  lukhas/async_utils/__init__.py
  lukhas/metrics.py
  lukhas/observability/evidence_collection.py
  lukhas/observability/intelligent_alerting/__init__.py
Due: matrix-contract-presence, guardrail-check

docs(analysis): add comprehensive error artifact pack for deep review
  artifacts/ERROR_ARTIFACT_PACK_FOR_REVIEW.md
  artifacts/ERROR_SUMMARY.json
  artifacts/failing_tests_sample.txt
  artifacts/round13_detailed_analysis.txt
Due: none

security(hygiene): resolve GitHub security alerts and enable scanning
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  docs/security/SECURITY_UPDATES_2025-10-08.md
  lukhas_website/package-lock.json
  requirements-dev.in
  requirements-dev.txt
Due: none

fix(syntax): repair 72 timestamp errors in vivox event_integration.py
  vivox/emotional_regulation/event_integration.py
Due: guardrail-check

fix(syntax): repair 46 errors in qi self_healer.py
  qi/autonomy/self_healer.py
Due: guardrail-check

fix(syntax): repair 79 errors in dna_memory_architecture and jurisdiction_diff
  lukhas_website/lukhas/dna/helix/dna_memory_architecture.py
  qi/docs/jurisdiction_diff.py
Due: guardrail-check

fix(syntax): repair 81 errors across 13 files in core interfaces and orchestration
  TODO.py
  candidate/core/common/config.py
  candidate/memory/compression/__init__.py
  core/interfaces/as_agent/widgets/widget_engine.py
  core/interfaces/ui/app.py
  core/interfaces/ui/components/audio_exporter.py
  core/modules/nias/nias_hub.py
  core/neural/integrate_isolated_components.py
  core/notion_sync.py
  core/orchestration/brain/github_vulnerability_manager.py
  core/orchestration/integration/human_in_the_loop_orchestrator.py
  core/orchestration/user_feedback/feedback_collector.py
  core/security/migrate_xor_encryption.py
  core/symbolic/bio_hub.py
  core/symbolic/lambda_sage.py
  lukhas/__init__.py
  lukhas/core/reliability/__init__.py
  lukhas/observability/advanced_metrics/__init__.py
  lukhas/observability/performance_regression.py
  lukhas/observability/prometheus_metrics.py
  sitecustomize.py
  todo/__init__.py
  todo/scripts/__init__.py
Due: matrix-contract-presence, guardrail-check

fix(syntax): repair 118 errors in tier proxy, test fixtures, and tooling
  .claude/settings.local.json
  core/tier_aware_colony_proxy.py
  design_system/tests/conftest.py
  design_system/tests/test_design-system_integration.py
  design_system/tests/test_design-system_unit.py
  final_sweep/tests/conftest.py
  final_sweep/tests/test_final-sweep_integration.py
  final_sweep/tests/test_final-sweep_unit.py
  jules_branch/tests/conftest.py
  jules_branch/tests/test_Jules--branch_integration.py
  jules_branch/tests/test_Jules--branch_unit.py
  lukhas_ai_intro/tests/conftest.py
  lukhas_ai_intro/tests/test_lukhas-ai-intro_integration.py
  lukhas_ai_intro/tests/test_lukhas-ai-intro_unit.py
  lukhas_website/lukhas/openai/tooling.py
  mcp-lukhas-sse/tests/conftest.py
  mcp-lukhas-sse/tests/test_mcp-lukhas-sse_integration.py
  mcp-lukhas-sse/tests/test_mcp-lukhas-sse_unit.py
  mcp-server/tests/conftest.py
  mcp-server/tests/test_mcp-server_integration.py
  mcp-server/tests/test_mcp-server_unit.py
  mcp-servers/tests/conftest.py
  mcp-servers/tests/test_mcp-servers_integration.py
  mcp-servers/tests/test_mcp-servers_unit.py
  security_reports/tests/conftest.py
  security_reports/tests/test_security-reports_integration.py
  security_reports/tests/test_security-reports_unit.py
  sitecustomize.py
Due: guardrail-check

fix(syntax): repair 30 errors in qi bio orchestrator and processing modules
  qi/bio/bio_multi_orchestrator.py
  qi/engines/creativity/creative_engine.py
  qi/governance/ethics_engine.py
  qi/processing/qi_colony.py
Due: guardrail-check

fix(syntax): repair 55 errors in qi crypto, processing, safety, and ui modules
  lukhas/core/reliability/__init__.py
  qi/post_quantum_crypto.py
  qi/post_quantum_crypto_v2.py
  qi/processing/consensus_system.py
  qi/processing/qi_oscillator.py
  qi/safety/ci_report.py
  qi/ui/cockpit_api.py
  sitecustomize.py
  third_party_stubs/streamlit/__init__.py
  todo/__init__.py
Due: matrix-contract-presence, guardrail-check

fix(syntax): repair 49 errors in vivox collapse, perception, and quantum modules
  .claude/settings.local.json
  lukhas/core/reliability/__init__.py
  sitecustomize.py
  third_party_stubs/streamlit/__init__.py
  vivox/collapse/z_collapse_engine.py
  vivox/emotional_regulation/neuroplastic_integration.py
  vivox/encrypted_perception/anomaly_detection.py
  vivox/encrypted_perception/demo_vivox_evrn.py
  vivox/encrypted_perception/vivox_evrn_core.py
  vivox/quantum_readiness/coherence/qsync_events.py
Due: matrix-contract-presence, guardrail-check

chore(deps): update base dependencies and triage Dependabot PRs
  docs/security/DEPENDABOT_PR_TRIAGE_2025-10-08.md
  requirements.in
  requirements.txt
Due: none

fix(syntax): repair 41 errors in qi safety and vivox quantum readiness modules
  .claude/settings.local.json
  .lukhas_runs/2025-10-08/README.md
  .lukhas_runs/2025-10-08/batches/BATCH-CLAUDE-CODE-2025-10-08-01.json
  .lukhas_runs/2025-10-08/batches/BATCH-CODEX-2025-10-08-01.json
  .lukhas_runs/2025-10-08/batches/BATCH-COPILOT-2025-10-08-01.json
  .lukhas_runs/2025-10-08/batches/BATCH-JULES-2025-10-08-01.json
  .lukhas_runs/2025-10-08/prompts/CLAUDE_CODE_INITIATION.md
  .lukhas_runs/2025-10-08/prompts/CODEX_INITIATION.md
  .lukhas_runs/2025-10-08/prompts/COPILOT_INITIATION.md
  .lukhas_runs/2025-10-08/prompts/JULES_INITIATION.md
  AGENTS.md
  candidate/core/consciousness_stream/__init__.py
  candidate/core/governance/constitutional_ai.py
  candidate/core/governance/guardian_system_2.py
  candidate/core/identity/constitutional_ai_compliance.py
  candidate/governance/auth_glyph_registry.py
  candidate/governance/ethics/constitutional_ai.py
  lukhas/consciousness/memory_bridge/__init__.py
  lukhas/core/reliability/__init__.py
  lukhas/governance/ethics.py
  lukhas/governance/ethics/__init__.py
  lukhas/governance/ethics/constitutional_ai.py
  lukhas/governance/ethics/enhanced_ethical_guardian.py
  lukhas/governance/ethics/moral_agent_template.py
  lukhas/governance/guardian_serializer/__init__.py
  qi/safety/teq_gate.py
  qi/safety/teq_replay.py
  qi/safety/teq_unified.py
  vivox/quantum_readiness/core/qi_substrate.py
  vivox/quantum_readiness/core/qubit_collapse.py
  vivox/quantum_readiness/demo_qready.py
Due: matrix-contract-presence, guardrail-check

fix(syntax): repair 48 errors in qi ops, safety, scripts, and provenance modules
  .claude/settings.local.json
  candidate/consciousness/guardian_integration/__init__.py
  candidate/consciousness/reflection_engine/__init__.py
  candidate/core/security/cognitive_security.py
  candidate/governance/__init__.py
  candidate/governance/identity/core/id_service/lambd_id_generator.py
  candidate/orchestration/kernel_bus/__init__.py
  consciousness/guardian_integration/__init__.py
  consciousness/reflection_engine/__init__.py
  core/interfaces/api/__init__.py
  governance/identity/auth_integrations/__init__.py
  lukhas/governance/ethics/enhanced_ethical_guardian_audit.py
  lukhas/governance/ethics/ethics_engine.py
  lukhas/governance/ethics/guardian_kill_switch.py
  pytest.ini
  qi/examples/basic/example.py
  qi/metrics/calibration.py
  qi/ops/provenance.py
  qi/processing/qi_security_integration.py
  qi/provenance/receipts_api.py
  qi/safety/policy_report.py
  qi/safety/provenance_receipts.py
  qi/scripts/execute_aggressive_consolidation.py
  qi/scripts/generate_hybrid_connectivity_map.py
Due: guardrail-check

fix(syntax): reduce errors from 531 to 0 in final syntax cleanup
  candidate/consciousness/guardian_integration/__init__.py
  candidate/consciousness/reflection/openai_modulated_service.py
  candidate/core/consciousness_stream/__init__.py
  candidate/governance/guardian/guardian_impl/__init__.py
  candidate/governance/guardian_serializer/__init__.py
  candidate/governance/guardian_serializers/__init__.py
  core/interfaces/api/v1/__init__.py
  core/interfaces/api/v1/common/__init__.py
  core/interfaces/api/v1/common/auth.py
  governance/guardian/__init__.py
  governance/guardian/guardian_impl/__init__.py
  governance/guardian_serializer/__init__.py
  governance/guardian_serializers/__init__.py
  governance/identity/core/sing/__init__.py
  lukhas/consciousness/guardian_integration/__init__.py
  lukhas/consciousness/reflection_engine/__init__.py
  lukhas/consciousness/registry/__init__.py
  lukhas/core/consciousness_stream/__init__.py
  lukhas/governance/ethics/__init__.py
  lukhas/governance/guardian/__init__.py
  lukhas/governance/guardian/guardian_impl/__init__.py
  lukhas/governance/identity/auth_backend/__init__.py
  lukhas/governance/identity/auth_backend/authentication_server.py
  lukhas/identity/device_registry/__init__.py
  mcp-lukhas-sse/tests/test_mcp-lukhas-sse_unit.py
  qi/scripts/execute_aggressive_consolidation.py
  qi/states/coordinator.py
  qi/systems/qi_processing_core.py
  qi/ui/cockpit_api.py
  rl/tests/test_formal_verification.py
  rl/tests/test_generative_oracles.py
  rl/tests/test_metamorphic_consciousness.py
  security/tests/test_security_suite.py
  tools/tests/test_tools_unit.py
  vivox/quantum_readiness/integration/vivox_bridge.py
Due: matrix-contract-presence, guardrail-check

Bridge governance, consciousness, and identity modules for test collection
  api/oidc/__init__.py
  candidate/aka_qualia/observability/__init__.py
  candidate/api/oidc/__init__.py
  candidate/governance/guardian/guardian_impl/__init__.py
  candidate/governance/guardian_serializer/__init__.py
  candidate/governance/guardian_serializers/__init__.py
  candidate/orchestration/openai_modulated_service.py
  core/interfaces/api/v1/common/auth.py
  lukhas/aka_qualia/monitoring_dashboard/__init__.py
  lukhas/aka_qualia/observability/__init__.py
  lukhas/api/__init__.py
  lukhas/api/oidc/__init__.py
  lukhas/core/reliability/circuit_breaker/__init__.py
  lukhas/flags/ff/__init__.py
  lukhas/governance/guardian/guardian_impl/__init__.py
  lukhas/governance/guardian_serializer/__init__.py
  lukhas/governance/guardian_serializers/__init__.py
  lukhas/governance/identity/auth_backend/authentication_server.py
  lukhas/identity.py
  lukhas/identity/__init__.py
  lukhas/identity/auth_service.py
  lukhas/identity/device_registry/__init__.py
  lukhas/ledger/consent_handlers/__init__.py
  lukhas/ledger/event_bus/__init__.py
  lukhas/ledger/events/__init__.py
  lukhas/memory/backends/faiss_store/__init__.py
  lukhas/memory/backends/memory_store/__init__.py
  lukhas/memory/distributed_memory/__init__.py
  lukhas/memory/folds/fold_engine/__init__.py
  lukhas/observability/matriz_instrumentation/__init__.py
  lukhas/orchestration/context_bus/__init__.py
  lukhas/orchestration/context_preservation/__init__.py
  lukhas/orchestration/externalized_orchestrator/__init__.py
  lukhas/rl/coordination/multi_agent_trainer/__init__.py
  lukhas/rl/engine/__init__.py
  lukhas/rl/engine/policy_networks/__init__.py
  pytest.ini
  rl/engine/policy_networks.py
Due: matrix-contract-presence, guardrail-check

fix: restore framework integration module exports
  candidate/core/framework_integration.py
  lukhas/core/framework_integration.py
Due: guardrail-check

feat(candidate-core): wire nias delivery loop decisions
  .lukhas_runs/2025-09-15/batches_clean/BATCH-CODEX01-2025-09-15-01.json
  candidate/bio/qi.py
  candidate/core/interfaces/as_agent/sys/nias/delivery_loop.py
  candidate/core/symbolic/creative_market.py
Due: guardrail-check

test-unblock: bridges and metrics guard
  .gitignore
  candidate/memory/folds/fold_engine.py
  candidate/orchestration/openai_modulated_service.py
  lukhas/aka_qualia/observability.py
  lukhas/governance/guardian_serializers/__init__.py
  lukhas/identity.py
  lukhas/identity/__init__.py
  lukhas/identity/device_registry.py
  lukhas/identity/oidc_provider.py
  lukhas/ledger/events.py
  lukhas/memory/backends/memory_store.py
  lukhas/observability/matriz_instrumentation.py
  lukhas/rl/environments/__init__.py
  lukhas/rl/environments/consciousness_environment.py
  lukhas_website/lukhas/orchestration/api.py
  lukhas_website/lukhas/orchestration/context_preservation.py
  lukhas_website/lukhas/orchestration/externalized_orchestrator.py
  lukhas_website/lukhas/orchestration/health_monitor.py
  lukhas_website/lukhas/orchestration/multi_ai_router.py
  lukhas_website/lukhas/orchestration/routing_config.py
  lukhas_website/lukhas/orchestration/routing_strategies.py
  pytest.ini
Due: matrix-contract-presence, guardrail-check

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
