Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

matrix-contract-presence:
  name: Matrix Contract Presence
  entry: python3 tools/validate_contract_presence.py --enforce --quiet
  language: system
  pass_filenames: false

matrix-contract-schema:
  name: Matrix Contract Schema Validation
  entry: python3 tools/matrix_gate.py --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

opa-format:
  name: Format OPA policies
  entry: opa fmt -w
  language: system

matrix-identity-validation:
  name: Matrix Identity Block Validation
  entry: python3 tools/matrix_gate.py --identity --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

lukhas-tier-consistency:
  name: ΛiD Tier Consistency Check
  entry: python3 tools/lukhas_id_bridge.py --check-consistency
  language: system
  pass_filenames: false

block-labs-imports:
  name: Block direct labs imports in production lanes
  entry: bash scripts/consolidation/block_labs_imports.sh
  language: system
  pass_filenames: false
  stages:
  - commit

import-linter:
  name: Import Isolation Guard (Simulation Lane)
  entry: import-linter
  language: system
  args:
  - --cache-dir
  - .importlinter_cache
  pass_filenames: false

simulation-lane-safety:
  name: Simulation Lane Safety Check
  entry: bash
  language: system
  args:
  - .claude/commands/95_sim_lane_summary.yaml
  pass_filenames: false

guardrail-check:
  name: guardrail-check (ban direct LLM calls)
  entry: python3 scripts/ci/check_guardrail_usage.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

matrix-contract-validation:
  name: Validate Matrix Contracts
  entry: python3 tools/pre_commit_matrix_check.py
  language: system
  pass_filenames: true

telemetry-semconv-validation:
  name: Validate Telemetry Semantic Conventions
  entry: python3 tools/pre_commit_telemetry_check.py
  language: system
  pass_filenames: true

demo-script-validation:
  name: Validate Matrix Tracks Demo Scripts
  entry: python3 tools/pre_commit_demo_lint.py
  language: system
  pass_filenames: true

reject-legacy-directory-index:
  name: Reject legacy directory_index.json files
  entry: python3 -c "import sys; files=[f for f in sys.argv[1:] if 'directory_index.json' in f]; sys.exit(1 if files else 0)"
  language: system
  pass_filenames: true

validate-module-manifests-changed:
  name: T4 Module Manifest Validation
  entry: python3 tools/manifest_validate.py --all
  language: system
  pass_filenames: false

validate-configs-and-secrets:
  name: Validate configs and detect secrets
  entry: python3 tools/validate_configs.py
  language: system
  pass_filenames: false

manifest-validate:
  name: Manifest Validate
  entry: python3 tools/manifest_validate.py
  language: system
  pass_filenames: false

manifest-lock:
  name: Manifest Lock Hydrator
  entry: python3 tools/manifest_lock_hydrator.py
  language: system
  pass_filenames: false

mcp-config-verify:
  name: 'Guard: MCP config verify'
  entry: python3 tools/mcp/verify_config.py
  language: system

feat(analytics): implement privacy-first analytics with GDPR compliance (#1144)
  .github/workflows/content-lint.yml
  BRANDING_GOVERNANCE_PHASE1_COMPLETE.md
  Makefile
  branding/analytics/INTEGRATION_GUIDE_V2.md
  branding/analytics/PRIVACY_IMPLEMENTATION.md
  branding/analytics/config.yaml
  branding/features/FEATURE_FLAGS_GUIDE.md
  branding/features/flags.yaml
  branding/governance/README.md
  branding/governance/launch/FEATURE_CHECKLIST.md
  branding/governance/launch/LAUNCH_TYPES.md
  branding/governance/launch/PLAYBOOK_TEMPLATE.md
  branding/governance/launch/TIMELINE_TEMPLATE.md
  branding/governance/launch/examples/reasoning_lab_launch.md
  lukhas/analytics/__init__.py
  lukhas/analytics/privacy_client.py
  lukhas/api/__init__.py
  lukhas/api/analytics.py
  lukhas/api/features.py
  lukhas/features/__init__.py
  lukhas/features/flags_service.py
  lukhas/features/testing.py
  products/frontend/components/ConsentBanner.tsx
  products/frontend/hooks/useFeatureFlag.ts
  products/frontend/pages/admin/features.tsx
  tests/analytics/__init__.py
  tests/analytics/test_privacy_client.py
  tests/analytics/test_server_endpoint.py
  tests/tools/test_validate_flags.py
  tests/unit/test_feature_flags_api.py
  tests/unit/test_feature_flags_service.py
  tests/unit/test_feature_flags_testing.py
  tools/migrate_flags.py
  tools/test_consent_flows.py
  tools/validate_analytics_privacy.py
  tools/validate_flags.py
  tools/validate_launch.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-license-headers

docs(governance): create Phase 2 completion summary
  BRANDING_GOVERNANCE_PHASE2_COMPLETE.md
Due: none

feat(docs): Create Ethics and Responsible AI Disclosure (#1145)
  README.md
  docs/README.md
  docs/api/API_REFERENCE.md
  docs/governance/ETHICS_DISCLOSURE.md
  docs/governance/GUARDIAN_SYSTEM.md
  docs/guides/SAFE_AI_USAGE.md
Due: check-markdown-encoding, validate-docs-frontmatter

fix(t4): Batch2D-Alpha - Remove 11 unused imports from 4 safe files
  F401_BATCH2_COMPLETION_REPORT.md
  audit_2025_launch/tools/analyze_duplicates.py
  audit_2025_launch/tools/build_must_keep_registry.py
  lukhas/analytics/privacy_client.py
  lukhas/api/analytics.py
  scripts/t4_batch2d_runner.sh
  scripts/t4_dryrun_autofix.py
  scripts/t4_prepare_batch2_candidates.sh
Due: block-labs-imports, guardrail-check, check-license-headers

fix(t4): Batch2D-Alpha - Remove 11 unused imports from 4 safe files (#1148)
  F401_BATCH2_COMPLETION_REPORT.md
  audit_2025_launch/tools/analyze_duplicates.py
  audit_2025_launch/tools/build_must_keep_registry.py
  lukhas/analytics/privacy_client.py
  lukhas/api/analytics.py
  scripts/t4_batch2d_runner.sh
  scripts/t4_dryrun_autofix.py
  scripts/t4_prepare_batch2_candidates.sh
Due: block-labs-imports, guardrail-check, check-license-headers

docs(governance): create Phase 3 prompts for Content & Experience (12-15)
  CLAUDE_WEB_PROMPTS_12_13_14_15.md
Due: none

feat(sessions): create Phase 3 session files for prompts 12-15
  sessions/phase3/PHASE3_MASTER_TRACKER.md
  sessions/phase3/README.md
  sessions/phase3/SESSION_12_REASONING_LAB_SAFETY.md
  sessions/phase3/SESSION_13_REPRODUCIBLE_DEMO.md
  sessions/phase3/SESSION_14_SEO_CONTENT_STRATEGY.md
  sessions/phase3/SESSION_15_LEGAL_TEMPLATES.md
Due: none

refactor(linting): Batch 2D-Gamma F401 cleanup (16 files, 90 errors fixed)
  F401_BATCH2D_COMPLETION_REPORT.md
  core/consciousness/drift_detector.py
  core/security/security_monitor.py
  lukhas/api/features.py
  lukhas/features/flags_service.py
  lukhas/memory/index.py
  lukhas_website/lukhas/deployment/health_monitor.py
  memory/index_manager.py
  scripts/codemods/agi_to_cognitive_codemod.py
  scripts/codemods/trinity_to_constellation_comprehensive.py
  scripts/t4_batch2d_beta_runner.sh
  tools/add_evidence_links.py
  tools/ci/codemods/convert_try_except_imports.py
  tools/ci/codemods/fix_b008.py
  tools/generate_top20_evidence.py
  tools/promotion_selector.py
  tools/validate_analytics_privacy.py
  trace_logs/tests/test_trace_logs_integration.py
  trace_logs/tests/test_trace_logs_unit.py
Due: block-labs-imports, guardrail-check, check-license-headers

feat(delegation): complete T4 codemod delegation system + security fixes
  CLAUDE_WEB_PROMPT_T4_CODEMOD.md
  CODEX_T4_CODEMOD_COMMENT.md
  lukhas_website/lukhas/core/matriz/optimized_orchestrator.py
  release_artifacts/checks/quality/ruff_full.json
  release_artifacts/checks/security/bandit_scoped_stdout.txt
  release_artifacts/checks/security/pip_audit_after.txt
  scripts/codemods/agi_to_cognitive_codemod.py
  scripts/codemods/trinity_to_constellation_comprehensive.py
  scripts/create_t4_codemod_jules_session.py
  scripts/security_urgent_fixes.sh
  tools/ci/codemods/convert_multi_try_imports.py
Due: block-labs-imports, guardrail-check

feat(sessions): create Phase 3 session files for prompts 12-15 (#1151)
  sessions/phase3/PHASE3_MASTER_TRACKER.md
  sessions/phase3/README.md
  sessions/phase3/SESSION_12_REASONING_LAB_SAFETY.md
  sessions/phase3/SESSION_13_REPRODUCIBLE_DEMO.md
  sessions/phase3/SESSION_14_SEO_CONTENT_STRATEGY.md
  sessions/phase3/SESSION_15_LEGAL_TEMPLATES.md
Due: none

feat(t4): Add enhanced multi-import try-except codemod + Beta analysis
  F401_BATCH2D_COMPLETION_REPORT.md
  Lukhas.code-workspace
Due: none

chore(t4): T4 Batch2D codemod analysis complete - 0 conversions
  F401_BATCH2D_COMPLETION_REPORT.md
Due: none

fix(t4): remove unused activate_lukhas_consciousness import
  scripts/activate_consciousness.py
Due: block-labs-imports, guardrail-check

chore: save local script modifications before sync
  scripts/activate_consciousness.py
  scripts/codemods/replace_labs_with_provider.py
Due: block-labs-imports, guardrail-check

refactor(linting): Batch 2D-Gamma shard 1 - 6 F401 errors fixed
  core/orchestration/brain/lukhas_agi_orchestrator.py
  scripts/codemods/replace_labs_with_provider.py
  tools/automation/syntax_fix_automation.py
  tools/ci/lukhas_t4_linter.py
  tools/generate_sitemaps.py
  tools/standardize_constellation.py
Due: block-labs-imports, guardrail-check, check-license-headers

feat(session): complete Jules automation success - 8 PRs merged, P0 resolved
  SESSION_COMPLETE_JAN_08_FINAL.md
  tools/test_consent_flows.py
  tools/validate_flags.py
Due: block-labs-imports, guardrail-check

lint(hygiene): auto-fix modernization issues (91 violations)
  BRANCH_CLEANUP_PROPOSAL.md
  audit_2025_launch/tools/analyze_duplicates.py
  audit_2025_launch/tools/analyze_file_duplicates.py
  audit_2025_launch/tools/build_must_keep_registry.py
  lukhas/analytics/privacy_client.py
  lukhas/features/flags_service.py
  lukhas/features/testing.py
  lukhas_website/lukhas/core/drift.py
  lukhas_website/lukhas/governance/guardian_system.py
  observability/prometheus_registry.py
  resolve_conflicts.py
  scripts/cloud_tasks/create_prs_from_branches.py
  scripts/codemod_imports.py
  scripts/codemods/constellation_consistency_final.py
  scripts/consolidation/rewrite_matriz_imports.py
  scripts/create_t4_codemod_jules_session.py
  scripts/encoding_guard.py
  scripts/fix_orphaned_noqa.py
  scripts/jules_session_helper.py
  scripts/phase2_api_tiering.py
  scripts/security/build_security_posture_artifacts.py
  scripts/todo_migration/replace_todos_with_issues.py
  scripts/update_context_files.py
  scripts/validate_contract_refs.py
  scripts/verify_pinned_actions.py
  serve/main.py
  tests/unit/governance/guardian/v3/test_decision_envelope.py
  tests/unit/identity/lambda_id/test_tiered_capabilities.py
  tests/unit/matriz/core/test_memory_system.py
  tests/unit/test_feature_flags_service.py
  tools/add_evidence_links.py
  tools/fix_manifest_entrypoints.py
  tools/generate_claims_registry.py
  tools/migrate_flags.py
  tools/populate_pages_using_claim.py
  tools/test_consent_flows.py
  tools/validate_analytics_privacy.py
  tools/validate_evidence_pages.py
  tools/validate_flags.py
  tools/validate_launch.py
Due: block-labs-imports, guardrail-check, check-license-headers

feat(automation): create Jules Batch 2 with 13 priority-organized sessions
  JULES_BATCH2_SUCCESS.md
  scripts/create_priority_jules_batch2.py
Due: block-labs-imports, guardrail-check

fix(docs): correct date in Jules Automation Session report
  SESSION_COMPLETE_NOV_08_FINAL.md
Due: none

chore(ops): massive cleanup of 328 branches and 11 worktrees
  CLEANUP_SUMMARY_2025-11-08.md
Due: none

feat(automation): create Jules Batch 3 (partial) and hit rate limit
  JULES_SESSION_SUMMARY_JAN_08.md
  scripts/create_jules_batch3.py
Due: block-labs-imports, guardrail-check

feat(seo): add pillar pages and content cluster strategy
  branding/seo/CONTENT_STRATEGY.md
  branding/seo/content_clusters.yaml
  branding/templates/pillar_page.md
  branding/websites/lukhas.ai/pillars/consciousness_ai.md
  branding/websites/lukhas.app/pillars/ai_safety_ethics.md
  branding/websites/lukhas.com/pillars/enterprise_solutions.md
  branding/websites/lukhas.dev/pillars/matriz_engine.md
  branding/websites/lukhas.eu/pillars/quantum_bio.md
  tools/generate_content_cluster.py
  tools/validate_content_strategy.py
Due: block-labs-imports, guardrail-check

feat(quickstart): add 5-minute reproducible demo with guided onboarding
  docs/quickstart/README.md
  examples/quickstart/01_hello_lukhas.py
  examples/quickstart/02_reasoning_trace.py
  examples/quickstart/03_memory_persistence.py
  examples/quickstart/04_guardian_ethics.py
  examples/quickstart/05_full_workflow.py
  lukhas/cli/__init__.py
  lukhas/cli/guided.py
  lukhas/cli/troubleshoot.py
  scripts/quickstart.sh
  tests/quickstart/test_examples.py
  tools/generate_demo_data.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

feat(legal): add DPA and DPIA templates for GDPR compliance
  docs/legal/GDPR_COMPLIANCE.md
  legal/PROCESSING_ACTIVITIES_RECORD.md
  legal/SUB_PROCESSORS.md
  legal/templates/DATA_PROCESSING_AGREEMENT.md
  legal/templates/DATA_PROTECTION_IMPACT_ASSESSMENT.md
  tools/generate_dpa.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

feat(phase3): complete Sessions 13-15 (Demo, SEO, Legal Templates) (#1176)
  branding/seo/CONTENT_STRATEGY.md
  branding/seo/content_clusters.yaml
  branding/templates/pillar_page.md
  branding/websites/lukhas.ai/pillars/consciousness_ai.md
  branding/websites/lukhas.app/pillars/ai_safety_ethics.md
  branding/websites/lukhas.com/pillars/enterprise_solutions.md
  branding/websites/lukhas.dev/pillars/matriz_engine.md
  branding/websites/lukhas.eu/pillars/quantum_bio.md
  docs/legal/GDPR_COMPLIANCE.md
  docs/quickstart/README.md
  examples/quickstart/01_hello_lukhas.py
  examples/quickstart/02_reasoning_trace.py
  examples/quickstart/03_memory_persistence.py
  examples/quickstart/04_guardian_ethics.py
  examples/quickstart/05_full_workflow.py
  legal/PROCESSING_ACTIVITIES_RECORD.md
  legal/SUB_PROCESSORS.md
  legal/templates/DATA_PROCESSING_AGREEMENT.md
  legal/templates/DATA_PROTECTION_IMPACT_ASSESSMENT.md
  lukhas/cli/__init__.py
  lukhas/cli/guided.py
  lukhas/cli/troubleshoot.py
  scripts/quickstart.sh
  tests/quickstart/test_examples.py
  tools/generate_content_cluster.py
  tools/generate_demo_data.py
  tools/generate_dpa.py
  tools/validate_content_strategy.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

docs(hygiene): document branch scan - 0 MATRIZ-related uncommitted work found
  BRANCH_SCAN_FINDINGS_2025-11-08.md
Due: none

docs(governance): create Phase 3 completion summary (3/4 sessions)
  BRANDING_GOVERNANCE_PHASE3_COMPLETE.md
Due: none

feat(reasoning-lab): add privacy-preserving demo mode with redaction controls
  .github/workflows/reasoning-lab-safety.yml
  Makefile
  docs/reasoning_lab/SAFETY_CONTROLS.md
  lukhas/reasoning_lab/__init__.py
  lukhas/reasoning_lab/demo_mode.py
  lukhas/reasoning_lab/redaction_engine.py
  lukhas/reasoning_lab/sensitive_data_detector.py
  lukhas/reasoning_lab/trace_sanitizer.py
  products/frontend/components/RedactionSlider.tsx
  products/frontend/pages/admin/reasoning_lab_safety.tsx
  tests/reasoning_lab/__init__.py
  tests/reasoning_lab/test_demo_mode.py
  tests/reasoning_lab/test_redaction_engine.py
  tests/reasoning_lab/test_sensitive_data_detector.py
  tools/validate_reasoning_lab_safety.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

chore(t4): Batch2D-Gamma shard 2 - autofix F401 for 5 files
  scripts/batch_autofix.py
  scripts/create_jules_batch3.py
  scripts/create_priority_jules_batch2.py
  tools/generate_content_cluster.py
  tools/generate_demo_data.py
Due: block-labs-imports, guardrail-check

test(t4): remove unused imports in two test files (small autofix + syntax repair)
  symbolic/tests/test_symbolic_unit.py
  tests/reliability/test_0_01_percent_features.py
Due: block-labs-imports, guardrail-check

feat(api): implement streaming for /v1/responses endpoint (#1152)
  bridge/api/orchestration_endpoints.py
  bridge/llm_wrappers/openai_modulated_service.py
  core/identity/consciousness_namespace_isolation.py
  core/interfaces/api/v1/v1/rest/middleware.py
  core/security/encryption_manager.py
  core/verifold/verifold_unified.py
  matriz/consciousness/awareness/awareness_engine_elevated.py
  matriz/consciousness/reflection/awareness_system.py
  monitoring/integration_hub.py
  qi/states/phase_qi_integration.py
  scripts/bench_validated.py
  serve/main.py
  tests/core/test_module_registry.py
  tests/reliability/test_0_01_percent_features.py
  tests/smoke/test_responses_v1.py
Due: block-labs-imports, guardrail-check, check-license-headers

test: align consciousness engine tests with legacy API (#1166)
  tests/candidate/core/quantum_financial/test_quantum_financial_consciousness_engine.py
Due: block-labs-imports, guardrail-check

audit(tests): comprehensive test coverage audit (#1170)
  bridge/llm_wrappers/codex_wrapper.py
  bridge/llm_wrappers/jules_wrapper.py
Due: block-labs-imports, guardrail-check

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$
