Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock

matrix-contract-presence:
  name: Matrix Contract Presence
  entry: python3 tools/validate_contract_presence.py --enforce --quiet
  language: system
  pass_filenames: false

matrix-contract-schema:
  name: Matrix Contract Schema Validation
  entry: python3 tools/matrix_gate.py --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

opa-format:
  name: Format OPA policies
  entry: opa fmt -w
  language: system

matrix-identity-validation:
  name: Matrix Identity Block Validation
  entry: python3 tools/matrix_gate.py --identity --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

lukhas-tier-consistency:
  name: ΛiD Tier Consistency Check
  entry: python3 tools/lukhas_id_bridge.py --check-consistency
  language: system
  pass_filenames: false

guardrail-check:
  name: guardrail-check (ban direct LLM calls)
  entry: python3 scripts/ci/check_guardrail_usage.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

matrix-contract-validation:
  name: Validate Matrix Contracts
  entry: python3 tools/pre_commit_matrix_check.py
  language: system
  pass_filenames: true

telemetry-semconv-validation:
  name: Validate Telemetry Semantic Conventions
  entry: python3 tools/pre_commit_telemetry_check.py
  language: system
  pass_filenames: true

demo-script-validation:
  name: Validate Matrix Tracks Demo Scripts
  entry: python3 tools/pre_commit_demo_lint.py
  language: system
  pass_filenames: true

reject-legacy-directory-index:
  name: Reject legacy directory_index.json files
  entry: python3 -c "import sys; files=[f for f in sys.argv[1:] if 'directory_index.json' in f]; sys.exit(1 if files else 0)"
  language: system
  pass_filenames: true

validate-module-manifests-changed:
  name: T4 Module Manifest Validation
  entry: python3 tools/manifest_validate.py --all
  language: system
  pass_filenames: false

validate-configs-and-secrets:
  name: Validate configs and detect secrets
  entry: python3 tools/validate_configs.py
  language: system
  pass_filenames: false

manifest-validate:
  name: Manifest Validate
  entry: python3 tools/manifest_validate.py
  language: system
  pass_filenames: false

manifest-lock:
  name: Manifest Lock Hydrator
  entry: python3 tools/manifest_lock_hydrator.py
  language: system
  pass_filenames: false

feat(scripts): add hidden gems manifest summary utility
  scripts/hidden_gems_summary.py
  tests/test_hidden_gems_summary.py
Due: guardrail-check

feat(scripts): add hidden gems manifest summary utility (#474)
  scripts/hidden_gems_summary.py
  tests/test_hidden_gems_summary.py
Due: guardrail-check

feat(codex): add V2 execution prompt with zero-ambiguity command structure
  .lukhas_runs/2025-10-23/CODEX_PROMPT_IMPROVEMENT_ANALYSIS.md
  .lukhas_runs/2025-10-23/prompts/CODEX_PROMPT_HIDDEN_GEMS_INTEGRATION_V2.md
Due: none

chore: restore executable bits for batch scripts
  scripts/batch_next.sh
  scripts/batch_next_auto.sh
  scripts/batch_push_pr.sh
  scripts/batch_status.py
Due: guardrail-check

chore(scripts): make batch automation scripts executable
  scripts/batch_next.sh
  scripts/batch_next_auto.sh
  scripts/batch_push_pr.sh
  scripts/batch_status.py
Due: guardrail-check

fix(codex): add pytest fallback shim and wire Makefile to run smoke + acceptance rate without pytest
  mk/codex.mk
  tools/pytest_shim.py
Due: guardrail-check

chore(scripts): restore execute bit for batch automation helpers
  scripts/batch_next_auto.sh
  scripts/batch_status.py
Due: guardrail-check

feat(integration): integrate final 7 hidden gems modules to complete top 25
  .claude/settings.local.json
  MATRIZ/consciousness/reflection/integrated_safety_system.schema.json
  MATRIZ/consciousness/reflection/symbolic_drift_analyzer.schema.json
  core/api/__init__.py
  core/api/service_stubs.py
  core/api/service_stubs.schema.json
  core/audit/__init__.py
  core/audit/audit_decision_embedding_engine.py
  core/audit/audit_decision_embedding_engine.schema.json
  core/colonies/__init__.py
  core/colonies/oracle_colony.py
  core/colonies/oracle_colony.schema.json
  core/identity/__init__.py
  core/identity/constitutional_ai_compliance.py
  core/identity/constitutional_ai_compliance.schema.json
  core/identity_aware_base_colony.py
  core/oracle_nervous_system.schema.json
  core/verifold/__init__.py
  core/verifold/verifold_unified.py
  core/verifold/verifold_unified.schema.json
  matriz/consciousness/reflection/integrated_safety_system.py
  matriz/consciousness/reflection/symbolic_drift_analyzer.py
Due: guardrail-check

test(integration): add comprehensive tests for top 25 hidden gems modules
  tests/integration/TOP25_INTEGRATION_TEST_RESULTS.md
  tests/integration/test_top25_hidden_gems_integration.py
Due: guardrail-check

fix(integration): resolve import dependencies for top 25 hidden gems modules
  .claude/settings.local.json
  MATRIZ/adapters/cloud_consolidation.py
  MATRIZ/adapters/gmail_headers/__init__.py
  MATRIZ/core/async_orchestrator.py
  MATRIZ/core/example_node.py
  MATRIZ/core/memory_system.py
  MATRIZ/nodes/fact_node.py
  MATRIZ/nodes/math_node.py
  MATRIZ/nodes/validator_node.py
  core/api/service_stubs.py
  core/audit/audit_decision_embedding_engine.py
  core/colonies/oracle_colony.py
  core/identity_integration.py
  core/oracle_nervous_system.py
  core/orchestration/gpt_colony_orchestrator.py
  core/symbolic/vocabulary_creativity_engine.py
  core/tier_unification_adapter.py
  core/verifold/verifold_unified.py
  matriz/consciousness/reflection/dreamseed_unified.py
  matriz/memory/temporal/hyperspace_dream_simulator.py
Due: guardrail-check

feat(symbolic): implement visionary quantum visual symbol system
  .claude/settings.local.json
  MATRIZ/consciousness/reflection/__init__.py
  core/audit/audit_decision_embedding_engine.py
  core/symbolic/vocabulary_creativity_engine.py
  matriz/consciousness/reflection/id_reasoning_engine.py
  matriz/consciousness/reflection/reflection_layer.py
  matriz/memory/temporal/hyperspace_dream_simulator.py
  symbolic/core/__init__.py
  symbolic/core/consciousness_layer.py
  symbolic/core/neuro_bridge.py
  symbolic/core/quantum_perception.py
  symbolic/core/recursive_emergence.py
  symbolic/core/visual_symbol.py
Due: guardrail-check

docs(hidden-gems): comprehensive documentation and MATRIZ schemas for quantum visual symbols
  MATRIZ/schemas/symbolic/consciousness_integration_schema.json
  MATRIZ/schemas/symbolic/neuro_symbolic_bridge_schema.json
  MATRIZ/schemas/symbolic/quantum_perception_field_schema.json
  MATRIZ/schemas/symbolic/recursive_emergence_engine_schema.json
  MATRIZ/schemas/symbolic/visual_symbol_schema.json
  Makefile.hidden_gems
  docs/AGENT_CODEX_HIDDEN_GEMS_INTEGRATION.md
  scripts/example_integration.py
  symbolic/core/API.md
  symbolic/core/INTEGRATION_GUIDE.md
  symbolic/core/README.md
Due: guardrail-check

fix(reflection): support context logging and memory fallback
  labs/consciousness/reflection/_logging_utils.py
  labs/consciousness/reflection/id_reasoning_engine.py
  labs/consciousness/reflection/reflection_layer.py
  memory/__init__.py
  tests/unit/test_memory_init.py
Due: guardrail-check

fix(integration): resolve syntax errors and import issues in top 25 hidden gems modules
  .claude/settings.local.json
  .importlinter
  MATRIZ/adapters/adapters/emotion_adapter.py
  MATRIZ/adapters/adapters/governance_adapter.py
  MATRIZ/adapters/adapters/identity_adapter.py
  MATRIZ/adapters/adapters/orchestration_adapter.py
  MATRIZ/adapters/emotion_adapter.py
  MATRIZ/adapters/governance_adapter.py
  MATRIZ/adapters/identity_adapter.py
  MATRIZ/adapters/orchestration_adapter.py
  core/governance/guardian_system_integration.schema.json
  core/interfaces/api/v1/v1/grpc/lukhas_pb2.py
  core/interfaces/api/v1/v1/grpc/pb2_grpc.py
  core/symbolic/vocabulary_creativity_engine.py
  labs/memory/__init__.py
  labs/memory/emotional_memory_manager_unified.py
  labs/memory/repair/helix_repair_module.py
  labs/memory/systems/healix_memory_core.py
  labs/memory/systems/memory_planning.py
  labs/memory/systems/memory_planning_wrapper.py
  labs/memory/systems/memory_profiler.py
  labs/memory/systems/multimodal_memory_integration.py
  labs/memory/systems/multimodal_memory_support.py
  labs/memory/systems/symbolic_delta_compression.py
  matriz/consciousness/reflection/integrated_safety_system.py
  matriz/consciousness/reflection/memory_hub.py
  matriz/consciousness/reflection/orchestration_service.py
  matriz/consciousness/reflection/swarm.py
  matriz/consciousness/reflection/symbolic_drift_analyzer.py
  symbolic/core/recursive_emergence.py
  tests/smoke/test_entrypoints.py
Due: guardrail-check

docs(integration): update Agent Codex guide with Phase 1 completion status
  docs/AGENT_CODEX_HIDDEN_GEMS_INTEGRATION.md
Due: none

docs(integration): add parallel cloud processing strategy for hidden gems
  docs/PARALLEL_INTEGRATION_STRATEGY.md
Due: none

fix(scripts): harden hidden gems summary cli
  scripts/hidden_gems_summary.py
  tests/test_hidden_gems_summary.py
  urllib3/__init__.py
  urllib3/exceptions.py
Due: guardrail-check

fix(make): invoke batch_next_auto via bash
  Makefile
Due: none

feat(tools): add structured hidden gems summary export
  scripts/hidden_gems_summary.py
  tests/test_hidden_gems_summary.py
Due: guardrail-check

fix(scripts): add pytest fallback for batch integration
  scripts/batch_next.sh
  tests/scripts/test_batch_next.py
Due: guardrail-check

feat(tools): add lane filter to hidden gems summary
  scripts/hidden_gems_summary.py
  tests/test_hidden_gems_summary.py
Due: guardrail-check

feat(scripts): add JSON output for hidden gems summary
  scripts/hidden_gems_summary.py
  tests/test_hidden_gems_summary.py
Due: guardrail-check

docs(codex): update Agent Codex integration guide with PR merge status
  docs/AGENT_CODEX_HIDDEN_GEMS_INTEGRATION.md
Due: none

docs(codex): add parallel execution strategy for 7-phase integration
  docs/AGENT_CODEX_HIDDEN_GEMS_INTEGRATION.md
Due: none

docs(codex): clarify Phase 4 MATRIZ schemas are manual bottleneck
  docs/AGENT_CODEX_HIDDEN_GEMS_INTEGRATION.md
Due: none

docs(agents): update coordination system with codex integration and parallel workflows
  AGENTS.md
Due: none

docs(codex): add world-class 10-phase integration workflow (0.01% standard)
  docs/AGENT_CODEX_HIDDEN_GEMS_INTEGRATION.md
Due: none

docs(process): add multi-agent relay infrastructure for T4 parallel PRs
  .github/ISSUE_TEMPLATE/research_note_t4.md
  .github/ISSUE_TEMPLATE/tech_debt_t4.md
  .github/labels.json
  .github/workflows/agents_relay.yml
  .github/workflows/t4-pr-ci.yml
  CODEOWNERS
  Makefile
  docs/governance/policies/sensitive_signal_guard.rego
  scripts/apply_labels.sh
  scripts/mint_tickets.sh
  tickets/matriz_backlog.json
Due: opa-format

docs(schema): add NodeSpec v1 + examples + flatmap tool (TG-001)
  docs/schemas/examples/dream_processor.json
  docs/schemas/examples/memory_adapter.json
  docs/schemas/nodespec_schema.json
  pr_tg001.md
  tools/nodespec_flatmap.py
Due: guardrail-check

feat(registry): Hybrid Registry prototype + tests (TG-002)
  pr_tg002.md
  services/registry/README.md
  services/registry/checkpoint.sig
  services/registry/main.py
  services/registry/registry_store.json
  services/registry/requirements.txt
  services/registry/tests/__init__.py
  services/registry/tests/test_registry.py
Due: guardrail-check

fix(batch): add no-op chmod-only guard (TG-009)
  pr_tg009.md
  scripts/batch_next.sh
Due: none

docs(consciousness): add 2025 AGI enhancement blueprint for consciousness+memory
  docs/enhancements/CONSCIOUSNESS_MEMORY_ENHANCEMENT_2025.md
Due: none

docs(agentB): complete Agent B deliverables - schema audit + PQC CI + integration test + security checklist
  .github/workflows/pqc-sign-verify.yml
  docs/reports/schema_audit.md
  docs/security/MATRIZ_PQC_CHECKLIST.md
  services/registry/tests/test_noop_guard_integration.py
Due: guardrail-check

docs(memory): add 0.01% Memory Healix 2035 blueprint with consciousness integration
  docs/enhancements/MEMORY_HEALIX_2035_BLUEPRINT.md
Due: none

docs(bio): add 0.01% endocrine neuromodulation with MATRIZ integration
  docs/enhancements/ENDOCRINE_NEUROMODULATION_2035_BLUEPRINT.md
Due: none

feat(registry): add minimal FastAPI stub + CI smoke infrastructure (Agent C deliverables)
  .github/workflows/registry-smoke.yml
  docs/usage/registry_examples.md
  scripts/ci_verify_registry.sh
  scripts/nodespec_validate.py
  scripts/registry_ci_guard.sh
  scripts/wait_for_port.sh
  services/registry/README.md
  services/registry/main.py
  services/registry/requirements.txt
  services/registry/tests/test_registry_negative.py
  services/registry/tests/test_stub_api.py
Due: guardrail-check

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
