Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$

feat(consciousness): Implement comprehensive Consciousness System API (#1575)
  serve/consciousness_api.py
  tests/unit/serve/test_consciousness_api.py
Due: block-labs-imports, guardrail-check

feat(governance): Implement Constitutional AI Safety System (#1576)
  governance/safety/__init__.py
  governance/safety/constitutional_ai_safety.py
  tests/unit/governance/safety/__init__.py
  tests/unit/governance/safety/test_constitutional_ai_safety.py
Due: block-labs-imports, guardrail-check

feat(guardian): Guardian Constitutional Compliance Framework (#1570)
  core/identity/constitutional_ai_compliance.py
  guardian/README.md
  guardian/__init__.py
  guardian/compliance_analytics.py
  guardian/constitutional_compliance.py
  guardian/docs/CONSTITUTIONAL_COMPLIANCE.md
  guardian/tests/test_compliance_analytics.py
  guardian/tests/test_constitutional_compliance.py
Due: block-labs-imports, guardrail-check, check-license-headers

feat(analytics): Implement differential privacy client with epsilon-DP (#1580)
  lukhas/analytics/__init__.py
  lukhas/analytics/privacy_client.py
  tests/unit/lukhas/analytics/test_privacy_dp_client.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-license-headers

feat(governance): Implement Quantum-Resistant Governance Token Generator (#1579)
  governance/identity/core/qrs/__init__.py
  governance/identity/core/qrs/qrg_generator.py
  products/security/qrg/requirements.txt
  pyproject.toml
  tests/unit/governance/identity/core/qrs/__init__.py
  tests/unit/governance/identity/core/qrs/test_qrg_generator.py
Due: block-labs-imports, guardrail-check

feat(memory): Implement Unified Memory Orchestrator (#1578)
  memory/core/README.md
  memory/core/__init__.py
  memory/core/unified_memory_orchestrator.py
  tests/unit/memory/core/__init__.py
  tests/unit/memory/core/test_unified_memory_orchestrator.py
Due: block-labs-imports, guardrail-check

feat(identity): Implement comprehensive ΛiD Identity API routes (#1573)
  serve/identity_api.py
  tests/unit/serve/test_identity_api.py
Due: block-labs-imports, guardrail-check

feat(glyph): Implement GLYPH pipeline components (#1569)
  docs/ADR/ADR-GLYPH-001-pipeline-architecture.md
  docs/GLYPH_IMPLEMENTATION_SUMMARY.md
  labs/governance/identity/__init__.py
  labs/governance/identity/auth/qrg_generators.py
  labs/governance/identity/auth_backend/pqc_crypto_engine.py
  labs/governance/identity/core/visualization/lukhas_orb.py
  labs/governance/identity/docs/GLYPH_DEVELOPER_GUIDE.md
  tests/integration/test_pqc_integration.py
  tests/unit/labs/governance/__init__.py
  tests/unit/labs/governance/identity/__init__.py
  tests/unit/labs/governance/identity/glyph/__init__.py
  tests/unit/labs/governance/identity/glyph/test_pqc_crypto_engine.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

refactor(scripts): derive repository name from git config instead of hardcoding
  scripts/build_file_index.py
Due: block-labs-imports, guardrail-check

docs(security): create 13 GitHub issues and update Claude Code Web prompts
  docs/security_compliance_issues/CLAUDE_CODE_WEB_PROMPTS.md
  docs/security_compliance_issues/PHASE1_READY_FOR_CLAUDE.md
Due: check-markdown-encoding, validate-docs-frontmatter

fix: resolve syntax and import errors + system status report
  docs/reports/SYSTEM_STATUS_2025-11-15.md
  docs/security_compliance_issues/PR_MERGE_SUMMARY.md
  lukhas/analytics/privacy_client.py
  lukhas_website/lukhas/core/drift.py
  memory/embedding_index.py
  memory/index_manager.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

fix(syntax): resolve __future__ import order and indentation errors
  adapters/openai/auth.py
  lukhas/adapters/dast_adapter.py
  services/registry/pqc_signer.py
  tools/todo_categorize.py
Due: block-labs-imports, guardrail-check, check-license-headers

fix: Add missing pytest markers and fix governance/ethics __future__ import
  governance/ethics/__init__.py
  pyproject.toml
  release_artifacts/repo_audit_v2/security/openai_hits.txt
Due: block-labs-imports, guardrail-check

fix(hygiene): add missing EncryptionError and QuotaConfig classes
  core/reliability/ratelimit.py
  security/encryption_manager.py
Due: block-labs-imports, guardrail-check, check-license-headers

docs: Add comprehensive test status report (77.6% smoke test pass rate)
  docs/reports/TEST_STATUS_2025-11-15.md
Due: check-markdown-encoding, validate-docs-frontmatter

fix(syntax): resolve 6 critical syntax and indentation errors
  labs/core/governance/guardian_integration.py
  qi/states/system_orchestrator.py
  tests/unit/candidate/consciousness/dream/test_dream_feedback_controller.py
  tests/unit/core/bridge/test_dream_blockchain.py
  tests/unit/memory/test_fold_consolidation_edge_cases.py
  tools/reports/weekly_hygiene.py
Due: block-labs-imports, guardrail-check

fix(syntax): resolve additional syntax errors - 20 error reduction
  tests/unit/core/bridge/test_dream_blockchain.py
  tests/unit/memory/test_fold_consolidation_edge_cases.py
  tests/unit/test_ruff_formatting.py
Due: block-labs-imports, guardrail-check

security(critical): eliminate all eval() calls from codebase (#1582)
  docs/security/EVAL_ELIMINATION_REPORT.md
  examples/sdk/python/src/lukhas_client.py
  labs/consciousness/reflection/full_connectivity_resolver.py
  labs/core/security/__init__.py
  labs/core/security/security_policy.py
  labs/governance/policy/policy_engine.py
  labs/memory/temporal/secure_utils.py
  labs/orchestration/signals/homeostasis.py
  labs/orchestration/signals/prompt_modulator.py
  lukhas/security/__init__.py
  lukhas/security/safe_evaluator.py
  lukhas_website/lukhas/modulation/dispatcher.py
  lukhas_website/lukhas/nodes/example_nodes.py
  matriz/core/example_node.py
  matriz/nodes/action/tool_usage.py
  modulation/signals.py
  next_gen/guardian/consent_escalation.py
  tests/security/test_eval_elimination.py
  tools/CriticalConnectivityAnalyzer.py
  tools/monitoring/production_alerting_system.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

fix(imports): add HeadersMiddleware alias and fix IndentationError
  branding/poetry/report_utils.py
  serve/middleware/headers.py
Due: block-labs-imports, guardrail-check

docs: Add comprehensive P0 critical issue reports (3 vulnerabilities)
  docs/reports/CRITICAL_P0_AUTHENTICATION_BYPASS.md
  docs/reports/CRITICAL_P0_DREAMS_API_FAILURE.md
  docs/reports/CRITICAL_P0_RATE_LIMITING_DOS.md
Due: check-markdown-encoding, validate-docs-frontmatter

security(critical): eliminate all exec() calls from codebase (#1583)
  docs/security/EXEC_ELIMINATION_REPORT.md
  lukhas/security/__init__.py
  lukhas/security/safe_import.py
  lukhas/security/safe_plugin_loader.py
  products/shared/lambda_products_remaining/verify_installation.py
  scripts/test_phase3_validation.py
  tests/reliability/test_0_01_percent_features.py
  tests/security/test_exec_elimination.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

docs: Update P0 security reports for pre-production context
  docs/reports/CRITICAL_P0_AUTHENTICATION_BYPASS.md
  docs/reports/CRITICAL_P0_DREAMS_API_FAILURE.md
  docs/reports/CRITICAL_P0_RATE_LIMITING_DOS.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(errors): comprehensive error analysis and implementation guide
  ERRORS_EXECUTIVE_SUMMARY.md
  ERROR_FIXING_INDEX.md
  REMAINING_ERRORS_COMPREHENSIVE_REPORT.md
  categorize_remaining_errors.py
  remaining_errors_structured.json
  tools/track_error_progress.py
Due: block-labs-imports, guardrail-check

security: Fix all 12 pickle deserialization vulnerabilities (Issue #1585)
  docs/security/PICKLE_REMEDIATION_REPORT.md
  labs/core/glyph/personal_symbol_dictionary.py
  labs/memory/folds/optimized_fold_engine.py
  labs/memory/integrity/collapse_hash.py
  labs/memory/memory_optimization.py
  labs/memory/systems/memory_tracker.py
  labs/memory/systems/memory_viz.py
  lukhas/security/__init__.py
  lukhas/security/safe_serialization.py
  lukhas_website/lukhas/memory/backends/faiss_store.py
  lukhas_website/lukhas/rl/experience/consciousness_buffer.py
  matriz/consciousness/reflection/event_replay_snapshot.py
  tests/security/test_pickle_fixes.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

fix(security): eliminate all SQL injection vulnerabilities (closes #1586)
  bridge/api/validation.py
  consent/service.py
  docs/security/SQL_INJECTION_FIX_REPORT.md
  lukhas/security/__init__.py
  lukhas/security/safe_sql.py
  memory/backends/pgvector_store.py
  memory/tests/test_pgvector_store.py
  scripts/high_risk_patterns.py
  scripts/security_scan.py
  scripts/validate_guardian_performance.py
  tests/e2e/gdpr/test_erasure_validation.py
  tests/security/test_sql_injection_fixes.py
  tools/analysis/ml_integration_analyzer.py
  tools/ci/llm_policy.py
  tools/ml_integration_analyzer.py
  tools/security/enterprise_security_automation.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

fix(security): resolve YAML unsafe loading vulnerabilities (#1587)
  docs/security/YAML_LOADING_FIX_REPORT.md
  lukhas/security/__init__.py
  lukhas/security/yaml_scanner.py
  scripts/ci/audit_workflows.py
  scripts/generate_navigation.py
  scripts/high_risk_patterns.py
  tests/security/test_yaml_loading_fixes.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

feat(gdpr): implement Right to Access API (Article 15) - Issue #1588
  core/interfaces/api/v1/v1/rest/app.py
  core/interfaces/api/v1/v1/rest/routers/__init__.py
  core/interfaces/api/v1/v1/rest/routers/data_rights.py
  docs/gdpr/RIGHT_TO_ACCESS_API.md
  tests/unit/core/interfaces/api/v1/v1/test_data_rights.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers
