Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$

chore(ops): add comprehensive worktree and branch cleanup action plan
  .claude/settings.local.json
  docs/audits/WORKTREE_BRANCH_CLEANUP_2025-11-01.md
Due: none

fix(identity): verify passkey attestation and persist credential (#759)
  lukhas_website/package.json
  lukhas_website/packages/auth/passkeys.ts
  lukhas_website/tests/unit/passkeys.test.ts
Due: none

fix(lanes): resolve TODO NOW lane compliance and import health UX
  scripts/consolidation/check_import_health.py
  serve/main.py
Due: guardrail-check

chore(pr): document security TODO assessment
  pr_comments/security_todo_assessment.md
  security/encryption_manager.py
  security/tests/test_encryption_manager_unit.py
Due: guardrail-check

chore(orchestration): export lazy-loaded proxies
  core/orchestration/gpt_colony_orchestrator.py
Due: guardrail-check

docs(audit): refresh TODO NOW status after rerun; mark core/dast fixes done, serve partial, shim added
  docs/architecture/MATRIZ_CONSCIOUSNESS_ARCHITECTURE.md
  docs/audits/MATRIZ_SYSTEM_AUDIT_2025-11-01.md
Due: none

feat(security): add test-focused encryption manager implementation (#751)
  pr_comments/security_todo_assessment.md
Due: none

tests(audit): ensure repo root on sys.path for integration/e2e; skip labs-dependent MATRIZ tests when labs missing; update TODO NOW with recursion in meta_cognitive_assessor bridge
  docs/architecture/MATRIZ_CONSCIOUSNESS_ARCHITECTURE.md
  docs/audits/MATRIZ_SYSTEM_AUDIT_2025-11-01.md
  tests/e2e/conftest.py
  tests/integration/conftest.py
  tests/matriz/conftest.py
Due: guardrail-check

test(infra): add pytest skip helper for optional labs dependency
  tests/conftest.py
Due: guardrail-check

feat(consciousness): add package __init__.py for explicit namespace
  consciousness/__init__.py
Due: guardrail-check

docs(ops): track rebased branch statuses
  docs/audits/local/BRANCH_SITUATION_SUMMARY_2025-10-14.md
  docs/gonzo/COORDINATION_UPDATE_2025-10-14.md
  docs/ops/OPERATIONAL_RUNBOOK.md
  docs/sessions/COMPLETE_RC_OPERATIONALIZATION_SUMMARY.md
  docs/sessions/POST_RC_OPERATIONALIZATION_SUMMARY.md
Due: none

docs(ops): track rebased branch statuses (#764)
  docs/audits/local/BRANCH_SITUATION_SUMMARY_2025-10-14.md
  docs/gonzo/COORDINATION_UPDATE_2025-10-14.md
  docs/ops/OPERATIONAL_RUNBOOK.md
  docs/sessions/COMPLETE_RC_OPERATIONALIZATION_SUMMARY.md
  docs/sessions/POST_RC_OPERATIONALIZATION_SUMMARY.md
Due: none

fix(lanes): MATRIZ fallbacks + audit updates (#763)
  docs/architecture/MATRIZ_CONSCIOUSNESS_ARCHITECTURE.md
  docs/audits/MATRIZ_SYSTEM_AUDIT_2025-11-01.md
  tests/e2e/conftest.py
  tests/integration/conftest.py
  tests/matriz/conftest.py
Due: guardrail-check

fix(identity): clarify optional dependency after rebase
  lukhas_website/lukhas/identity/test_lid_integration.py
Due: guardrail-check

feat(security): align encryption manager with main
  security/encryption_manager.py
  security/tests/test_encryption_manager_unit.py
Due: guardrail-check

feat(ops): add Claude Code automated PR review integration
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/claude-pr-review.yml
  Makefile
  docs/development/CLAUDE_PR_REVIEW_SETUP.md
  docs/development/CLAUDE_REVIEW_QUICKSTART.md
  scripts/request_claude_review.sh
Due: none

feat(ops): migrate Claude PR review to Perplexity API with model selection
  .claude/settings.local.json
  .github/workflows/claude-pr-review.yml
  docs/development/CLAUDE_PR_REVIEW_SETUP.md
  docs/development/CLAUDE_REVIEW_QUICKSTART.md
Due: none

chore(ops): add helper script for Perplexity API key setup
  scripts/setup_perplexity_secret.sh
Due: none

fix(security): harden posture monitor contract parsing
  tools/security_posture_monitor.py
Due: guardrail-check

ci(pqc): fail workflow on fallback marker
  .github/docker/README.md
  .github/workflows/pqc-sign-verify.yml
Due: none

refactor(lint): fix imports for classical emotional api
  bridge/adapters/create_classical_emotional_api.py
Due: guardrail-check

chore(github): add agent codex label
  .github/labels.json
Due: none

feat(registry): add Dilithium2 checkpoint signing bundle
  services/registry/checkpoint.meta.json
  services/registry/checkpoint.sig
  services/registry/main.py
  services/registry/registry_store.json
  services/registry/tests/test_checkpoint_signature.py
  services/registry/tests/test_registry.py
Due: guardrail-check

feat(manifests): complete phase1 production coverage
  docs/audits/MANIFEST_COVERAGE_P1_REPORT.md
  manifests/core/blockchain/module.manifest.json
  manifests/core/emotion/module.manifest.json
  manifests/core/identity/vault/module.manifest.json
  manifests/core/orchestration/brain/dashboard/module.manifest.json
  manifests/core/ports/module.manifest.json
  manifests/core/widgets/module.manifest.json
  manifests/lukhas/adapters/module.manifest.json
  manifests/lukhas/adapters/openai/module.manifest.json
Due: validate-module-manifests-changed, manifest-validate, manifest-lock

docs: record no-op guard observation status
  .gitignore
  docs/audits/noop_guard.log
  docs/ops/T4_EXECUTION_SUMMARY.md
Due: none

fix(ops): add issue_comment trigger for Claude PR reviews
  .github/workflows/claude-pr-review.yml
Due: none

fix(security): align sbom fix script with posture alerts
  scripts/security_posture_fix.py
Due: guardrail-check

docs(security): capture consolidated posture remediation plan
  .github/workflows/security-posture.yml
  docs/security/SECURITY_POSTURE_REMEDIATION.md
Due: none

refactor(reliability): lift imports to top-level modules
  core/governance/ethics/compliance_monitor.py
  core/governance/ethics/guardian_reflector.py
  core/governance/guardian/compliance_audit_system.py
  core/governance/guardian/system_health_monitor.py
  core/governance/identity/core/health/identity_health_monitor.py
  core/integration/executive_decision_integrator.py
  core/utils/orchestration_energy_aware_execution_planner.py
Due: guardrail-check

fix(security): harden posture monitor contract parsing (#765)
  tools/security_posture_monitor.py
Due: guardrail-check

ci(pqc): fail workflow on fallback marker (#766)
  .github/docker/README.md
  .github/workflows/pqc-sign-verify.yml
Due: none

refactor(lint): fix imports for classical emotional api (#768)
  bridge/adapters/create_classical_emotional_api.py
Due: guardrail-check
