Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$

docs(matriz): add completion status tracking for manifest generation and star rules phases
  docs/gonzo/matriz_prep/COMPLETION_STATUS.md
Due: none

fix(hygiene): prevent infinite recursion in compat alias loader
  lukhas/compat/__init__.py
Due: matrix-contract-presence, guardrail-check

docs(hygiene): add recursion fix incident report and analysis
  .lukhas_runs/2025-10-12/RECURSION_FIX.md
Due: none

feat(hygiene): add PR 375 orphaned noqa remediation infrastructure
  Makefile
  docs/gonzo/matriz_prep/CODEX_HANDOFF.md
  docs/gonzo/matriz_prep/PR_375_REMEDIATION.md
  docs/gonzo/matriz_prep/PR_375_SUMMARY.md
  scripts/fix_orphaned_noqa.py
Due: guardrail-check

docs(matriz): add Phase 2 import codemod brief for Codex
  .claude/settings.local.json
  docs/gonzo/matriz_prep/PHASE_2_CODEX_BRIEF.md
Due: none

docs(matriz): add Phase 2 quick start guide for Codex
  .claude/settings.local.json
  docs/gonzo/matriz_prep/CODEX_START_PHASE_2.md
Due: none

feat(matriz): add JSON-safe manifest updater and compat telemetry for Phase 2
  Makefile
  scripts/check_alias_hits.py
  scripts/update_manifest_paths.py
Due: guardrail-check

docs(matriz): add Phase 2 readiness status document
  docs/gonzo/matriz_prep/PHASE_2_READY.md
Due: none

feat(codemod): add dependency-free fallback for legacy imports
  scripts/codemod_imports.py
Due: guardrail-check

feat(codemod): add dependency-free fallback for legacy imports (#376)
  scripts/codemod_imports.py
Due: guardrail-check

feat(matriz): add Phase 2 OpenAI alignment planning and implementation artifacts
  .claude/settings.local.json
  .env.example
  SECURITY.md
  configs/observability/slo_budgets.yaml
  configs/runtime/reliability.yaml
  docker-compose.yml
  docs/API_ERRORS.md
  docs/gonzo/matriz_prep/CLAUDE_CODE_TASKS.md
  docs/gonzo/matriz_prep/CODEX_START_PHASE_2.md
  docs/gonzo/matriz_prep/GITHUB_COPILOT_TASKS.md
  docs/gonzo/matriz_prep/PHASE_2_ARTIFACTS_SUMMARY.md
  docs/gonzo/matriz_prep/PHASE_2_CODEX_BRIEF.md
  docs/gonzo/matriz_prep/PHASE_2_TASK_PLANNING.md
  docs/gonzo/matriz_prep/README.md
  docs/gonzo/matriz_prep/claude_copilot.md
  docs/matriz/WHY_MATRIZ.md
  docs/openai/QUICKSTART.md
  docs/openapi/lukhas-openai.yaml
  docs/ops/SLOs.md
  evals/README.md
  evals/run_evals.py
  load/resp_scenario.js
  lukhas/adapters/openai/__init__.py
  lukhas/adapters/openai/api.py
  lukhas/adapters/openai/auth.py
  lukhas/core/reliability/backoff.py
  lukhas/core/reliability/ratelimit.py
  lukhas/observability/filters.py
  observability/otel-collector.yaml
  scripts/export_openai_tools.py
  scripts/release_rc.sh
  scripts/sbom.py
  tests/logging/test_redaction.py
  tests/reliability/test_backoff.py
  tests/smoke/test_dreams_api.py
  tests/smoke/test_evals_runner.py
  tests/smoke/test_healthz.py
  tests/smoke/test_openai_facade.py
  tests/smoke/test_tracing.py
  tests/tools/test_openai_tools_export.py
Due: matrix-contract-presence, guardrail-check

feat(openai): integrate MATRIZ orchestrator with OpenAI-compatible façade
  lukhas/adapters/__init__.py
  lukhas/adapters/openai/api.py
Due: matrix-contract-presence, guardrail-check

feat(tools): enhance OpenAI tool schema export with robust manifest parsing
  scripts/export_openai_tools.py
Due: guardrail-check

feat(observability): add structured event logging system with JSON Lines format
  lukhas/observability/events.py
Due: guardrail-check

feat(reliability): implement token bucket rate limiting with façade middleware
  lukhas/adapters/openai/api.py
  lukhas/core/reliability/ratelimit.py
Due: guardrail-check

feat(observability): enhance health/readiness/metrics with real-time tracking
  lukhas/adapters/openai/api.py
  tests/smoke/test_metrics_tracking.py
Due: guardrail-check

feat(observability): integrate OpenTelemetry distributed tracing with W3C context
  lukhas/adapters/openai/api.py
  lukhas/observability/tracing.py
  observability/otel-collector.yaml
  tests/smoke/test_tracing.py
Due: guardrail-check

feat(ci): implement RC automation workflow with FREEZE validation gates
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/matriz-validate.yml
  scripts/release_rc.sh
Due: none

docs(matriz): add Phase 2 completion status and audit reports
  docs/audits/compat_alias_hits.json
  docs/audits/evals_report.json
  docs/audits/evals_report.md
  docs/gonzo/matriz_prep/CODEX_PHASE_TWO.md
Due: none

feat(reliability,testing,security): Phase 2 OpenAI Alignment - Tasks C15, E19, E20
  .github/workflows/matriz-nightly.yml
  .pre-commit-config.yaml
  Makefile
  configs/runtime/reliability.yaml
  docs/ops/RELIABILITY_TUNING.md
  load/README.md
  load/extended.js
  load/locustfile.py
  load/results/.gitkeep
  load/smoke.js
  load/spike.js
  scripts/check_headers.py
  scripts/check_licenses.py
  tests/config/test_reliability_config.py
Due: guardrail-check

feat(docs,postman): Phase 2 OpenAI Alignment - Tasks G23, G24
  docs/matriz/DIAGRAMS.md
  docs/matriz/WHY_MATRIZ.md
  docs/postman/README.md
  docs/postman/examples/chat_completion.json
  docs/postman/examples/dream_generation.json
  docs/postman/examples/embeddings.json
  docs/postman/examples/response_generation.json
  docs/postman/lukhas-api-collection.json
  docs/postman/lukhas-api-environment.json
  scripts/generate_postman_collection.py
Due: guardrail-check

feat(api): add comprehensive memory index management REST API
  docs/openai/QUICKSTART.md
  docs/openapi/lukhas-openai.yaml
  lukhas/adapters/openai/api.py
  lukhas/adapters/openai/routes/__init__.py
  lukhas/adapters/openai/routes/indexes.py
  lukhas/adapters/openai/schemas/__init__.py
  lukhas/adapters/openai/schemas/indexes.py
  lukhas/memory/index_manager.py
  tests/memory/test_indexes_api.py
Due: matrix-contract-presence, guardrail-check

feat(auth): implement policy guard with 401/403 validation (T1)
  lukhas/adapters/openai/api.py
  lukhas/adapters/openai/auth.py
  tests/smoke/test_auth.py
Due: guardrail-check

feat(dreams): add comprehensive Dreams API test coverage (T1-2)
  lukhas/adapters/openai/api.py
  tests/smoke/test_dreams.py
Due: guardrail-check

fix(matriz): correct import path in CognitiveOrchestrator
  MATRIZ/core/orchestrator.py
  docs/audits/compat_alias_hits.json
Due: guardrail-check

refactor(api): production-grade OTEL spans, test config, smoke tests
  lukhas/adapters/openai/routes/indexes.py
  scripts/smoke_test_openai_facade.sh
  tests/memory/test_indexes_api.py
Due: guardrail-check

fix(scripts): correct smoke test endpoints and response parsing
  scripts/smoke_test_openai_facade.sh
Due: none

feat(api/ci/reliability): add facade smoke job, OpenAPI artifact, auth negative-path tests, and per-tenant ratelimit keys
  .github/workflows/matriz-validate.yml
  docs/openapi/README.md
  lukhas/adapters/openai/api.py
  lukhas/core/reliability/ratelimit.py
  tests/smoke/test_auth_errors.py
  tests/unit/test_ratelimit_keys.py
Due: guardrail-check

refactor(api/ci): apply code review polish - security, proxies, validation
  .github/workflows/matriz-validate.yml
  Makefile
  lukhas/adapters/openai/auth.py
  lukhas/core/reliability/ratelimit.py
  tests/smoke/test_auth_errors.py
  tests/unit/test_ratelimit_keys.py
Due: guardrail-check

test(api): comprehensive integration tests for polish improvements
  tests/integration/test_openai_facade_integration.py
Due: guardrail-check

docs: comprehensive PR #377 merge summary
  docs/project_status/PR_377_MERGE_SUMMARY.md
Due: none

feat(phase3): enforce zero compat hits, remove compat layer, add security/observability polish
  .claude/settings.local.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/matriz-validate.yml
  Makefile
  docs/gonzo/matriz_prep/CODEX_START_HERE_3.md
  docs/migration/MIGRATION_v0.9.0.md
  docs/openapi/lukhas-openai.json
  experimental/__init__.py
  lukhas/adapters/openai/api.py
  lukhas/compat/__init__.py
  lukhas/core/reliability/__init__.py
  lukhas/core/reliability/idempotency.py
  lukhas/core/reliability/ratelimit.py
  lukhas/observability/log_redaction.py
  lukhas/observability/security_headers.py
  lukhas/observability/tracing.py
  scripts/diff_openapi.py
  scripts/generate_openapi.py
  scripts/report_compat_hits.py
  tests/smoke/test_idempotency.py
  tests/smoke/test_responses_stream.py
  tests/smoke/test_trace_header.py
  tests/unit/test_ratelimit_strategy.py
Due: matrix-contract-presence, guardrail-check

feat(embeddings): add comprehensive shape/compat tests and fix 1536-dim vectors (T1-3)
  lukhas/adapters/openai/api.py
  tests/smoke/test_embeddings.py
Due: guardrail-check
