Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

matrix-contract-presence:
  name: Matrix Contract Presence
  entry: python3 tools/validate_contract_presence.py --enforce --quiet
  language: system
  pass_filenames: false

matrix-contract-schema:
  name: Matrix Contract Schema Validation
  entry: python3 tools/matrix_gate.py --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

opa-format:
  name: Format OPA policies
  entry: opa fmt -w
  language: system

matrix-identity-validation:
  name: Matrix Identity Block Validation
  entry: python3 tools/matrix_gate.py --identity --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

lukhas-tier-consistency:
  name: ΛiD Tier Consistency Check
  entry: python3 tools/lukhas_id_bridge.py --check-consistency
  language: system
  pass_filenames: false

block-labs-imports:
  name: Block direct labs imports in production lanes
  entry: bash scripts/consolidation/block_labs_imports.sh
  language: system
  pass_filenames: false
  stages:
  - commit

import-linter:
  name: Import Isolation Guard (Simulation Lane)
  entry: import-linter
  language: system
  args:
  - --cache-dir
  - .importlinter_cache
  pass_filenames: false

simulation-lane-safety:
  name: Simulation Lane Safety Check
  entry: bash
  language: system
  args:
  - .claude/commands/95_sim_lane_summary.yaml
  pass_filenames: false

guardrail-check:
  name: guardrail-check (ban direct LLM calls)
  entry: python3 scripts/ci/check_guardrail_usage.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

matrix-contract-validation:
  name: Validate Matrix Contracts
  entry: python3 tools/pre_commit_matrix_check.py
  language: system
  pass_filenames: true

telemetry-semconv-validation:
  name: Validate Telemetry Semantic Conventions
  entry: python3 tools/pre_commit_telemetry_check.py
  language: system
  pass_filenames: true

demo-script-validation:
  name: Validate Matrix Tracks Demo Scripts
  entry: python3 tools/pre_commit_demo_lint.py
  language: system
  pass_filenames: true

reject-legacy-directory-index:
  name: Reject legacy directory_index.json files
  entry: python3 -c "import sys; files=[f for f in sys.argv[1:] if 'directory_index.json' in f]; sys.exit(1 if files else 0)"
  language: system
  pass_filenames: true

validate-module-manifests-changed:
  name: T4 Module Manifest Validation
  entry: python3 tools/manifest_validate.py --all
  language: system
  pass_filenames: false

validate-configs-and-secrets:
  name: Validate configs and detect secrets
  entry: python3 tools/validate_configs.py
  language: system
  pass_filenames: false

manifest-validate:
  name: Manifest Validate
  entry: python3 tools/manifest_validate.py
  language: system
  pass_filenames: false

manifest-lock:
  name: Manifest Lock Hydrator
  entry: python3 tools/manifest_lock_hydrator.py
  language: system
  pass_filenames: false

mcp-config-verify:
  name: 'Guard: MCP config verify'
  entry: python3 tools/mcp/verify_config.py
  language: system

lint(hygiene): fix quick wins small error types (42 violations) (#1026)
  audit_2025_launch/tools/01_baseline_metrics.py
  audit_2025_launch/tools/02_duplicate_detector.py
  audit_2025_launch/tools/03_archive_candidates.py
  audit_2025_launch/tools/04_security_scanner.py
  audit_2025_launch/tools/05_config_analyzer.py
  audit_2025_launch/tools/06_docs_quality_checker.py
  audit_2025_launch/tools/07_test_coverage_mapper.py
  audit_2025_launch/tools/08_must_keep_registry.py
  bridge/llm_wrappers/jules_wrapper.py
  tests/core/test_orchestrator_lane_defaults.py
Due: block-labs-imports, guardrail-check

feat(bridge): add macOS Keychain integration for API keys
  bridge/llm_wrappers/env_loader.py
  scripts/test_claude_simple.py
  scripts/test_keychain_retrieval.py
  scripts/update_keychain_key.py
Due: block-labs-imports, guardrail-check

Fix F821 undefined name issues in integration stubs (#1028)
  bridge/adapters/__init__.py
  bridge/api/onboarding.py
  bridge/api/orchestration_endpoints.py
  bridge/protocols/check_all_box_alignment.py
  bridge/protocols/freeze_protection_check.py
  core/orchestration/brain/australian_awareness_engine.py
  core/orchestration/brain/unified_integration/__init__.py
  core/orchestration/brain/unified_integration/adapters/legacy_adapter.py
  core/orchestration/integration_hub.py
Due: block-labs-imports, guardrail-check, check-license-headers

feat(t4): Implement T4 Unified Platform v2.0 - Eliminate Dual System Fragmentation
  Makefile
  T4_MEGA_PR_SUMMARY.md
  docs/gonzo/T4_CHANGES.md
  scripts/t4_init.sh
  scripts/t4_parallel_batches.sh
  tools/ci/T4_TOOLS_README.md
  tools/ci/check_t4_issues.py
  tools/ci/codemods/library.py
  tools/ci/codemods/run_codemod.py
  tools/ci/intent_api.py
  tools/ci/migrate_annotations.py
  tools/ci/t4_dashboard.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

feat(t4): T4 Unified Platform v2.0 - Eliminate Dual System Fragmentation (#1030)
  Makefile
  T4_MEGA_PR_SUMMARY.md
  bridge/llm_wrappers/env_loader.py
  docs/CLAUDE_API_QUICKSTART.md
  docs/bridge/CLAUDE_API_SETUP.md
  docs/bridge/README.md
  docs/gonzo/T4_CHANGES.md
  examples/claude_api_usage.py
  scripts/configure_claude_api.py
  scripts/t4_init.sh
  scripts/t4_parallel_batches.sh
  scripts/test_claude_api.py
  scripts/test_claude_simple.py
  scripts/test_keychain_retrieval.py
  scripts/update_keychain_key.py
  tools/ci/T4_TOOLS_README.md
  tools/ci/check_t4_issues.py
  tools/ci/codemods/library.py
  tools/ci/codemods/run_codemod.py
  tools/ci/intent_api.py
  tools/ci/migrate_annotations.py
  tools/ci/t4_dashboard.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

fix(t4): Resolve f-string syntax error in dashboard
  tools/ci/t4_dashboard.py
Due: block-labs-imports, guardrail-check

docs(t4): Add T4 Unified Platform integration completion report
  T4_INTEGRATION_COMPLETE.md
Due: none

feat(t4): Full system integration - CI/CD, ruff, pre-commit, README
  .github/workflows/t4-validator.yml
  .pre-commit-config.yaml
  README.md
  pyproject.toml
Due: none

docs(t4): Add comprehensive system integration report
  T4_FULL_SYSTEM_INTEGRATION_REPORT.md
Due: none

feat(t4): Add owner confidence scoring to migration tool (Polish #1)
  tools/ci/migrate_annotations.py
Due: block-labs-imports, guardrail-check

feat(t4): Add quality score explainability (Polish #2)
  tools/ci/check_t4_issues.py
Due: block-labs-imports, guardrail-check

feat(t4): Add dashboard production features (Polish #3)
  tools/ci/t4_dashboard.py
Due: block-labs-imports, guardrail-check

docs(t4): Add Phase 1 production polishes summary
  T4_PRODUCTION_POLISHES_PHASE1.md
Due: none

docs(brand): add LUKHAS Brand Specialist skill and reference
  docs/gonzo/BRAND_SPECIALIST.md
Due: check-markdown-encoding, validate-docs-frontmatter

fix(lint): remove F401 unused logging imports in api/optimization and audit tools
  api/optimization/advanced_middleware.py
  api/optimization/analytics_dashboard.py
  api/optimization/integration_hub.py
  audit_2025_launch/tools/00_run_all_audits.py
  audit_2025_launch/tools/01_baseline_metrics.py
  audit_2025_launch/tools/03_archive_candidates.py
  audit_2025_launch/tools/06_docs_quality_checker.py
  audit_2025_launch/tools/07_test_coverage_mapper.py
  audit_2025_launch/tools/08_must_keep_registry.py
Due: block-labs-imports, guardrail-check

feat(t4): Add production-grade Intent API, LLM safety, policy client & enforcement
  docs/gonzo/T4_ONBOARD_AGENTS.md
  scripts/t4_protect_main.sh
  tools/ci/create_api_key_admin.py
  tools/ci/intent_api.py
  tools/ci/llm_policy.py
  tools/t4/policy_client.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

docs(agents): add Constellation Framework Claude Code instructions and automation pipeline
  docs/gonzo/CLAUDE_CODE_INSTRUCTIONS_CONSTELLATION.md
  docs/gonzo/LUKHAS_AI_AGENT_AUTOMATION_PIPELINE.md
Due: check-markdown-encoding, validate-docs-frontmatter

style(t4): Auto-format production files with black/ruff
  docs/audits/health/latest.json
  docs/audits/health/latest.md
  docs/audits/live/20251106T181600Z/INDEX.md
  docs/audits/live/20251106T181600Z/ruff.txt
  docs/audits/live/20251106T181600Z/ruff_stats.txt
  docs/audits/system_health.json
  docs/audits/system_health.md
  tools/ci/check_t4_issues.py
  tools/ci/create_api_key_admin.py
  tools/ci/intent_api.py
  tools/ci/llm_policy.py
  tools/ci/migrate_annotations.py
  tools/ci/t4_dashboard.py
  tools/t4/policy_client.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

docs(t4): Update all root context files with T4 Platform v2.0 deployment
  .github/copilot-instructions.md
  claude.me
  gemini.md
  lukhas_context.md
Due: none

docs(t4): Add comprehensive T4 Platform v2.0 deployment summary
  T4_PLATFORM_V2_DEPLOYMENT_COMPLETE.md
Due: none

docs(ops): add comprehensive PR review summary for Nov 6, 2025
  docs/gonzo/PR_REVIEW_SUMMARY_2025-11-06.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(jules): add comprehensive Jules API status and cleanup report
  docs/gonzo/JULES_API_STATUS_2025-11-06.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(t4): Add comprehensive T4 annotation completion summary
  T4_ANNOTATION_COMPLETE_SUMMARY.md
Due: none

feat(jules): Add delete_session method for cleanup
  bridge/llm_wrappers/jules_wrapper.py
Due: block-labs-imports, guardrail-check

docs(constellation): Complete JULES-CODEX-CLAUDE agent automation master guide
  docs/gonzo/CONSTELLATION_AGENT_AUTOMATION_MASTER.md
  docs/gonzo/LUKHAS_AI_AGENT_AUTOMATION_IMPLEMENTATION_SUMMARY.md
  docs/gonzo/T4_ANNOTATION_ACTION_GUIDE.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(t4): Add comprehensive action guide for Matriz team
  docs/gonzo/codex_integration.md
  lukhas_website/lukhas/identity/oidc/tokens.py
  scripts/Codex_Files.py
  scripts/add_t4_ids.py
  scripts/annotate_b008_batch.py
  scripts/annotate_b018_batch.py
  scripts/annotate_b904_batch.py
  scripts/annotate_f401_batch.py
  scripts/annotate_f821_batch.py
  scripts/annotate_remaining_batch.py
  scripts/annotate_ruf006_batch.py
  scripts/annotate_ruf012_batch.py
  scripts/convert_t4_annotations.py
  scripts/inline_t4_annotations.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

docs(gonzo): add Jules 13 sessions creation status report
  docs/gonzo/JULES_13_SESSIONS_STATUS_2025-11-06.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(gonzo): update Jules sessions report - 15 sessions total
  docs/gonzo/JULES_13_SESSIONS_STATUS_2025-11-06.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(gonzo): add Batch 4 Jules sessions (14 high-priority test sessions)
  docs/gonzo/JULES_API_OPTIONS_TREE.md
  docs/gonzo/JULES_BATCH_4_STATUS_2025-11-06.md
Due: check-markdown-encoding, validate-docs-frontmatter

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$
