Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

matrix-contract-presence:
  name: Matrix Contract Presence
  entry: python3 tools/validate_contract_presence.py --enforce --quiet
  language: system
  pass_filenames: false

matrix-contract-schema:
  name: Matrix Contract Schema Validation
  entry: python3 tools/matrix_gate.py --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

opa-format:
  name: Format OPA policies
  entry: opa fmt -w
  language: system

matrix-identity-validation:
  name: Matrix Identity Block Validation
  entry: python3 tools/matrix_gate.py --identity --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

lukhas-tier-consistency:
  name: ΛiD Tier Consistency Check
  entry: python3 tools/lukhas_id_bridge.py --check-consistency
  language: system
  pass_filenames: false

block-labs-imports:
  name: Block direct labs imports in production lanes
  entry: bash scripts/consolidation/block_labs_imports.sh
  language: system
  pass_filenames: false
  stages:
  - commit

import-linter:
  name: Import Isolation Guard (Simulation Lane)
  entry: import-linter
  language: system
  args:
  - --cache-dir
  - .importlinter_cache
  pass_filenames: false

simulation-lane-safety:
  name: Simulation Lane Safety Check
  entry: bash
  language: system
  args:
  - .claude/commands/95_sim_lane_summary.yaml
  pass_filenames: false

guardrail-check:
  name: guardrail-check (ban direct LLM calls)
  entry: python3 scripts/ci/check_guardrail_usage.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

matrix-contract-validation:
  name: Validate Matrix Contracts
  entry: python3 tools/pre_commit_matrix_check.py
  language: system
  pass_filenames: true

telemetry-semconv-validation:
  name: Validate Telemetry Semantic Conventions
  entry: python3 tools/pre_commit_telemetry_check.py
  language: system
  pass_filenames: true

demo-script-validation:
  name: Validate Matrix Tracks Demo Scripts
  entry: python3 tools/pre_commit_demo_lint.py
  language: system
  pass_filenames: true

reject-legacy-directory-index:
  name: Reject legacy directory_index.json files
  entry: python3 -c "import sys; files=[f for f in sys.argv[1:] if 'directory_index.json' in f]; sys.exit(1 if files else 0)"
  language: system
  pass_filenames: true

validate-module-manifests-changed:
  name: T4 Module Manifest Validation
  entry: python3 tools/manifest_validate.py --all
  language: system
  pass_filenames: false

validate-configs-and-secrets:
  name: Validate configs and detect secrets
  entry: python3 tools/validate_configs.py
  language: system
  pass_filenames: false

manifest-validate:
  name: Manifest Validate
  entry: python3 tools/manifest_validate.py
  language: system
  pass_filenames: false

manifest-lock:
  name: Manifest Lock Hydrator
  entry: python3 tools/manifest_lock_hydrator.py
  language: system
  pass_filenames: false

mcp-config-verify:
  name: 'Guard: MCP config verify'
  entry: python3 tools/mcp/verify_config.py
  language: system

chore(labot): import ΛBot files (group 6)
  prompts/labot/lukhas_identity_core.md
  prompts/labot/lukhas_identity_webauthn.md
Due: none

chore(labot): import ΛBot files (group 7)
  prompts/labot/lukhas_governance_guardian.md
  prompts/labot/matriz_core_engine.md
Due: none

chore(labot): import ΛBot files (group 8)
  prompts/labot/matriz_adapters_llm_adapter.md
  prompts/labot/matriz_memory_context.md
Due: none

chore(labot): import ΛBot files (group 9)
  prompts/labot/core_monitoring_metrics.md
  prompts/labot/matriz_bio_adaptation.md
Due: none

chore(labot): import ΛBot files (group 10)
  prompts/labot/core_security_encryption.md
  reports/evolve_candidates.json
Due: none

chore(labot): import ΛBot files (group 11)
  requests/labot/serve_identity_middleware.pr.yml
  requests/labot/serve_main.pr.yml
Due: none

chore(labot): import ΛBot files (group 12)
  requests/labot/serve_responses.pr.yml
  requests/labot/serve_streaming.pr.yml
Due: none

chore(labot): import ΛBot files (group 13)
  requests/labot/serve_error_handling.pr.yml
  requests/labot/serve_middleware_cors.pr.yml
Due: none

chore(labot): import ΛBot files (group 14)
  requests/labot/lukhas_identity_core.pr.yml
  requests/labot/lukhas_identity_webauthn.pr.yml
Due: none

chore(labot): import ΛBot files (group 15)
  requests/labot/lukhas_governance_guardian.pr.yml
  requests/labot/matriz_core_engine.pr.yml
Due: none

chore(labot): import ΛBot files (group 16)
  requests/labot/matriz_adapters_llm_adapter.pr.yml
  requests/labot/matriz_memory_context.pr.yml
Due: none

chore(labot): import ΛBot files (group 17)
  requests/labot/core_monitoring_metrics.pr.yml
  requests/labot/matriz_bio_adaptation.pr.yml
Due: none

chore(labot): import ΛBot files (group 18)
  requests/labot/core_security_encryption.pr.yml
Due: none

chore(labot): import ΛBot files (group 19)
  .github/PULL_REQUEST_TEMPLATE.md
  tools/labot.py
Due: block-labs-imports, guardrail-check

chore(labot): import ΛBot files (group 20)
  .github/workflows/labot_audit.yml
  prompts/_templates/test_surgeon_system_prompt.md
Due: none

chore(labot): import ΛBot files (group 21)
  LABOT_DEPLOYMENT_COMPLETE.md
Due: none

fix(tools): prevent splitter from adding unrelated working directory changes
  scripts/split_labot_import.sh
Due: none

chore(labot): import ΛBot files (group 1)
  .labot/config.yml
  tools/labot.py
Due: block-labs-imports, guardrail-check

docs(docs): add complete PostgreSQL schema for lukhas.team platform
  docs/lukhas-team/DATABASE_SCHEMA_COMPLETE.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(agents): comprehensive task documentation for Jules, Claude Web, and Codex
  tasks/CLAUDE_CODE_WEB_COMPREHENSIVE.md
  tasks/CLAUDE_WEB_TASKS.md
  tasks/CODEX_PROMPTS.md
  tasks/JULES_TODO.md
Due: none

docs(P1): add API Caching Performance Guide and Logging Standards
  docs/development/LOGGING_STANDARDS.md
  docs/performance/API_CACHING_GUIDE.md
Due: check-markdown-encoding, validate-docs-frontmatter

feat(tools): add OpenAPI drift detection with CI integration
  .github/workflows/api_drift_check.yml
  tools/check_openapi_drift.py
Due: block-labs-imports, guardrail-check

codex: scaffold 01-make-labot-prs-draft-by-default
  codex_artifacts/branch_markers/01-make-labot-prs-draft-by-default.txt
Due: none

codex: scaffold 02-guard-patch-enhancements
  codex_artifacts/branch_markers/02-guard-patch-enhancements.txt
Due: none

codex: scaffold 03-split-import-script-safe-reimport
  codex_artifacts/branch_markers/03-split-import-script-safe-reimport.txt
Due: none

codex: scaffold 04-opa-policy-ci-integration
  codex_artifacts/branch_markers/04-opa-policy-ci-integration.txt
Due: none

codex: scaffold 05-dast-eqnox-wiring-tasks
  codex_artifacts/branch_markers/05-dast-eqnox-wiring-tasks.txt
Due: none

codex: scaffold 06-openapi-drift-deeper-check
  codex_artifacts/branch_markers/06-openapi-drift-deeper-check.txt
Due: none

docs(session): comprehensive session summary for Jan 8 documentation sprint
  SESSION_SUMMARY_JAN_08.md
Due: none

chore(labot): import ΛBot files (group 1) (#1224)
  .labot/config.yml
  tools/labot.py
Due: block-labs-imports, guardrail-check

chore(labot): import ΛBot files (group 21) (#1223)
  LABOT_DEPLOYMENT_COMPLETE.md
Due: none

docs(session): update PR merge status - all 4 PRs successfully merged
  SESSION_SUMMARY_JAN_08.md
Due: none

chore(labot): add task delegation files and enable draft PRs by default
  tasks/CLAUDE_WEB_TASKS.md
  tasks/CODEX_PROMPTS.md
  tasks/JULES_TODO.md
  tools/labot.py
Due: block-labs-imports, guardrail-check

feat: Add Codex tasks for various enhancements and integrations
  LAMBDA_ID_AUTHENTICATION_AUDIT.md
  codex_artifacts/requests/01-make-labot-prs-draft-by-default.md
  codex_artifacts/requests/02-guard-patch-enhancements.md
  codex_artifacts/requests/03-split-import-script-safe-reimport.md
  codex_artifacts/requests/04-opa-policy-ci-integration.md
  codex_artifacts/requests/05-dast-eqnox-wiring-tasks.md
  codex_artifacts/requests/06-openapi-drift-deeper-check.md
  codex_artifacts/requests/create_codex_prs.sh
  codex_artifacts/requests/manifest.json
  scripts/push_codex_prompts.py
  tasks/CLAUDE_CODE_WEB_COMPREHENSIVE.md
Due: block-labs-imports, guardrail-check

feat(security): implement SLSA Level 2 provenance with supply chain security
  .github/workflows/slsa_provenance.yml
  docs/security/SLSA_PROVENANCE.md
  scripts/slsa_verify.sh
  tests/test_slsa_provenance.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

revert(audit): remove Lambda ID audit for proper PR workflow
  LAMBDA_ID_AUTHENTICATION_AUDIT.md
Due: none

docs(auth): add ΛiD authentication system audit
  LAMBDA_ID_AUTHENTICATION_AUDIT.md
Due: none

feat: Comprehensive task implementation - P1 docs, web products, and production infrastructure
  .claude/agents/api-bridge-specialist.md
  .github/workflows/slsa-build.yml
  .slsa/README.md
  COMPREHENSIVE_TASK_COMPLETION_REPORT.md
  docs/development/LOGGING_STANDARDS.md
  docs/performance/API_CACHING_GUIDE.md
  products/dream_playground/Dockerfile
  products/dream_playground/README.md
  products/dream_playground/frontend/package.json
  products/dream_playground/frontend/src/App.tsx
  products/dream_playground/frontend/src/api/dreamAPI.ts
  products/dream_playground/frontend/src/components/DreamInput.tsx
  products/dream_playground/frontend/src/components/DreamOutput.tsx
  products/dream_playground/frontend/src/components/EmotionalStateChart.tsx
  products/dream_playground/frontend/src/components/TierComparison.tsx
  products/dream_playground/frontend/src/index.css
  products/dream_playground/frontend/src/main.tsx
  products/dream_playground/frontend/src/types/dream.ts
  products/dream_playground/frontend/tailwind.config.js
  products/dream_playground/frontend/tsconfig.json
  products/dream_playground/frontend/tsconfig.node.json
  products/dream_playground/frontend/vite.config.ts
  products/dream_playground/nginx.conf
  products/status_page/README.md
  products/status_page/src/charts.js
  products/status_page/src/status.js
  products/status_page/src/styles.css
  scripts/benchmark_cache.py
  scripts/containerized-run.sh
  scripts/fix_duplicate_loggers.py
  tools/check_openapi_drift.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

chore(labot): import ΛBot files (group 2) (#1205)
  .github/workflows/labot_plan.yml
  scripts/run_labot.sh
Due: none

chore(labot): import ΛBot files (group 3) (#1206)
  prompts/labot/serve_identity_middleware.md
  prompts/labot/serve_main.md
Due: none

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$
