Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

matrix-contract-presence:
  name: Matrix Contract Presence
  entry: python3 tools/validate_contract_presence.py --enforce --quiet
  language: system
  pass_filenames: false

matrix-contract-schema:
  name: Matrix Contract Schema Validation
  entry: python3 tools/matrix_gate.py --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

opa-format:
  name: Format OPA policies
  entry: opa fmt -w
  language: system

matrix-identity-validation:
  name: Matrix Identity Block Validation
  entry: python3 tools/matrix_gate.py --identity --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

lukhas-tier-consistency:
  name: ΛiD Tier Consistency Check
  entry: python3 tools/lukhas_id_bridge.py --check-consistency
  language: system
  pass_filenames: false

block-labs-imports:
  name: Block direct labs imports in production lanes
  entry: bash scripts/consolidation/block_labs_imports.sh
  language: system
  pass_filenames: false
  stages:
  - commit

import-linter:
  name: Import Isolation Guard (Simulation Lane)
  entry: import-linter
  language: system
  args:
  - --cache-dir
  - .importlinter_cache
  pass_filenames: false

simulation-lane-safety:
  name: Simulation Lane Safety Check
  entry: bash
  language: system
  args:
  - .claude/commands/95_sim_lane_summary.yaml
  pass_filenames: false

guardrail-check:
  name: guardrail-check (ban direct LLM calls)
  entry: python3 scripts/ci/check_guardrail_usage.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

matrix-contract-validation:
  name: Validate Matrix Contracts
  entry: python3 tools/pre_commit_matrix_check.py
  language: system
  pass_filenames: true

telemetry-semconv-validation:
  name: Validate Telemetry Semantic Conventions
  entry: python3 tools/pre_commit_telemetry_check.py
  language: system
  pass_filenames: true

demo-script-validation:
  name: Validate Matrix Tracks Demo Scripts
  entry: python3 tools/pre_commit_demo_lint.py
  language: system
  pass_filenames: true

reject-legacy-directory-index:
  name: Reject legacy directory_index.json files
  entry: python3 -c "import sys; files=[f for f in sys.argv[1:] if 'directory_index.json' in f]; sys.exit(1 if files else 0)"
  language: system
  pass_filenames: true

validate-module-manifests-changed:
  name: T4 Module Manifest Validation
  entry: python3 tools/manifest_validate.py --all
  language: system
  pass_filenames: false

validate-configs-and-secrets:
  name: Validate configs and detect secrets
  entry: python3 tools/validate_configs.py
  language: system
  pass_filenames: false

manifest-validate:
  name: Manifest Validate
  entry: python3 tools/manifest_validate.py
  language: system
  pass_filenames: false

manifest-lock:
  name: Manifest Lock Hydrator
  entry: python3 tools/manifest_lock_hydrator.py
  language: system
  pass_filenames: false

mcp-config-verify:
  name: 'Guard: MCP config verify'
  entry: python3 tools/mcp/verify_config.py
  language: system

feat(governance): branding and governance compliance system (#1171)
  branding/websites/lukhas.ai/homepage.md
  branding/websites/lukhas.dev/homepage.md
  matriz/consciousness/reflection/EthicalReasoningSystem.py
Due: block-labs-imports, guardrail-check, check-license-headers

fix(t4): remove unused logging imports (F401) (#1172)
  api/optimization/advanced_middleware.py
  api/optimization/analytics_dashboard.py
  api/optimization/integration_hub.py
  labs/consciousness/reasoning/reasoning_engine.py
  labs/consciousness/systems/unified_consciousness_engine.py
Due: block-labs-imports, guardrail-check

audit: GitHub issues comprehensive audit (#1169)
  core/security/encryption_manager.py
  monitoring/integration_hub.py
Due: block-labs-imports, guardrail-check, check-license-headers

style(t4): format test files with black standards
  symbolic/tests/test_symbolic_unit.py
  tests/reliability/test_0_01_percent_features.py
Due: block-labs-imports, guardrail-check

chore: update Claude Code permission settings
  Lukhas.code-workspace
Due: none

feat(t4): F821 scan infrastructure + comprehensive analysis
  F821_SCAN_RESULTS.md
  tools/ci/f821_scan.py
Due: block-labs-imports, guardrail-check

feat(t4): F821 Quick Win + heuristic import fixes (22 issues)
  scripts/generate_complete_inventory.py
  tools/ci/f821_fix_booleans.py
  tools/ci/f821_import_inserter.py
  tools/module_schema_validator.py
Due: block-labs-imports, guardrail-check

feat(t4): update scanner to use latest F821 JSON
  tools/ci/f821_scan.py
Due: block-labs-imports, guardrail-check

feat(t4): F821 bulk remediation codemods
  F821_BULK_REMEDIATION_READY.md
  tools/ci/codemods/add_bulk_imports.py
  tools/ci/codemods/add_metrics_counters.py
  tools/ci/rebuild_creative_imports.py
Due: block-labs-imports, guardrail-check

style(t4): format F821 tool files
  tools/ci/f821_fix_booleans.py
  tools/ci/f821_import_inserter.py
  tools/ci/f821_scan.py
Due: block-labs-imports, guardrail-check

docs(github): add comprehensive PR template
  .github/pull_request_template.md
Due: none

ci(testing): add smoke test stability monitoring
  .github/workflows/smoke-stability.yml
  scripts/analyze_test_stability.py
Due: block-labs-imports, guardrail-check

feat(infra): add docker-compose for integration tests
  .coverage-baseline
  .env.integration.example
  .github/workflows/coverage.yml
  .gitignore
  Makefile
  devtools/docker-compose.integration.yml
  pyproject.toml
  scripts/run_integration.sh
Due: none

fix(api): add deterministic caching to /v1/models endpoint
  tests/integration/serve/conftest.py
  tests/integration/serve/test_api.py
Due: block-labs-imports, guardrail-check

docs(governance): add CODEOWNERS and branch protection docs
  .github/CODEOWNERS
  docs/governance/branch_protection.md
Due: check-markdown-encoding, validate-docs-frontmatter

ci(testing): add code coverage tracking and enforcement
  .github/workflows/coverage.yml
  pyproject.toml
Due: none

fix(api): add deterministic caching to /v1/models endpoint
  serve/main.py
  tests/integration/serve/conftest.py
  tests/integration/serve/test_api.py
Due: block-labs-imports, guardrail-check

feat(guardian): implement emergency kill-switch system
  guardian/emergency.py
  tests/unit/guardian/__init__.py
  tests/unit/guardian/test_emergency.py
Due: block-labs-imports, guardrail-check

fix(lint): identify E402 import order violations for batch fix (batch 1)
  release_artifacts/checks/quality/e402_batch1_files.txt
Due: none

feat(devtools): add test failure to proposal converter
  .github/workflows/lint-ratchet.yml
  release_artifacts/proposals/patches/dep-pydantic-3.patch
  release_artifacts/proposals/patches/dep-requests-1.patch
  release_artifacts/proposals/patches/dep-sqlalchemy-1.patch
  release_artifacts/proposals/proposals.json
  release_artifacts/test_results_summary.txt
  scripts/check_lint_ratchet.py
  tests/unit/tools/test_error2proposal.py
  tools/error2proposal.py
Due: block-labs-imports, guardrail-check

fix(lint): batch fix E402 import order violations
  release_artifacts/checks/quality/e402_batch1_files.txt
Due: none

ci(quality): add lint ratchet to prevent E402/F821 regression
  .github/workflows/lint-ratchet.yml
  scripts/check_lint_ratchet.py
Due: block-labs-imports, guardrail-check

feat(devtools): add archive salvage audit tool
  release_artifacts/archive/restoration_proposals.md
  scripts/audit_archive.py
Due: block-labs-imports, guardrail-check

refactor(llm): migrate direct openai calls to unified adapter
  qi/post_quantum_crypto_v2.py
  release_artifacts/quality/noqa_cleanup.patch
  rl/tests/test_formal_verification.py
  scripts/bench_e2e_quiet.py
  scripts/security/build_security_posture_artifacts.py
  scripts/validate_dynamic_id_hardening.py
  scripts/validate_ledger_performance.py
  tests/unit/candidate/consciousness/dream/test_dream_feedback_controller.py
  tests/unit/candidate/core/test_task_manager.py
  tests/unit/core/colonies/test_oracle_colony.py
  tests/unit/identity/test_matriz_consciousness_identity_signals.py
  tests/unit/memory/test_fold_lineage_entanglement.py
Due: block-labs-imports, guardrail-check

chore(lint): remove unused noqa comments (RUF100)
  MIGRATION_SUMMARY.md
  qi/post_quantum_crypto_v2.py
  release_artifacts/quality/noqa_cleanup.patch
  rl/tests/test_formal_verification.py
  scripts/bench_e2e_quiet.py
  scripts/security/build_security_posture_artifacts.py
  scripts/validate_dynamic_id_hardening.py
  scripts/validate_ledger_performance.py
  tests/unit/candidate/consciousness/dream/test_dream_feedback_controller.py
  tests/unit/candidate/core/test_task_manager.py
  tests/unit/core/colonies/test_oracle_colony.py
  tests/unit/identity/test_matriz_consciousness_identity_signals.py
  tests/unit/memory/test_fold_lineage_entanglement.py
Due: block-labs-imports, guardrail-check

refactor(labs): standardize OpenAI calls via llm_adapter in MEG guards
  labs/memory/temporal/meg_openai_guard.py
  serve/main.py
Due: block-labs-imports, guardrail-check

fix(F821): bulk import 47 consciousness classes (50 issues)
  qi/engines/creativity/creative_q_expression.py
Due: block-labs-imports, guardrail-check

fix(F821): add Prometheus Counter imports (19 issues)
  lukhas_website/lukhas/api/oidc.py
Due: block-labs-imports, guardrail-check

docs(ops): PR merge session summary - 13 Jules PRs queued, 1 merged
  PR_MERGE_SESSION_2025-11-09.md
Due: none

docs(ops): complete Jules PR merge session - 13/13 PRs merged (100% success)
  JULES_PR_MERGE_COMPLETE_2025-11-09.md
Due: none

docs(testing): comprehensive test delegation guide for Claude.ai
  MISSING_TESTS_DELEGATION_GUIDE.md
Due: none

fix(scripts): Add missing file read to fix_duplicate_docstrings.py [F821]
  scripts/fix_duplicate_docstrings.py
  tools/ci/analyze_top_file.py
  tools/ci/codemods/fix_duplicate_docstrings_bug.py
  tools/ci/rebuild_creative_imports.py
Due: block-labs-imports, guardrail-check

feat(automation): Jules Batch 4 - non-test implementation (8 sessions)
  scripts/create_jules_batch4_non_test.py
Due: block-labs-imports, guardrail-check

fix(tests): Add MATRIZThoughtLoop class import [F821]
  tests/integration/test_matriz_complete_thought_loop.py
Due: block-labs-imports, guardrail-check

fix(tests): Fix self-referencing app assignments [F821]
  tests/unit/test_ratelimit_headers.py
Due: block-labs-imports, guardrail-check

feat(automation): Jules Batch 5 - Architecture & Infrastructure (6 sessions)
  scripts/create_jules_batch5_architecture.py
Due: block-labs-imports, guardrail-check

docs(jules): comprehensive status report for all 40 sessions
  JULES_COMPLETE_STATUS_JAN_08.md
Due: none

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$
