Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$

refactor(governance): relocate guardian_reflector to canonical location
  governance/guardian_reflector.py
  lukhas_website/lukhas/governance/guardian/reflector.py
  scripts/validate_guardian_integration.py
Due: block-labs-imports, guardrail-check

refactor(governance): Relocate guardian_reflector to canonical location (#1364)
  governance/guardian_reflector.py
  lukhas_website/lukhas/governance/guardian/reflector.py
  scripts/validate_guardian_integration.py
Due: block-labs-imports, guardrail-check

docs(hygiene): TODO migration issues analysis and consolidation
  docs/audits/TODO_MIGRATION_ISSUES_ANALYSIS_2025-11-12.md
Due: check-markdown-encoding, validate-docs-frontmatter

feat(lukhas.id): implement identity authentication portal with WebGL particle hero
  websites/packages/lukhas.id/README.md
  websites/packages/lukhas.id/package.json
  websites/packages/lukhas.id/postcss.config.js
  websites/packages/lukhas.id/src/App.tsx
  websites/packages/lukhas.id/src/index.css
  websites/packages/lukhas.id/src/main.tsx
  websites/packages/lukhas.id/src/pages/HomePage.tsx
  websites/packages/lukhas.id/src/pages/LoginPage.tsx
  websites/packages/lukhas.id/src/pages/RegisterPage.tsx
  websites/packages/lukhas.id/tailwind.config.js
  websites/packages/lukhas.id/tsconfig.json
  websites/packages/lukhas.id/tsconfig.node.json
  websites/packages/lukhas.id/vite.config.ts
  websites/packages/ui/package.json
  websites/pnpm-lock.yaml
Due: none

docs(hygiene): GitHub issues triage and TODO consolidation (36→24 issues) (#1368)
  docs/audits/GITHUB_ISSUES_TRIAGE_2025-11-12.md
  docs/audits/TODO_MIGRATION_ISSUES_ANALYSIS_2025-11-12.md
Due: check-markdown-encoding, validate-docs-frontmatter

T4: Modernize core observability, providers, and reliability modules
  core/observability/__init__.py
  core/providers/registry.py
  core/reliability/idempotency.py
Due: block-labs-imports, guardrail-check, check-license-headers

docs(guardian): update documentation to reflect Phase 3 consolidation completion
  claude.me
  docs/GUARDIAN_STRUCTURE_CONSOLIDATION_AUDIT_2025-11-12.md
  docs/architecture/GUARDIAN_SYSTEM.md
  docs/development/GUARDIAN_IMPORTS.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(guardian): Phase 3 documentation updates (#1378)
  claude.me
  docs/GUARDIAN_STRUCTURE_CONSOLIDATION_AUDIT_2025-11-12.md
  docs/architecture/GUARDIAN_SYSTEM.md
  docs/development/GUARDIAN_IMPORTS.md
Due: check-markdown-encoding, validate-docs-frontmatter

T4: Modernize core reliability, tags, and utils typing annotations
  core/reliability/idempotency_redis.py
  core/tags/__init__.py
  core/utils/__init__.py
Due: block-labs-imports, guardrail-check, check-license-headers

chore(todo): add 7 lazy-load import-safe test tasks to MASTER_LOG
  todo/MASTER_LOG.md
Due: none

T4: Modernize WaveC checkpoint system typing annotations
  core/wavec/checkpoint.py
Due: block-labs-imports, guardrail-check, check-license-headers

T4: Modernize DAST orchestrator typing annotations
  dast/orchestrator.py
Due: block-labs-imports, guardrail-check

chore(todo): add 12 alignment substrate tasks to MASTER_LOG
  todo/MASTER_LOG.md
Due: none

T4: Modernize governance, ΛiD token, and dev script typing annotations
  fix_type_annotations.py
  governance/metrics/confidence_calibration.py
  lid/token.py
Due: block-labs-imports, guardrail-check

feat(alignment): implement QRG, Dream, WaveC, Mesh, Guardian orchestrator
  bench/prompts_fixed.json
  core/dream/__init__.py
  core/dream/simulator.py
  core/mesh/__init__.py
  core/mesh/resonance.py
  core/orchestrator/__init__.py
  core/orchestrator/guardian_orchestrator.py
  core/qrg/__init__.py
  core/qrg/model.py
  core/qrg/signing.py
  core/wavec/__init__.py
  core/wavec/checkpoint.py
  demo/regret_demo.py
  scripts/dream_validate_pr.py
  todo/MASTER_LOG.md
Due: block-labs-imports, guardrail-check, check-license-headers

chore(planning): add MATRIZ migration phase plan with 14 tasks
  scripts/migration/matriz_inventory.sh
  scripts/migration/prepare_matriz_migration_prs.sh
Due: none

chore(labot): run gh create in draft mode with label
  tools/labot.py
Due: block-labs-imports, guardrail-check

Tighten DAST adapter typing
  docs/ADR/ADR-0003-dast-adapter-interface.md
  lukhas/adapters/dast_adapter.py
  tests/integration/test_dast_adapter_integration.py
  tests/unit/test_dast_adapter.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

Improve split import dry run output
  scripts/split_labot_import.sh
Due: none

Add guard_patch large import whitelist and policy tooling
  .lukhas/large-import-whitelist.yml
  .policy/rules.rego
  tests/__init__.py
  tests/pytest_timeout_shim.py
  tests/test_check_policy.py
  tests/test_guard_patch.py
  tools/check_policy.py
  tools/guard_patch.py
Due: opa-format, block-labs-imports, guardrail-check

ci: add labot audit opa policy check
  .github/workflows/labot_audit.yml
Due: none

Improve schema diff path formatting
  tests/tools/test_check_openapi_drift.py
  tools/check_openapi_drift.py
Due: block-labs-imports, guardrail-check

Add status update for OpenAPI drift task
  codex_artifacts/requests/06-openapi-drift-deeper-check.md
Due: none

Add regression test for removed OpenAPI responses
  tests/tools/test_check_openapi_drift.py
Due: block-labs-imports, guardrail-check

feat(lukhas.com): implement corporate Guardian Hub with Trust Blue theme
  websites/packages/lukhas.com/package.json
  websites/packages/lukhas.com/postcss.config.js
  websites/packages/lukhas.com/src/App.tsx
  websites/packages/lukhas.com/src/index.css
  websites/packages/lukhas.com/src/main.tsx
  websites/packages/lukhas.com/src/pages/EnterprisePage.tsx
  websites/packages/lukhas.com/src/pages/HomePage.tsx
  websites/packages/lukhas.com/src/pages/SolutionsPage.tsx
  websites/packages/lukhas.com/tailwind.config.js
  websites/packages/lukhas.com/tsconfig.json
  websites/packages/lukhas.com/tsconfig.node.json
  websites/packages/lukhas.com/vite.config.ts
  websites/pnpm-lock.yaml
Due: none

T4: UP035 modernization batch #2
  core/qrg/signing.py
  core/wavec/checkpoint.py
  lukhas/analytics/privacy_client.py
  lukhas/api/analytics.py
  lukhas/api/auth_helpers.py
  todo/MASTER_LOG.md
Due: block-labs-imports, guardrail-check, check-license-headers

chore(labot): run gh create in draft mode with label (#1385)
  tools/labot.py
Due: block-labs-imports, guardrail-check

Tighten DAST adapter typing (#1386)
  docs/ADR/ADR-0003-dast-adapter-interface.md
  lukhas/adapters/dast_adapter.py
  tests/integration/test_dast_adapter_integration.py
  tests/unit/test_dast_adapter.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

Improve split import dry run output (#1387)
  scripts/split_labot_import.sh
Due: none

Add guard_patch large import whitelist and policy tooling (#1388)
  .lukhas/large-import-whitelist.yml
  .policy/rules.rego
  tests/__init__.py
  tests/pytest_timeout_shim.py
  tests/test_check_policy.py
  tests/test_guard_patch.py
  tools/check_policy.py
  tools/guard_patch.py
Due: opa-format, block-labs-imports, guardrail-check
