Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock

matrix-contract-presence:
  name: Matrix Contract Presence
  entry: python3 tools/validate_contract_presence.py --enforce --quiet
  language: system
  pass_filenames: false

matrix-contract-schema:
  name: Matrix Contract Schema Validation
  entry: python3 tools/matrix_gate.py --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

opa-format:
  name: Format OPA policies
  entry: opa fmt -w
  language: system

matrix-identity-validation:
  name: Matrix Identity Block Validation
  entry: python3 tools/matrix_gate.py --identity --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

lukhas-tier-consistency:
  name: ΛiD Tier Consistency Check
  entry: python3 tools/lukhas_id_bridge.py --check-consistency
  language: system
  pass_filenames: false

guardrail-check:
  name: guardrail-check (ban direct LLM calls)
  entry: python3 scripts/ci/check_guardrail_usage.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

matrix-contract-validation:
  name: Validate Matrix Contracts
  entry: python3 tools/pre_commit_matrix_check.py
  language: system
  pass_filenames: true

telemetry-semconv-validation:
  name: Validate Telemetry Semantic Conventions
  entry: python3 tools/pre_commit_telemetry_check.py
  language: system
  pass_filenames: true

demo-script-validation:
  name: Validate Matrix Tracks Demo Scripts
  entry: python3 tools/pre_commit_demo_lint.py
  language: system
  pass_filenames: true

reject-legacy-directory-index:
  name: Reject legacy directory_index.json files
  entry: python3 -c "import sys; files=[f for f in sys.argv[1:] if 'directory_index.json' in f]; sys.exit(1 if files else 0)"
  language: system
  pass_filenames: true

validate-module-manifests-changed:
  name: T4 Module Manifest Validation
  entry: python3 tools/manifest_validate.py --all
  language: system
  pass_filenames: false

validate-configs-and-secrets:
  name: Validate configs and detect secrets
  entry: python3 tools/validate_configs.py
  language: system
  pass_filenames: false

manifest-validate:
  name: Manifest Validate
  entry: python3 tools/manifest_validate.py
  language: system
  pass_filenames: false

manifest-lock:
  name: Manifest Lock Hydrator
  entry: python3 tools/manifest_lock_hydrator.py
  language: system
  pass_filenames: false

docs(release): add Zenodo sandbox upload results and production instructions
  docs/releases/ZENODO_PRODUCTION_NEXT_STEPS.md
  docs/releases/ZENODO_PUBLICATION_CHECKLIST.md
  docs/releases/v0.02-final-ZENODO.json
  zenodo.metadata.json
Due: none

docs(release): add Zenodo production DOI for v0.02-final
  README.md
  docs/releases/v0.02-final-RELEASE_NOTES.md
  docs/releases/v0.02-final-ZENODO.json
Due: none

docs(release): add GitHub release creation instructions for v0.02-final
  docs/releases/GITHUB_RELEASE_INSTRUCTIONS.md
Due: none

docs(testing): add comprehensive test results summary after import fixes
  TEST_RESULTS_SUMMARY.md
Due: none

fix(imports): add lukhas compatibility namespace with comprehensive shims
  config/tests/test_config_unit.py
  lukhas/aka_qualia.py
  lukhas/bio.py
  lukhas/bridge/__init__.py
  lukhas/bridge/adapters.py
  lukhas/bridge/api.py
  lukhas/bridge/api_gateway/__init__.py
  lukhas/bridge/api_gateway/route_handlers.py
  lukhas/bridge/external_adapters.py
  lukhas/bridge/llm_wrappers/__init__.py
  lukhas/bridge/llm_wrappers/anthropic_wrapper.py
  lukhas/bridge/llm_wrappers/base_wrapper.py
  lukhas/bridge/llm_wrappers/openai_wrapper.py
  lukhas/bridge/orchestration/__init__.py
  lukhas/bridge/orchestration/context_bus.py
  lukhas/bridge/orchestration/pipeline_manager.py
  lukhas/bridge/trace_logger.py
  lukhas/cognitive_core.py
  lukhas/consciousness.py
  lukhas/core/ethics.py
  lukhas/core/governance.py
  lukhas/core/registry.py
  lukhas/emotion/__init__.py
  lukhas/emotion/examples/__init__.py
  lukhas/emotion/examples/basic.py
  lukhas/governance/__init__.py
  lukhas/governance/ethics.py
  lukhas/governance/guardian_system_integration.py
  lukhas/governance/identity.py
  lukhas/governance/schema_registry.py
  lukhas/identity.py
  lukhas/observability.py
  lukhas/qi.py
  lukhas/tools.py
  pyproject.toml
Due: matrix-contract-presence, guardrail-check

feat(imports): add runtime import alias hook for dynamic lukhas.* resolution
  tests/conftest.py
  tests/smoke/test_entrypoints.py
  tests/smoke/test_experimental_smoke.py
  tests/smoke/test_traces_router.py
Due: guardrail-check

chore(imports): doctor-driven package shims + alias hook v2 with ledgered audit trail
  Makefile
  lukhas/bio/__init__.py
  lukhas/bio/utils.py
  lukhas/consciousness/__init__.py
  lukhas/consciousness/matriz_thought_loop.py
  lukhas/governance/schema_registry.py
  scripts/gen_lukhas_pkg_shims.py
  tests/conftest.py
  tools/import_doctor.py
Due: matrix-contract-presence, guardrail-check

feat(imports): add ledger analysis, safe codemod, and CI gate for systematic migration
  Makefile
  scripts/ci/gate_legacy_imports.py
  tools/analyze_lukhas_ledger.py
  tools/codemod_lukhas_from_ledger.py
Due: guardrail-check

chore(ci): establish legacy import baseline (alias_hits=631)
  artifacts/legacy_import_baseline.json
Due: none

feat(infrastructure): add T4/0.01% docs/tests migration toolchain and compatibility shims
  .github/workflows/module-structure.yml
  Makefile
  experimental/__init__.py
  matriz/__init__.py
  scripts/docs/build_docs_map.py
  scripts/docs/check_broken_links.py
  scripts/docs/generate_module_health.py
  scripts/docs/migrate_docs_auto.py
  scripts/docs/validate_frontmatter.py
  scripts/tests/migrate_tests_auto.py
Due: guardrail-check

fix(docs-migration): robust path inference; skip special root docs; use filesystem paths
  agents/docs/AGENTS.md
  consciousness/simulation/docs/lukhas_context.md
Due: none

feat(docs): update AGENTS.md with module metadata; add lukhas_context.md redirect
  .claude/settings.local.json
  agents/docs/AGENTS.md
  consciousness/simulation/lukhas_context.md
Due: none

fix(validation): skip Jinja2 template files in frontmatter validation
  scripts/docs/validate_frontmatter.py
Due: guardrail-check

fix(docs): ensure frontmatter is a dictionary before accessing module field
  docs/_generated/MODULE_INDEX.md
  scripts/docs/build_docs_map.py
Due: guardrail-check

refactor(imports): migrate 22 test files from lukhas.* to canonical imports (threshold≥5)
  .claude/settings.local.json
  artifacts/legacy_import_baseline.json
  tests/capabilities/test_backpressure_decimation.py
  tests/capabilities/test_observability_contracts.py
  tests/capabilities/test_router_no_unrouted.py
  tests/contract/golden/test_memory_contract.py
  tests/e2e/consciousness/test_consciousness_emergence.py
  tests/e2e/consciousness/test_consciousness_integration_full.py
  tests/e2e/integration/test_multi_ai_orchestration.py
  tests/e2e/lukhas/test_consciousness.py
  tests/integration/test_integration.py
  tests/integration/test_parallel_orchestration.py
  tests/matriz/test_async_orchestrator_e2e.py
  tests/matriz/test_behavioral_e2e.py
  tests/orchestration/test_async_orchestrator_metrics.py
  tests/perf/test_async_orchestrator_perf.py
  tests/smoke/test_entrypoints.py
  tests/unit/bio/test_bio_symbolic_tz.py
  tests/unit/candidate/core/interfaces/api/v1/test_middleware.py
  tests/unit/candidate/identity/test_identity_basic.py
  tests/unit/core/test_core_wrapper_relationships.py
  tests/unit/memory/test_memory_basic.py
  tests/unit/router/test_signal_type_coverage.py
  tests/unit/test_basic_functions.py
Due: guardrail-check

docs(v0.03-prep): add comprehensive known issues tracking + triage scripts
  docs/v0.03/KNOWN_ISSUES.md
  scripts/ci/gate_legacy_imports.py
  scripts/ci/mark_broken_tests.py
  scripts/ci/triage_syntax_errors.py
  scripts/docs/build_docs_map.py
  scripts/docs/validate_frontmatter.py
  scripts/tests/migrate_tests_auto.py
Due: guardrail-check

docs(v0.03-prep): add comprehensive health report for baseline freeze
  docs/v0.03/v0.03-prep-HEALTH_REPORT.md
Due: none

docs(v0.04): add comprehensive sprint plan for test infrastructure + code quality
  docs/v0.04/SPRINT_PLAN.md
Due: none

docs(hygiene): add THE_VAULT research intelligence brief + terminology corrections
  claude.me
  docs/THE_VAULT_RESEARCH_INTELLIGENCE.md
Due: none

docs(v0.03): add comprehensive GPT-5 module implementation request
  docs/v0.03/GPT5_MODULE_IMPLEMENTATION_REQUEST.md
  tools/fix_test_imports.py
  tools/stub_missing_modules.py
Due: guardrail-check

docs(v0.03): critical discovery - most 'missing' modules actually exist!
  docs/v0.03/FINAL_IMPORT_ASSESSMENT.md
  docs/v0.03/IMPORT_PATH_CORRECTIONS.md
  tools/map_imports_to_actual_modules.py
Due: guardrail-check

docs(runbook): promote curated OPERATIONAL_RUNBOOK; archive GPT-INFO chat; add redirect
  docs/gonzo/GPT-INFO.md
  docs/ops/OPERATIONAL_RUNBOOK.md
  docs/transcripts/claude-code/2025-10-06-GPT-INFO-CHAT.md
Due: none

tools(constellation): add standardization scanner for incomplete star lists
  tools/standardize_constellation.py
Due: guardrail-check

docs(constellation): standardize 8-star mentions in key files
  claude.me
  lukhas_context.md
  tools/fix_trinity_to_constellation.py
  tools/standardize_constellation.py
Due: guardrail-check

feat(imports): Phase A - create explicit bridge modules to unblock test collection
  branding/__init__.py
  consciousness/awareness/__init__.py
  consciousness/dream/__init__.py
  consciousness/reflection/__init__.py
  core/ethics/__init__.py
  core/identity/__init__.py
  core/metrics/__init__.py
  core/policy_guard/__init__.py
Due: guardrail-check

chore(bridges): harden bridge layer with safety gates and contract tests
  .github/workflows/bridge-quality.yml
  core/metrics/__init__.py
  mypy.ini
  pyproject.toml
  tests/bridges/__init__.py
  tests/bridges/test_branding_bridge.py
  tests/bridges/test_consciousness_bridges.py
  tests/bridges/test_core_bridges.py
  tests/bridges/test_metrics_bridge.py
Due: guardrail-check

test(bridges): add contract tests for consciousness extension bridges
  tests/bridges/test_consciousness_extension_bridges.py
Due: guardrail-check

docs(constellation): fix historical 'three pillars' → 'eight stars' references
  .claude/settings.local.json
  branding/CONSTELLATION_FRAMEWORK_BRAND_TRANSFORMATION_SUMMARY.md
  branding/LUKHAS_BRANDING_GUIDE.md
  branding/LUKHAS_LEXICON.md
  branding/the_new_full_stroty.md
  branding/websites/lukhas.ai/homepage.md
  candidate/core/observability/INTERACTIVE_DEBUGGING_STEERING_TOOLS.md
  claude.me
  consciousness/docs/constellation_framework.md
  docs/BRANDING_COMPLIANCE_REPORT.md
  docs/consciousness/constellation_framework.md
  docs/development/PLUGIN_REGISTRY_GUIDE.md
  docs/integration/framework-integration.md
  docs/podcast/host_briefing/COMPLETE_HOST_BRIEFING.md
  docs/web/content/agi_features_showcase.md
  docs/web/content/consciousness_technology_overview.md
  docs/web/content/constellation_framework_integration.md
  integrations/docs/claude_context.md
  lukhas_website/LAMBDA_PRODUCTS_CONTENT.md
  matriz/docs/MATRIX_V3_SLIDES.md
  products/shared/lambda_products_remaining/docs/GRYPTO_ENGINE_MODULE.md
  reports/deep_search/SYSTEM_RECOVERY_COMPLETE.md
  system_claude_audit/DOCS-copy-16-09025/lukhas_context.md
  vocabularies/CONSTELLATION_FRAMEWORK.md
Due: none

feat(bridges): add surgical bridges for API, cognitive, and collapse modules
  bridge/api/analysis/__init__.py
  collapse/simulator/__init__.py
  consciousness/cognitive/__init__.py
  consciousness/cognitive/reasoning/__init__.py
  consciousness/collapse/simulator/__init__.py
  tests/bridges/test_surgical_bridges.py
  tools/collapse_simulator_main/__init__.py
Due: guardrail-check

docs(constellation): improve detection & fix final Trinity variants (227→33 files)
  .claude/settings.local.json
  candidate/cognitive_core/__init__.py
  candidate/core/symbolic_core/GLYPH_CONSCIOUSNESS_PROTOCOLS.md
  candidate/core/symbolic_core/README.md
  candidate/core/symbolic_legacy/GLYPH_CONSCIOUSNESS_PROTOCOLS.md
  candidate/core/symbolic_legacy/README.md
  candidate/observability/__init__.py
  consciousness/consciousness_stream.py
  consciousness/matriz_thought_loop.py
  core/interfaces/__init__.py
  core/registry/__init__.py
  lukhas/bio/utils/__init__.py
  lukhas/governance/schema_registry/__init__.py
  lukhas_website/lukhas/memory/lukhas_context.md
  mcp-lukhas-sse/FINAL_STATUS_REPORT.md
  mcp-lukhas-sse/SUCCESS_CONNECTOR_READY.md
  test_results/memory_system_validation_report.md
  tests/bridges/test_top_missing_contracts.py
  tools/standardize_constellation.py
Due: matrix-contract-presence, guardrail-check

tools(constellation): final detection refinement - exclude code/docstrings (33→24 files)
  .claude/settings.local.json
  candidate/cognitive_core/reasoning/__init__.py
  consciousness/consciousness_stream.py
  consciousness/matriz_thought_loop.py
  lukhas/bio/utils/__init__.py
  lukhas/consciousness/consciousness_stream/__init__.py
  lukhas/consciousness/matriz_thought_loop/__init__.py
  lukhas/governance/schema_registry/__init__.py
  tools/standardize_constellation.py
Due: matrix-contract-presence, guardrail-check

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
