Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$

docs(handoff): Task 2 wrapper modules complete - status update
  TASK_2_COMPLETE.md
Due: none

fix: F403 star import cleanup in tools bridge modules
  tools/tool_executor.py
  tools/tool_executor_guardian.py
  tools/tool_orchestrator.py
Due: block-labs-imports, guardrail-check

fix: F403 star import cleanup - performance monitor
  tools/performance_monitor.py
Due: block-labs-imports, guardrail-check

docs: Comprehensive session completion summary
  SESSION_COMPLETION_SUMMARY.md
Due: none

fix: F403 star import cleanup - consciousness domain expansion
  consciousness/platform.py
  memory/memory_core.py
  orchestration/context_bus.py
  tools/external_service_integration.py
Due: block-labs-imports, guardrail-check

fix: F403 star import cleanup - API domain bridge modules
  api/admin.py
  api/audit.py
  api/dna.py
  api/incidents.py
  api/metrics.py
  api/ops.py
  api/perf.py
  api/tools.py
  serve/openai_routes.py
  tests/unit/serve/test_openai_routes_registration.py
Due: block-labs-imports, guardrail-check

fix: F403 star import cleanup - Bio domain bridge modules
  bio/adapters.py
  bio/compound_governor.py
  bio/matriz_adapter.py
  bio/qi.py
  bio/symbolic_proteome.py
  bio/voice.py
Due: block-labs-imports, guardrail-check

fix: F403 star import cleanup - Core domain batch 1
  core/actor_model.py
  core/actor_system.py
  core/bootstrap.py
  core/consciousness_data_flow.py
  core/coordination.py
  core/core_hub.py
Due: block-labs-imports, guardrail-check, check-license-headers

fix: F403 star import cleanup - Core domain batch 2
  core/bot.py
  core/consistency_manager.py
Due: block-labs-imports, guardrail-check, check-license-headers

feat(tools): add OpenAPI drift detection with CI integration
  .github/workflows/api_drift_check.yml
Due: none

feat(security): implement SLSA Level 2 provenance with supply chain security
  .github/workflows/slsa_provenance.yml
  docs/security/SLSA_PROVENANCE.md
  scripts/slsa_verify.sh
  tests/test_slsa_provenance.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

docs(agents): add centralized caching and logging standards for all agents
  docs/agents/AGENT_UPDATES_2025_01_10.md
  scripts/update_agents_docs.sh
Due: check-markdown-encoding, validate-docs-frontmatter

feat(products): add status page with Prometheus metrics integration
  .github/workflows/deploy_status_page.yml
  products/status_page/index.html
  products/status_page/status.js
Due: none

test(serve): add comprehensive tests for serve modules
  tests/serve/__init__.py
  tests/serve/test_identity_api.py
  tests/serve/test_main.py
  tests/serve/test_strict_auth.py
Due: block-labs-imports, guardrail-check

docs(merge): add rebase and merge completion summary
  REBASE_MERGE_COMPLETE.md
Due: none

test(serve): comprehensive test suite for serve/openai_routes.py (46 tests)
  tests/unit/serve/test_openai_routes.py
Due: block-labs-imports, guardrail-check

feat(api): add production API routes for dreams, glyphs, and drift monitoring
  docs/api/CORE_WIRING_API.md
  lukhas_website/lukhas/api/dreams.py
  lukhas_website/lukhas/api/drift.py
  lukhas_website/lukhas/api/glyphs.py
  serve/main.py
  tests/unit/lukhas/test_api_routes.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

feat(wiring): add production-safe wrapper modules for consciousness, dreams, and glyphs
  docs/wrappers/WRAPPER_MODULES.md
  lukhas/consciousness/__init__.py
  lukhas/dream/__init__.py
  lukhas/glyphs/__init__.py
  tests/unit/lukhas/test_wrappers.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

audit(identity): comprehensive user_id integration audit 2025-11-10
  docs/audits/identity/USER_ID_INTEGRATION_AUDIT_2025-11-10.md
Due: check-markdown-encoding, validate-docs-frontmatter

feat(testing): add comprehensive performance benchmarks and smoke tests
  .benchmarks/README.md
  docs/testing/PERFORMANCE_TESTING.md
  tests/performance/test_core_wiring_benchmarks.py
  tests/smoke/test_core_wiring_smoke.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

audit(systems): comprehensive endocrine and feedback system audits 2025-11-10
  docs/audits/systems/ENDOCRINE_SYSTEM_AUDIT_2025-11-10.md
  docs/audits/systems/USER_FEEDBACK_SYSTEM_AUDIT_2025-11-10.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(audit): add GPT-5 Pro review prompt for pre-launch audit analysis
  docs/audits/GPT5_PRO_REVIEW_PROMPT.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(core): add comprehensive prompts for Tasks 3-8 completion
  PROMPTS_FOR_CLAUDE_CODE_WEB.md
Due: none

docs: add PR description for core wiring launch
  PR_DESCRIPTION.md
Due: none

test(serve): comprehensive test suite for serve/routes.py (39 tests)
  tests/unit/serve/test_routes.py
Due: block-labs-imports, guardrail-check

fix: F403 star import cleanup - Governance domain batch 1 (ZERO MISSION)
  governance/audit_logger.py
  governance/audit_trail.py
  governance/auth_governance_policies.py
  governance/drift_governor.py
  governance/guardian_system.py
Due: block-labs-imports, guardrail-check

fix: F403 star import cleanup - Core actor systems re-fix (ZERO MISSION)
  core/actor_model.py
  core/actor_supervision_integration.py
  core/actor_system.py
  core/adaptive_ux_engine.py
Due: block-labs-imports, guardrail-check, check-license-headers

docs(prompts): future-proof API creation prompts with comprehensive security
  PROMPTS_FOR_CLAUDE_CODE_WEB_ENHANCED.md
Due: none

archive: obsolete M1 parallel agent setup - superseded by Jules API system
  archive/obsolete-agent-setups/m1-parallel-2025-11-02/M1_PARALLEL_CLAUDE_IDENTITY_PACK.md
  archive/obsolete-agent-setups/m1-parallel-2025-11-02/M1_PARALLEL_CLAUDE_TAGS_PACK.md
  archive/obsolete-agent-setups/m1-parallel-2025-11-02/M1_PARALLEL_CODEX_PACK.md
  archive/obsolete-agent-setups/m1-parallel-2025-11-02/M1_PARALLEL_COORDINATION_PACK.md
  archive/obsolete-agent-setups/m1-parallel-2025-11-02/README.md
Due: none

fix(compat): serve/openai_routes.py Python 3.9 type compatibility (#1266)
  api/admin.py
  api/audit.py
  api/dna.py
  api/incidents.py
  api/metrics.py
  api/ops.py
  api/perf.py
  api/tools.py
  bio/adapters.py
  bio/compound_governor.py
  bio/matriz_adapter.py
  bio/qi.py
  bio/symbolic_proteome.py
  bio/voice.py
  core/bootstrap.py
  core/consciousness_data_flow.py
  core/coordination.py
  core/core_hub.py
  serve/openai_routes.py
  tests/unit/serve/test_openai_routes_registration.py
Due: block-labs-imports, guardrail-check, check-license-headers

Claude/lukhas core wiring launch 011 c uz ar mfvfxvgh9sf3kv s5 (#1265)
  .benchmarks/README.md
  PR_DESCRIPTION.md
  docs/api/CORE_WIRING_API.md
  docs/testing/PERFORMANCE_TESTING.md
  docs/wrappers/WRAPPER_MODULES.md
  lukhas/consciousness/__init__.py
  lukhas/dream/__init__.py
  lukhas/glyphs/__init__.py
  lukhas_website/lukhas/api/dreams.py
  lukhas_website/lukhas/api/drift.py
  lukhas_website/lukhas/api/glyphs.py
  serve/main.py
  tests/performance/test_core_wiring_benchmarks.py
  tests/smoke/test_core_wiring_smoke.py
  tests/unit/lukhas/test_api_routes.py
  tests/unit/lukhas/test_wrappers.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

test(serve): comprehensive test suite for serve/openai_routes.py (46 tests) (#1267)
  tests/unit/serve/test_openai_routes.py
Due: block-labs-imports, guardrail-check

test(serve): comprehensive test suite for serve/routes.py (39 tests) (#1268)
  tests/unit/serve/test_routes.py
Due: block-labs-imports, guardrail-check

docs(prompts): rename ENHANCED to MASTER_PROMPT and add session orchestration prompt
  CLAUDE_CODE_WEB_MASTER_PROMPT.md
  PROMPTS_FOR_CLAUDE_CODE_WEB.md
  START_CLAUDE_CODE_WEB_SESSION.md
Due: none

chore(qrg): Add QRG (Quantum Reality Generation) Specification & ADR (Phase 0)
  docs/ADR/000-qrg-spec-adr.md
  docs/examples/mock_qrg_adapter.py
  docs/examples/qrg_openapi_snippet.yaml
  docs/specs/QRG_SPEC.md
  issues/phase1_adapter.md
  issues/phase2_governance.md
  tests/sandbox/test_mock_qrg_adapter.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

docs(audits): add User ID Integration Audit (score 55/100, LAUNCH BLOCKER)
  docs/audits/identity/USER_ID_INTEGRATION_AUDIT_2025-11-10.md
Due: check-markdown-encoding, validate-docs-frontmatter
