Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock

matrix-contract-presence:
  name: Matrix Contract Presence
  entry: python3 tools/validate_contract_presence.py --enforce --quiet
  language: system
  pass_filenames: false

matrix-contract-schema:
  name: Matrix Contract Schema Validation
  entry: python3 tools/matrix_gate.py --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

opa-format:
  name: Format OPA policies
  entry: opa fmt -w
  language: system

matrix-identity-validation:
  name: Matrix Identity Block Validation
  entry: python3 tools/matrix_gate.py --identity --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

lukhas-tier-consistency:
  name: ΛiD Tier Consistency Check
  entry: python3 tools/lukhas_id_bridge.py --check-consistency
  language: system
  pass_filenames: false

guardrail-check:
  name: guardrail-check (ban direct LLM calls)
  entry: python3 scripts/ci/check_guardrail_usage.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

matrix-contract-validation:
  name: Validate Matrix Contracts
  entry: python3 tools/pre_commit_matrix_check.py
  language: system
  pass_filenames: true

telemetry-semconv-validation:
  name: Validate Telemetry Semantic Conventions
  entry: python3 tools/pre_commit_telemetry_check.py
  language: system
  pass_filenames: true

demo-script-validation:
  name: Validate Matrix Tracks Demo Scripts
  entry: python3 tools/pre_commit_demo_lint.py
  language: system
  pass_filenames: true

reject-legacy-directory-index:
  name: Reject legacy directory_index.json files
  entry: python3 -c "import sys; files=[f for f in sys.argv[1:] if 'directory_index.json' in f]; sys.exit(1 if files else 0)"
  language: system
  pass_filenames: true

validate-module-manifests-changed:
  name: T4 Module Manifest Validation
  entry: python3 tools/manifest_validate.py --all
  language: system
  pass_filenames: false

validate-configs-and-secrets:
  name: Validate configs and detect secrets
  entry: python3 tools/validate_configs.py
  language: system
  pass_filenames: false

manifest-validate:
  name: Manifest Validate
  entry: python3 tools/manifest_validate.py
  language: system
  pass_filenames: false

manifest-lock:
  name: Manifest Lock Hydrator
  entry: python3 tools/manifest_lock_hydrator.py
  language: system
  pass_filenames: false

feat(mcp): implement T4 hardening pack with catalog versioning and RBAC
  .github/workflows/mcp-smoke.yml
  .pre-commit-config.yaml
  Makefile
  comprehensive_smoke_test.sh
  docs/integration/LUKHAS_MCP.md
  lukhas-mcp/config.yaml
  mcp-servers/lukhas-devtools-mcp/CHATGPT_CONNECTOR_CONFIG.md
  mcp-servers/lukhas-devtools-mcp/CHATGPT_TOGGLE_TROUBLESHOOTING.md
  mcp-servers/lukhas-devtools-mcp/COMPREHENSIVE_SMOKE_TEST_RESULTS.md
  mcp-servers/lukhas-devtools-mcp/Dockerfile
  mcp-servers/lukhas-devtools-mcp/GRAYED_OUT_TOGGLE_FIX.md
  mcp-servers/lukhas-devtools-mcp/README.md
  mcp-servers/lukhas-devtools-mcp/SMOKE_TEST_RESULTS.md
  mcp-servers/lukhas-devtools-mcp/mcp-streamable.mjs
  mcp-servers/lukhas-devtools-mcp/server.py
  mcp-servers/lukhas-devtools-mcp/tooling/catalog.json
  scripts/export_narratives.js
  smoke_test.sh
  test_file_for_why.txt
  tools/mcp/assert_catalog_frozen.py
  tools/mcp/bootstrap.sh
  tools/mcp/poke_server.py
  tools/mcp/self_contract_test.py
  tools/mcp/self_smoke.sh
  tools/mcp/self_test.py
  tools/mcp/validate_tool_stdout.py
  tools/mcp/verify_config.py
  tools/replay_window.js
Due: guardrail-check

feat(mcp): implement comprehensive operational visibility infrastructure
  .github/ISSUE_TEMPLATE/mcp_regression.yml
  .github/workflows/mcp-smoke.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  docs/mcp/OPERATIONS.md
  mcp-servers/lukhas-devtools-mcp/health.py
  mcp-servers/lukhas-devtools-mcp/server.py
  mcp-servers/lukhas-devtools-mcp/tooling/catalog.json
  schemas/mcp.catalog.schema.json
  tools/mcp/telemetry_shim.py
  tools/mcp/validate_catalog.py
Due: guardrail-check

style(mcp): reformat catalog.json and schema with pretty printing
  mcp-servers/lukhas-devtools-mcp/tooling/catalog.json
  schemas/mcp.catalog.schema.json
Due: none

docs(scaffold): add T4/0.01% module documentation scaffold infrastructure
  scripts/generate_documentation_map.py
  scripts/generate_module_registry.py
  scripts/scaffold_module_docs.py
  templates/module/CHANGELOG.md
  templates/module/README.md
  templates/module/claude.me
  templates/module/docs/API.md
  templates/module/docs/ARCHITECTURE.md
  templates/module/docs/GUIDES.md
  templates/module/lukhas_context.md
Due: guardrail-check

docs(modules): standardized docs scaffold for pilot batch + registry/map
  .claude/settings.local.json
  MATRIZ/CHANGELOG.md
  MATRIZ/docs/GUIDES.md
  consciousness/CHANGELOG.md
  consciousness/docs/GUIDES.md
  docs/_generated/DOCUMENTATION_MAP.md
  docs/_generated/MODULE_INDEX.md
  docs/_generated/MODULE_REGISTRY.json
  docs/collaboration/runbooks/docs-migration.md
  docs/collaboration/runbooks/manifest-enrichment.md
  docs/collaboration/runbooks/notion-sync.md
  governance/CHANGELOG.md
  governance/docs/GUIDES.md
  identity/CHANGELOG.md
  identity/docs/GUIDES.md
  manifests/.ledger/scaffold.ndjson
  memory/CHANGELOG.md
  memory/docs/GUIDES.md
  scripts/util/revert_from_ledger.py
Due: guardrail-check

docs(phase1): add comprehensive Phase 1 pilot completion report
  docs/_generated/PHASE1_PILOT_REPORT.md
Due: none

build(quality): add T4/0.01% docs + test CI gates and scaffolding (Path B+C)
  .claude/settings.local.json
  .github/workflows/docs-quality.yml
  .github/workflows/tests-smoke.yml
  Makefile
  scripts/scaffold_module_tests.py
  templates/tests/conftest.py
  templates/tests/test_integration.py
  templates/tests/test_smoke.py
  templates/tests/test_unit.py
Due: guardrail-check

test(modules): add smoke + unit test scaffolds to pilot modules
  .claude/settings.local.json
  MATRIZ/tests/test_smoke.py
  MATRIZ/tests/test_unit.py
  consciousness/tests/test_smoke.py
  consciousness/tests/test_unit.py
  governance/tests/test_smoke.py
  governance/tests/test_unit.py
  identity/tests/test_smoke.py
  identity/tests/test_unit.py
  manifests/.ledger/test_scaffold.ndjson
  memory/tests/test_smoke.py
  memory/tests/test_unit.py
Due: guardrail-check

docs(session): add comprehensive T4/0.01% transformation session summary
  docs/_generated/SESSION_SUMMARY.md
Due: none

feat(quality): add T4/0.01% coverage + benchmark pipelines with ledgers
  .github/workflows/tests-coverage.yml
  Makefile
  scripts/bench/update_observed_from_bench.py
  scripts/ci/coverage_gate.py
  scripts/coverage/collect_module_coverage.py
Due: guardrail-check

fix(coverage): use sys.executable for pytest to respect venv
  scripts/coverage/collect_module_coverage.py
Due: guardrail-check

test(coverage): collect and record coverage for 5 pilot modules
  .claude/settings.local.json
  MATRIZ/module.manifest.json
  consciousness/module.manifest.json
  governance/module.manifest.json
  identity/module.manifest.json
  manifests/.ledger/coverage.ndjson
  memory/module.manifest.json
Due: validate-module-manifests-changed, manifest-validate, manifest-lock

docs(coverage): add comprehensive coverage + benchmark completion report
  docs/_generated/COVERAGE_BENCHMARK_COMPLETE.md
Due: none

feat(infrastructure): implement T4/0.01% system fusion layer with meta-registry and ledger analytics
  .github/workflows/ledger-consistency.yml
  Makefile
  docs/_generated/META_REGISTRY.json
  scripts/analytics/bench_trend.py
  scripts/analytics/coverage_trend.py
  scripts/ci/ledger_consistency.py
  scripts/generate_meta_registry.py
  scripts/validate_t4_checkpoint.py
Due: guardrail-check

docs(infrastructure): add comprehensive T4/0.01% infrastructure delivery summary
  docs/T4_INFRASTRUCTURE_SUMMARY.md
Due: none

chore(generated): update auto-generated registry and documentation files
  docs/_generated/DOCUMENTATION_MAP.md
  docs/_generated/META_REGISTRY.json
  docs/_generated/MODULE_INDEX.md
  docs/_generated/MODULE_REGISTRY.json
Due: none

chore(freeze): baseline v0.01-baseline (ec3394d0926d0071d05a6fe19dcbf1a14418ee90)
  docs/_generated/BASELINE_FREEZE.json
  manifests/.ledger/freeze.ndjson
Due: none

docs+tests(scaffold): add documentation and test infrastructure for consciousness/simulation
  .claude/settings.local.json
  consciousness/simulation/CHANGELOG.md
  consciousness/simulation/claude.me
  consciousness/simulation/docs/API.md
  consciousness/simulation/docs/ARCHITECTURE.md
  consciousness/simulation/docs/GUIDES.md
  consciousness/simulation/lukhas_context.md
  consciousness/simulation/tests/conftest.py
  consciousness/simulation/tests/test_smoke.py
  consciousness/simulation/tests/test_unit.py
  docs/_generated/DOCUMENTATION_MAP.md
  docs/_generated/META_REGISTRY.json
  docs/_generated/MODULE_INDEX.md
  docs/_generated/MODULE_REGISTRY.json
  manifests/.ledger/scaffold.ndjson
  manifests/.ledger/test_scaffold.ndjson
Due: guardrail-check

chore(dashboards): refresh META_REGISTRY after coverage sweep
  docs/_generated/META_REGISTRY.json
Due: none

chore(generated): update auto-generated files after final validation
  docs/_generated/DOCUMENTATION_MAP.md
  docs/_generated/META_REGISTRY.json
  docs/_generated/MODULE_INDEX.md
  docs/_generated/MODULE_REGISTRY.json
Due: none

chore(freeze): production v0.02-prod (85f800ac8bd80bd1164c5e665c20a939665a5e84)
  docs/_generated/PRODUCTION_FREEZE.json
Due: none

docs(runbook): add comprehensive T4/0.01% end-to-end execution report
  docs/T4_RUNBOOK_EXECUTION_REPORT.md
Due: none

chore(freeze): record FINAL_FREEZE manifest for v0.02-prod
  docs/_generated/FINAL_FREEZE.json
Due: none

feat(freeze): implement T4/0.01% freeze verification infrastructure
  .github/workflows/freeze-verification.yml
  Makefile
  scripts/ci/verify_freeze_state.py
Due: guardrail-check

chore(freeze): update FINAL_FREEZE.json for v0.02-final tag
  docs/_generated/FINAL_FREEZE.json
Due: none

docs(runbooks): add comprehensive T4 operational runbooks and backout utility
  mk/t4-governance.mk
Due: none

build(docs): regenerate documentation maps after runbook additions
  docs/_generated/DOCUMENTATION_MAP.md
  docs/_generated/META_REGISTRY.json
  docs/_generated/MODULE_INDEX.md
  docs/_generated/MODULE_REGISTRY.json
Due: none

chore(freeze): finalize FINAL_FREEZE.json with correct commit SHA
  docs/_generated/FINAL_FREEZE.json
Due: none

chore(freeze): align FINAL_FREEZE.json with HEAD for v0.02-final
  docs/_generated/FINAL_FREEZE.json
Due: none

chore(freeze): finalize v0.02-final freeze state
  docs/_generated/FINAL_FREEZE.json
Due: none

chore(freeze): update FINAL_FREEZE.json to point to v0.02-final tag
  docs/_generated/FINAL_FREEZE.json
Due: none

docs(governance): add comprehensive T4/0.01% governance delivery summary
  docs/T4_GOVERNANCE_DELIVERY.md
Due: none

feat(freeze): implement complete T4/0.01% post-freeze maintenance infrastructure
  .github/branch_protection.yml
  docs/POST_FREEZE_MAINTENANCE.md
  scripts/guardian/freeze_guardian.py
  scripts/integrations/notion_sync.py
  scripts/setup/init_dev_branch.sh
Due: guardrail-check

chore(makefile): add post-freeze maintenance targets
  Makefile
Due: none

docs(completion): add comprehensive T4/0.01% final completion summary
  docs/T4_FINAL_COMPLETION_SUMMARY.md
Due: none

docs(closure): add T4/0.01% closure brief and v0.02-final release notes
  docs/T4_CLOSURE_BRIEF.md
  docs/releases/v0.02-final-RELEASE_NOTES.md
Due: none

release(v0.02-final): add cryptographic provenance with signature and manifest
  RELEASE_MANIFEST.json
  T4_FINAL_SIGNATURE.sha256
Due: none

feat(release): add Zenodo citation infrastructure for v0.02-final
  docs/releases/v0.02-final-RELEASE_NOTES.md
  scripts/release/ZENODO_UPLOAD_GUIDE.md
  scripts/release/zenodo_upload.sh
  zenodo.metadata.json
Due: none

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
