Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$

fix(core): call oracle OpenAI provider via chat API
  core/colonies/oracle_colony.py
Due: block-labs-imports, guardrail-check, check-license-headers

chore(ci): complete Phase 2 & 3 - batch optimization all workflows
  .github/workflows/api_drift_check.yml
  .github/workflows/canary-deployment.yml
  .github/workflows/dependency-check.yml
  .github/workflows/label-automation.yml
  .github/workflows/license-check.yml
  .github/workflows/lint-ratchet.yml
  .github/workflows/pr-approval-check.yml
  .github/workflows/reasoning-lab-safety.yml
  .github/workflows/sbom-generation.yml
  .github/workflows/secret-scan.yml
  .github/workflows/slsa-attest.yml
  .github/workflows/slsa_provenance.yml
  .github/workflows/workflow-security-scan.yml
  docs/CI_OPTIMIZATION_PHASE3_COMPLETE.md
  scripts/ci/batch_optimize_workflows.sh
Due: check-markdown-encoding, validate-docs-frontmatter

docs(ci): add comprehensive gap analysis of CI optimization status
  docs/CI_OPTIMIZATION_STATUS_2025-11-13.md
Due: check-markdown-encoding, validate-docs-frontmatter

fix: address lint regressions from noqa removal
  qi/post_quantum_crypto_v2.py
  rl/tests/test_formal_verification.py
  scripts/bench_e2e_quiet.py
  scripts/security/build_security_posture_artifacts.py
  scripts/validate_dynamic_id_hardening.py
  scripts/validate_ledger_performance.py
  tests/unit/candidate/consciousness/dream/test_dream_feedback_controller.py
  tests/unit/candidate/core/test_task_manager.py
  tests/unit/core/colonies/test_oracle_colony.py
  tests/unit/identity/test_matriz_consciousness_identity_signals.py
  tests/unit/memory/test_fold_lineage_entanglement.py
Due: block-labs-imports, guardrail-check

fix coverage workflow errors
  .github/workflows/coverage.yml
Due: none

fix: remove invalid cache invalidation import from test
  tests/integration/serve/test_api.py
Due: block-labs-imports, guardrail-check

fix(test): resolve import errors in test suite collection
  consciousness/awareness/__init__.py
  consciousness/awareness/awareness_engine.py
  tests/api/test_routing_admin_auth.py
Due: block-labs-imports, guardrail-check

fix(test): resolve import errors in test suite collection (#1545)
  consciousness/awareness/__init__.py
  consciousness/awareness/awareness_engine.py
  tests/api/test_routing_admin_auth.py
Due: block-labs-imports, guardrail-check

fix(tests): update awareness engine test imports and API
  tests/unit/consciousness/test_awareness_engine_setup.py
Due: block-labs-imports, guardrail-check

fix(tests): update awareness engine test imports and API (#1546)
  tests/unit/consciousness/test_awareness_engine_setup.py
Due: block-labs-imports, guardrail-check

docs(ops): add Claude Desktop filesystem error troubleshooting guide
  claude.me
  tools/diagnose_claude_desktop_filesystem.sh
Due: none

docs(test): add comprehensive import error tracking for test suite
  TEST_IMPORT_ERRORS_TRACKING.md
Due: none

docs(test): add comprehensive import error tracking for test suite (#1547)
  TEST_IMPORT_ERRORS_TRACKING.md
Due: none

fix(test): add bridge modules for consciousness and aka_qualia imports
  aka_qualia/glyphs/__init__.py
  consciousness/consciousness_stream.py
  consciousness/interfaces/__init__.py
Due: block-labs-imports, guardrail-check

fix(test): Phase 2 - consciousness and aka_qualia bridge modules (#1548)
  aka_qualia/glyphs/__init__.py
  consciousness/consciousness_stream.py
  consciousness/interfaces/__init__.py
Due: block-labs-imports, guardrail-check

fix(tests): fix consciousness and tiers import paths across 30 test files
  labs/consciousness/awareness/awareness_log_synchronizer.py
  tests/benchmarks/test_mesh.py
  tests/cognitive/property_based/test_reasoning_edge_cases.py
  tests/cognitive/stress/test_cognitive_load_infrastructure.py
  tests/cognitive/test_comprehensive_coverage.py
  tests/consciousness/simulation/test_simulation_lane.py
  tests/consciousness/test_advanced_cognitive_features.py
  tests/consciousness/test_creativity_engine.py
  tests/consciousness/test_guardian_integration.py
  tests/consciousness/test_lukhas_reflection_engine.py
  tests/consciousness/test_reflection_engine.py
  tests/integration/test_full_system_integration.py
  tests/integration/test_matriz_complete_thought_loop.py
  tests/integration/test_orchestrator_matriz_roundtrip.py
  tests/matriz/test_e2e_perf.py
  tests/soak/test_guardian_matriz_throughput.py
  tests/unit/candidate/consciousness/dream/test_dream_feedback_controller.py
  tests/unit/consciousness/test_awareness_log_synchronizer.py
  tests/unit/consciousness/test_circuit_breakers.py
  tests/unit/consciousness/test_core_integrator_access_tier.py
  tests/unit/consciousness/test_ethical_drift_sentinel.py
  tests/unit/dream/expand/test_archetypes.py
  tests/unit/dream/expand/test_atlas.py
  tests/unit/dream/expand/test_mediation.py
  tests/unit/dream/expand/test_replay.py
  tests/unit/dream/expand/test_sentinel.py
  tests/unit/dream/test_evolution.py
  tests/unit/dream/test_noise.py
  tests/unit/dream/test_resonance.py
  tests/unit/test_awareness_protocol.py
Due: block-labs-imports, guardrail-check

fix(tests): fix consciousness and tiers import paths across 30 test files (#1549)
  labs/consciousness/awareness/awareness_log_synchronizer.py
  tests/benchmarks/test_mesh.py
  tests/cognitive/property_based/test_reasoning_edge_cases.py
  tests/cognitive/stress/test_cognitive_load_infrastructure.py
  tests/cognitive/test_comprehensive_coverage.py
  tests/consciousness/simulation/test_simulation_lane.py
  tests/consciousness/test_advanced_cognitive_features.py
  tests/consciousness/test_creativity_engine.py
  tests/consciousness/test_guardian_integration.py
  tests/consciousness/test_lukhas_reflection_engine.py
  tests/consciousness/test_reflection_engine.py
  tests/integration/test_full_system_integration.py
  tests/integration/test_matriz_complete_thought_loop.py
  tests/integration/test_orchestrator_matriz_roundtrip.py
  tests/matriz/test_e2e_perf.py
  tests/soak/test_guardian_matriz_throughput.py
  tests/unit/candidate/consciousness/dream/test_dream_feedback_controller.py
  tests/unit/consciousness/test_awareness_log_synchronizer.py
  tests/unit/consciousness/test_circuit_breakers.py
  tests/unit/consciousness/test_core_integrator_access_tier.py
  tests/unit/consciousness/test_ethical_drift_sentinel.py
  tests/unit/dream/expand/test_archetypes.py
  tests/unit/dream/expand/test_atlas.py
  tests/unit/dream/expand/test_mediation.py
  tests/unit/dream/expand/test_replay.py
  tests/unit/dream/expand/test_sentinel.py
  tests/unit/dream/test_evolution.py
  tests/unit/dream/test_noise.py
  tests/unit/dream/test_resonance.py
  tests/unit/test_awareness_protocol.py
Due: block-labs-imports, guardrail-check

legal(licensing): transition to proprietary software model with commercial licensing
  LICENSE
  README.md
  SECURITY.md
Due: none

docs(transparency): add realistic roadmap and soften exaggerated claims
  README.md
  ROADMAP.md
Due: none

docs(transparency): update README with honest project status and MATRIZ issues
  README.md
Due: none

fix(test): Phase 3 - comprehensive bridge modules for bio, orchestration, governance, and core
  adapters/openai/api.py
  async_manager.py
  bio/core/architecture_analyzer/__init__.py
  bio/energy/spirulina_atp_system.py
  core/collective/clusters/consciousness_clusters.py
  core/collective/collective_ad_mind.py
  governance/guardian_serializer/__init__.py
  governance/identity/auth_backend/authentication_server.py
  labs/core/orchestration/async_orchestrator.py
  lukhas/memory/fold_system.py
  orchestration/multi_ai_router/__init__.py
  scripts/production_main.py
Due: block-labs-imports, guardrail-check, check-license-headers

docs(tests): comprehensive report and README update for import fixes
  README.md
  docs/TEST_IMPORT_FIXES_2025-11-13.md
Due: check-markdown-encoding, validate-docs-frontmatter

fix(test): Phase 3 - comprehensive bridge modules (12 modules, 17/35 errors resolved) (#1550)
  adapters/openai/api.py
  async_manager.py
  bio/core/architecture_analyzer/__init__.py
  bio/energy/spirulina_atp_system.py
  core/collective/clusters/consciousness_clusters.py
  core/collective/collective_ad_mind.py
  governance/guardian_serializer/__init__.py
  governance/identity/auth_backend/authentication_server.py
  labs/core/orchestration/async_orchestrator.py
  lukhas/memory/fold_system.py
  orchestration/multi_ai_router/__init__.py
  scripts/production_main.py
Due: block-labs-imports, guardrail-check, check-license-headers

docs(tests): comprehensive report and README update for import fixes (#1551)
  README.md
  docs/TEST_IMPORT_FIXES_2025-11-13.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(hygiene): fix outdated dates and exaggerated claims in documentation
  docs/README.md
  docs/development/README.md
  docs/domain_strategy/COMPLETE_LUKHAS_WEB_ECOSYSTEM.md
  docs/identity/examples/README.md
  docs/identity/oidc_security_audit.md
Due: check-markdown-encoding, validate-docs-frontmatter

feat(security): add OWASP security headers middleware
  lukhas/middleware/__init__.py
  lukhas/middleware/security_headers.py
  serve/main.py
  tests/dast/__init__.py
  tests/dast/test_security_headers.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-license-headers

feat(ci): add DAST workflows with ZAP and Schemathesis
  .github/workflows/dast-schemathesis.yml
  .github/workflows/dast-zap-baseline.yml
  .github/workflows/dast-zap-full-api.yml
  dast/.zap/rules.tsv
Due: none

feat(guardian): add NIAS audit middleware for request introspection
  lukhas/guardian/nias/__init__.py
  lukhas/guardian/nias/middleware.py
  lukhas/guardian/nias/models.py
  serve/main.py
  tests/nias/__init__.py
  tests/nias/test_nias_middleware.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-license-headers

fix(tests): resolve circular import and Pydantic warnings in unit tests
  governance/guardian_system/__init__.py
  tests/unit/conftest.py
  tests/unit/pytest.ini
Due: block-labs-imports, guardrail-check

docs(tests): update Phase 4 completion status - 110% test collection improvement
  TEST_IMPORT_ERRORS_TRACKING.md
Due: none

refactor(api): improve OpenAI API spec compliance and type safety
  lukhas/api/analytics.py
  lukhas/api/auth_helpers.py
  lukhas/api/features.py
  serve/healthz.py
  serve/main.py
  serve/openai_schemas.py
  tests/smoke/test_error_handling.py
Due: block-labs-imports, guardrail-check, check-license-headers

docs(tests): update to reflect actual test suite size - 7,490 tests!
  TEST_IMPORT_ERRORS_TRACKING.md
Due: none

docs(tests): correct test statistics - honest assessment of remaining work
  TEST_IMPORT_ERRORS_TRACKING.md
Due: none

test(api): add comprehensive tests for T4/0.01% quality improvements
  docs/development/T4_0.01_PERCENT_SUCCESS_STORY.md
  tests/smoke/test_auth_errors.py
  tests/smoke/test_error_handling.py
  tests/smoke/test_t4_improvements.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

feat(enforcement): add ABAS OPA enforcement suite with PII detection
  .github/workflows/policy-opa.yml
  enforcement/abas/__init__.py
  enforcement/abas/middleware.py
  enforcement/abas/pii_detection.rego
  enforcement/abas/pii_detection_test.rego
  enforcement/abas/policy.rego
  enforcement/abas/policy_test.rego
  serve/main.py
  tests/enforcement/__init__.py
  tests/enforcement/test_abas_middleware.py
  tests/enforcement/test_abas_middleware_integration.py
Due: opa-format, block-labs-imports, guardrail-check

docs(nias,abas,dast): add comprehensive documentation, integration tests, and future enhancement issues
  TODO/MASTER_LOG_SECURITY_ENHANCEMENT.md
  docs/github-issues/A4-abas-performance-optimization.md
  docs/github-issues/A5-abas-advanced-threat-detection.md
  docs/github-issues/D4-zap-ci-cd-enhancements.md
  docs/github-issues/D5-schemathesis-advanced-config.md
  docs/github-issues/H3-security-headers-csp-reporting.md
  docs/github-issues/H4-security-headers-advanced-config.md
  docs/github-issues/N2-nias-drift-detection-integration.md
  docs/github-issues/N3-nias-pii-detection-integration.md
  docs/nias/EU_COMPLIANCE.md
  docs/nias/NIAS_PLAN.md
  tests/integration/test_security_stack.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

feat: Execute high-value TODOs to 0.01% quality standard (20+ TODOs across 10 files)
  agents_external/CLAUDE/workspaces/consent-compliance-specialist/src/consent_ledger.py
  agents_external/CLAUDE/workspaces/identity-auth-specialist/src/lambda_id.py
  branding/poetry/lukhas_lexicon.py
  branding/tone/tools/lukhas_tone_fixer.py
  branding/tone/tools/lukhas_tone_validator.py
  lukhas_website/packages/auth/email-service.ts
  lukhas_website/packages/auth/jwt-persistence.ts
  lukhas_website/packages/auth/jwt.ts
  lukhas_website/packages/auth/magic-links.ts
  lukhas_website/packages/auth/signup.ts
Due: block-labs-imports, guardrail-check

docs(enforcement): add VIP bonus package - Constitutional AI + production tools
  ABAS_PR_DESCRIPTION.md
  BONUS_PACKAGE_README.md
  docker-compose.abas.yml
  enforcement/abas/CONSTITUTIONAL_ALIGNMENT.md
  enforcement/abas/README.md
  enforcement/abas/constitutional_validator.py
  scripts/benchmark_abas.py
Due: block-labs-imports, guardrail-check

fix(tests): resolve candidate namespace collision in pytest
  tests/unit/conftest.py
Due: block-labs-imports, guardrail-check

fix(matriz): make lz4 compression optional in memory system
  matriz/core/memory_system.py
Due: block-labs-imports, guardrail-check, check-license-headers
