Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$

test(smoke): authenticate façade smoke with stub bearer to match Guardian defaults
  tests/smoke/test_openai_facade.py
Due: guardrail-check

docs(audit): note Phase-B hot-path Ruff gate in delegations playbook
  docs/gonzo/audits/PHASE_2_DELEGATIONS.md
Due: none

chore(openapi): keep generated spec out of repo; rely on CI artifacts
  .gitignore
Due: none

chore(ci): add Phase-B hot-path Ruff gate (≤120 diagnostics)
  .github/workflows/matriz-validate.yml
Due: none

chore(audit): archive branch situation report (2025-10-14)
  .gitignore
  docs/audits/local/BRANCH_SITUATION_SUMMARY_2025-10-14.md
Due: none

chore(health): regenerate system health artifacts
  docs/audits/health/latest.json
  docs/audits/health/latest.md
  docs/audits/system_health.json
  docs/audits/system_health.md
Due: none

chore(ruff): remove branch-local config (use pyproject)
  ruff.toml
Due: none

chore(health): stabilize artifact timestamps
  docs/audits/health/latest.json
  docs/audits/health/latest.md
  docs/audits/system_health.json
  docs/audits/system_health.md
Due: none

Refactor reliability module imports and enhance coverage configuration
  .github/workflows/matriz-validate.yml
  lukhas/core/reliability/__init__.py
  scripts/generate_system_health_report.py
  tests/smoke/directory_index.json
  tests/smoke/test_dreams_api.py
  tests/smoke/test_idempotency.py
  tests/smoke/test_metrics_tracking.py
  tests/smoke/test_openai_facade.py
  tests/smoke/test_responses_stream.py
  tests/smoke/test_trace_header.py
  tests/smoke/test_tracing.py
  tests/unit/ai_orchestration/test_mcp_operational_support.py
  tests/unit/aka_qualia/test_metrics.py
  tests/unit/bio/core/test_bio_symbolic.py
  tests/unit/branding/personal_brand/test_consciousness_authority_builder.py
  tests/unit/branding/test_keatsian_replacer.py
  tests/unit/bridge/__init__.py
  tests/unit/bridge/adapters/test_dropbox_adapter.py
  tests/unit/test_idempotency_store.py
Due: matrix-contract-presence, guardrail-check, reject-legacy-directory-index

chore(health): regenerate artifacts after rebase
  docs/audits/health/latest.json
  docs/audits/health/latest.md
  docs/audits/system_health.json
  docs/audits/system_health.md
  lukhas/core/reliability/__init__.py
Due: matrix-contract-presence, guardrail-check

docs(audit): record retirement of feat-jules-ruff-complete
  docs/audits/local/BRANCH_SITUATION_SUMMARY_2025-10-14.md
  docs/gonzo/audits/TEAM_STATUS.md
Due: none

chore(audits): state sweep audit artifacts 20251014T221851Z
  docs/audits/f821_suggestions.md
  docs/audits/import_map.json
  docs/audits/live/20251014T180317Z/codemod_apply.txt
  docs/audits/live/20251014T180317Z/codemod_check.txt
  docs/audits/live/20251014T180317Z/context_front_matter.txt
  docs/audits/live/20251014T180317Z/contract_refs.txt
  docs/audits/live/20251014T180317Z/f401_apply.txt
  docs/audits/live/20251014T180317Z/f401_plan.txt
  docs/audits/live/20251014T180317Z/f821_suggestions.md
  docs/audits/live/20251014T180317Z/import_graph.txt
  docs/audits/live/20251014T180317Z/linkcheck.txt
  docs/audits/live/20251014T180317Z/manifest_stats.json
  docs/audits/live/20251014T180317Z/manifest_stats.md
  docs/audits/live/20251014T180317Z/pip_audit.json
  docs/audits/live/20251014T180317Z/policy_guard.txt
  docs/audits/live/20251014T180317Z/ruff.json
  docs/audits/live/20251014T180317Z/ruff_heatmap.md
  docs/audits/live/20251014T180317Z/smoke.txt
  docs/audits/live/20251014T180317Z/star_canon_sync.txt
  docs/audits/live/20251014T180317Z/star_promotions.md
  docs/audits/live/20251014T180317Z/star_rules_lint.json
Due: none

docs(ruff): F821 guided import suggestions (no code change)
  docs/audits/f821_suggestions_20251014T180317Z.md
Due: none

docs(matriz): proposed star promotions (supporting→specific) CSV+MD
  docs/audits/star_promotions.csv
  docs/audits/star_promotions.md
Due: none

docs(status): mark Phase-B.1 merged
  docs/gonzo/audits/TEAM_STATUS.md
Due: none

chore(health): regenerate audit artifacts after Phase-B merge
  docs/audits/health/latest.json
  docs/audits/health/latest.md
  docs/audits/system_health.json
  docs/audits/system_health.md
Due: none

ops(rc-soak): add comprehensive RC soak monitoring infrastructure
  docs/audits/BASELINE_METRICS_TEMPLATE.md
  docs/audits/RC_SOAK_MONITORING_PLAN.md
  lukhas/observability/rules/guardian-rl.alerts.yml
  scripts/rc_soak_health_check.sh
Due: none

fix(guardian): resolve PDP initialization issues
  lukhas/adapters/openai/api.py
  lukhas/adapters/openai/policy_pdp.py
Due: guardrail-check

fix(guardian): correct record_decision() signature to use duration_seconds
  lukhas/adapters/openai/api.py
Due: guardrail-check

fix(guardian): resolve PDP initialization issues - critical for #390 (#392)
  docs/audits/BASELINE_METRICS_TEMPLATE.md
  docs/audits/RC_SOAK_MONITORING_PLAN.md
  lukhas/adapters/openai/api.py
  lukhas/adapters/openai/policy_pdp.py
  lukhas/observability/rules/guardian-rl.alerts.yml
  scripts/rc_soak_health_check.sh
Due: guardrail-check

docs(dx): DX Polish Pack enhancements (badge, caching, cross-links) (#384)
  .github/workflows/dx-examples-smoke.yml
  README.md
  docs/gonzo/MULTI_AGENT_BRIEF.md
  docs/gonzo/audits/TEAM_STATUS.md
Due: none

docs(audit): add STATE_SWEEP_SUMMARY with comprehensive metrics
  docs/audits/live/20251014T180317Z/STATE_SWEEP_SUMMARY.md
Due: none

docs(gonzo): update TEAM_STATUS with T4 State Sweep baseline and PRs
  docs/gonzo/audits/TEAM_STATUS.md
Due: none

docs(governance): Star promotions proposal (supporting → production) (#395)
  docs/audits/f821_suggestions.md
  docs/audits/import_map.json
  docs/audits/live/20251014T180317Z/codemod_apply.txt
  docs/audits/live/20251014T180317Z/codemod_check.txt
  docs/audits/live/20251014T180317Z/context_front_matter.txt
  docs/audits/live/20251014T180317Z/contract_refs.txt
  docs/audits/live/20251014T180317Z/f401_apply.txt
  docs/audits/live/20251014T180317Z/f401_plan.txt
  docs/audits/live/20251014T180317Z/f821_suggestions.md
  docs/audits/live/20251014T180317Z/import_graph.txt
  docs/audits/live/20251014T180317Z/linkcheck.txt
  docs/audits/live/20251014T180317Z/manifest_stats.json
  docs/audits/live/20251014T180317Z/manifest_stats.md
  docs/audits/live/20251014T180317Z/pip_audit.json
  docs/audits/live/20251014T180317Z/policy_guard.txt
  docs/audits/live/20251014T180317Z/ruff.json
  docs/audits/live/20251014T180317Z/ruff_heatmap.md
  docs/audits/live/20251014T180317Z/smoke.txt
  docs/audits/live/20251014T180317Z/star_canon_sync.txt
  docs/audits/live/20251014T180317Z/star_promotions.md
  docs/audits/live/20251014T180317Z/star_rules_lint.json
  docs/audits/star_promotions.csv
Due: none

docs(audit): T4 State Sweep — baseline snapshot (2025-10-14) (#393)
  docs/audits/live/20251014T180317Z/STATE_SWEEP_SUMMARY.md
Due: none

feat(tools): add colony rename planner and state sweep automation
  docs/audits/live/2025-10-15T02-55-00Z/RUFF_TOTAL.txt
  docs/audits/live/2025-10-15T02-55-00Z/candidate_refs.txt
  docs/audits/live/2025-10-15T02-55-00Z/ruff_stats.txt
  scripts/plan_colony_renames.py
  scripts/state_sweep_and_prepare_prs.sh
Due: guardrail-check

fix(tools): Python 3.9 compatibility for plan_colony_renames
  scripts/plan_colony_renames.py
Due: guardrail-check

chore(ruff): safe auto-fix (I001) on dreams module
  lukhas/consciousness/dreams/engine.py
  lukhas/consciousness/dreams/schema.py
Due: guardrail-check

docs(session): T4 State Sweep completion summary
  SESSION_SUMMARY_2025-10-15_STATE_SWEEP.md
Due: none

feat(make): add state-sweep and plan-colony-renames targets
  Makefile
Due: none

feat: Add monitoring and deployment scripts for Guardian fixes
  COMPLETE_RC_OPERATIONALIZATION_SUMMARY.md
  COMPLETE_STATUS_GUARDIAN_MONITORING.md
  COPILOT_STATE_SWEEP_TASKS_COMPLETE.md
  COPILOT_TASK_1_COMPLETE.md
  CRITICAL_GUARDIAN_FIX.patch
  FINAL_GUARDIAN_FIX_REQUIRED.md
  FINAL_HANDOFF_STATUS.md
  GUARDIAN_CRITICAL_FIX_NEEDED.md
  GUARDIAN_FIX_COMPLETE.md
  GUARDIAN_FIX_DEPLOYMENT_SUMMARY.md
  GUARDIAN_FIX_MONITORING_CHECKLIST.md
  GUARDIAN_FIX_PR_392_COMPLETE.md
  GUARDIAN_MONITORING_VERIFICATION.md
  GUARDIAN_STATUS_UPDATE_2025-10-14.md
  GUARDIAN_TEST_FIXES_COMPLETE.md
  HANDOFF_GUARDIAN_FIX_COMPLETE.md
  MONITORING_DEPLOYMENT_BLOCKED.md
  MONITORING_DEPLOYMENT_POST_MERGE.md
  MONITORING_DEPLOYMENT_READY.md
  PARTIAL_MONITORING_DEPLOYMENT.md
  PR_392_MERGE_READY_NO_CI.md
  T4_STATE_SWEEP_COMPLETION_SUMMARY.md
  docs/gonzo/GREEN_LIGHT_PLAN_DUPLICATE.md
  docs/gonzo/GREEN_LIGHT_PLAN_ORIGINAL.md
  docs/gonzo/audits/TEAM_STATUS_OLD.md
  docs/gonzo/status/GUARDIAN_PR_392_STATUS.md
  scripts/deploy_monitoring_post_390.sh
  scripts/monitor_pr_392_merge.sh
  scripts/watch_for_guardian_fix.sh
Due: none

docs(agents): update to generic Matriz & navigation focus + parallel execution plans
  AGENTS.md
  docs/plans/PARALLEL_AGENT_EXECUTION_PLAN.md
  docs/plans/QUICK_START_ACTIONS.md
Due: none

docs(plans): add execution summary for AGENTS.md update & parallel tasks
  docs/plans/EXECUTION_SUMMARY.md
Due: none

ops: RC soak automation + daily health artifacts
  Makefile
  core/integration/neuro_symbolic_fusion_layer.py
  core/integration/system_coordinator.py
  core/integrator.py
  docs/ops/RC_SOAK_OPS_GUIDE.md
  scripts/ops/rc_soak_snapshot.sh
  scripts/ops/rc_synthetic_load.sh
Due: guardrail-check

chore(security): pip-audit scan + dependency upgrades (CVEs fixed)
  docs/audits/security/20251015/pip-audit.json
  docs/audits/security/20251015/pip-audit.md
  docs/audits/security/SECURITY_REMEDIATION_PLAN.md
Due: none
