Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$

style: apply T4 linting standards
  core/security/encryption_manager.py
  matriz/tests/test_matriz_health_router.py
  monitoring/integration_hub.py
Due: block-labs-imports, guardrail-check, check-license-headers

style: apply T4 linting standards
  core/security/encryption_manager.py
  monitoring/integration_hub.py
  tests/candidate/quantum/test_annealing.py
  tests/candidate/quantum/test_measurement.py
  tests/candidate/quantum/test_superposition_engine.py
Due: block-labs-imports, guardrail-check, check-license-headers

style: apply T4 linting standards
  core/security/encryption_manager.py
  monitoring/integration_hub.py
Due: block-labs-imports, guardrail-check, check-license-headers

Honor Chroma vector store configuration
  labs/bridge/llm_wrappers/openai_modulated_service.py
  labs/tests/test_openai_modulated_service.py
Due: block-labs-imports, guardrail-check

feat(testing): add Jules automation for Claude API bridge tests
  scripts/create_claude_bridge_tests.py
Due: block-labs-imports, guardrail-check

fix(lint): uncomment Z3 imports for formal verification
  rl/tests/test_formal_verification.py
Due: block-labs-imports, guardrail-check

fix(lint): replace deprecated Dict with lowercase dict
  qi/systems/qi_entanglement.py
  qi/systems/qi_validator.py
  rl/tests/test_formal_verification.py
  scripts/generate_complete_inventory.py
  tests/e2e/test_matriz_orchestration.py
  tests/generate_test_report.py
  tests/observability/test_matriz_cognitive_instrumentation.py
  tests/utils/test_config_utils.py
Due: block-labs-imports, guardrail-check

fix(lint): replace collections.deque with imported deque
  core/colonies/ethics_swarm_colony.py
  core/consciousness/drift_detector.py
  core/orchestration/brain/lukhas_agi_orchestrator.py
  core/security/security_monitor.py
  lukhas_website/lukhas/core/matriz/optimized_orchestrator.py
  lukhas_website/lukhas/deployment/health_monitor.py
  lukhas_website/lukhas/identity/jwks_cache.py
  lukhas_website/lukhas/memory/scheduled_folding.py
Due: block-labs-imports, guardrail-check, check-license-headers

fix(lint): resolve F821 undefined category variables in qi modules
  core/colonies/ethics_swarm_colony.py
  qi/states/processor.py
  qi/systems/qi_entanglement.py
  qi/systems/qi_processor.py
  qi/systems/qi_validator.py
  qi/validator.py
  tests/generate_test_report.py
Due: block-labs-imports, guardrail-check, check-license-headers

fix(lint): resolve F821 undefined 'request' in test_multi_ai_router
  tests/orchestration/test_multi_ai_router.py
Due: block-labs-imports, guardrail-check

docs: add F401 unused imports analysis report for GPT-5 review
  F401_UNUSED_IMPORTS_REPORT.json
  F401_UNUSED_IMPORTS_REPORT.md
Due: none

docs: add linting session summary for November 8, 2025
  SESSION_SUMMARY_2025-11-08.md
Due: none

docs(branding): add Prompts 7 & 8 execution status
  BRANDING_PROMPTS_7_8_STATUS.md
Due: none

chore(t4): Batch 0 - remove unused logging imports (F401)
  tools/extreme_performance_validator.py
  trace_logs/tests/test_trace_logs_integration.py
  trace_logs/tests/test_trace_logs_unit.py
Due: block-labs-imports, guardrail-check

Update trace_logs/tests/test_trace_logs_unit.py
  trace_logs/tests/test_trace_logs_unit.py
Due: block-labs-imports, guardrail-check

Update trace_logs/tests/test_trace_logs_integration.py
  trace_logs/tests/test_trace_logs_integration.py
Due: block-labs-imports, guardrail-check

chore(t4): Batch 1 - remove unused test utilities imports (F401)
  lukhas_website/lukhas/api/identity.py
  lukhas_website/lukhas/observability/prometheus_metrics.py
  tools/matriz/lane_aware_fixer.py
  tools/testing/test_infrastructure_monitor.py
Due: block-labs-imports, guardrail-check

chore(t4): Batch 0+1 - remove unused imports (F401)
  lukhas_website/lukhas/api/identity.py
  lukhas_website/lukhas/observability/prometheus_metrics.py
  tools/extreme_performance_validator.py
  tools/matriz/lane_aware_fixer.py
  tools/testing/test_infrastructure_monitor.py
  trace_logs/tests/test_trace_logs_integration.py
  trace_logs/tests/test_trace_logs_unit.py
Due: block-labs-imports, guardrail-check

docs(branding): Prompt 8 resolution complete - evidence pages merged
  PROMPT_8_RESOLUTION_COMPLETE.md
Due: none

chore(t4): Batch2 remove 12 unused typing imports in scripts
  scripts/cloud_tasks/create_prs_from_branches.py
  scripts/codemod_imports.py
  scripts/codemods/constellation_consistency_final.py
  scripts/consolidation/rewrite_matriz_imports.py
  scripts/encoding_guard.py
  scripts/fix_orphaned_noqa.py
  scripts/phase2_api_tiering.py
  scripts/security/build_security_posture_artifacts.py
  scripts/todo_migration/replace_todos_with_issues.py
  scripts/update_context_files.py
  scripts/validate_contract_refs.py
  scripts/verify_pinned_actions.py
Due: block-labs-imports, guardrail-check

Fix remaining dataclass mutable defaults
  labs/core/identity/lambda_id_core.py
  products/intelligence/monitoring_candidate/data_integration_map.py
  products/security/healthcare_guardian/healthcare_guardian_es/voice_andaluz/voice_engine.py
Due: block-labs-imports, guardrail-check

Fix remaining dataclass mutable defaults (#1023)
  labs/core/identity/lambda_id_core.py
  products/intelligence/monitoring_candidate/data_integration_map.py
  products/security/healthcare_guardian/healthcare_guardian_es/voice_andaluz/voice_engine.py
Due: block-labs-imports, guardrail-check

feat(automation): create 5 priority Jules sessions for non-test TODOs
  docs/gonzo/JULES_PRIORITY_SESSIONS_JAN_08.md
  scripts/create_priority_jules_sessions.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

docs(governance): create Phase 2 prompts for Product Experience (9-11)
  CLAUDE_WEB_PROMPTS_9_10_11.md
Due: none

docs(governance): update Phase 1 completion with Prompts 7 & 8 results
  BRANDING_GOVERNANCE_PHASE1_COMPLETE.md
Due: none

chore(t4): Batch2 remove 12 unused typing imports in scripts (#1139)
  scripts/cloud_tasks/create_prs_from_branches.py
  scripts/codemod_imports.py
  scripts/codemods/constellation_consistency_final.py
  scripts/consolidation/rewrite_matriz_imports.py
  scripts/encoding_guard.py
  scripts/fix_orphaned_noqa.py
  scripts/phase2_api_tiering.py
  scripts/security/build_security_posture_artifacts.py
  scripts/todo_migration/replace_todos_with_issues.py
  scripts/update_context_files.py
  scripts/validate_contract_refs.py
  scripts/verify_pinned_actions.py
Due: block-labs-imports, guardrail-check

test: align consciousness engine tests with legacy API
  tests/candidate/core/quantum_financial/test_quantum_financial_consciousness_engine.py
Due: block-labs-imports, guardrail-check

fix(t4): Exclude Codex_Files.py from linting - meta-document not executable Python
  pyproject.toml
Due: none

fix(t4): Exclude Codex_Files.py from linting - meta-document not executable Python (#1143)
  pyproject.toml
Due: none

fix(t4): Remove 13 unused imports from security test suite
  security/tests/test_security_suite.py
Due: block-labs-imports, guardrail-check

fix(t4): Remove 13 unused imports from security test suite (#1146)
  security/tests/test_security_suite.py
Due: block-labs-imports, guardrail-check

feat(tools): add Jules session review helper and status dashboard
  JULES_SESSION_STATUS.md
  scripts/jules_session_helper.py
Due: block-labs-imports, guardrail-check

docs: add Jules PR review links to session status
  JULES_SESSION_STATUS.md
Due: none

feat(features): add Makefile targets for feature flags validation
  BRANDING_GOVERNANCE_PHASE1_COMPLETE.md
  branding/governance/README.md
  branding/governance/launch/examples/reasoning_lab_launch.md
Due: none

feat(features): add privacy-first feature flags system for safe rollouts
  branding/features/FEATURE_FLAGS_GUIDE.md
  branding/features/flags.yaml
  branding/governance/README.md
  branding/governance/launch/FEATURE_CHECKLIST.md
  branding/governance/launch/LAUNCH_TYPES.md
  branding/governance/launch/PLAYBOOK_TEMPLATE.md
  branding/governance/launch/TIMELINE_TEMPLATE.md
  branding/governance/launch/examples/reasoning_lab_launch.md
  lukhas/api/features.py
  lukhas/features/__init__.py
  lukhas/features/flags_service.py
  lukhas/features/testing.py
  products/frontend/hooks/useFeatureFlag.ts
  products/frontend/pages/admin/features.tsx
  tests/tools/test_validate_flags.py
  tests/unit/test_feature_flags_api.py
  tests/unit/test_feature_flags_service.py
  tests/unit/test_feature_flags_testing.py
  tools/migrate_flags.py
  tools/validate_flags.py
  tools/validate_launch.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-license-headers

feat(analytics): implement privacy-first analytics with GDPR compliance
  .github/workflows/content-lint.yml
  Makefile
  branding/analytics/INTEGRATION_GUIDE_V2.md
  branding/analytics/PRIVACY_IMPLEMENTATION.md
  branding/analytics/config.yaml
  lukhas/analytics/__init__.py
  lukhas/analytics/privacy_client.py
  lukhas/api/__init__.py
  lukhas/api/analytics.py
  products/frontend/components/ConsentBanner.tsx
  tests/analytics/__init__.py
  tests/analytics/test_privacy_client.py
  tests/analytics/test_server_endpoint.py
  tools/test_consent_flows.py
  tools/validate_analytics_privacy.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-license-headers
