Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

matrix-contract-presence:
  name: Matrix Contract Presence
  entry: python3 tools/validate_contract_presence.py --enforce --quiet
  language: system
  pass_filenames: false

matrix-contract-schema:
  name: Matrix Contract Schema Validation
  entry: python3 tools/matrix_gate.py --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

opa-format:
  name: Format OPA policies
  entry: opa fmt -w
  language: system

matrix-identity-validation:
  name: Matrix Identity Block Validation
  entry: python3 tools/matrix_gate.py --identity --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

lukhas-tier-consistency:
  name: ΛiD Tier Consistency Check
  entry: python3 tools/lukhas_id_bridge.py --check-consistency
  language: system
  pass_filenames: false

block-labs-imports:
  name: Block direct labs imports in production lanes
  entry: bash scripts/consolidation/block_labs_imports.sh
  language: system
  pass_filenames: false
  stages:
  - commit

import-linter:
  name: Import Isolation Guard (Simulation Lane)
  entry: import-linter
  language: system
  args:
  - --cache-dir
  - .importlinter_cache
  pass_filenames: false

simulation-lane-safety:
  name: Simulation Lane Safety Check
  entry: bash
  language: system
  args:
  - .claude/commands/95_sim_lane_summary.yaml
  pass_filenames: false

guardrail-check:
  name: guardrail-check (ban direct LLM calls)
  entry: python3 scripts/ci/check_guardrail_usage.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

matrix-contract-validation:
  name: Validate Matrix Contracts
  entry: python3 tools/pre_commit_matrix_check.py
  language: system
  pass_filenames: true

telemetry-semconv-validation:
  name: Validate Telemetry Semantic Conventions
  entry: python3 tools/pre_commit_telemetry_check.py
  language: system
  pass_filenames: true

demo-script-validation:
  name: Validate Matrix Tracks Demo Scripts
  entry: python3 tools/pre_commit_demo_lint.py
  language: system
  pass_filenames: true

reject-legacy-directory-index:
  name: Reject legacy directory_index.json files
  entry: python3 -c "import sys; files=[f for f in sys.argv[1:] if 'directory_index.json' in f]; sys.exit(1 if files else 0)"
  language: system
  pass_filenames: true

validate-module-manifests-changed:
  name: T4 Module Manifest Validation
  entry: python3 tools/manifest_validate.py --all
  language: system
  pass_filenames: false

validate-configs-and-secrets:
  name: Validate configs and detect secrets
  entry: python3 tools/validate_configs.py
  language: system
  pass_filenames: false

manifest-validate:
  name: Manifest Validate
  entry: python3 tools/manifest_validate.py
  language: system
  pass_filenames: false

manifest-lock:
  name: Manifest Lock Hydrator
  entry: python3 tools/manifest_lock_hydrator.py
  language: system
  pass_filenames: false

mcp-config-verify:
  name: 'Guard: MCP config verify'
  entry: python3 tools/mcp/verify_config.py
  language: system

feat(enforcement): Constitutional Red Teaming - AI helping humans oversee AI
  WHY_ANTHROPIC_WOULD_BE_PROUD.md
  enforcement/abas/constitutional_red_team.py
Due: block-labs-imports, guardrail-check

docs(github): add comprehensive PR template (#1535)
  .github/pull_request_template.md
Due: none

feat(MEGA BONUS): Advanced security, multi-channel auth, comprehensive observability
  lukhas_website/packages/auth/security.ts
  lukhas_website/packages/auth/signup.ts
  lukhas_website/packages/auth/sms-service.ts
Due: none

fix(test): Phase 6 test collection improvements - 10 error reduction, maintained 3,199 tests
  TEST_IMPORT_ERRORS_TRACKING.md
  adapters/openai/api.py
  bridge/api_gateway/unified_api_gateway.py
  core/consciousness/drift_detector.py
  docs/development/T4_STRATEGIC_ROADMAP.md
  docs/gonzo/DAST + NIAS + ABAS + Security Headers .yml
  docs/gonzo/Lukhas_ID system improvement plan.md
  docs/gonzo/SYSTEMS_1.md
  docs/gonzo/SYSTEMS_2.md
  governance/ethics/constitutional_ai.py
  governance/ethics/enhanced_ethical_guardian.py
  labs/memory/folds/fold_engine.py
  memory/contracts.py
  memory/fakes/agimemory_fake.py
  memory/folds/fold_engine/__init__.py
  scripts/fix_consciousness_imports.py
  serve/main.py
  serve/openai_schemas.py
  symbolic-processing-skill.md
  tests/smoke/test_concurrency.py
  tests/smoke/test_error_handling.py
  tests/unit/bridge/adapters/test_drive_adapter.py
  tests/unit/bridge/external_adapters/test_gmail_adapter.py
  tests/unit/bridge/queue/test_redis_queue.py
  tests/unit/test_idempotency_redis.py
  tools/notion/__init__.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

chore(scripts): make run_lane_guard_worktree.sh macOS-compatible (replace find -printf)
  scripts/run_lane_guard_worktree.sh
Due: none

feat(lanes): add labs_integrations adapter pattern and importlinter overrides
  importlinter_overrides.toml
  labs_integrations/openai_adapter/__init__.py
Due: block-labs-imports, guardrail-check

feat(lanes): add labs_integrations adapter pattern and macOS script fix (#1555)
  TEST_IMPORT_ERRORS_TRACKING.md
  adapters/openai/api.py
  bridge/api_gateway/unified_api_gateway.py
  core/consciousness/drift_detector.py
  docs/development/T4_STRATEGIC_ROADMAP.md
  docs/gonzo/DAST + NIAS + ABAS + Security Headers .yml
  docs/gonzo/Lukhas_ID system improvement plan.md
  docs/gonzo/SYSTEMS_1.md
  docs/gonzo/SYSTEMS_2.md
  governance/ethics/constitutional_ai.py
  governance/ethics/enhanced_ethical_guardian.py
  importlinter_overrides.toml
  labs/memory/folds/fold_engine.py
  labs_integrations/openai_adapter/__init__.py
  memory/contracts.py
  memory/fakes/agimemory_fake.py
  memory/folds/fold_engine/__init__.py
  scripts/fix_consciousness_imports.py
  scripts/run_lane_guard_worktree.sh
  serve/main.py
  serve/openai_schemas.py
  symbolic-processing-skill.md
  tests/smoke/test_concurrency.py
  tests/smoke/test_error_handling.py
  tests/unit/bridge/adapters/test_drive_adapter.py
  tests/unit/bridge/external_adapters/test_gmail_adapter.py
  tests/unit/bridge/queue/test_redis_queue.py
  tests/unit/test_idempotency_redis.py
  tools/notion/__init__.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

test(smoke): add 108 comprehensive tests for middleware, health, analytics, and feature flags
  tests/smoke/test_analytics.py
  tests/smoke/test_feature_flags.py
  tests/smoke/test_healthz_comprehensive.py
  tests/smoke/test_middleware.py
Due: block-labs-imports, guardrail-check

security(ci): fix Dependabot alert #84 - update actions/download-artifact to v4.1.8
  .github/workflows/deploy_status_page.yml
  .github/workflows/slsa-attest.yml
  .github/workflows/slsa_provenance.yml
Due: none

fix(hygiene): reduce test collection errors from 84 to 71 with systematic fixes
  TEST_IMPORT_ERRORS_TRACKING.md
  labs/core/task_manager.py
  memory/emotional.py
  qi/bio/bio_optimizer.py
  tests/unit/aka_qualia/test_metrics.py
  tests/unit/api/middleware/test_strict_auth.py
  tests/unit/bridge/llm_wrappers/test_codex_wrapper.py
  tests/unit/candidate/consciousness/test_decision_engine.py
  tests/unit/pytest.ini
Due: block-labs-imports, guardrail-check

docs(security): add comprehensive completion report for PR #1554
  TODO/SECURITY_ENHANCEMENT_COMPLETION_REPORT.md
Due: none

fix(hygiene): reduce test collection errors from 84 to 1 with systematic fixes
  lukhas_website/lukhas/api/routing_admin.py
  lukhas_website/packages/auth/index.ts
  lukhas_website/packages/auth/magic-links.ts
Due: block-labs-imports, guardrail-check

feat(identity): add production storage and asymmetric crypto foundation
  core/identity/jwks_endpoint.py
  core/identity/keys.py
  core/identity/storage/__init__.py
  core/identity/storage/redis_token_store.py
  core/identity/storage/webauthn_store.py
  docs/identity/DEPLOYMENT_STORAGE.md
  docs/identity/JWKS_AND_KEY_ROTATION.md
  tests/identity/crypto/__init__.py
  tests/identity/crypto/test_jwks_endpoint.py
  tests/identity/crypto/test_key_management.py
  tests/identity/storage/__init__.py
  tests/identity/storage/test_redis_token_store.py
  tests/identity/storage/test_webauthn_store.py
  todo/MASTER_LOG.md
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

docs(planning): add 15 detailed Claude Code mission prompts for P0-CRITICAL tasks
  TODO/CLAUDE_CODE_MISSION_PROMPTS.md
  scripts/create_jules_batch_high_priority.py
Due: block-labs-imports, guardrail-check

auth: resolve magic-links conflict, add robust base URL resolution and dev-only logging; stage reviewed updates
  docs/gonzo/Lukhas_ID system improvement plan.md
  lukhas/governance/emergency_disable.py
  lukhas_website/packages/auth/magic-links.ts
  tests/unit/lukhas/governance/test_emergency_disable.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

feat(guardian): implement emergency kill-switch with forensic capture
  tests/unit/lukhas/governance/test_emergency_disable.py
Due: block-labs-imports, guardrail-check

feat(matriz): implement missing cognitive nodes - complete the consciousness loop
  matriz/adapters/attention_node.py
  matriz/adapters/awareness_node.py
  matriz/adapters/thought_node.py
  tests/integration/matriz/__init__.py
  tests/integration/matriz/test_cognitive_nodes.py
Due: block-labs-imports, guardrail-check, check-license-headers

feat(guardian): implement emergency kill-switch with forensic capture
  lukhas/governance/emergency_disable.py
  tests/unit/lukhas/governance/test_emergency_disable.py
Due: block-labs-imports, guardrail-check, check-license-headers

feat(orchestration): implement async timeout management with graceful degradation
  lukhas/orchestration/timeouts.py
  tests/unit/lukhas/orchestration/__init__.py
  tests/unit/lukhas/orchestration/test_timeouts.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-license-headers

docs: add PR description for test infrastructure
  PR_DESCRIPTION.md
Due: none

chore: update openai_hits.txt audit order
  release_artifacts/repo_audit_v2/security/openai_hits.txt
Due: none

feat(scripts): add Jules batch creator for P0/P1 consciousness platform missions
  scripts/create_jules_batch_p0_p1_missions.py
Due: block-labs-imports, guardrail-check

Fix LUKHAS test failures and Pydantic migrations (#1541)
  aka_qualia/models.py
  pytest.ini
  tests/KNOWN_ISSUES.md
  tests/TEST_STATUS.md
Due: block-labs-imports, guardrail-check

Claude/work on todo prompts 011 cv56 aw9s cd ny rs ffp1 kw u (#1518)
  IMPLEMENTATION_SUMMARY.md
  candidate/quantum/superposition_engine.py
  contracts/dream_commerce/ConsentLedger.sol
  contracts/dream_commerce/DreamContentNFT.sol
  contracts/dream_commerce/README.md
  core/bridge/dream_commerce.py
  core/symbolic/glyph_specialist.py
  core/symbolic/symbolic_anomaly_explorer.py
  tests/unit/candidate/quantum/__init__.py
  tests/unit/candidate/quantum/test_quantum_entanglement.py
  tests/unit/core/bridge/test_dream_blockchain.py
  tests/unit/core/symbolic/__init__.py
  tests/unit/core/symbolic/test_glyph_registry.py
  tests/unit/core/symbolic/test_ml_anomaly_prediction.py
Due: block-labs-imports, guardrail-check, check-license-headers

feat(guardian): implement emergency killswitch mechanism (#1531)
  guardian/emergency.py
  tests/unit/guardian/__init__.py
  tests/unit/guardian/test_emergency.py
Due: block-labs-imports, guardrail-check

fix(hygiene): reduce test errors from 71 to 66 with candidate module fixes
  branding_bridge.py
  candidate/core/qi_financial/qi_financial_consciousness_engine.py
Due: block-labs-imports, guardrail-check

docs(hygiene): update test error tracking with Phase 6 Batch 2 progress
  TEST_IMPORT_ERRORS_TRACKING.md
Due: none

docs(identity): add comprehensive mega prompt for remaining 15 tasks
  TODO/CLAUDE_CODE_IDENTITY_MEGA_PROMPT.md
Due: none

fix(hygiene): add governance bridge modules for symbolic_scopes and decision_support
  governance/healthcare/decision_support.py
  governance/identity/core/sent/symbolic_scopes.py
Due: block-labs-imports, guardrail-check

fix(auth): improve magic link URL resolution and add token persistence
  lukhas_website/packages/auth/index.ts
  lukhas_website/packages/auth/magic-links.ts
Due: none

Ensure dashboard runner propagates pytest failures
  tools/tests/run_and_build_reports.sh
Due: none

feat(labot): complete ΛBot Stage A deployment - full infrastructure ready
  scripts/deploy_labot.sh
Due: none

feat(labot): complete ΛBot Stage A deployment - full infrastructure ready (#1565)
  scripts/deploy_labot.sh
Due: none

docs(labot): complete deployment status + PR template update
  LABOT_FULL_DEPLOYMENT_STATUS.md
Due: none

fix(syntax): fix indentation errors in bridge adapter modules
  bridge/adapters/__init__.py
  bridge/external_adapters/__init__.py
Due: block-labs-imports, guardrail-check

chore(audit): add audit analysis scripts
  scripts/build_file_index.py
  scripts/high_risk_patterns.py
  scripts/naming_consistency.py
  scripts/security_scan.py
  scripts/static_analysis.py
Due: block-labs-imports, guardrail-check

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$
