Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$

✨ Option 3: Fix 2 SIM117 violations (multiple-with)
  lukhas_website/lukhas/security/security_monitor.py
  memory/lifecycle.py
Due: block-labs-imports, guardrail-check

fix(bridge): correct Anthropic Messages API system parameter usage
  bridge/llm_wrappers/anthropic_wrapper.py
Due: block-labs-imports, guardrail-check

feat(bridge): fix Python 3.9 compatibility and add Jules test automation
  bridge/llm_wrappers/jules_wrapper.py
  scripts/create_jules_test_sessions.py
Due: block-labs-imports, guardrail-check

docs(gonzo): add Jules test automation session tracking
  docs/gonzo/JULES_TEST_AUTOMATION_SESSION.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(gonzo): add complete Jules automation impact analysis
  docs/gonzo/JULES_AUTOMATION_COMPLETE_IMPACT.md
Due: check-markdown-encoding, validate-docs-frontmatter

feat(automation): add maximum Jules session batch creator
  scripts/create_max_jules_sessions.py
Due: block-labs-imports, guardrail-check

docs(gonzo): add Jules Nov 7 final automation summary
  docs/gonzo/JULES_NOV_7_FINAL_SUMMARY.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(gonzo): add comprehensive test coverage gap analysis
  docs/gonzo/TEST_COVERAGE_GAP_ANALYSIS.md
Due: check-markdown-encoding, validate-docs-frontmatter

fix(tests): Phase 1 - Quick wins for test collection errors
  pytest.ini
  tests/performance/test_router_fast_path.py
  tests/rules/test_star_rules.py
  tests/unit/pytest.ini
  tests/unit/tools/test_todo_tooling.py
Due: block-labs-imports, guardrail-check

fix(core): Fix RecursionError in 21 bridge module __init__.py files
  bio/core/architecture_analyzer/__init__.py
  labs/async_utils/__init__.py
  labs/branding_bridge/__init__.py
  labs/consciousness/meta_cognitive_assessor/__init__.py
  labs/consciousness/registry/__init__.py
  labs/core/consciousness_ticker/__init__.py
  labs/core/drift/__init__.py
  labs/core/reliability/__init__.py
  labs/core/ring/__init__.py
  labs/core/symbolic/symbolic_glyph_hash/__init__.py
  labs/flags/__init__.py
  labs/ledger/__init__.py
  labs/matriz/runtime/__init__.py
  labs/memory/backends/__init__.py
  labs/observability/advanced_metrics/__init__.py
  labs/orchestration/context_preservation/__init__.py
  labs/orchestration/multi_ai_router/__init__.py
  labs/security/__init__.py
  matriz/runtime/__init__.py
  security/secure_random/__init__.py
  trace/TraceRepairEngine/__init__.py
Due: block-labs-imports, guardrail-check, check-license-headers

feat(guardian): implement production-ready emergency kill-switch and operator runbook
  docs/runbooks/GUARDIAN_EMERGENCY_PROCEDURES.md
  lukhas_website/lukhas/governance/guardian_system.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

docs(audit): comprehensive P0 audit resolution status and roadmap
  docs/audits/P0_AUDIT_RESOLUTION_STATUS.md
Due: check-markdown-encoding, validate-docs-frontmatter

fix: restore optional dependency detection
  api/optimization/analytics_dashboard.py
Due: block-labs-imports, guardrail-check

feat(branding): create evidence artifacts for claims validation system
  release_artifacts/README.md
  release_artifacts/gdpr-compliance-validation.json
  release_artifacts/global-latency-benchmarks-2024.json
  release_artifacts/guardian-compliance-2025-Q3.pdf.md
  release_artifacts/lambda-id-security-audit-2024.pdf.md
  release_artifacts/matriz-87-percent-complete-2025-q4.json
  release_artifacts/matriz-p95-latency-2025-q3.json
Due: none

feat(branding): add claims registry generation and validation tools
  Makefile
  branding/governance/README.md
  branding/governance/claims_registry.json
  tools/generate_claims_registry.py
  tools/validate_claims.py
Due: block-labs-imports, guardrail-check

Fix Chroma client initialization and tests
  labs/bridge/llm_wrappers/openai_modulated_service.py
  labs/tests/test_openai_modulated_service.py
Due: block-labs-imports, guardrail-check

Fix awaiting streaming chat completion call
  labs/bridge/llm_wrappers/openai_modulated_service.py
Due: block-labs-imports, guardrail-check

fix: restore auth for intent registry API
  tools/ci/intent_api.py
Due: block-labs-imports, guardrail-check

Fix kill switch logging for ASCII locales
  lukhas_website/lukhas/governance/guardian_system.py
Due: block-labs-imports, guardrail-check

docs(branding): add Claude Code Web prompts 3-6 for governance implementation
  CLAUDE_WEB_PROMPTS_3_TO_6.md
Due: none

docs(ci): add LUKHAS policies header for AI assistants
  .github/LUKHAS_POLICIES.md
Due: none

ci(branding): add comprehensive content linting workflow
  .github/BRANCH_PROTECTION.md
  .github/hooks/pre-commit
  .github/workflows/README.md
  .github/workflows/content-lint.yml
  Makefile
Due: none

feat(branding): add evidence page template system with bidirectional linking
  Makefile
  branding/governance/tools/EVIDENCE_SYSTEM.md
  branding/templates/evidence_page.md
  tools/generate_evidence_page.py
  tools/validate_evidence_pages.py
Due: block-labs-imports, guardrail-check

feat(branding): add SEO technical hygiene for multi-domain ecosystem
  Makefile
  branding/governance/SEO_GUIDE.md
  branding/seo/canonical_map.yaml
  branding/templates/schema/article.json
  branding/templates/schema/organization.json
  branding/templates/schema/product_page.json
  branding/websites/lukhas.ai/sitemap.xml
  branding/websites/lukhas.app/sitemap.xml
  branding/websites/lukhas.com/sitemap.xml
  branding/websites/lukhas.dev/sitemap.xml
  branding/websites/lukhas.eu/sitemap.xml
  tools/generate_sitemaps.py
  tools/validate_seo.py
Due: block-labs-imports, guardrail-check

feat(branding): add privacy-first event taxonomy and analytics integration
  Makefile
  branding/analytics/INTEGRATION_GUIDE.md
  branding/analytics/event_taxonomy.json
  branding/analytics/kpi_dashboard_spec.md
  tools/validate_events.py
Due: block-labs-imports, guardrail-check

fix: access pytest-benchmark stats correctly
  tests/performance/matriz/test_matriz_performance.py
Due: block-labs-imports, guardrail-check

Scope GLYPH integration tests' module mocks
  tests/unit/consciousness/glyph/test_neural_mesh.py
Due: block-labs-imports, guardrail-check

docs(branding): update Claude Web prompts with user edits
  CLAUDE_WEB_PROMPTS_3_TO_6.md
Due: none

test: limit keychain mocking to targeted codex tests
  tests/unit/bridge/llm_wrappers/test_codex_wrapper.py
Due: block-labs-imports, guardrail-check

feat(branding): create evidence artifacts for claims validation system (#1102)
  release_artifacts/README.md
  release_artifacts/gdpr-compliance-validation.json
  release_artifacts/global-latency-benchmarks-2024.json
  release_artifacts/guardian-compliance-2025-Q3.pdf.md
  release_artifacts/lambda-id-security-audit-2024.pdf.md
  release_artifacts/matriz-87-percent-complete-2025-q4.json
  release_artifacts/matriz-p95-latency-2025-q3.json
Due: none

Claude/branding claims registry 011 c uv zjy bapc dwzg3 f wwxep (#1104)
  Makefile
  branding/governance/README.md
  branding/governance/claims_registry.json
  tools/generate_claims_registry.py
  tools/validate_claims.py
Due: block-labs-imports, guardrail-check

feat(branding): add SEO technical hygiene for multi-domain ecosystem (#1111)
  Makefile
  branding/governance/SEO_GUIDE.md
  branding/seo/canonical_map.yaml
  branding/templates/schema/article.json
  branding/templates/schema/organization.json
  branding/templates/schema/product_page.json
  branding/websites/lukhas.ai/sitemap.xml
  branding/websites/lukhas.app/sitemap.xml
  branding/websites/lukhas.com/sitemap.xml
  branding/websites/lukhas.dev/sitemap.xml
  branding/websites/lukhas.eu/sitemap.xml
  tools/generate_sitemaps.py
  tools/validate_seo.py
Due: block-labs-imports, guardrail-check

feat(branding): add evidence page template system with bidirectional linking (#1110)
  Makefile
  branding/governance/tools/EVIDENCE_SYSTEM.md
  branding/templates/evidence_page.md
  tools/generate_evidence_page.py
  tools/validate_evidence_pages.py
Due: block-labs-imports, guardrail-check

ci(branding): add comprehensive content linting workflow (#1112)
  .github/BRANCH_PROTECTION.md
  .github/hooks/pre-commit
  .github/workflows/README.md
  .github/workflows/content-lint.yml
  Makefile
Due: none

feat(branding): add privacy-first event taxonomy and analytics integration (#1113)
  Makefile
  branding/analytics/INTEGRATION_GUIDE.md
  branding/analytics/event_taxonomy.json
  branding/analytics/kpi_dashboard_spec.md
  tools/validate_events.py
Due: block-labs-imports, guardrail-check

Escape claim statement in evidence generator
  tools/generate_evidence_page.py
Due: block-labs-imports, guardrail-check
