Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, matrix-identity-validation, lukhas-tier-consistency, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [--line-length=100]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.3
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  # Matrix Tracks hygiene hooks
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        files: ^examples/matrix_tracks/.*\.sh$
        args: ['-e', 'SC1091']  # Exclude "file not found" for relative imports

  # Matrix Contracts Validation
  - repo: local
    hooks:
      - id: matrix-contract-presence
        name: Matrix Contract Presence
        entry: python3 tools/validate_contract_presence.py --enforce --quiet
        language: system
        files: lukhas/.*/__init__\.py
        pass_filenames: false

      - id: matrix-contract-schema
        name: Matrix Contract Schema Validation
        entry: python3 tools/matrix_gate.py --pattern "lukhas/**/matrix_*.json"
        language: system
        files: lukhas/.*/matrix_.*\.json
        pass_filenames: false

      - id: matrix-identity-validation
        name: Matrix Identity Block Validation
        entry: python3 tools/matrix_gate.py --identity --pattern "lukhas/**/matrix_*.json"
        language: system
        files: lukhas/.*/matrix_.*\.json
        pass_filenames: false

      - id: lukhas-tier-consistency
        name: Î›iD Tier Consistency Check
        entry: python3 tools/lukhas_id_bridge.py --check-consistency
        language: system
        files: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
        pass_filenames: false

  - repo: local
    hooks:
      # T4: guardrail usage (ban direct LLM calls)
      - id: guardrail-check
        name: guardrail-check (ban direct LLM calls)
        entry: python3 scripts/ci/check_guardrail_usage.py
        language: system
        pass_filenames: true
        types: [python]
        stages: [pre-commit]
      # T4: fast smoke executes on push, not on each commit
      - id: quick-smoke-tests
        name: quick-smoke-tests
        entry: make quick-smoke
        language: system
        pass_filenames: false
        stages: [pre-push]

      # Matrix Tracks specific validation hooks
      - id: matrix-contract-validation
        name: Validate Matrix Contracts
        entry: python3 tools/pre_commit_matrix_check.py
        language: system
        files: ^.*matrix_.*\.json$
        pass_filenames: true

      - id: telemetry-semconv-validation
        name: Validate Telemetry Semantic Conventions
        entry: python3 tools/pre_commit_telemetry_check.py
        language: system
        files: ^telemetry/fixtures/.*\.json$
        pass_filenames: true

      - id: demo-script-validation
        name: Validate Matrix Tracks Demo Scripts
        entry: python3 tools/pre_commit_demo_lint.py
        language: system
        files: ^examples/matrix_tracks/.*\.sh$
        pass_filenames: true

feat(ops): add claude command pack for flat-root consolidation and matriz validation
  .claude/COMMANDS_INDEX.md
  .claude/commands/00_discovery.md
  .claude/commands/10_flat_dry_run.md
  .claude/commands/20_flat_execute.md
  .claude/commands/25_import_rewrite.md
  .claude/commands/30_contracts_colocate.md
  .claude/commands/40_validate_all.md
  .claude/commands/50_coverage_report.md
  .claude/commands/60_generate_reorg_report.md
  .claude/commands/70_shim_audit.md
  .claude/commands/80_roll_back.md
Due: none

fix(imports): resolve undefined name errors and update metrics usage
  Lukhas/aka_qualia/tests/test_memory_gdpr.py
  lukhas/api/oidc.py
Due: guardrail-check

fix(imports): lukhas namespace compatibility + targeted promotions
  .claude/settings.local.json
  artifacts/consolidation_errors_analysis.md
  artifacts/consolidation_solution_plan.md
  artifacts/consolidation_success_report.md
  artifacts/promotion_log.md
  core/bio_symbolic_processor.py
  core/consciousness_signal_router.py
  core/constellation_alignment_system.py
  core/matriz_consciousness_integration.py
  core/matriz_consciousness_signals.py
  core/matriz_signal_emitters.py
  core/metrics.py
  lukhas/__init__.py
  lukhas/core/__init__.py
  tools/probe_imports.py
  utils/__init__.py
Due: matrix-contract-presence, guardrail-check

feat(promotion): add promotion selector tool for ranking legacy files
  artifacts/promotion_selector.md
  tools/promotion_selector.py
  tools/tools:promotion_selector.py
Due: guardrail-check

feat(promotion): implement flat layout target rewriting for promotion plans
  artifacts/promotion_selector.md
  tools/fix_plan_to_flat.py
  tools/promotion_selector.py
Due: guardrail-check

feat(opa): fmt+check+test gate + checksum guard + quarantine lane
  Makefile
  policies/matrix/identity.rego
  policies/matrix/identity_test.rego
  tests/marks.py
Due: guardrail-check

feat(ops): add promotion guardrails for candidate/ directory governance
  .github/workflows/promotion-guard.yml
  .pre-commit-config.yaml
  tools/check_no_new_candidate.sh
  tools/compare_coverage.py
Due: guardrail-check

feat(ops): add automated batch cockpit for T4/0.01% promotion conveyor
  COCKPIT_BRIEF.md
  tools/batch_cockpit.py
Due: guardrail-check

feat(ops): add burst mode conveyor for accelerated candidate/ drain
  COCKPIT_BRIEF.md
  tools/burst_cockpit.py
Due: guardrail-check

feat(ops): add mission control dashboard and go-live operations runbook
  .github/pull_request_template/promotion_batch.md
  GO_LIVE_RUNBOOK.md
  tools/batch_cockpit.py
  tools/burst_cockpit.py
  tools/dashboard_bot.py
Due: guardrail-check

feat(module-manifest): add T4/0.01% module standardization system
  .github/workflows/promotion-guard.yml
  .pre-commit-config.yaml
  Makefile
  schemas/module.manifest.schema.json
  tools/module_manifest_upgrade.py
Due: guardrail-check

feat(docs): implement vocabulary-aware README generation with 3-Layer Tone System
  MATRIZ/README.md
  api/README.md
  brain/README.md
  bridge/README.md
  consciousness/README.md
  core/README.md
  governance/README.md
  identity/README.md
  memory/README.md
  orchestration/README.md
  tools/enhanced_readme_with_tone_system.py
  tools/vocabulary_aware_readme_generator.py
Due: guardrail-check

fix(config): align with schema + yaml lint
  claude_army/config/config.yaml
  design_system/config/config.yaml
  final_sweep/config/config.yaml
  jules_branch/config/config.yaml
  lukhas_ai_intro/config/config.yaml
  schemas/config.schema.json
  security_reports/config/config.yaml
  system_claude_audit/config/config.yaml
  todo/config/config.yaml
Due: none

ci(test): enable 8-way sharding for pytest
  .github/workflows/config-validation.yml
  .github/workflows/test-sharded.yml
  artifacts/readiness_scoreboard.txt
Due: none

chore(quality): publish readiness scoreboard and developer guide
  docs/SCAFFOLD_REGIMENT.md
Due: none

feat(scaffold): implement T4/0.01% scaffold sync system with professional templates
  .pre-commit-config.yaml
  Makefile
  lukhas/config/docs/README.md
  lukhas/config/docs/api.md
  lukhas/config/tests/test_config_integration.py
  lukhas/config/tests/test_config_unit.py
  lukhas/core/docs/api.md
  lukhas/core/tests/test_core_integration.py
  lukhas/core/tests/test_core_unit.py
  lukhas/docs/docs/README.md
  lukhas/docs/docs/api.md
  lukhas/docs/tests/test_docs_integration.py
  lukhas/docs/tests/test_docs_unit.py
  lukhas/schema/docs/README.md
  lukhas/schema/docs/api.md
  lukhas/schema/tests/test_schema_integration.py
  lukhas/schema/tests/test_schema_unit.py
  lukhas/tests/docs/README.md
  lukhas/tests/docs/api.md
  lukhas/tests/tests/test_tests_integration.py
  lukhas/tests/tests/test_tests_unit.py
  templates/module_scaffold/.scaffoldignore
  templates/module_scaffold/docs/README.md.j2
  templates/module_scaffold/docs/api.md.j2
  templates/module_scaffold/tests/test_{{ module }}_integration.py.j2
  templates/module_scaffold/tests/test_{{ module }}_unit.py.j2
  tools/scaffold_diff.py
  tools/scaffold_guard.py
  tools/scaffold_sync.py
Due: guardrail-check

feat(manifests): implement T4/0.01% module manifest validation system
  .pre-commit-config.yaml
  Makefile
  schemas/README_MODULE_MANIFEST.md
  schemas/examples/module.manifest.example.json
  schemas/module.manifest.schema.json
  tools/manifest_validate.py
Due: guardrail-check

test(conformance): implement automated manifest contract validation system
  artifacts/conformance_test_report.md
  tests/conformance/__init__.py
  tests/conformance/test_contracts.py
  tools/generate_conformance_tests.py
Due: guardrail-check

feat(schemas): add non-breaking aliases and deprecations support to manifest schema
  docs/DEVELOPER_GUIDE.md
  docs/MANIFEST_SYSTEM.md
  schemas/CHANGELOG.md
  schemas/module.manifest.schema.json
  tools/README_MANIFEST_SYSTEM.md
  tools/manifest_indexer.py
  tools/manifest_lock_hydrator.py
  tools/registry_diff.py
Due: guardrail-check

ci(ops): integrate manifest system into build pipeline with makefile targets, CI workflow, and pre-commit hooks
  .github/workflows/manifest-system.yml
  .pre-commit-config.yaml
  Makefile
  artifacts/.gitignore
  artifacts/.gitkeep
Due: none

chore(ops): add generated manifest lockfiles to gitignore
  .gitignore
Due: none

feat(consciousness): add simulation lane with T4/0.01% defensive controls
  .claude/commands/91_sim_lane_bootstrap.yaml
  .claude/commands/92_sim_lane_ci_env.yaml
  .claude/commands/93_sim_lane_refactor_callers.yaml
  .claude/commands/94_sim_lane_validate.yaml
  Makefile
  consciousness/simulation/__init__.py
  consciousness/simulation/api.py
  consciousness/simulation/ethics_gate.py
  consciousness/simulation/evaluator.py
  consciousness/simulation/module.manifest.json
  consciousness/simulation/rollout.py
  consciousness/simulation/scheduler.py
  consciousness/simulation/summarizer.py
  consciousness/simulation/world_model.py
  pyproject.toml
  requirements.txt
  schemas/matriz_node_v1.json
  tests/consciousness/simulation/__init__.py
  tests/consciousness/simulation/module.manifest.json
  tests/consciousness/simulation/test_simulation_lane.py
Due: guardrail-check

docs(consciousness): add simulation lane README with API reference and architecture
  consciousness/simulation/README.md
Due: none

fix(manifests): restore 39 module entrypoints by fixing import paths
  lukhas/core/common.py
  lukhas/orchestration/__init__.py
  lukhas/orchestration/signals/__init__.py
  lukhas/orchestration/signals/signal_bus.py
  rl/module.manifest.json
  symbolic/module.manifest.json
  trace/module.manifest.json
Due: matrix-contract-presence, guardrail-check

docs(simulation): add polish pack with PR template, import contracts, and tooling
  .github/pull_request_template/simulation_lane.md
  .importlinter.ini
  .pre-commit-config.yaml
  Makefile
  README.md
  docs/consciousness/README.md
  docs/consciousness/SIMULATION_SUMMARY.md
  examples/simulation_smoke.py
Due: guardrail-check

docs(manifests): add FINAL_SUMMARY + release notes; link from README
  .claude/settings.local.json
  .github/RELEASE_TEMPLATE_MANIFEST.md
  .github/workflows/manifest-system.yml
  .import-linter-contracts.toml
  Makefile
  README.md
  consciousness/README.md
  docs/INDEX.md
  docs/consciousness/SIMULATION_LANE_IMPLEMENTATION.md
  docs/consciousness/SIMULATION_SUMMARY.md
  docs/manifests/FINAL_SUMMARY.md
  scripts/simulation_lane_automation.sh
  tests/simulation/test_smoke_simulation.py
Due: guardrail-check

docs(adapters,security): add comprehensive context files for adapters and security modules
  adapters/claude.me
  adapters/lukhas_context.md
  security/claude.me
  security/lukhas_context.md
Due: none

docs(monitoring): add comprehensive context files for monitoring module
  monitoring/claude.me
  monitoring/lukhas_context.md
Due: none
