Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock

matrix-contract-presence:
  name: Matrix Contract Presence
  entry: python3 tools/validate_contract_presence.py --enforce --quiet
  language: system
  pass_filenames: false

matrix-contract-schema:
  name: Matrix Contract Schema Validation
  entry: python3 tools/matrix_gate.py --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

opa-format:
  name: Format OPA policies
  entry: opa fmt -w
  language: system

matrix-identity-validation:
  name: Matrix Identity Block Validation
  entry: python3 tools/matrix_gate.py --identity --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

lukhas-tier-consistency:
  name: ΛiD Tier Consistency Check
  entry: python3 tools/lukhas_id_bridge.py --check-consistency
  language: system
  pass_filenames: false

guardrail-check:
  name: guardrail-check (ban direct LLM calls)
  entry: python3 scripts/ci/check_guardrail_usage.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

matrix-contract-validation:
  name: Validate Matrix Contracts
  entry: python3 tools/pre_commit_matrix_check.py
  language: system
  pass_filenames: true

telemetry-semconv-validation:
  name: Validate Telemetry Semantic Conventions
  entry: python3 tools/pre_commit_telemetry_check.py
  language: system
  pass_filenames: true

demo-script-validation:
  name: Validate Matrix Tracks Demo Scripts
  entry: python3 tools/pre_commit_demo_lint.py
  language: system
  pass_filenames: true

reject-legacy-directory-index:
  name: Reject legacy directory_index.json files
  entry: python3 -c "import sys; files=[f for f in sys.argv[1:] if 'directory_index.json' in f]; sys.exit(1 if files else 0)"
  language: system
  pass_filenames: true

validate-module-manifests-changed:
  name: T4 Module Manifest Validation
  entry: python3 tools/manifest_validate.py --all
  language: system
  pass_filenames: false

validate-configs-and-secrets:
  name: Validate configs and detect secrets
  entry: python3 tools/validate_configs.py
  language: system
  pass_filenames: false

manifest-validate:
  name: Manifest Validate
  entry: python3 tools/manifest_validate.py
  language: system
  pass_filenames: false

manifest-lock:
  name: Manifest Lock Hydrator
  entry: python3 tools/manifest_lock_hydrator.py
  language: system
  pass_filenames: false

feat(types): add Callable type aliases and DistributedEnergyTask for distributed coordination
  core/constellation_alignment_system.py
  core/utils/orchestration_energy_aware_execution_planner.py
Due: guardrail-check

feat(manifests): Phase 1 production manifests - Batch 2 (core+matriz)
  manifests/core/symbolic/constraints/module.manifest.json
  manifests/core/symbolic/module.manifest.json
  manifests/core/symbolic_core/module.manifest.json
  manifests/core/utils/module.manifest.json
  manifests/core/verifold/module.manifest.json
  manifests/matriz/adapters/adapters/module.manifest.json
  manifests/matriz/adapters/drive/module.manifest.json
  manifests/matriz/adapters/dropbox/module.manifest.json
  manifests/matriz/adapters/gmail_headers/module.manifest.json
  manifests/matriz/adapters/module.manifest.json
  manifests/matriz/consciousness/cognitive/module.manifest.json
  manifests/matriz/consciousness/core/module.manifest.json
  manifests/matriz/consciousness/dream/module.manifest.json
  manifests/matriz/consciousness/module.manifest.json
  manifests/matriz/consciousness/reflection/module.manifest.json
  manifests/matriz/core/module.manifest.json
  manifests/matriz/nodes/module.manifest.json
  manifests/matriz/orchestration/module.manifest.json
  manifests/matriz/utils/module.manifest.json
  manifests/matriz/visualization/module.manifest.json
Due: validate-module-manifests-changed, manifest-validate, manifest-lock

feat(manifests): Phase 1 production manifests - Batch 3 (final core+matriz)
  manifests/matriz/module.manifest.json
Due: validate-module-manifests-changed, manifest-validate, manifest-lock

docs(audit): add Manifest Coverage Phase 1 report (core+matriz)
  docs/audits/MANIFEST_COVERAGE_P1_REPORT.md
Due: none

feat(integration): implement ABASIntegrationHub and QIAGISystem stub interfaces
  core/orchestration/integration_hub.py
Due: guardrail-check

tools: add manifest generator and lightweight validator
  tools/manifests/generate_manifests.py
  tools/validate_manifest.py
Due: guardrail-check

docs(audit): augment Manifest Coverage P1 report with star distribution and lane breakdown
  docs/audits/MANIFEST_COVERAGE_P1_REPORT.md
Due: none

feat(codex): add 10 TODO batches for distributed task execution
  agents/batches/BATCH-CODEX-API-MIDDLEWARE-01.json
  agents/batches/BATCH-CODEX-BIO-INTEGRATION-01.json
  agents/batches/BATCH-CODEX-BRAIN-SPECIALISTS-01.json
  agents/batches/BATCH-CODEX-CONSCIOUSNESS-LEGACY-01.json
  agents/batches/BATCH-CODEX-DAST-ENGINE-01.json
  agents/batches/BATCH-CODEX-FAULT-TOLERANCE-02.json
  agents/batches/BATCH-CODEX-IDENTITY-INTEGRATION-01.json
  agents/batches/BATCH-CODEX-IMPORT-CLEANUP-01.json
  agents/batches/BATCH-CODEX-QUANTUM-INTEGRATION-01.json
  agents/batches/BATCH-CODEX-STREAMLIT-FIX-01.json
  agents/batches/CODEX_BATCHES_SUMMARY.md
Due: none

feat(core): implement DAST gesture analysis
  core/symbolic/dast_engine.py
  tests/core/symbolic/test_dast_engine.py
Due: guardrail-check

feat(identity): integrate IdentityManager across orchestration
  core/identity/vault/__init__.py
  core/identity/vault/lukhas_id.py
  core/interfaces/api/v1/v1/rest/middleware.py
  core/orchestration/brain/dashboard/__init__.py
  core/orchestration/brain/dashboard/main_dashboard.py
  core/orchestration/brain/orchestration/main_node.py
  tests/core/identity/test_identity_manager.py
Due: guardrail-check

feat(api): add tier enforcement and rate limiting
  core/interfaces/api/v1/v1/rest/middleware.py
  tests/unit/core/interfaces/api/v1/v1/test_rest_middleware.py
Due: guardrail-check

fix(interfaces): surface module metadata in streamlit
  core/interfaces/as_agent/streamlit/app.py
  tests/unit/core/interfaces/as_agent/test_streamlit_app.py
Due: guardrail-check

feat(bio): integrate BioCore orchestration
  bio/__init__.py
  bio/core/__init__.py
  bio/core/bio_core.py
  bio/tests/test_bio_core_regulation.py
  core/orchestration/brain/orchestration/core.py
  core/orchestration/core.py
  core/orchestration/integration_hub.py
Due: guardrail-check

feat(consciousness): implement GLYPH legacy consensus
  core/consciousness/drift_detector.py
  core/orchestration/brain/integration/brain_integration.py
  core/symbolic/glyph_specialist.py
  tests/core/consciousness/test_consciousness_legacy.py
Due: guardrail-check

feat(core): add Supervisor custom failure handlers
  core/fault_tolerance.py
  tests/core/test_fault_tolerance.py
Due: guardrail-check

fix(orchestration): restore healix mapper dependencies
  core/blockchain/__init__.py
  core/blockchain/blockchain_wrapper.py
  core/consciousness/drift_detector.py
  core/emotion/__init__.py
  core/emotion/emotion_mapper_alt.py
  core/identity/vault/__init__.py
  core/identity/vault/lukhas_id.py
  core/orchestration/brain/dashboard/__init__.py
  core/orchestration/brain/dashboard/main_dashboard.py
  core/orchestration/brain/spine/accent_adapter.py
  core/orchestration/brain/spine/healix_mapper.py
  core/widgets/__init__.py
  core/widgets/healix_widget.py
  tests/core/orchestration/brain/spine/test_healix_integration.py
Due: guardrail-check

feat(orchestration): add MultiBrain specialist coordination
  core/orchestration/brain/integration/brain_integration.py
  tests/unit/orchestration/test_multi_brain_specialists.py
Due: guardrail-check

feat(dast): implement gesture scoring, interpretation, and corpus repository
  core/symbolic/dast_engine.py
  tests/core/symbolic/test_dast_engine.py
Due: guardrail-check

feat(api): add tier enforcement and rate limiting middleware
  core/interfaces/api/v1/v1/rest/middleware.py
  tests/unit/core/interfaces/api/v1/v1/test_rest_middleware.py
Due: guardrail-check

feat(identity): implement IdentityManager and LukhasIdentityVault
  core/identity/vault/__init__.py
  core/identity/vault/lukhas_id.py
  core/interfaces/api/v1/v1/rest/middleware.py
  core/orchestration/brain/dashboard/__init__.py
  core/orchestration/brain/dashboard/main_dashboard.py
  core/orchestration/brain/orchestration/main_node.py
  tests/core/identity/test_identity_manager.py
Due: guardrail-check

fix(streamlit): add module discovery and sidebar rendering
  core/interfaces/as_agent/streamlit/app.py
  tests/unit/core/interfaces/as_agent/test_streamlit_app.py
Due: guardrail-check

feat(bio): integrate BioCore with orchestration and ABAS
  bio/__init__.py
  bio/core/__init__.py
  bio/core/bio_core.py
  bio/tests/test_bio_core_regulation.py
  core/orchestration/brain/orchestration/core.py
  core/orchestration/core.py
  core/orchestration/integration_hub.py
Due: guardrail-check

feat(consciousness): implement GLYPH legacy consensus system
  core/consciousness/drift_detector.py
  core/orchestration/brain/integration/brain_integration.py
  core/symbolic/glyph_specialist.py
  tests/core/consciousness/test_consciousness_legacy.py
Due: guardrail-check

feat(fault-tolerance): add custom handler registry to Supervisor
  core/fault_tolerance.py
  tests/core/test_fault_tolerance.py
Due: guardrail-check

feat(orchestration): implement MultiBrain specialist coordinator
  core/orchestration/brain/integration/brain_integration.py
  tests/unit/orchestration/test_multi_brain_specialists.py
Due: guardrail-check

fix(healix): resolve import gaps and add dashboard scaffolding
  .coverage.g.local.6275.XmjHSABx
  core/blockchain/__init__.py
  core/blockchain/blockchain_wrapper.py
  core/emotion/__init__.py
  core/emotion/emotion_mapper_alt.py
  core/orchestration/brain/spine/accent_adapter.py
  core/orchestration/brain/spine/healix_mapper.py
  core/widgets/__init__.py
  core/widgets/healix_widget.py
  services/registry/pqc_signer.py
  tests/core/orchestration/brain/spine/test_healix_integration.py
  tests/unit/matriz/test_cognitive_orchestrator.py
  tests/unit/matriz/test_node_interface.py
Due: guardrail-check

test(core): add comprehensive test suites for BlockchainWrapper and EmotionMapper
  tests/unit/core/blockchain/test_blockchain_wrapper.py
  tests/unit/core/emotion/test_emotion_mapper_alt.py
Due: guardrail-check

test(services): add comprehensive PQC signer test suite with quantum-resistant validation
  tests/unit/services/registry/test_pqc_signer.py
Due: guardrail-check

docs(tests): add comprehensive test suites delivery report
  HIGH_QUALITY_TEST_SUITES_DELIVERY.md
Due: none

docs(context): add Phase 2 surgical plan (2025-10-24)
  todo/PHASE_2_SURGICAL_PLAN_2025-10-24.md
Due: none

feat(context): T4-grade context system with critical fixes
  CONTEXT_ANALYSIS_INDEX.md
  CONTEXT_ANALYSIS_SUMMARY.md
  CONTEXT_SYSTEM_IMPLEMENTATION_SUMMARY.md
  LUKHAS_CONTEXT_ANALYSIS_T4.md
  labs/context/README.md
  labs/context/cache/AsyncLock.ts
  labs/context/cache/AsyncMemoryStore.ts
  labs/context/preservation/AtomicContextPreserver.ts
  labs/context/routing/ModelRouterWithCircuitBreaker.ts
  labs/context/tests/T4GradeTestSuite.ts
  labs/context/ttl/TTLEnforcementEngine.ts
Due: none

feat(context): Phase 2 complete - Correctness + Resource Constraints
  labs/context/PHASE_2_README.md
  labs/context/checksum/ChecksumVerifier.ts
  labs/context/cpu/CPUBudgetEnforcer.ts
  labs/context/delta/DeltaEncoder.ts
  labs/context/dryrun/DryRunContext.ts
  labs/context/memory/MemoryBudgetEnforcer.ts
  labs/context/tests/Phase2TestSuite.ts
Due: none

docs(context): Complete T4-grade context system documentation
  MATRIZ/adapters/lukhas_context.md
  MATRIZ/core/lukhas_context.md
  MATRIZ/lukhas_context.md
  MATRIZ/nodes/lukhas_context.md
  MATRIZ/visualization/lukhas_context.md
Due: none

docs(context): update lukhas_context.md with T4-grade Context System integration
  consciousness/lukhas_context.md
  core/lukhas_context.md
  labs/lukhas_context.md
  lukhas_context.md
  memory/lukhas_context.md
  orchestration/lukhas_context.md
Due: none

docs(context): add T4 Context System to products/lukhas_context.md
  products/lukhas_context.md
Due: none

feat(context): Phase 3 complete - Distribution + Persistence
  labs/context/PHASE_3_SUMMARY.md
  labs/context/distributed/DistributedLockManager.ts
  labs/context/persistence/WriteAheadLog.ts
Due: none

docs(matriz): comprehensive MATRIZ + Constellation documentation - T4 standards
  MATRIZ/interfaces/lukhas_context.md
  MATRIZ/runtime/lukhas_context.md
  consciousness/lukhas_context.md
  governance/lukhas_context.md
  guardian/lukhas_context.md
  identity/lukhas_context.md
  memory/lukhas_context.md
Due: none

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
