Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$

docs(colony): comprehensive rename RFC for stakeholder review
  docs/rfcs/COLONY_RENAME_RFC.md
Due: none

feat(api): OpenAI header & envelope parity (X-Request-Id, RL aliases, org/project)
  lukhas/adapters/openai/api.py
  lukhas/adapters/openai/auth.py
  lukhas/observability/tracing.py
  tests/smoke/test_headers_openai_parity.py
Due: guardrail-check

docs(openai): comprehensive terminology alignment implementation guide
  docs/openai/OPENAI_TERMINOLOGY_ALIGNMENT.md
Due: none

feat(api): OpenAI header & envelope parity - Full SDK compatibility (#406)
  docs/openai/OPENAI_TERMINOLOGY_ALIGNMENT.md
  docs/rfcs/COLONY_RENAME_RFC.md
  lukhas/adapters/openai/api.py
  lukhas/adapters/openai/auth.py
  lukhas/observability/tracing.py
  tests/smoke/test_headers_openai_parity.py
Due: guardrail-check

docs(dx): OpenAI header examples + Postman env + SDK snippets
  README.md
  docs/gonzo/dx/COOKBOOK_responses.md
  docs/postman/LUKHAS.postman_environment.json
Due: none

docs(ops): RC soak monitoring guide for Guardian/RL v0.9.0
  docs/operations/RC_SOAK_MONITORING.md
Due: none

docs(dx): OpenAI header examples + Postman env + SDK snippets (#407)
  README.md
  docs/gonzo/dx/COOKBOOK_responses.md
  docs/postman/LUKHAS.postman_environment.json
Due: none

chore(coordination): Claude Code task coordination infrastructure
  Makefile
  docs/audits/pre-audit/GUARDRAILS_CHECKLIST.md
  docs/plans/COORDINATION_DASHBOARD.md
  docs/plans/TASK_ASSIGNMENTS_CLAUDE.md
  docs/plans/task_status.json
  scripts/coordination/daily_snapshot.sh
Due: none

docs(coordination): Claude Code summary - 18 tasks ready for parallel execution
  docs/plans/CLAUDE_COORDINATION_SUMMARY.md
Due: none

docs(ops): RC soak monitoring guide for Guardian/RL v0.9.0 (#409)
  docs/operations/RC_SOAK_MONITORING.md
Due: none

chore(ruff): safe auto-fix (I001) on dreams module (#396)
  lukhas/consciousness/dreams/engine.py
  lukhas/consciousness/dreams/schema.py
Due: guardrail-check

fix(api): resolve E402 import ordering in consciousness_chat_api and feedback_api
  api/consciousness_chat_api.py
  api/feedback_api.py
Due: guardrail-check

fix(api): resolve E402 import ordering in consciousness_chat_api and feedback_api (#411)
  api/consciousness_chat_api.py
  api/feedback_api.py
Due: guardrail-check

fix(lukhas): add E402 noqa for intentional late imports in bridge modules
  lukhas/core/common/__init__.py
  lukhas/metrics.py
Due: matrix-contract-presence, guardrail-check

fix(lukhas): add E402 noqa for intentional late imports in bridge modules (#412)
  lukhas/core/common/__init__.py
  lukhas/metrics.py
Due: matrix-contract-presence, guardrail-check

docs(pre-audit): CC-1 guardrails checklist execution (3/4 complete)
  docs/audits/live/20251016/ruff_statistics.txt
  docs/audits/pre-audit/summary_20251016.md
Due: none

docs(coordination): complete summary of Claude Code tasks
  docs/plans/CLAUDE_TASKS_COMPLETE.md
Due: none

fix(e402): resolve import ordering in identity, consent, gtpsi, serve modules
  consent/service.py
  gtpsi/edge/__init__.py
  identity/tier_system.py
  serve/reference_api/public_api_reference.py
Due: guardrail-check

feat(shadow): add Lukhas/OpenAI shadow diff harness
  Makefile
  docs/audits/shadow/20251016T043639Z.json
  docs/audits/shadow/20251016T043639Z.md
  docs/audits/shadow/latest.json
  docs/audits/shadow/latest.md
  lukhas/adapters/openai/policy_pdp.py
  scripts/shadow_diff.py
Due: guardrail-check

fix(e402): resolve import ordering in identity, consent, gtpsi, serve modules (#413)
  consent/service.py
  gtpsi/edge/__init__.py
  identity/tier_system.py
  serve/reference_api/public_api_reference.py
Due: guardrail-check

fix(pre-audit): resolve G1 and G4 blockers - 3/4 guardrails passing
  docs/audits/pre-audit/summary_20251016_final.md
  scripts/generate_openapi.py
  scripts/state_sweep_and_prepare_prs.sh
Due: guardrail-check

test(smoke): SSE backpressure + idempotency replay/TTL edge cases
  tests/smoke/test_idempotency.py
  tests/smoke/test_responses_stream.py
Due: guardrail-check

feat(hygiene): implement shadow-diff harness and golden token kit for pre-audit validation
  .claude/settings.local.json
  Makefile
  docs/audits/pre-audit/IMPLEMENTATION_SUMMARY.md
  scripts/shadow_diff.py
  scripts/validate_openapi.py
  tests/fixtures/tokens.py
Due: guardrail-check

test(smoke): add golden fixtures module for auth consolidation
  tests/smoke/fixtures.py
Due: guardrail-check

test(smoke): migrate 17 tests to use golden fixtures
  tests/smoke/test_auth.py
  tests/smoke/test_concurrency.py
  tests/smoke/test_dreams.py
  tests/smoke/test_dreams_api.py
  tests/smoke/test_embeddings.py
  tests/smoke/test_error_handling.py
  tests/smoke/test_headers_openai_parity.py
  tests/smoke/test_idempotency.py
  tests/smoke/test_metrics_tracking.py
  tests/smoke/test_models.py
  tests/smoke/test_openai_facade.py
  tests/smoke/test_rate_limiting.py
  tests/smoke/test_responses.py
  tests/smoke/test_responses_stream.py
  tests/smoke/test_security_headers.py
  tests/smoke/test_trace_header.py
  tests/smoke/test_tracing.py
  tools/migrate_golden_fixtures.py
Due: guardrail-check

Feat/shadow diff harness (#414)
  Makefile
  docs/audits/shadow/20251016T043639Z.json
  docs/audits/shadow/20251016T043639Z.md
  docs/audits/shadow/latest.json
  docs/audits/shadow/latest.md
  lukhas/adapters/openai/policy_pdp.py
  scripts/shadow_diff.py
Due: guardrail-check

test(smoke): SSE backpressure + idempotency replay/TTL edge cases (#415)
  tests/smoke/test_idempotency.py
  tests/smoke/test_responses_stream.py
Due: guardrail-check

test(smoke): consolidate auth tokens into golden fixtures module (#416)
  tests/smoke/fixtures.py
  tests/smoke/test_auth.py
  tests/smoke/test_concurrency.py
  tests/smoke/test_dreams.py
  tests/smoke/test_dreams_api.py
  tests/smoke/test_embeddings.py
  tests/smoke/test_error_handling.py
  tests/smoke/test_headers_openai_parity.py
  tests/smoke/test_idempotency.py
  tests/smoke/test_metrics_tracking.py
  tests/smoke/test_models.py
  tests/smoke/test_openai_facade.py
  tests/smoke/test_rate_limiting.py
  tests/smoke/test_responses.py
  tests/smoke/test_security_headers.py
  tests/smoke/test_trace_header.py
  tests/smoke/test_tracing.py
  tools/migrate_golden_fixtures.py
Due: guardrail-check

docs(matriz): add evaluation harness documentation + Makefile targets
  Makefile
  docs/matriz/EVAL_HARNESS.md
Due: none

refactor: fix E402 violations in 4 files (simple batch)
  bridge/api/paths.py
  bridge/protocols/chat_completion_reasoning_effort.py
  tests/consciousness/test_c1_consciousness_components.py
  tests/core/test_llm_guardrail_metrics.py
Due: guardrail-check

refactor: fix E402 violations in 5 test files (batch 2)
  tests/integration/branding/test_content_generation.py
  tests/smoke/test_metrics_tracking.py
  tests/unit/candidate/consciousness/dream/test_dream_feedback_controller.py
  tests/unit/candidate/core/test_task_manager.py
  tests/unit/governance/ethics/test_enhanced_ethical_guardian.py
Due: guardrail-check

docs(matriz): MATRIZ evaluation harness documentation + Makefile targets
  Makefile
  docs/matriz/EVAL_HARNESS.md
Due: none

refactor: fix E402 violations in 5 files (batch 3)
  branding/orchestration/constellation_framework_deployer.py
  branding/orchestration/content_orchestrator.py
  branding/orchestration/voice_coherence_upgrader.py
  branding/vocabularies/usage_examples.py
  tests/unit/identity/test_matriz_consciousness_identity_signals.py
Due: guardrail-check

refactor: fix E402 violations in 3 files (batch 4)
  branding/integrations/llm_bridge.py
  branding/vocabularies/vocabulary.py
  bridge/protocols/freeze_protection_check.py
Due: guardrail-check
