Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

matrix-contract-presence:
  name: Matrix Contract Presence
  entry: python3 tools/validate_contract_presence.py --enforce --quiet
  language: system
  pass_filenames: false

matrix-contract-schema:
  name: Matrix Contract Schema Validation
  entry: python3 tools/matrix_gate.py --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

opa-format:
  name: Format OPA policies
  entry: opa fmt -w
  language: system

matrix-identity-validation:
  name: Matrix Identity Block Validation
  entry: python3 tools/matrix_gate.py --identity --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

lukhas-tier-consistency:
  name: ΛiD Tier Consistency Check
  entry: python3 tools/lukhas_id_bridge.py --check-consistency
  language: system
  pass_filenames: false

block-labs-imports:
  name: Block direct labs imports in production lanes
  entry: bash scripts/consolidation/block_labs_imports.sh
  language: system
  pass_filenames: false
  stages:
  - commit

import-linter:
  name: Import Isolation Guard (Simulation Lane)
  entry: import-linter
  language: system
  args:
  - --cache-dir
  - .importlinter_cache
  pass_filenames: false

simulation-lane-safety:
  name: Simulation Lane Safety Check
  entry: bash
  language: system
  args:
  - .claude/commands/95_sim_lane_summary.yaml
  pass_filenames: false

guardrail-check:
  name: guardrail-check (ban direct LLM calls)
  entry: python3 scripts/ci/check_guardrail_usage.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

matrix-contract-validation:
  name: Validate Matrix Contracts
  entry: python3 tools/pre_commit_matrix_check.py
  language: system
  pass_filenames: true

telemetry-semconv-validation:
  name: Validate Telemetry Semantic Conventions
  entry: python3 tools/pre_commit_telemetry_check.py
  language: system
  pass_filenames: true

demo-script-validation:
  name: Validate Matrix Tracks Demo Scripts
  entry: python3 tools/pre_commit_demo_lint.py
  language: system
  pass_filenames: true

reject-legacy-directory-index:
  name: Reject legacy directory_index.json files
  entry: python3 -c "import sys; files=[f for f in sys.argv[1:] if 'directory_index.json' in f]; sys.exit(1 if files else 0)"
  language: system
  pass_filenames: true

validate-module-manifests-changed:
  name: T4 Module Manifest Validation
  entry: python3 tools/manifest_validate.py --all
  language: system
  pass_filenames: false

validate-configs-and-secrets:
  name: Validate configs and detect secrets
  entry: python3 tools/validate_configs.py
  language: system
  pass_filenames: false

manifest-validate:
  name: Manifest Validate
  entry: python3 tools/manifest_validate.py
  language: system
  pass_filenames: false

manifest-lock:
  name: Manifest Lock Hydrator
  entry: python3 tools/manifest_lock_hydrator.py
  language: system
  pass_filenames: false

mcp-config-verify:
  name: 'Guard: MCP config verify'
  entry: python3 tools/mcp/verify_config.py
  language: system

Fail validation when taxonomy events are missing
  tools/validate_events.py
Due: block-labs-imports, guardrail-check

Fix 200 pytest collection errors blocking tests (#1099)
  bio/core/architecture_analyzer/__init__.py
  labs/async_utils/__init__.py
  labs/branding_bridge/__init__.py
  labs/consciousness/meta_cognitive_assessor/__init__.py
  labs/consciousness/registry/__init__.py
  labs/core/consciousness_ticker/__init__.py
  labs/core/drift/__init__.py
  labs/core/reliability/__init__.py
  labs/core/ring/__init__.py
  labs/core/symbolic/symbolic_glyph_hash/__init__.py
  labs/flags/__init__.py
  labs/ledger/__init__.py
  labs/matriz/runtime/__init__.py
  labs/memory/backends/__init__.py
  labs/observability/advanced_metrics/__init__.py
  labs/orchestration/context_preservation/__init__.py
  labs/orchestration/multi_ai_router/__init__.py
  labs/security/__init__.py
  matriz/runtime/__init__.py
  pytest.ini
  security/secure_random/__init__.py
  tests/performance/test_router_fast_path.py
  tests/rules/test_star_rules.py
  tests/unit/pytest.ini
  tests/unit/tools/test_todo_tooling.py
  trace/TraceRepairEngine/__init__.py
Due: block-labs-imports, guardrail-check, check-license-headers

docs(ci): add LUKHAS policies header for AI assistants (#1109)
  .github/LUKHAS_POLICIES.md
Due: none

feat(ops): integrate LUKHAS architectural rules with T4 Lint Platform (#1073)
  .github/workflows/architectural-guardian.yml
  tools/ci/lukhas_t4_linter.py
Due: block-labs-imports, guardrail-check

docs(branding): Phase 1 governance completion report
  BRANDING_GOVERNANCE_PHASE1_COMPLETE.md
  branding/governance/claims_registry.json
Due: none

Fix async benchmark execution in MATRIZ performance tests
  tests/performance/matriz/test_matriz_performance.py
Due: block-labs-imports, guardrail-check

docs(branding): add Prompts 7-8 for SEO and evidence quick wins
  CLAUDE_WEB_PROMPTS_7_AND_8.md
Due: none

Codex/fix yaml escaping for claim text (#1121)
  Makefile
  tools/generate_evidence_page.py
Due: block-labs-imports, guardrail-check

Fix critical audit findings for production (#1100)
  docs/audits/P0_AUDIT_RESOLUTION_STATUS.md
  docs/runbooks/GUARDIAN_EMERGENCY_PROCEDURES.md
  lukhas_website/lukhas/governance/guardian_system.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

docs(testing): comprehensive audit of 21 open PRs with merge recommendations
  PR_AUDIT_REPORT.md
Due: none

docs(testing): add reusable test assignment templates for Jules AI
  AGENT_TEST_TEMPLATE.md
  QUICK_TEST_ASSIGN.md
Due: none

docs(testing): add comprehensive test assignment system for Jules AI
  TEST_ASSIGNMENT_REPORT.md
Due: none

docs(testing): PR merge session results - 6 PRs merged, 5 need conflict resolution
  MERGE_RESULTS.md
Due: none

style: apply T4 linting after main merge
  bridge/llm_wrappers/codex_wrapper.py
  bridge/llm_wrappers/jules_wrapper.py
  core/orchestration/brain/unified_integration/__init__.py
  core/security/encryption_manager.py
  memory/lifecycle.py
  monitoring/integration_hub.py
  qi/engines/identity/qi_identity_manager.py
  scripts/validate_root_docs.py
Due: block-labs-imports, guardrail-check, check-license-headers

docs(testing): Add comprehensive test assignment system and Jules AI templates (#1036)
  AGENT_TEST_TEMPLATE.md
  MERGE_RESULTS.md
  PR_AUDIT_REPORT.md
  QUICK_TEST_ASSIGN.md
  TEST_ASSIGNMENT_REPORT.md
  bridge/llm_wrappers/codex_wrapper.py
  bridge/llm_wrappers/jules_wrapper.py
  core/orchestration/brain/unified_integration/__init__.py
  core/security/encryption_manager.py
  memory/lifecycle.py
  monitoring/integration_hub.py
  qi/engines/identity/qi_identity_manager.py
  scripts/validate_root_docs.py
Due: block-labs-imports, guardrail-check, check-license-headers

style: apply T4 linting after main merge
  core/security/encryption_manager.py
  matriz/adapters/tests/test_adapters_integration.py
  matriz/adapters/tests/test_adapters_unit.py
  matriz/consciousness/reflection/id_reasoning_engine.py
  matriz/tests/test_matriz_integration.py
  matriz/tests/test_matriz_unit.py
  monitoring/integration_hub.py
Due: block-labs-imports, guardrail-check, check-license-headers

docs(ops): add GitHub issues audit and cleanup report
  matriz/adapters/tests/test_adapters_integration.py
  matriz/adapters/tests/test_adapters_unit.py
  matriz/consciousness/reflection/id_reasoning_engine.py
  matriz/tests/test_matriz_integration.py
  matriz/tests/test_matriz_unit.py
Due: block-labs-imports, guardrail-check, check-license-headers

docs(mcp): add comprehensive MCP server diagnostic and fix guide
  MCP_SERVER_FIX.md
  check_mcp_health.sh
Due: none

docs(ops): Add GitHub issues audit, cleanup report, and MCP diagnostics (#1035)
  MCP_SERVER_FIX.md
  check_mcp_health.sh
  core/security/encryption_manager.py
  monitoring/integration_hub.py
Due: block-labs-imports, guardrail-check, check-license-headers

docs(audit): complete pre-launch audit with duplicate analysis and must-keep registry
  audit_2025_launch/README.md
  audit_2025_launch/data/baseline_commits.txt
  audit_2025_launch/data/baseline_md_count.txt
  audit_2025_launch/data/baseline_python_count.txt
  audit_2025_launch/data/baseline_sizes.txt
  audit_2025_launch/data/baseline_total_files.txt
  audit_2025_launch/data/baseline_tracked_files.txt
  audit_2025_launch/reports/FINAL_AUDIT_EXECUTIVE_SUMMARY.md
  audit_2025_launch/reports/duplicate_consolidation_plan.json
  audit_2025_launch/tools/analyze_duplicates.py
  audit_2025_launch/tools/analyze_file_duplicates.py
  audit_2025_launch/tools/build_must_keep_registry.py
Due: block-labs-imports, guardrail-check

docs(audit): add completion summary for pre-launch audit package
  audit_2025_launch/COMPLETION_SUMMARY.txt
Due: none

docs(audit): Complete pre-launch 2025 audit with duplicate analysis and must-keep registry (#1033)
  audit_2025_launch/COMPLETION_SUMMARY.txt
  audit_2025_launch/README.md
  audit_2025_launch/data/baseline_commits.txt
  audit_2025_launch/data/baseline_md_count.txt
  audit_2025_launch/data/baseline_python_count.txt
  audit_2025_launch/data/baseline_sizes.txt
  audit_2025_launch/data/baseline_total_files.txt
  audit_2025_launch/data/baseline_tracked_files.txt
  audit_2025_launch/reports/FINAL_AUDIT_EXECUTIVE_SUMMARY.md
  audit_2025_launch/reports/duplicate_consolidation_plan.json
  audit_2025_launch/tools/analyze_duplicates.py
  audit_2025_launch/tools/analyze_file_duplicates.py
  audit_2025_launch/tools/build_must_keep_registry.py
Due: block-labs-imports, guardrail-check

style: apply T4 linting standards
  core/security/encryption_manager.py
  monitoring/integration_hub.py
Due: block-labs-imports, guardrail-check, check-license-headers

test: isolate dream reflection loop module mocks
  tests/core/consciousness/test_dream_reflection_loop.py
Due: block-labs-imports, guardrail-check

docs(branding): add SEO front-matter to 55 branding pages
  branding/websites/architecture/short_architecture.md
  branding/websites/lukhas.ai/Updated_architecture_matriz_ready.md
  branding/websites/lukhas.ai/Updated_homepage_matriz_ready.md
  branding/websites/lukhas.ai/architecture.md
  branding/websites/lukhas.ai/homepage.md
  branding/websites/lukhas.app/architecture.md
  branding/websites/lukhas.app/homepage_matriz_ready.md
  branding/websites/lukhas.cloud/architecture.md
  branding/websites/lukhas.cloud/homepage_matriz_ready.md
  branding/websites/lukhas.com/Updated_homepage_matriz_ready.md
  branding/websites/lukhas.com/architecture.md
  branding/websites/lukhas.com/homepage.md
  branding/websites/lukhas.dev/Updated_architecture_matriz_ready.md
  branding/websites/lukhas.dev/architecture.md
  branding/websites/lukhas.dev/homepage.md
  branding/websites/lukhas.eu/architecture.md
  branding/websites/lukhas.eu/compliance.md
  branding/websites/lukhas.eu/grant-support.md
  branding/websites/lukhas.eu/homepage_matriz_ready.md
  branding/websites/lukhas.eu/research-partnerships.md
  branding/websites/lukhas.eu/research/cognitive-dna-explainable-ai.md
  branding/websites/lukhas.eu/research/constitutional-validation-production-ai.md
  branding/websites/lukhas.eu/research/distributed-consciousness-global-scale.md
  branding/websites/lukhas.eu/research/lambda-id-privacy-preserving-identity.md
  branding/websites/lukhas.eu/research/parallel-dream-simulation-gamechanger.md
  branding/websites/lukhas.id/architecture.md
  branding/websites/lukhas.id/homepage_matriz_ready.md
  branding/websites/lukhas.io/architecture.md
  branding/websites/lukhas.lab/architecture.md
  branding/websites/lukhas.store/architecture.md
  branding/websites/lukhas.team/architecture.md
  branding/websites/lukhas.us/Updated_notes_matriz_ready.md
  branding/websites/lukhas.us/architecture.md
  branding/websites/lukhas.xyz/architecture.md
Due: none

docs(branding): add SEO front-matter to 55 branding pages (#1129)
  branding/websites/architecture/short_architecture.md
  branding/websites/lukhas.ai/Updated_architecture_matriz_ready.md
  branding/websites/lukhas.ai/Updated_homepage_matriz_ready.md
  branding/websites/lukhas.ai/architecture.md
  branding/websites/lukhas.ai/homepage.md
  branding/websites/lukhas.app/architecture.md
  branding/websites/lukhas.app/homepage_matriz_ready.md
  branding/websites/lukhas.cloud/architecture.md
  branding/websites/lukhas.cloud/homepage_matriz_ready.md
  branding/websites/lukhas.com/Updated_homepage_matriz_ready.md
  branding/websites/lukhas.com/architecture.md
  branding/websites/lukhas.com/homepage.md
  branding/websites/lukhas.dev/Updated_architecture_matriz_ready.md
  branding/websites/lukhas.dev/architecture.md
  branding/websites/lukhas.dev/homepage.md
  branding/websites/lukhas.eu/architecture.md
  branding/websites/lukhas.eu/compliance.md
  branding/websites/lukhas.eu/grant-support.md
  branding/websites/lukhas.eu/homepage_matriz_ready.md
  branding/websites/lukhas.eu/research-partnerships.md
  branding/websites/lukhas.eu/research/cognitive-dna-explainable-ai.md
  branding/websites/lukhas.eu/research/constitutional-validation-production-ai.md
  branding/websites/lukhas.eu/research/distributed-consciousness-global-scale.md
  branding/websites/lukhas.eu/research/lambda-id-privacy-preserving-identity.md
  branding/websites/lukhas.eu/research/parallel-dream-simulation-gamechanger.md
  branding/websites/lukhas.id/architecture.md
  branding/websites/lukhas.id/homepage_matriz_ready.md
  branding/websites/lukhas.io/architecture.md
  branding/websites/lukhas.lab/architecture.md
  branding/websites/lukhas.store/architecture.md
  branding/websites/lukhas.team/architecture.md
  branding/websites/lukhas.us/Updated_notes_matriz_ready.md
  branding/websites/lukhas.us/architecture.md
  branding/websites/lukhas.xyz/architecture.md
Due: none

fix: reject unknown identity tiers
  labs/bridge/adapters/api_framework.py
  tests/bridge/test_jwt_adapter.py
Due: block-labs-imports, guardrail-check

test: isolate dream reflection loop module mocks (#1127)
  tests/core/consciousness/test_dream_reflection_loop.py
Due: block-labs-imports, guardrail-check

Fix llm wrapper tests import path and streaming mocks
  tests/unit/labs/__init__.py
  tests/unit/labs/bridge/llm_wrappers/_module_imports.py
  tests/unit/labs/bridge/llm_wrappers/test_openai_modulated_service.py
  tests/unit/labs/bridge/llm_wrappers/test_vector_store_adapter.py
  tests/unit/labs/conftest.py
Due: block-labs-imports, guardrail-check

style: apply T4 linting standards
  core/security/encryption_manager.py
  monitoring/integration_hub.py
  tests/core/bridge/test_dream_commerce.py
Due: block-labs-imports, guardrail-check, check-license-headers

style: apply T4 linting standards
  core/security/encryption_manager.py
  monitoring/integration_hub.py
  tests/candidate/core/qi_financial/test_qi_financial_consciousness_engine.py
  tests/candidate/core/quantum_financial/test_quantum_financial_consciousness_engine.py
Due: block-labs-imports, guardrail-check, check-license-headers

style: apply T4 linting standards
  core/security/encryption_manager.py
  matriz/core/memory_system.py
  monitoring/integration_hub.py
  tests/matriz/core/test_memory_system.py
Due: block-labs-imports, guardrail-check, check-license-headers

style: apply T4 linting standards
  core/security/encryption_manager.py
  monitoring/integration_hub.py
  tests/unit/core/test_bio_symbolic_processor.py
Due: block-labs-imports, guardrail-check, check-license-headers

style: apply T4 linting standards
  core/security/encryption_manager.py
  monitoring/integration_hub.py
  tests/unit/core/integration/test_nias_dream_bridge.py
Due: block-labs-imports, guardrail-check, check-license-headers

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$
