Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$

chore: update merge strategy docs and build artifacts
  .claude/settings.local.json
  Makefile
  docs/audits/context_coverage.txt
  docs/plans/BRANCH_MERGE_STRATEGY.md
Due: none

chore(coordination): add Oct 16 coordination audit snapshots
  docs/audits/coordination/2025-10-16/latest.json
  docs/audits/coordination/2025-10-16/latest.md
  docs/audits/coordination/2025-10-16/metrics_20251016T053229.json
  docs/audits/coordination/2025-10-16/pr_status_20251016T053229.json
  docs/audits/coordination/2025-10-16/summary_20251016T053229.md
  docs/audits/coordination/2025-10-16/worktrees_20251016T053229.txt
  docs/plans/task_status.json
Due: none

docs(audit): add worktree audit report analyzing 274 pending files
  docs/plans/WORKTREE_AUDIT_REPORT.md
Due: none

docs(phase5b): add import cleanup brief for parallel agent
  docs/plans/PHASE5B_IMPORT_CLEANUP_BRIEF.md
Due: none

docs(phase5b): add completion summary for Phase 5B flattening
  docs/plans/PHASE5B_COMPLETION_SUMMARY.md
Due: none

fix(imports): resolve Phase 5B import issues after lukhas/ namespace removal
  conftest.py
  core/__init__.py
  tests/lint/test_lane_imports.py
  tests/smoke/test_accepted_smoke.py
Due: guardrail-check

fix(tests): update all test paths after Phase 5B lukhas/ removal
  tests/core/test_import_controller.py
  tests/e2e/comprehensive/test_comprehensive_all_systems.py
  tests/lint/test_lane_imports.py
  tests/smoke/test_core_smoke.py
Due: guardrail-check

docs(planning): add Phase 1-3 remaining tasks brief for parallel agent
  docs/plans/PHASE1-3_REMAINING_TASKS_BRIEF.md
Due: none

docs(manifest): generate manifests for 8 critical root modules
  docs/audits/artifact_coverage_audit_2025-10-18.md
  manifests/adapters/lukhas_context.md
  manifests/adapters/module.manifest.json
  manifests/analytics/lukhas_context.md
  manifests/analytics/module.manifest.json
  manifests/brain/lukhas_context.md
  manifests/brain/module.manifest.json
  manifests/dream/lukhas_context.md
  manifests/dream/module.manifest.json
  manifests/monitoring/lukhas_context.md
  manifests/monitoring/module.manifest.json
  manifests/qi/lukhas_context.md
  manifests/qi/module.manifest.json
  manifests/reasoning/lukhas_context.md
  manifests/reasoning/module.manifest.json
  manifests/symbolic/lukhas_context.md
  manifests/symbolic/module.manifest.json
Due: validate-module-manifests-changed, manifest-validate, manifest-lock

docs(schema): add comprehensive descriptions and examples to module manifest schema
  docs/schemas/module_manifest_schema_enhancements.md
  schemas/module.manifest.schema.json
Due: none

docs(openapi): create comprehensive OpenAPI 3.1 specifications for LUKHAS API ecosystem
  docs/openapi/README.md
  docs/openapi/consciousness_api.openapi.yaml
  docs/openapi/guardian_api.openapi.yaml
  docs/openapi/identity_api.openapi.yaml
  docs/openapi/matriz_api.openapi.yaml
  docs/openapi/orchestration_api.openapi.yaml
Due: none

docs(phase1-3): mark Task 2.1 complete with 35 endpoints across 5 APIs
  docs/phase1-3-progress-2025-10-18.md
Due: none

feat(contracts): add manifest-aware coverage and intelligent contract suggestions
  tools/validate_contract_presence.py
Due: guardrail-check

docs(phase1-3): update progress report - 4/6 tasks complete (66.7%)
  docs/phase1-3-progress-2025-10-18.md
Due: none

docs(planning): create focused Jules brief for final Phase 1-3 tasks
  docs/plans/JULES_PHASE1-3_FINAL_TASKS.md
Due: none

chore(phase1-3): commit uncommitted schema enhancement files from parallel agent
  docs/schemas/module_manifest_schema_enhancements.md
  schemas/module.manifest.schema.json
Due: none

docs(audit): add Phase 5B comprehensive validation report
  docs/audits/phase5b_validation_report.md
Due: none

docs(planning): add directory consolidation plan for 132 small directories
  docs/plans/DIRECTORY_CONSOLIDATION_PLAN.md
Due: none

chore(cleanup): remove 42 empty shim directories (Phase 1)
  bio/awareness/advanced_quantum_bio/__init__.py
  bio/awareness/awareness/__init__.py
  bio/awareness/enhanced_awareness/__init__.py
  bio/awareness/quantum_bio_components/__init__.py
  bio/core/memory/__init__.py
  bio/core/memory/quantum_memory_manager/__init__.py
  bio/core/oscillator/__init__.py
  bio/core/oscillator/orchestrator/__init__.py
  bio/core/oscillator/quantum_inspired_layer/__init__.py
  bio/core/voice/__init__.py
  bio/core/voice/quantum_voice_enhancer/__init__.py
  bio/symbolic/glyph_id_hash/__init__.py
  bio/symbolic/symbolic_world/__init__.py
  bridge/api_legacy/commercial/__init__.py
  bridge/api_legacy/commercial/consciousness_platform/__init__.py
  bridge/api_legacy/commercial/dream_commerce/__init__.py
  bridge/api_legacy/commercial/dream_commerce/dream_api.py
  bridge/api_legacy/commercial/memory_services/__init__.py
  bridge/api_legacy/commercial/memory_services/memory_api.py
  core/matriz/__init__.py
  core/matriz/async_orchestrator/__init__.py
  core/matriz/optimized_orchestrator/__init__.py
  deployment/platforms/memory_services/memory_services/__init__.py
  docs/reports_root/autofix/.gitkeep
  governance/extended/audit_logger/__init__.py
  governance/extended/compliance_hooks/__init__.py
  governance/extended/policy_manager/__init__.py
  load/results/.gitkeep
  memory/backends/filesystem/__init__.py
Due: guardrail-check

fix(post-phase5b): address validation issues and security vulnerabilities
  .claude/settings.local.json
  scripts/validate_module_manifests.py
  tests/smoke/test_auth.py
Due: guardrail-check

feat(api): recover API v1 implementation mistakenly deleted in Phase 2
  core/interfaces/api/v1/v1/__init__.py
  core/interfaces/api/v1/v1/common/__init__.py
  core/interfaces/api/v1/v1/common/api_key_cache.py
  core/interfaces/api/v1/v1/common/auth.py
  core/interfaces/api/v1/v1/common/errors.py
  core/interfaces/api/v1/v1/common/validators.py
  core/interfaces/api/v1/v1/grpc/__init__.py
  core/interfaces/api/v1/v1/grpc/client.py
  core/interfaces/api/v1/v1/grpc/lukhas_pb2.py
  core/interfaces/api/v1/v1/grpc/pb2.py
  core/interfaces/api/v1/v1/grpc/pb2_grpc.py
  core/interfaces/api/v1/v1/grpc/server.py
  core/interfaces/api/v1/v1/grpc/system.proto
  core/interfaces/api/v1/v1/rest/__init__.py
  core/interfaces/api/v1/v1/rest/app.py
  core/interfaces/api/v1/v1/rest/middleware.py
  core/interfaces/api/v1/v1/rest/models.py
  core/interfaces/api/v1/v1/rest/routers/__init__.py
  core/interfaces/api/v1/v1/rest/routers/health.py
  core/interfaces/api/v1/v1/rest/routers/metrics.py
  core/interfaces/api/v1/v1/rest/routers/process.py
  core/interfaces/api/v1/v1/rest/routers/tasks.py
Due: guardrail-check

fix(recovery): recover 13 valuable code files deleted in Phase 2 cleanup
  core/orchestration/brain/symbolic_ai/modules/dissonance_detector.py
  core/orchestration/brain/unified_integration/adapters/__init__.py
  core/orchestration/brain/unified_integration/adapters/awareness_adapter.py
  core/orchestration/brain/unified_integration/adapters/bio_adapter.py
  core/orchestration/brain/unified_integration/adapters/brain_adapter.py
  core/orchestration/brain/unified_integration/adapters/cognitive_adapter.py
  core/orchestration/brain/unified_integration/adapters/dream_adapter.py
  core/orchestration/brain/unified_integration/adapters/intent_adapter.py
  core/orchestration/brain/unified_integration/adapters/legacy_adapter.py
  core/orchestration/brain/unified_integration/adapters/oscillator_adapter.py
  core/orchestration/brain/unified_integration/adapters/voice_adapter.py
  governance/ethics_legacy/policy_engines/examples/three_laws.py
  governance/identity/api/controllers/__init__.py
  governance/identity/api/controllers/lambd_id_controller.py
  governance/identity/api/controllers/lambda_id_controller.py
Due: guardrail-check

docs(delegation): create comprehensive GitHub Copilot task briefs
  docs/plans/COPILOT_DELEGATION_INDEX.md
  docs/plans/COPILOT_TASK_A_ARTIFACT_AUDIT.md
  docs/plans/COPILOT_TASK_B_CONTRACT_HARDENING.md
  docs/plans/COPILOT_TASK_C_CI_INTEGRATION.md
Due: none

Checkpoint from VS Code for coding agent session
  .claude/settings.local.json
Due: none

docs(constellation): update star distribution with accurate 1,572 module count
  docs/CONSTELLATION_TOP.md
Due: none

docs(governance): validate star assignment rules for Phase 4 readiness
  docs/audits/star_rules_validation_2025-10-19.md
Due: none

docs(delegation): create updated Copilot brief for Phase 5B flat structure
  docs/plans/COPILOT_UPDATED_BRIEF_POST_PHASE5B.md
Due: none

docs(planning): add updated Task A delegation for Copilot post-Phase 5B
  docs/plans/COPILOT_BRIEF_2025-10-19.md
  docs/plans/COPILOT_DELEGATION_INDEX.md
  docs/plans/COPILOT_TASK_A_UPDATED_2025-10-19.md
Due: none

fix(contracts): harden contract registry and ensure 100% T1 coverage (#438)
  contracts/brain.contract.json
  contracts/monitoring.contract.json
  contracts/qi.contract.json
  contracts/symbolic.contract.json
  docs/audits/contract_hardening_2025-10-19.md
  manifests/brain/module.manifest.json
  manifests/monitoring/module.manifest.json
  manifests/qi/module.manifest.json
  manifests/symbolic/module.manifest.json
  scripts/analyze_contract_coverage.py
  scripts/validate_contract_refs.py
Due: guardrail-check, validate-module-manifests-changed, manifest-validate, manifest-lock

docs(planning): add comprehensive Jules and Codex task briefs
  docs/plans/CODEX_COMPLETE_TASK_BRIEF_2025-10-19.md
  docs/plans/JULES_COMPLETE_TASK_BRIEF_2025-10-19.md
Due: none

docs(session): add comprehensive session summary for 2025-10-19
  docs/SESSION_SUMMARY_2025-10-19.md
Due: none
