Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$

Add DAST adapter module with tests and ADR (#1261)
  docs/ADR/ADR-0003-dast-adapter-interface.md
  lukhas/adapters/dast_adapter.py
  tests/integration/test_dast_adapter_integration.py
  tests/unit/test_dast_adapter.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

feat(dreams): wire PARALLEL_DREAMS_ENABLED flag to engine selection
  lukhas_website/lukhas/dream/__init__.py
  tests/unit/core/test_parallel_dreams_flag.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check

Add OPA policy enforcement to audit workflow (#1259)
  .github/workflows/labot_audit.yml
  .policy/diff_to_json.py
  .policy/rules.rego
Due: opa-format, block-labs-imports, guardrail-check

Add whitelist support to guard_patch (#1258)
  tests/test_guard_patch.py
  tools/guard_patch.py
Due: block-labs-imports, guardrail-check

feat: add dry-run mode to labot import splitter (#1257)
  scripts/split_labot_import.sh
Due: none

feat(labot): support draft PR dry-run and labels (#1256)
  tools/labot.py
Due: block-labs-imports, guardrail-check

docs(audits): add PR safety review for 14 recently merged PRs
  docs/audits/PR_SAFETY_REVIEW_2025-11-10.md
Due: check-markdown-encoding, validate-docs-frontmatter

feat(api): add security foundation for API hardening (Task 3 Phase 1)
  docs/adr/ADR-001-api-security-hardening-approach.md
  lukhas_website/lukhas/api/auth_helpers.py
  tests/unit/api/test_dreams_api_security.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

feat(dreams): wire PARALLEL_DREAMS_ENABLED flag to engine selection (#1270)
  docs/adr/ADR-001-api-security-hardening-approach.md
  lukhas_website/lukhas/api/auth_helpers.py
  lukhas_website/lukhas/dream/__init__.py
  tests/unit/api/test_dreams_api_security.py
  tests/unit/core/test_parallel_dreams_flag.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

chore(qrg): add QRG Specification & ADR (Phase 0) (#1269)
  docs/ADR/000-qrg-spec-adr.md
  docs/examples/mock_qrg_adapter.py
  docs/examples/qrg_openapi_snippet.yaml
  docs/specs/QRG_SPEC.md
  issues/phase1_adapter.md
  issues/phase2_governance.md
  tests/sandbox/test_mock_qrg_adapter.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

docs(tasks): add comprehensive security hardening task list
  docs/tasks/SECURITY_HARDENING_TASKS_2025-11-10.md
Due: check-markdown-encoding, validate-docs-frontmatter

test(serve): comprehensive test suite for serve/feedback_routes.py (50 tests)
  tests/unit/serve/test_feedback_routes.py
Due: block-labs-imports, guardrail-check

docs(audits): add GPT-5 Pro pre-launch security audit
  docs/audits/GPT-5 Pro Review - LUKHAS Pre-Launch Au.md
Due: check-markdown-encoding, validate-docs-frontmatter

test(serve): comprehensive test suite for serve/routes_traces.py (42 tests)
  tests/unit/serve/test_routes_traces.py
Due: block-labs-imports, guardrail-check

feat(jules): add security hardening task automation for Jules API
  scripts/check_new_security_sessions.py
  scripts/create_security_hardening_sessions.py
Due: block-labs-imports, guardrail-check

feat(jules): add comprehensive Jules session monitoring and approval automation
  scripts/approve_waiting_jules_plans.py
  scripts/check_all_active_jules_sessions.py
  scripts/check_waiting_jules_sessions.py
Due: block-labs-imports, guardrail-check

docs(jules): add comprehensive security hardening session summary
  JULES_SECURITY_HARDENING_SESSIONS_2025-11-10.md
Due: none

docs(session): comprehensive session summary 2025-11-10
  docs/sessions/SESSION_SUMMARY_2025-11-10.md
Due: check-markdown-encoding, validate-docs-frontmatter

feat(jules): add session cleanup tool and execute mass deletion of completed sessions
  scripts/close_completed_jules_sessions.py
Due: block-labs-imports, guardrail-check

docs(jules): add comprehensive session cleanup summary and final status
  JULES_SESSION_CLEANUP_SUMMARY_2025-11-10.md
Due: none

fix(jules): preserve completed sessions with PRs in cleanup script
  scripts/close_completed_jules_sessions.py
Due: block-labs-imports, guardrail-check

docs(session): add comprehensive Jules automation session summary
  SESSION_SUMMARY_2025-11-10_JULES_AUTOMATION.md
Due: none

test(serve): add comprehensive test suite for serve.tracing module
  tests/unit/serve/test_tracing.py
Due: block-labs-imports, guardrail-check

chore(labot): request tests for serve_main (#1203)
  docs/labot/serve_main.md
Due: check-markdown-encoding, validate-docs-frontmatter

test(matriz): comprehensive test suite for matriz.traces_router module
  tests/unit/matriz/test_traces_router.py
Due: block-labs-imports, guardrail-check

feat(jules): add session activity inspection and batch response automation
  scripts/batch_respond_to_jules.py
  scripts/get_jules_session_activities.py
  scripts/send_jules_message.py
Due: block-labs-imports, guardrail-check

docs(jules): add activity inspection and batch response documentation
  JULES_API_COMPLETE_REFERENCE.md
  JULES_QUICK_REFERENCE.md
Due: none

Implement OpenAPI drift diffing tool (#1260)
  tests/tools/test_check_openapi_drift.py
  tools/check_openapi_drift.py
Due: block-labs-imports, guardrail-check

docs: add homepage template and documentation audit
  branding/templates/HOMEPAGE_MATRIZ_TEMPLATE.md
  docs/domain_strategy/DOCUMENTATION_COMPLETION_AUDIT.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(session): comprehensive PR review session summary - Part 2
  docs/sessions/PR_REVIEW_SESSION_2025-11-10_PART2.md
Due: check-markdown-encoding, validate-docs-frontmatter

feat(jules): add test coverage session creation script and maximize quota usage
  scripts/create_test_coverage_sessions.py
Due: block-labs-imports, guardrail-check

docs(pr-analysis): comprehensive value assessment of 8 remaining PRs
  docs/pr_analysis/REMAINING_PRS_VALUE_ASSESSMENT.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(gpt-packages): create comprehensive LUKHAS ecosystem GPT audit package
  docs/gpt_packages/LUKHAS_ECOSYSTEM_GPT_AUDIT_PACKAGE.md
Due: check-markdown-encoding, validate-docs-frontmatter

chore(t4): Batch2D-Gamma shard 2 - autofix F401 for 5 files (#1181)
  scripts/batch_autofix.py
Due: block-labs-imports, guardrail-check

test(t4): Batch2D tests - small autofixes (2 files) (#1182)
  Lukhas.code-workspace
  symbolic/tests/test_symbolic_unit.py
  tests/reliability/test_0_01_percent_features.py
Due: block-labs-imports, guardrail-check
