Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$

fix(interfaces): remove fake team info from lukhas.ai AboutPage
  websites/packages/lukhas.ai/src/pages/AboutPage.tsx
Due: none

chore(tools): improve module schema validator and disable isort during E402 fixes
  config/ruff.toml
  tools/module_schema_validator.py
Due: block-labs-imports, guardrail-check

docs(audit): add website content accuracy audit for lukhas.ai
  docs/audit/WEBSITE_CONTENT_AUDIT_2025-11-12.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(audit): add website content accuracy audit for lukhas.ai (#1495)
  docs/audit/WEBSITE_CONTENT_AUDIT_2025-11-12.md
Due: check-markdown-encoding, validate-docs-frontmatter

feat(api): implement JWT role claims for RBAC
  lukhas/api/auth.py
  lukhas/api/auth_helpers.py
  lukhas/api/features.py
  tests/unit/lukhas/api/test_auth_jwt_roles.py
Due: block-labs-imports, guardrail-check, check-license-headers

fix(ruf012): add missing ClassVar imports
  matriz/core/async_orchestrator.py
  matriz/nodes/math_node.py
  matriz/visualization/graph_viewer.py
Due: block-labs-imports, guardrail-check, check-license-headers

feat(api): add pluggable storage backend with Redis support
  lukhas/api/auth_helpers.py
  lukhas/api/storage.py
  tests/unit/lukhas/api/test_storage.py
Due: block-labs-imports, guardrail-check, check-license-headers

fix(interfaces): mark performance metrics as research targets on lukhas.ai TechnologyPage
  websites/packages/lukhas.ai/src/pages/TechnologyPage.tsx
Due: none

fix(interfaces): add Early Access badges and conditional language to lukhas.ai PricingPage
  websites/packages/lukhas.ai/src/pages/PricingPage.tsx
Due: none

feat(governance): implement RedisRateLimitStorage for distributed deployments
  lukhas/governance/rate_limit/storage.py
Due: block-labs-imports, guardrail-check, check-license-headers

fix(interfaces): add example disclaimers and conditional language to lukhas.ai UseCasesPage
  websites/packages/lukhas.ai/src/pages/UseCasesPage.tsx
Due: none

fix(interfaces): update service claims and branding on lukhas.ai FAQPage
  websites/packages/lukhas.ai/src/pages/FAQPage.tsx
Due: none

feat(api): Add pluggable storage backend with Redis support (#1498)
  lukhas/api/auth_helpers.py
  lukhas/api/storage.py
  lukhas/governance/rate_limit/storage.py
  tests/unit/lukhas/api/test_storage.py
Due: block-labs-imports, guardrail-check, check-license-headers

chore: remove temporary fix scripts and backups
  analyze_e402_strategy.py
  emergency_ruf102_skip_fix.py
  emergency_syntax_fix.py
  fix_bench_imports.py
  fix_complete.py
  fix_deprecated_typing.py
  fix_e402_moderate.py
  fix_e402_simple.py
  fix_final_issues.py
  fix_optional_annotations.py
  fix_ruf012_auto.py
  fix_ruf012_classvar.py
  fix_ruf012_enhanced.py
  fix_ruf012_final.py
  fix_ruf012_targeted.py
  fix_ruf102_fast.py
  fix_ruf102_violations.py
  fix_syntax.py
  fix_syntax_errors.py
  fix_tests_typing.py
  fix_try_except_surgical.py
  fix_type_annotations.py
  todo/MASTER_LOG.md
  ultimate_ruf102_fix.py
Due: block-labs-imports, guardrail-check

test(orchestrator): fix timeout tests to use CancellationRegistry
  tests/integration/orchestrator/test_timeout_integration.py
  tests/unit/orchestrator/test_timeouts.py
Due: block-labs-imports, guardrail-check

feat: fix syntax errors in tools and modernize UP035 typing imports
  lukhas/orchestration/error_recovery.py
  lukhas/orchestration/queue.py
  lukhas/orchestrator/cancellation.py
  matriz/nodes/registry.py
  tests/test_matrix_v3_presence.py
  tests/test_slsa_provenance.py
  tests/test_telemetry_authz_smoke.py
  tests/tools/test_commands_base.py
  tools/analysis/comprehensive_f821_eliminator.py
  tools/ci/f821_import_inserter.py
  tools/ci/f821_scan.py
  tools/fix_f821_mass_elimination.py
  tools/module_schema_validator.py
  tools/scripts/final_linting_fix.py
  tools/scripts/fix_real_issues.py
  tools/t4_master_fix.py
  verify_all_nodes.py
Due: block-labs-imports, guardrail-check, check-license-headers

docs(matriz): add MS001 implementation assessment
  docs/architecture/MS001_ASSESSMENT.md
Due: check-markdown-encoding, validate-docs-frontmatter

feat(matriz): Complete MATRIZ migration quick wins and documentation
  artifacts/matriz_manifest.json
  docs/governance/LUKHAS_MANIFESTO.md
  docs/standards/QRG_STANDARD_PROPOSAL.md
  lukhas_website/lukhas/bio/core/bio_symbolic.py
  lukhas_website/lukhas/consciousness/enhanced_thought_node.py
  lukhas_website/lukhas/core/consciousness_stream.py
  lukhas_website/lukhas/core/matriz/optimized_orchestrator.py
  lukhas_website/lukhas/core/trace.py
  lukhas_website/lukhas/matriz/__init__.py
  lukhas_website/lukhas/observability/matriz_emit.py
  serve/main.py
  serve/openai_routes.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

docs(todo): update MASTER_LOG with MP001 and MS001 PR status
  todo/MASTER_LOG.md
Due: none

docs(audit): Verify MP001 async orchestrator timeout implementation
  docs/audits/MP001_VERIFICATION_REPORT.md
Due: check-markdown-encoding, validate-docs-frontmatter

feat: massive UP035 typing modernization - 54 violations eliminated
  analyze_e402_strategy.py
  tests/unit/candidate/aka_qualia/conftest.py
  tests/unit/candidate/bridge/orchestration/test_multi_ai_orchestrator.py
  tests/unit/candidate/bridge/test_core_bridges.py
  tests/unit/core/interfaces/as_agent/test_streamlit_app.py
  tests/unit/core/orchestration/test_integration_hub_quantum.py
  tests/unit/core/test_openai_provider_protocol.py
  tests/unit/governance/test_guardian_integration_middleware.py
  tests/unit/governance/test_jules03_identity.py
  tests/unit/governance/test_lambda_sso_engine_device_sync.py
  tests/unit/identity/test_labs_webauthn_manager.py
  tests/unit/identity/test_webauthn_manager_library_integration.py
  tests/unit/identity/test_webauthn_verify.py
  tests/unit/matriz/core/test_node_interface.py
  tests/unit/orchestration/test_multi_brain_specialists.py
  tests/unit/orchestration/test_openai_modulated_service.py
  tests/unit/qi/test_attention_economics_notifications.py
  tests/unit/qi/test_compliance_report.py
  tests/unit/qi/test_system_orchestrator.py
  tests/unit/scripts/test_create_issues.py
  tests/unit/serve/test_routes_traces.py
  tests/unit/test_personality_brain.py
  tests/unit/test_quota_hierarchy.py
  tests/utils/test_config_utils.py
  tests/utils/test_string_utils.py
  tests/utils/test_validation_utils.py
  tools/audit/final_validation.py
  tools/enhanced_readme_with_tone_system.py
  tools/error_analysis/symbol_export_generator.py
  tools/generate_adoption_scoreboard.py
  tools/matrix_gate.py
  tools/migrate_flags.py
  tools/module_schema_validator.py
  tools/populate_module_directories.py
  tools/security_posture_monitor.py
  tools/slo_monitor.py
  tools/testing/coverage_metrics_system.py
Due: block-labs-imports, guardrail-check

feat: final UP035 core file modernization - 313 violations remaining
  core/adapters/config_resolver.py
  core/adapters/provider_registry.py
  core/audit/redaction.py
  core/audit/sink.py
  core/endocrine/api.py
Due: block-labs-imports, guardrail-check, check-license-headers

fix(ruf012): add missing ClassVar import to consent/service.py
  consent/service.py
Due: block-labs-imports, guardrail-check

fix(lukhas.id): replace unvalidated certification claims with accurate targets
  websites/packages/lukhas.id/src/pages/HomePage.tsx
  websites/packages/lukhas.id/src/pages/LoginPage.tsx
  websites/packages/lukhas.id/src/pages/RegisterPage.tsx
Due: none

fix(lukhas.com): remove unvalidated Fortune 500 claim and qualify certifications
  websites/packages/lukhas.com/src/pages/EnterprisePage.tsx
  websites/packages/lukhas.com/src/pages/HomePage.tsx
Due: none

docs(pr-consolidation): document PR merger and RUF012 fix achievement
  todo/MASTER_LOG.md
Due: none

fix(branding): remove forbidden 'production-ready' claims from lukhas.cloud and lukhas.dev
  websites/packages/lukhas.cloud/src/pages/PricingPage.tsx
  websites/packages/lukhas.dev/src/pages/HomePage.tsx
Due: none

feat: implement three advanced consciousness and ethics features with comprehensive tests
  core/colonies/ethics_swarm_colony.py
  core/consciousness/bridge.py
  core/consciousness/drift_detector.py
  tests/smoke/test_quantum_decision_smoke.py
  tests/unit/core/colonies/test_guardian_feedback_integration.py
  tests/unit/core/consciousness/test_drift_archival.py
  tests/unit/core/consciousness/test_quantum_decision.py
Due: block-labs-imports, guardrail-check, check-license-headers

feat(docs): add 4 comprehensive TODO prompts for Claude Code delegation
  CLAUDE_CODE_TODO_PROMPTS.md
Due: none

feat(symbolic): implement ML-based pattern prediction for anomaly detection
  core/symbolic/symbolic_anomaly_explorer.py
  tests/unit/core/symbolic/__init__.py
  tests/unit/core/symbolic/test_ml_anomaly_prediction.py
Due: block-labs-imports, guardrail-check, check-license-headers

feat(quantum): implement quantum entanglement modeling for superpositions
  candidate/quantum/superposition_engine.py
  tests/unit/candidate/quantum/__init__.py
  tests/unit/candidate/quantum/test_quantum_entanglement.py
Due: block-labs-imports, guardrail-check

feat(symbolic): implement distributed GLYPH registry synchronization
  core/symbolic/glyph_specialist.py
  tests/unit/core/symbolic/test_glyph_registry.py
Due: block-labs-imports, guardrail-check, check-license-headers

🔧 ruff: Fix syntax errors (56→27, 29 eliminated)
  fix_deprecated_typing.py
  fix_syntax_errors.py
  fix_tests_typing.py
  scripts/suggest_imports_f821.py
  tests/contract/candidate/aka_qualia/conftest.py
  tests/unit/candidate/consciousness/dream/test_dream_feedback_controller.py
  tests/unit/consciousness/test_registry_activation_order.py
Due: block-labs-imports, guardrail-check

feat(interfaces): implement 3-layer tone system on lukhas.ai core pages
  websites/packages/lukhas.ai/src/pages/AboutPage.tsx
  websites/packages/lukhas.ai/src/pages/HomePage.tsx
  websites/packages/lukhas.ai/src/pages/PricingPage.tsx
  websites/packages/lukhas.ai/src/pages/TechnologyPage.tsx
Due: none

feat(blockchain): implement blockchain integration for dream commerce (TODO #7)
  IMPLEMENTATION_SUMMARY.md
  contracts/dream_commerce/ConsentLedger.sol
  contracts/dream_commerce/DreamContentNFT.sol
  contracts/dream_commerce/README.md
  core/bridge/dream_commerce.py
  tests/unit/core/bridge/test_dream_blockchain.py
Due: block-labs-imports, guardrail-check, check-license-headers

🎯 ruff: SYNTAX ERRORS ELIMINATED (27→0, 100% success)
  scripts/suggest_imports_f821.py
  tests/e2e/test_core_components_comprehensive.py
  tests/qualia/test_integrity_microcheck.py
  tests/unit/aka_qualia/test_metrics.py
  tests/unit/products_infra/legado/test_lambda_governor_quantum.py
  tests/unit/qi/test_privacy_statement.py
Due: block-labs-imports, guardrail-check
