Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$

feat(identity): add WebAuthn credential lookup by user for issue 597
  lukhas/identity/webauthn_credential.py
  tests/unit/identity/test_webauthn_credential.py
Due: guardrail-check

docs(identity): add comprehensive WebAuthn developer guide with examples
  docs/identity/WEBAUTHN_GUIDE.md
  docs/identity/examples/README.md
  docs/identity/examples/webauthn_authentication.py
  docs/identity/examples/webauthn_frontend.ts
  docs/identity/examples/webauthn_registration.py
Due: guardrail-check

feat(governance): add privacy statement generator for multi-jurisdiction compliance
  qi/compliance/__init__.py
  qi/compliance/privacy_statement.py
  tests/unit/qi/test_privacy_statement.py
Due: guardrail-check

feat(identity): add WebAuthn assertion verification with ES256/RS256 support
  qi/compliance/__init__.py
  qi/compliance/compliance_report.py
  tests/unit/qi/test_compliance_report.py
Due: guardrail-check

feat(core/security): add AEAD encryption manager
  core/security/encryption_manager.py
  core/security/encryption_types.py
  core/security/tests/test_encryption_manager.py
Due: guardrail-check

docs(governance): add Guardian consent management example
  docs/governance/GUARDIAN_EXAMPLE.md
  examples/governance/.gitkeep
  examples/governance/__init__.py
  examples/governance/consent_example.py
  tests/examples/.gitkeep
  tests/examples/test_governance_example.py
Due: guardrail-check

feat(identity): add OAuth server and testing utilities for MCP SSE
  mcp-lukhas-sse/basic_oauth_server.py
  mcp-lukhas-sse/basic_test.sh
  mcp-lukhas-sse/simple_test.sh
  mcp-lukhas-sse/test-jwt-token.txt
Due: guardrail-check

docs(identity): add comprehensive WebAuthn documentation and token types
  docs/identity/WEBAUTHN_API_REFERENCE.md
  docs/identity/WEBAUTHN_GUIDE.md
  docs/identity/examples/webauthn-authentication.py
  docs/identity/examples/webauthn-frontend.ts
  docs/identity/examples/webauthn-registration.py
  lukhas/identity/token_types.py
Due: guardrail-check

docs(architecture): update claude.me with new systems from multi-agent session
  claude.me
Due: none

feat(identity): add WebAuthn assertion verification with comprehensive tests
  docs/SESSION_2025-11-01_NEW_SYSTEMS.md
  docs/gonzo/GEMINI_CODE_ASSIST_TASKS.md
  docs/governance/.gitkeep
  docs/identity/WEBAUTHN_API_REFERENCE.md
  docs/identity/WEBAUTHN_GUIDE.md
  docs/identity/examples/.gitkeep
  docs/identity/examples/webauthn-authentication.py
  docs/identity/examples/webauthn-frontend.ts
  docs/identity/examples/webauthn-registration.py
  lukhas/identity/__init__.py
  lukhas/identity/webauthn_verify.py
  scripts/jules_client.py
  tests/unit/identity/test_webauthn_verify.py
Due: matrix-contract-presence, guardrail-check

docs(architecture): update lukhas_context.md with new systems from multi-agent session
  lukhas_context.md
Due: none

docs(gemini): update gemini.md with new systems from multi-agent session
  gemini.md
Due: none

security(deps): upgrade pip to 25.3+ to fix CVE-2025-8869
  requirements.in
Due: none

security(deps): update requirements.txt with pip>=25.3 constraint
  requirements.txt
Due: none

feat(identity): add WebAuthn assertion verification and session documentation
  docs/SESSION_2025-11-01_NEW_SYSTEMS.md
  docs/gonzo/GEMINI_CODE_ASSIST_TASKS.md
  docs/governance/.gitkeep
  docs/identity/WEBAUTHN_API_REFERENCE.md
  docs/identity/WEBAUTHN_GUIDE.md
  docs/identity/examples/.gitkeep
  docs/identity/examples/webauthn-authentication.py
  docs/identity/examples/webauthn-frontend.ts
  docs/identity/examples/webauthn-registration.py
  lukhas/identity/__init__.py
  lukhas/identity/webauthn_verify.py
  scripts/jules_client.py
  tests/unit/identity/test_webauthn_verify.py
Due: matrix-contract-presence, guardrail-check

docs(identity): restore comprehensive WebAuthn guide from gemini-dev
  docs/identity/WEBAUTHN_GUIDE.md
Due: none

chore(ops): standardize pytest invocation and add CI test collection workflow
  .claude/settings.local.json
  .github/workflows/test-collect-triage.yml
  Makefile
Due: none

feat(infrastructure): cherry-pick enterprise systems from M1 branch (PR #805)
  .claude/settings.local.json
  API_OPTIMIZATION_PROJECT_STATUS.md
  INFRASTRUCTURE_IMPLEMENTATION_SUMMARY.md
  api/optimization/__init__.py
  api/optimization/advanced_api_optimizer.py
  api/optimization/advanced_middleware.py
  api/optimization/analytics_dashboard.py
  api/optimization/integration_hub.py
  caching/__init__.py
  caching/cache_system.py
  claude.me
  config/__init__.py
  config/config_factory.py
  config/secrets_manager.py
  docs/ADVANCED_MONITORING_RESILIENCE_ENHANCEMENT.md
  docs/infrastructure/API_OPTIMIZATION_SYSTEM.md
  infrastructure/__init__.py
  infrastructure/advanced_infrastructure.py
  monitoring/health_system.py
  monitoring/integration_hub.py
  observability/telemetry_system.py
  resilience/README.md
  resilience/__init__.py
  resilience/circuit_breaker.py
  scripts/install.sh
  security/security_framework.py
  storage/__init__.py
  storage/distributed_storage.py
  tests/api/__init__.py
  tests/api/test_optimization_system.py
  tests/observability/test_telemetry_system.py
  tests/resilience/__init__.py
  tests/resilience/test_circuit_breaker.py
  tests/test_security_caching_storage.py
  validate_infrastructure.py
Due: guardrail-check

docs(audit): create comprehensive T4/0.01% audit bundle for GPT-5 review
  audits/2025-11-02-comprehensive/COMPREHENSIVE_AUDIT_REPORT.md
  audits/2025-11-02-comprehensive/GPT5_AUDITOR_BRIEF.md
  audits/2025-11-02-comprehensive/README.md
  audits/2025-11-02-comprehensive/audit_manifest.txt
  audits/2025-11-02-comprehensive/security_posture_report.json
  audits/2025-11-02-comprehensive/test_inventory.txt
  docs/audits/health/latest.json
  docs/audits/health/latest.md
  docs/audits/live/20251102T015408Z/INDEX.md
  docs/audits/live/20251102T015408Z/ruff.txt
  docs/audits/live/20251102T015408Z/ruff_stats.txt
  docs/audits/system_health.json
  docs/audits/system_health.md
Due: none

chore(docs/agents): add agent artifacts, codemod, orchestration and SLSA CI skeleton (T4 / 0.01%)
  .github/workflows/slsa-attest.yml
  docs/agents/README.md
  docs/agents/claude_prompts.md
  docs/gonzo/DROP_IN_FILES.md
  docs/gonzo/IRB_TEMPLATE.md
  docs/gonzo/OPERATIONAL_RUNBOOK.md
  scripts/automation/run_codmod_and_prs.sh
  scripts/codemods/replace_labs_with_provider.py
  scripts/consolidation/block_labs_imports.sh
  scripts/wavec_snapshot.py
  tasks/PRIORITY_TODOs.md
Due: guardrail-check

chore(docs/gonzo): remove DROP_IN_FILES.md after agent artifacts created
  docs/gonzo/DROP_IN_FILES.md
Due: none

docs(agents): add comprehensive task packs for multi-agent delegation
  claude.me
  docs/agents/tasks/CLAUDE_CODE_PACK.md
  docs/agents/tasks/CODEX_PACK.md
  docs/agents/tasks/GEMINI_PACK.md
  docs/agents/tasks/GITHUB_COPILOT_PACK.md
Due: none

feat(agents): add M1 parallel agent pack system
  docs/agents/tasks/M1_PARALLEL_CLAUDE_IDENTITY_PACK.md
  docs/agents/tasks/M1_PARALLEL_CLAUDE_TAGS_PACK.md
  docs/agents/tasks/M1_PARALLEL_CODEX_PACK.md
  docs/agents/tasks/M1_PARALLEL_COORDINATION_PACK.md
  docs/agents/tasks/README.md
Due: none

docs(agents): add Gemini IDE chat prompt with parallel execution strategy
  docs/agents/gemini_prompts.md
Due: none

Checkpoint from VS Code for coding agent session
  Untitled-1.md
  core/identity.py
  tests/core/test_identity_importsafe.py
Due: guardrail-check

refactor(provider): lazy-load labs in core/identity (M1)
  core/identity.py
  tests/core/test_identity_importsafe.py
Due: guardrail-check

refactor(colony): eliminate labs import in gpt_colony_orchestrator
  core/adapters/__init__.py
  core/adapters/config_resolver.py
  core/adapters/provider_registry.py
  core/orchestration/gpt_colony_orchestrator.py
  tests/integration/test_gpt_colony_orchestrator_importsafe.py
Due: guardrail-check

Add AST fallback for labs codemod
  scripts/codemods/replace_labs_with_provider.py
Due: guardrail-check

fix: address codemod and snapshot regressions
  .github/workflows/slsa-attest.yml
  scripts/codemods/replace_labs_with_provider.py
  scripts/wavec_snapshot.py
Due: guardrail-check

chore(automation): add codemod batch orchestrator
  docs/gonzo/CODEMOD_ROLLBACK.md
  scripts/automation/run_codmod_and_prs.sh
Due: none

chore(codemod): replace labs imports (batch 1)
  async_utils/__init__.py
  branding/terminology.py
  experimental/__init__.py
  governance/guardian_system_integration.py
  governance/identity.py
  matriz/memory/temporal/hyperspace_dream_simulator.py
  memory/scheduled_folding/__init__.py
  observability/advanced_metrics/__init__.py
  observability/evidence_collection.py
  observability/performance_regression.py
  observability/prometheus_metrics.py
  qi/attention_economics.py
  scripts/utils/async_utils.py
  tests/bridges/test_branding_bridge.py
  tests/e2e/test_guardian_system.py
  tests/governance/test_governance.py
  tests/obs/test_spans_smoke.py
  tests/performance/test_guardian_perf_circuit_open.py
  tests/performance/test_guardian_perf_fastpath.py
  tests/performance/test_guardian_perf_smoke.py
Due: guardrail-check

chore(codex): add conservative patch filter
  codex_artifacts/task_808_filter_summary.md
  scripts/automation/filter_safe_patches.sh
Due: none

ci(slsa): add SLSA Level 2+ attestation pipeline for 10 modules
  .github/workflows/slsa-attest-matrix.yml
  config/slsa_modules.yml
  docs/gonzo/SLSA_RUNBOOK.md
  scripts/automation/collect_attestations.py
  scripts/automation/run_slsa_for_module.sh
  scripts/verify_attestation.py
Due: guardrail-check

perf(benchmarks): add pytest-benchmark suite with nightly regression detection
  .github/workflows/benchmarks-nightly.yml
  benchmarks/README.md
  benchmarks/baselines/endocrine_baseline.json
  benchmarks/baselines/matriz_baseline.json
  benchmarks/test_endocrine_performance.py
  benchmarks/test_matriz_performance.py
  docs/gonzo/BENCHMARKING_RUNBOOK.md
  scripts/ci/compare_benchmarks.py
Due: guardrail-check

ci(coverage): add pytest coverage pipeline with per-module thresholds
  .codecov.yml
  .github/workflows/coverage.yml
  README.md
  config/coverage_thresholds.yml
  docs/gonzo/COVERAGE_RUNBOOK.md
  scripts/ci/check_coverage.py
Due: guardrail-check

security(keys): add key management runbook with 90-day rotation automation
  .github/workflows/key-age-check.yml
  docs/gonzo/KEY_MANAGEMENT_RUNBOOK.md
  scripts/security/rotate_keys.sh
  scripts/security/verify_key_age.py
Due: guardrail-check

monitoring(datadog): add dashboard with WaveC, lane-guard, and endocrine widgets
  docs/gonzo/DATADOG_RUNBOOK.md
  docs/gonzo/monitoring/alert_rules.json
  docs/gonzo/monitoring/datadog_wavec_endocrine.json
  scripts/monitoring/export_metrics.py
Due: guardrail-check

docs(agents): add Claude Code web prompt and original task specifications
  docs/agents/CLAUDE_CODE_WEB_PROMPT.md
  docs/gonzo/AGENT_TASKS_TO_CREATE.md
Due: none

feat(adapters): expand provider infrastructure with comprehensive services
  core/adapters/README.md
  core/adapters/__init__.py
  core/adapters/provider_registry.py
  lukhas_context.md
  tests/integration/test_critical_files_importsafe.py
  tests/integration/test_provider_registry_comprehensive.py
Due: guardrail-check
