Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$

docs(agents): create comprehensive syntax error fix task for Gemini
  docs/agents/GEMINI_TASK_SYNTAX_ERRORS.md
  matriz/consciousness/reflection/lambda_dependa_bot.py
Due: guardrail-check

docs(session): add syntax error analysis and Gemini delegation plan
  SESSION_CONTINUED_2025-11-02.md
Due: none

fix(syntax): manually fix 9 corrupted files to achieve zero syntax errors
  branch_audit_2025-11-03.txt
  bridge/api/unified_router.py
  bridge/connectors/blockchain_bridge.py
  core/interfaces/api/v1/v1/rest/routers/tasks.py
  core/orchestration/async_orchestrator.py
  docs/gonzo/TAG_MESSAGE.md
  qi/autonomy/approver_api.py
  qi/eval/loop.py
  qi/ops/promoter.py
  qi/safety/policy_linter.py
  tests/unit/test_additional_coverage.py
Due: guardrail-check

docs(matriz): resolve GPT-Pro audit advisories and add archive recovery analysis
  release_artifacts/matriz_readiness_v1/ARCHIVE_RECOVERY_PRIORITY.md
  release_artifacts/matriz_readiness_v1/GPG_SIGNING_SETUP.md
  release_artifacts/matriz_readiness_v1/GPT_PRO_HANDOFF.md
  release_artifacts/matriz_readiness_v1/READY_FOR_GPTPRO.txt
Due: none

docs(matriz): add GPT-Pro confirmation artifacts with inspection policy
  release_artifacts/matriz_readiness_v1/CONFIRMATION_SUMMARY.md
  release_artifacts/matriz_readiness_v1/GPT_PRO_CONFIRMATION_REQUEST.md
  release_artifacts/matriz_readiness_v1/audit_start.json
  release_artifacts/matriz_readiness_v1/discovery/flatten_map.csv.head.txt
  release_artifacts/matriz_readiness_v1/discovery/from_imports.txt.head.txt
  release_artifacts/matriz_readiness_v1/discovery/gptpro_config.json.head.txt
  release_artifacts/matriz_readiness_v1/discovery/manifest.txt.head.txt
  release_artifacts/matriz_readiness_v1/discovery/pyproject_excludes.txt
  release_artifacts/matriz_readiness_v1/discovery/python_file_count.txt
  release_artifacts/matriz_readiness_v1/discovery/repo_root.txt
  release_artifacts/matriz_readiness_v1/discovery/rewrite_imports_libcst.py.head.txt
  release_artifacts/matriz_readiness_v1/discovery/safe_dirs.txt
  release_artifacts/matriz_readiness_v1/discovery/simple_imports.txt.head.txt
  release_artifacts/matriz_readiness_v1/discovery/strategy.txt.head.txt
  release_artifacts/matriz_readiness_v1/discovery/todo_list.md.head.txt
  release_artifacts/matriz_readiness_v1/discovery/tool_check.txt
  release_artifacts/matriz_readiness_v1/discovery/tool_check_detailed.txt
  release_artifacts/matriz_readiness_v1/discovery/top_level_ls.txt
  release_artifacts/matriz_readiness_v1/discovery/top_python_files.txt.head.txt
  release_artifacts/matriz_readiness_v1/discovery/verify_and_collect.sh.head.txt
Due: none

docs(matriz): clarify inspection policy in READY_FOR_GPTPRO status
  release_artifacts/matriz_readiness_v1/READY_FOR_GPTPRO.txt
Due: none

refactor(matriz): apply T4 robustness improvements to GPT-Pro confirmation request
  release_artifacts/matriz_readiness_v1/GPT_PRO_CONFIRMATION_REQUEST.md
Due: none

docs(matriz): add branch info to GPT-Pro confirmation request
  release_artifacts/matriz_readiness_v1/GPT_PRO_CONFIRMATION_REQUEST.md
Due: none

docs(audit): add KNOWN_ISSUES.md documenting pre-existing technical debt
  release_artifacts/matriz_readiness_v1/KNOWN_ISSUES.md
Due: none

fix(tests): resolve module import issues for smoke tests
  consciousness/dream/__init__.py
  consciousness/dream/expand/__init__.py
  lukhas_website/__init__.py
  release_artifacts/matriz_readiness_v1/verification/smoke_test_logs_v2.txt
Due: guardrail-check

refactor(imports): replace all candidate.* imports with labs.* imports
  .claude/settings.local.json
  core/adapters/provider_registry.py
  core/orchestration/brain/orchestration/core.py
  core/validation_script_fixes.py
  memory/folds/__init__.py
  memory/indexer.py
  qi/engines/identity/consolidate_identity_qi_secure.py
  scripts/example_integration.py
  scripts/gen_lukhas_pkg_shims.py
  tests/bridges/test_branding_bridge.py
  tests/bridges/test_consciousness_bridges.py
  tests/bridges/test_core_bridges.py
  tests/governance/test_governance.py
  tests/tools/test_codemod_imports.py
  tools/error_analysis/pytest_error_analyzer.py
  vivox/__init__.py
Due: guardrail-check

docs(tests): create comprehensive smoke test fix brief for 100% pass rate
  SMOKE_TEST_FIX_BRIEF.md
Due: none

feat(tools): add full smoke test automation script
  scripts/full_smoke_fix_automation.py
Due: guardrail-check

fix(tools): repair syntax errors in smoke test automation script
  scripts/full_smoke_fix_automation.py
Due: guardrail-check

fix(bridges): add missing consciousness.dream.expand modules and create bridge gap finder
  consciousness/dream/expand/__init__.py
  scripts/find_bridge_gaps.py
Due: guardrail-check

docs(analysis): comprehensive bridge gap analysis revealing root cause
  BRIDGE_GAP_ANALYSIS.md
Due: none

docs(coordination): document GitHub issues created for bridge remediation campaign
  GITHUB_ISSUES_CREATED.md
Due: none

fix(bridge): expose legacy bridge exports
  bridge/__init__.py
Due: guardrail-check

fix: add missing bridge exports for high-impact modules
  aka_qualia/__init__.py
  governance/ethics/__init__.py
  labs/governance/guardian_system_integration.py
  lukhas/identity/__init__.py
  memory/__init__.py
Due: matrix-contract-presence, guardrail-check

fix: tolerate missing bridge backend exports
  bridge/__init__.py
Due: guardrail-check

chore(core): add bridge exports for core modules
  core/__init__.py
Due: guardrail-check

chore(bridge): export labs bridge modules
  bridge/__init__.py
Due: guardrail-check

bridge(orchestration): export labs modules
  orchestration/__init__.py
Due: guardrail-check

feat(core): add bridge exports for core modules
  core/__init__.py
Due: guardrail-check

bridge(memory): add exports for missing modules
  memory/__init__.py
Due: guardrail-check

bridge(emotion): add bridge exports for labs modules
  emotion/__init__.py
Due: guardrail-check

feat(bridges): enhance production package module loading for identity, ethics, memory, guardian
  aka_qualia/__init__.py
  governance/ethics/__init__.py
  labs/governance/guardian_system_integration.py
  lukhas/identity/__init__.py
  memory/__init__.py
Due: matrix-contract-presence, guardrail-check

bridge(core): export labs bridge stubs for core modules
  core/__init__.py
Due: guardrail-check

bridge(governance): add bridge exports for labs modules
  governance/__init__.py
Due: guardrail-check

chore(core): add bridge exports for batch 3 modules
  core/__init__.py
Due: guardrail-check

chore(tools): bridge export pending labs modules
  tools/__init__.py
Due: guardrail-check

chore(tests): add bridge exports
  tests/__init__.py
Due: guardrail-check

bridge(governance): export labs modules
  governance/__init__.py
Due: guardrail-check
