Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$

docs(session): PR merge progress - Phase 1 complete (2 PRs merged)
  docs/sessions/PR_MERGE_PROGRESS_2025-11-10.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(gpt-packages): create external review package for strategic direction
  docs/gpt_packages/LUKHAS_ECOSYSTEM_REVIEW_PACKAGE.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(session): complete PR merge campaign - 6/6 PRs successfully merged
  docs/sessions/PR_MERGE_PROGRESS_2025-11-10.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(gpt-packages): add document repository access section for external reviewers
  docs/gpt_packages/LUKHAS_ECOSYSTEM_REVIEW_PACKAGE.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(pr-review): comprehensive analysis of PR #1197 (Makefile restructuring)
  docs/pr_analysis/PR_1197_REVIEW.md
Due: check-markdown-encoding, validate-docs-frontmatter

feat(dx): add simplified developer interface with Makefile.dx
  Makefile
  Makefile.dx
  Makefile.lukhas
Due: none

feat(makefile): add self-healing test loop targets from main
  Makefile.dx
  Makefile.lukhas
Due: none

docs(session): PR #1197 split into Makefile-only PR #1289
  docs/sessions/PR_MERGE_PROGRESS_2025-11-10.md
Due: check-markdown-encoding, validate-docs-frontmatter

feat(dx): add simplified developer interface with Makefile.dx (#1289)
  Makefile
  Makefile.dx
  Makefile.lukhas
  docs/pr_analysis/PR_1197_REVIEW.md
Due: check-markdown-encoding, validate-docs-frontmatter

test(matriz): comprehensive test suite for matriz.traces_router module (#1280)
  tests/unit/matriz/test_traces_router.py
Due: block-labs-imports, guardrail-check

test(serve): add comprehensive test suite for serve.tracing module (#1279)
  tests/unit/serve/test_tracing.py
Due: block-labs-imports, guardrail-check

feat(testing): create 13 additional Jules sessions for comprehensive coverage
  scripts/create_additional_test_sessions.py
Due: block-labs-imports, guardrail-check

docs(session): update PR merge progress - Phase 4 complete (9 PRs merged)
  docs/sessions/PR_MERGE_PROGRESS_2025-11-10.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(test): comprehensive error log for Claude Web analysis
  docs/sessions/TEST_ERROR_LOG_2025-11-10.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(test): document quick wins - 1,047 fixes in 15 minutes
  docs/sessions/QUICK_WINS_2025-11-10.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(prompts): create T4 prompts for ruff and test fixes
  docs/prompts/PROMPT_FIX_RUFF_T4.md
  docs/prompts/PROMPT_FIX_TESTS_T4.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(gpt-packages): create specialized auditor prompts for GPT, Claude, Gemini
  docs/gpt_packages/CLAUDE_TONE_COMPLIANCE_AUDIT_PROMPT.md
  docs/gpt_packages/GEMINI_TECHNICAL_SEO_AUDIT_PROMPT.md
  docs/gpt_packages/GPT_STRATEGIC_AUDIT_PROMPT.md
Due: check-markdown-encoding, validate-docs-frontmatter

feat(branding): add launch phase strategy to domain registry
  branding/config/domain_registry.yaml
Due: validate-configs-and-secrets

fix(test): resolve RecursionError, import issues, and mark experimental tests
  aka_qualia/monitoring_dashboard/__init__.py
  cognitive_core/integration/cognitive_modulation_bridge/__init__.py
  cognitive_core/reasoning/deep_inference_engine/__init__.py
  consciousness/creativity_engine.py
  consciousness/registry/__init__.py
  consciousness/resilience/__init__.py
  core/breakthrough/__init__.py
  core/collective/routing/__init__.py
  core/collective/swarm/__init__.py
  core/common/__init__.py
  core/consciousness/oracle/__init__.py
  core/quantum_financial/__init__.py
  labs/memory/scheduled_folding/__init__.py
  ledger/__init__.py
  ledger/consent_handlers/__init__.py
  memory/backends/base/__init__.py
  memory/backends/faiss_store/__init__.py
  observability/compliance_dashboard/__init__.py
  observability/enhanced_distributed_tracing/__init__.py
  observability/intelligent_alerting/__init__.py
  orchestration/context_preservation/__init__.py
  orchestration/signals/__init__.py
  rl/coordination/multi_agent_trainer/__init__.py
  tests/contract/candidate/aka_qualia/conftest.py
  tests/e2e/candidate/aka_qualia/conftest.py
  tests/e2e/test_core_components_comprehensive.py
  tests/qualia/test_integrity_microcheck.py
  tests/unit/aka_qualia/test_metrics.py
  tests/unit/candidate/aka_qualia/conftest.py
Due: block-labs-imports, guardrail-check, check-license-headers

fix(test): add DependencyWarning and fix consciousness bridge paths
  consciousness/collapse/simulator/__init__.py
  consciousness/guardian_integration/__init__.py
  consciousness/meta_cognitive_assessor/__init__.py
  consciousness/reflection_engine/__init__.py
  consciousness/resilience/__init__.py
  consciousness/systems/__init__.py
  consciousness/types/__init__.py
  urllib3/exceptions.py
Due: block-labs-imports, guardrail-check

fix(jules): restore Python 3.9 compatibility in jules_wrapper
  bridge/llm_wrappers/jules_wrapper.py
Due: block-labs-imports, guardrail-check

docs(lint): document ruff progress - 1,606 errors fixed (43% reduction)
  docs/sessions/RUFF_PROGRESS_2025-11-10.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(pr-review): complete Phase 6 PR merge campaign and PR #1251 analysis
  docs/legacy/canonical-what-is-lukhas-2025-11/DEVELOPER_QUICKSTART_API_PLACEHOLDER.md
  docs/legacy/canonical-what-is-lukhas-2025-11/README_PROVENANCE.md
  docs/legacy/canonical-what-is-lukhas-2025-11/WEBSITE_WHAT_IS_LUKHAS.md
  docs/pr_analysis/PR_1251_REVIEW.md
  docs/sessions/PR_MERGE_PROGRESS_2025-11-10.md
Due: check-markdown-encoding, validate-docs-frontmatter

fix(lint): resolve syntax error and apply ruff auto-fixes
  core/orchestration/integration_hub.py
  core/tests/test_core_integration.py
  core/tests/test_core_unit.py
  qi/ui/abstract_reasoning_demo.original.py
  scripts/performance_unit.py
  tests/bridges/test_consciousness_bridges.py
  tests/capabilities/test_observability_contracts.py
  tests/core/endocrine/test_hormone_system.py
  tests/integration/test_critical_files_importsafe.py
  tests/integration/test_matriz_cognitive_pipeline.py
  tests/unit/candidate/core/interfaces/api/v1/test_middleware.py
  tests/unit/matriz/core/test_orchestrator.py
  tests/unit/memory/test_unified_memory_orchestrator.py
  tools/documentation/plugin.py
Due: block-labs-imports, guardrail-check, check-license-headers

docs(session): update PR merge progress - Phase 7 complete (14 PRs merged)
  docs/pr_analysis/PR_1296_REVIEW.md
  docs/sessions/PR_MERGE_PROGRESS_2025-11-10.md
Due: check-markdown-encoding, validate-docs-frontmatter

feat(consciousness): complete Body and Depends implementation for consciousness API
  docs/sessions/F401_OPPORTUNITIES_IMPLEMENTATION_2025-11-10.md
  serve/consciousness_api.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

docs(audit): create comprehensive GPT-5 Pro audit remediation action plan
  docs/sessions/GPT5_AUDIT_ACTION_PLAN_2025-11-10.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(session): add comprehensive session summary for F401 and GPT-5 audit work
  docs/sessions/SESSION_SUMMARY_2025-11-10.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(security): create Phase 1 AI agent prompts for critical security tasks
  docs/prompts/PHASE1_TASK1_STRICT_AUTH_MIDDLEWARE.md
  docs/prompts/PHASE1_TASK2_REMOVE_OPTIONAL_USERID.md
  docs/prompts/PHASE1_TASK3_PER_USER_DATA_ISOLATION.md
Due: check-markdown-encoding, validate-docs-frontmatter

security(workflows): resolve HIGH severity CVE in GitHub Actions
  .github/workflows/deploy_status_page.yml
  .github/workflows/matriz-validate.yml
  .github/workflows/slsa-build.yml
  .github/workflows/slsa_provenance.yml
  .github/workflows/strict-mode-rehearsal.yml
  .github/workflows/test-sharded.yml
  README.md
  docs/SECURITY_UPDATE_2025-11-10.md
  docs/architecture/README.md
Due: check-markdown-encoding, validate-docs-frontmatter

feat: Add scripts for comprehensive Jules session management
  docs/GITHUB_ACTIONS_REVIEW_2025-11-10.md
  docs/context_update_report.md
  docs/sessions/F401_OPPORTUNITIES_2025-11-10.md
  scripts/check_jules_messages_deep.py
  scripts/create_todo_resolution_sessions.py
  scripts/find_all_jules_questions.py
  scripts/jules_comprehensive_status.py
  scripts/respond_to_jules_questions.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

feat(security): Implement strict authentication middleware (OWASP A01 fix)
  lukhas_website/lukhas/api/middleware/strict_auth.py
  tests/unit/lukhas/governance/__init__.py
  tests/unit/lukhas/governance/middleware/__init__.py
  tests/unit/lukhas/governance/middleware/test_strict_auth.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check

docs(audits): format Claude tone & compliance audit with implementation guide
  audits/CLAUDE_TONE_COMPLIANCE_AUDIT_2025-11-10.md
  audits/IMPLEMENTATION_GUIDE_TONE_SYSTEM_V2.md
Due: none

security(ci): fix unknown download-artifact hash in MATRIZ workflows
  .github/workflows/matriz-clearance.yml
  .github/workflows/matriz-nightly-soak.yml
Due: none

docs(ci): comprehensive GitHub Actions review and optimization plan
  docs/CI_OPTIMIZATION_FINDINGS_2025-11-10.md
  scripts/ci/fix_unknown_hash_immediate.sh
  scripts/ci/verify_download_artifact_hashes.sh
Due: check-markdown-encoding, validate-docs-frontmatter
