Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$

feat(governance): GDPR compliance basics (Task 3.2) (#1338)
  lukhas/governance/gdpr/__init__.py
  lukhas/governance/gdpr/config.py
  lukhas/governance/gdpr/routes.py
  lukhas/governance/gdpr/service.py
  tests/integration/test_gdpr.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-license-headers

feat(governance): Implement SOC 2 compliant audit logging system (Task 3.1) (#1337)
  lukhas/governance/audit/README.md
  lukhas/governance/audit/__init__.py
  lukhas/governance/audit/config.py
  lukhas/governance/audit/events.py
  lukhas/governance/audit/logger.py
  lukhas/governance/audit/storage.py
  lukhas_website/lukhas/api/middleware/strict_auth.py
  tests/integration/test_audit_logging.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-license-headers

feat(feedback): Production-ready storage backend with connection pooling (Task 2.3) (#1336)
  products/experience/feedback/core/storage_backend.py
  tests/integration/test_feedback_storage_backend.py
Due: block-labs-imports, guardrail-check

security(governance): Implement rate limiting for DoS prevention (Task 2.2) (#1331)
  lukhas/governance/rate_limit/README.md
  lukhas/governance/rate_limit/__init__.py
  lukhas/governance/rate_limit/config.py
  lukhas/governance/rate_limit/middleware.py
  lukhas/governance/rate_limit/storage.py
  serve/main.py
  tests/integration/test_rate_limiting.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-license-headers

security(governance): Implement per-user data isolation (Task 1.3) (#1326)
  products/experience/feedback/core/feedback_cards.py
  serve/models/trace_models.py
  serve/routes_traces.py
  serve/storage/trace_provider.py
  tests/integration/test_per_user_data_isolation.py
Due: block-labs-imports, guardrail-check

chore(ci): add workflow simplification plan and usage monitoring
  .github/scripts/simplify-ci.sh
  .github/workflows/SIMPLIFIED_CI_PLAN.md
  .github/workflows/usage-monitor.yml
Due: none

fix(UP035): Replace deprecated typing imports in integration_hub.py
  api/optimization/integration_hub.py
Due: block-labs-imports, guardrail-check

fix(api): add missing passlib dependency for password hashing
  requirements.in
  requirements.txt
Due: none

fix(UP035): Remove unused Dict from dream benchmark files
  benchmarks/dream/calibration.py
  benchmarks/dream/stability.py
Due: block-labs-imports, guardrail-check

fix(UP035): Replace deprecated Type with type in llm_bridge.py
  branding/integrations/llm_bridge.py
Due: block-labs-imports, guardrail-check

fix(UP035): Remove unused Dict imports from vocabulary and bridge modules
  branding/vocabularies/vocabulary_rotation_engine.py
  bridge/api/settings/__init__.py
Due: block-labs-imports, guardrail-check

feat(guardian): complete P0 critical tasks - SG002, MP001, MS001
  docs/verification/MP001_orchestrator_timeouts_verification.md
  docs/verification/MS001_cognitive_nodes_verification.md
  docs/verification/SG002_killswitch_verification.md
  labs/governance/ethics/ethics_engine.py
  tests/manual/test_guardian_killswitch_manual.py
  tests/unit/governance/test_guardian_killswitch.py
  todo/MASTER_LOG.md
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

fix(UP035): Replace deprecated Dict imports in jules and glyph modules
  bridge/llm_wrappers/jules_wrapper.py
  candidate/glyphs/glyph_binder.py
  candidate/glyphs/glyph_retriever.py
Due: block-labs-imports, guardrail-check

fix(api): downgrade bcrypt to 4.3.0 for passlib 1.7.4 compatibility
  requirements.in
  requirements.txt
Due: none

fix(UP035): Replace deprecated typing imports in core modules
  core/audit/audit_decision_embedding_engine.py
  core/interfaces/api/v1/v1/rest/middleware.py
  core/observability/__init__.py
  core/providers/registry.py
Due: block-labs-imports, guardrail-check, check-license-headers

fix(UP035+F821): T4 linting - Replace deprecated typing in reliability + core modules
  core/reliability/idempotency.py
  core/reliability/idempotency_redis.py
  core/tags/__init__.py
Due: block-labs-imports, guardrail-check, check-license-headers

fix(UP035+F821): T4 linting - Systematic typing modernization
  core/utils/__init__.py
  governance/metrics/confidence_calibration.py
  lukhas/analytics/privacy_client.py
Due: block-labs-imports, guardrail-check, check-license-headers

fix(UP035): T4 autonomous cleanup - Lukhas API and features modernization
  lukhas/api/features.py
  lukhas/dream/__init__.py
  lukhas/features/flags_service.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-license-headers

fix(UP035): T4 autonomous cleanup - Website module typing modernization
  lukhas_website/lukhas/api/middleware/strict_auth.py
  lukhas_website/lukhas/api/system_endpoints.py
  lukhas_website/lukhas/core/registry/plugin_registry.py
Due: block-labs-imports, guardrail-check

feat(orchestration): add comprehensive timeout system with SLA enforcement
  docs/orchestrator/TIMEOUTS.md
  lukhas/orchestrator/__init__.py
  lukhas/orchestrator/cancellation.py
  lukhas/orchestrator/config.py
  lukhas/orchestrator/exceptions.py
  lukhas/orchestrator/executor.py
  lukhas/orchestrator/pipeline.py
  tests/integration/orchestrator/test_timeout_integration.py
  tests/unit/orchestrator/test_timeouts.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

fix(UP035): T4 autonomous cleanup - Final batch completion
  lukhas/api/analytics.py
  lukhas/features/testing.py
  lukhas_website/lukhas/glyphs/__init__.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-license-headers

Implement 8 core features across dream, memory, and governance systems (#1340)
  core/guardian/__init__.py
  core/guardian/policies.py
  core/memory/folds.py
  core/wavec/__init__.py
  core/wavec/checkpoint.py
  dast/__init__.py
  dast/orchestrator.py
  lid/__init__.py
  lid/token.py
  oneiric/__init__.py
  oneiric/core/__init__.py
  oneiric/core/generator.py
  oneiric/core/persistence.py
  serve/metrics.py
Due: block-labs-imports, guardrail-check, check-license-headers

security(governance): Remove optional user_id to prevent identity spoofing (Task 1.2) (#1319)
  lukhas/governance/__init__.py
  lukhas/governance/auth/__init__.py
  lukhas/governance/auth/dependencies.py
  serve/consciousness_api.py
  serve/feedback_routes.py
  tests/integration/test_cross_user_access.py
  tests/unit/lukhas/governance/auth/__init__.py
  tests/unit/lukhas/governance/auth/test_dependencies.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-license-headers

feat(guardian): add emergency kill-switch to EthicsEngine
  labs/governance/ethics/ethics_engine.py
Due: block-labs-imports, guardrail-check

feat(governance): add emergency kill-switch for immediate Guardian bypass
  docs/GUARDIAN_EMERGENCY_KILLSWITCH.md
  governance/guardian/emergency_killswitch.py
  lukhas_website/lukhas/governance/guardian/guardian_impl.py
  tests/unit/governance/guardian/test_emergency_killswitch.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

feat(governance): add emergency kill-switch for immediate Guardian bypass (#1350)
  docs/GUARDIAN_EMERGENCY_KILLSWITCH.md
  governance/guardian/emergency_killswitch.py
  lukhas_website/lukhas/governance/guardian/guardian_impl.py
  tests/unit/governance/guardian/test_emergency_killswitch.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

feat(matriz): implement 15 MATRIZ cognitive nodes for complete cognitive loop
  IMPLEMENTATION_COMPLETE.md
  matriz/nodes/action/__init__.py
  matriz/nodes/action/action_selection.py
  matriz/nodes/action/execution_monitoring.py
  matriz/nodes/action/goal_prioritization.py
  matriz/nodes/action/plan_generation.py
  matriz/nodes/action/resource_allocation.py
  matriz/nodes/awareness/__init__.py
  matriz/nodes/awareness/confidence_calibration.py
  matriz/nodes/awareness/metacognitive_monitoring.py
  matriz/nodes/decision/__init__.py
  matriz/nodes/decision/ethical_constraint.py
  matriz/nodes/decision/risk_assessment.py
  matriz/nodes/decision/utility_maximization.py
  matriz/nodes/thought/__init__.py
  matriz/nodes/thought/abductive_reasoning.py
  matriz/nodes/thought/analogical_reasoning.py
  matriz/nodes/thought/causal_reasoning.py
  matriz/nodes/thought/counterfactual_reasoning.py
  matriz/nodes/thought/metacognitive_reasoning.py
  verify_all_nodes.py
Due: block-labs-imports, guardrail-check, check-license-headers

docs(verification): validate P0 claims compliance with branding policy
  docs/verification/P0_TASKS_CLAIMS_VALIDATION.md
Due: check-markdown-encoding, validate-docs-frontmatter

feat(ui): add core components, tests, and interactive demo
  websites/demo.html
  websites/packages/ui/package.json
  websites/packages/ui/src/components/Button.test.tsx
  websites/packages/ui/src/components/Button.tsx
  websites/packages/ui/src/components/Footer.test.tsx
  websites/packages/ui/src/components/Footer.tsx
  websites/packages/ui/src/components/GlassCard.test.tsx
  websites/packages/ui/src/components/GlassCard.tsx
  websites/packages/ui/src/components/Header.test.tsx
  websites/packages/ui/src/components/Header.tsx
  websites/packages/ui/src/components/index.ts
  websites/packages/ui/src/index.ts
  websites/packages/ui/src/test/setup.ts
  websites/packages/ui/src/utils/morphing-system/MorphingEngine.test.ts
  websites/packages/ui/src/utils/morphing-system/index.ts
  websites/packages/ui/tailwind.config.js
  websites/packages/ui/vitest.config.ts
Due: none

T4: Modernize typing annotations in advanced_middleware.py
  api/optimization/advanced_middleware.py
Due: block-labs-imports, guardrail-check

docs(audit): comprehensive lukhas_website/lukhas/ directory architecture analysis
  docs/audit/LUKHAS_WEBSITE_DIRECTORY_AUDIT_2025-11-12.md
Due: check-markdown-encoding, validate-docs-frontmatter

T4: Modernize typing annotations in analytics_dashboard.py
  api/optimization/analytics_dashboard.py
Due: block-labs-imports, guardrail-check

test(governance): add Guardian kill-switch integration tests and validation report
  docs/GUARDIAN_KILLSWITCH_INTEGRATION_TEST_REPORT.md
  tests/integration/governance/test_guardian_killswitch_integration.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

test(governance): add Guardian kill-switch integration tests and validation report (#1355)
  docs/GUARDIAN_KILLSWITCH_INTEGRATION_TEST_REPORT.md
  tests/integration/governance/test_guardian_killswitch_integration.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

T4: Modernize typing annotations in integration_hub.py
  api/optimization/integration_hub.py
Due: block-labs-imports, guardrail-check

T4: Modernize typing annotations in analyze_duplicates.py
  audit_2025_launch/tools/analyze_duplicates.py
Due: block-labs-imports, guardrail-check

docs(audit): implement non-breaking changes for lukhas_website/lukhas architecture
  docs/audit/lukhas_directory_comparison.json
  lukhas_website/lukhas/README.md
  pyproject.toml
  scripts/audit/compare_lukhas_directories.py
Due: block-labs-imports, guardrail-check

T4: Modernize typing annotations in analyze_file_duplicates.py
  audit_2025_launch/tools/analyze_file_duplicates.py
Due: block-labs-imports, guardrail-check
