Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock

matrix-contract-presence:
  name: Matrix Contract Presence
  entry: python3 tools/validate_contract_presence.py --enforce --quiet
  language: system
  pass_filenames: false

matrix-contract-schema:
  name: Matrix Contract Schema Validation
  entry: python3 tools/matrix_gate.py --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

opa-format:
  name: Format OPA policies
  entry: opa fmt -w
  language: system

matrix-identity-validation:
  name: Matrix Identity Block Validation
  entry: python3 tools/matrix_gate.py --identity --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

lukhas-tier-consistency:
  name: ΛiD Tier Consistency Check
  entry: python3 tools/lukhas_id_bridge.py --check-consistency
  language: system
  pass_filenames: false

guardrail-check:
  name: guardrail-check (ban direct LLM calls)
  entry: python3 scripts/ci/check_guardrail_usage.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

matrix-contract-validation:
  name: Validate Matrix Contracts
  entry: python3 tools/pre_commit_matrix_check.py
  language: system
  pass_filenames: true

telemetry-semconv-validation:
  name: Validate Telemetry Semantic Conventions
  entry: python3 tools/pre_commit_telemetry_check.py
  language: system
  pass_filenames: true

demo-script-validation:
  name: Validate Matrix Tracks Demo Scripts
  entry: python3 tools/pre_commit_demo_lint.py
  language: system
  pass_filenames: true

reject-legacy-directory-index:
  name: Reject legacy directory_index.json files
  entry: python3 -c "import sys; files=[f for f in sys.argv[1:] if 'directory_index.json' in f]; sys.exit(1 if files else 0)"
  language: system
  pass_filenames: true

validate-module-manifests-changed:
  name: T4 Module Manifest Validation
  entry: python3 tools/manifest_validate.py --all
  language: system
  pass_filenames: false

validate-configs-and-secrets:
  name: Validate configs and detect secrets
  entry: python3 tools/validate_configs.py
  language: system
  pass_filenames: false

manifest-validate:
  name: Manifest Validate
  entry: python3 tools/manifest_validate.py
  language: system
  pass_filenames: false

manifest-lock:
  name: Manifest Lock Hydrator
  entry: python3 tools/manifest_lock_hydrator.py
  language: system
  pass_filenames: false

chore(github): add agent codex label (#769)
  .github/labels.json
Due: none

feat(registry): add Dilithium2 checkpoint signing bundle (#770)
  services/registry/checkpoint.meta.json
  services/registry/checkpoint.sig
  services/registry/main.py
  services/registry/registry_store.json
  services/registry/tests/test_checkpoint_signature.py
  services/registry/tests/test_registry.py
Due: guardrail-check

feat(manifests): complete phase1 production coverage (#771)
  docs/audits/MANIFEST_COVERAGE_P1_REPORT.md
  manifests/core/blockchain/module.manifest.json
  manifests/core/emotion/module.manifest.json
  manifests/core/identity/vault/module.manifest.json
  manifests/core/orchestration/brain/dashboard/module.manifest.json
  manifests/core/ports/module.manifest.json
  manifests/core/widgets/module.manifest.json
  manifests/lukhas/adapters/module.manifest.json
  manifests/lukhas/adapters/openai/module.manifest.json
Due: validate-module-manifests-changed, manifest-validate, manifest-lock

docs: record no-op guard observation status (#772)
  .gitignore
  docs/audits/noop_guard.log
  docs/ops/T4_EXECUTION_SUMMARY.md
Due: none

docs(security): capture consolidated posture remediation plan (#774)
  .github/workflows/security-posture.yml
  docs/security/SECURITY_POSTURE_REMEDIATION.md
Due: none

refactor(reliability): lift imports to top-level modules (#775)
  core/governance/ethics/compliance_monitor.py
  core/governance/ethics/guardian_reflector.py
  core/governance/guardian/compliance_audit_system.py
  core/governance/guardian/system_health_monitor.py
  core/governance/identity/core/health/identity_health_monitor.py
  core/integration/executive_decision_integrator.py
  core/utils/orchestration_energy_aware_execution_planner.py
Due: guardrail-check

fix(matriz): stabilize bridges and gates; update audit statuses
  consciousness/meta_cognitive_assessor/__init__.py
  docs/architecture/MATRIZ_CONSCIOUSNESS_ARCHITECTURE.md
  docs/audits/MATRIZ_SYSTEM_AUDIT_2025-11-01.md
  serve/main.py
  tests/integration/test_matriz_complete_thought_loop.py
Due: guardrail-check

test: expand legacy bridge compatibility shims
  branding/__init__.py
  branding/terminology.py
  candidate/core/__init__.py
  candidate/core/bridges/__init__.py
  candidate/core/bridges/consciousness_qi_bridge.py
  candidate/core/bridges/core_consciousness_bridge.py
  candidate/core/bridges/core_safety_bridge.py
  candidate/core/bridges/identity_core_bridge.py
  candidate/core/quantum_financial/__init__.py
  candidate/core/quantum_financial/quantum_financial_consciousness_engine.py
  consciousness/registry.py
  consciousness/registry/__init__.py
  core/common/config.py
  core/quantum_financial/quantum_financial_consciousness_engine.py
  flags/__init__.py
  flags/ff.py
  labs/governance/ethics/constitutional_ai.py
  matriz/__init__.py
  matriz/core/async_orchestrator.py
  qi/bio/bio_optimizer.py
  tests/conftest.py
  tests/unit/bridge/adapters/test_gmail_adapter.py
  tests/unit/bridge/adapters/test_oauth_manager_advanced.py
  tests/unit/bridge/external_adapters/test_gmail_adapter.py
  tests/unit/candidate/aka_qualia/conftest.py
  tests/unit/conftest.py
  tests/unit/consciousness/test_registry_activation_order.py
  tests/unit/governance/ethics/test_lukhas_constitutional_ai.py
  tests/unit/pytest.ini
  tests/unit/qi/test_quantum_financial_consciousness_engine.py
  tests/unit/test_orchestrator_circuit_breaker.py
Due: guardrail-check

test: expand legacy bridge compatibility shims (#776)
  branding/__init__.py
  branding/terminology.py
  candidate/core/__init__.py
  candidate/core/bridges/__init__.py
  candidate/core/bridges/consciousness_qi_bridge.py
  candidate/core/bridges/core_consciousness_bridge.py
  candidate/core/bridges/core_safety_bridge.py
  candidate/core/bridges/identity_core_bridge.py
  candidate/core/quantum_financial/__init__.py
  candidate/core/quantum_financial/quantum_financial_consciousness_engine.py
  consciousness/registry.py
  consciousness/registry/__init__.py
  core/common/config.py
  core/quantum_financial/quantum_financial_consciousness_engine.py
  flags/__init__.py
  flags/ff.py
  labs/governance/ethics/constitutional_ai.py
  matriz/__init__.py
  matriz/core/async_orchestrator.py
  qi/bio/bio_optimizer.py
  tests/conftest.py
  tests/unit/bridge/adapters/test_gmail_adapter.py
  tests/unit/bridge/adapters/test_oauth_manager_advanced.py
  tests/unit/bridge/external_adapters/test_gmail_adapter.py
  tests/unit/candidate/aka_qualia/conftest.py
  tests/unit/conftest.py
  tests/unit/consciousness/test_registry_activation_order.py
  tests/unit/governance/ethics/test_lukhas_constitutional_ai.py
  tests/unit/pytest.ini
  tests/unit/qi/test_quantum_financial_consciousness_engine.py
  tests/unit/test_orchestrator_circuit_breaker.py
Due: guardrail-check

chore: align history with original PR head
  .pre-commit-config.yaml
  core/ethics.py
  core/governance.py
  core/registry.py
  docs/agents/claude_prompts.md
  lukhas_website/lukhas/identity/webauthn_production.py
  matriz/run_api_server.py
  scripts/consolidation/block_labs_imports.sh
  scripts/wavec_snapshot.py
  tests/identity/test_webauthn_production.py
  tests/identity/test_webauthn_registration_imports.py
  tests/tools/test_wavec_snapshot.py
  tests/unit/identity/test_webauthn_descriptor_handling.py
  tests/unit/identity/test_webauthn_enhanced_imports.py
Due: guardrail-check

fix(qi): restore proof statement compatibility
  qi/privacy/zero_knowledge_system.py
  tests/qi/privacy/test_privacy_statement.py
Due: guardrail-check

fix(orchestration): refresh lazy proxies after rebase
  core/orchestration/gpt_colony_orchestrator.py
Due: guardrail-check

test(security): verify guardian integration annotations
  security/tests/test_security_suite.py
Due: guardrail-check

test(security): sync encryption manager suite with main
  security/tests/test_security_suite.py
Due: guardrail-check

test(security): cover encryption metadata and config
  security/tests/test_encryption_manager_unit.py
Due: guardrail-check

fix(qi): introduce privacy statement dataclass
  matriz/run_api_server.py
  qi/privacy/zero_knowledge_system.py
  tests/qi/test_zero_knowledge_privacy_engine.py
  tests/unit/qi/test_zero_knowledge_privacy_engine.py
Due: guardrail-check

test(security): add simulated encryption manager for suite
  security/tests/test_security_suite.py
Due: guardrail-check

chore: align history with original PR head (#777)
  .pre-commit-config.yaml
  core/ethics.py
  core/governance.py
  core/registry.py
  docs/agents/claude_prompts.md
  lukhas_website/lukhas/identity/webauthn_production.py
  matriz/run_api_server.py
  scripts/consolidation/block_labs_imports.sh
  scripts/wavec_snapshot.py
  tests/identity/test_webauthn_production.py
  tests/identity/test_webauthn_registration_imports.py
  tests/tools/test_wavec_snapshot.py
  tests/unit/identity/test_webauthn_descriptor_handling.py
  tests/unit/identity/test_webauthn_enhanced_imports.py
Due: guardrail-check

fix(qi): restore proof statement compatibility (#778)
  qi/privacy/zero_knowledge_system.py
  tests/qi/privacy/test_privacy_statement.py
Due: guardrail-check

fix(orchestration): refresh lazy proxies after rebase (#779)
  core/orchestration/gpt_colony_orchestrator.py
Due: guardrail-check

test(security): verify guardian integration annotations (#780)
  security/tests/test_security_suite.py
Due: guardrail-check

test(security): sync encryption manager suite with main (#781)
  security/tests/test_security_suite.py
Due: guardrail-check

test(security): cover encryption metadata and config (#782)
  security/tests/test_encryption_manager_unit.py
Due: guardrail-check

fix(qi): introduce privacy statement dataclass (#783)
  matriz/run_api_server.py
  qi/privacy/zero_knowledge_system.py
  tests/qi/test_zero_knowledge_privacy_engine.py
  tests/unit/qi/test_zero_knowledge_privacy_engine.py
Due: guardrail-check

test(security): add simulated encryption manager for suite (#785)
  security/tests/test_security_suite.py
Due: guardrail-check

security(deps): upgrade starlette to 0.49.1 to fix DoS vulnerability
  requirements.in
  requirements.txt
Due: none

docs(audits): comprehensive GitHub issues audit and consolidation
  docs/audits/GITHUB_ISSUES_AUDIT_2025-11-01.md
Due: none

security: block pip 25.2 due to CVE-2025-8869
  constraints.txt
  requirements.in
  requirements.txt
Due: none

feat(tools): add TODO categorization utilities
  todo/__init__.py
  todo/scripts/__init__.py
Due: guardrail-check

chore: reconcile TODO directory case changes
  todo/__init__.py
  todo/scripts/__init__.py
  todo/scripts/categorize_todos.py
Due: guardrail-check

docs(scripts): clarify TODO format examples in inventory generator
  scripts/todo_migration/generate_todo_inventory.py
Due: guardrail-check

feat(security): add type-safe EncryptionAlgorithm enum with comprehensive metadata
  core/security/__init__.py
  core/security/encryption_types.py
  tests/unit/security/__init__.py
  tests/unit/security/test_encryption_types.py
Due: guardrail-check

feat(identity): add WebAuthn TypedDict definitions for W3C spec compliance
  lukhas_website/lukhas/identity/webauthn_production.py
  lukhas_website/lukhas/identity/webauthn_types.py
  tests/unit/identity/test_webauthn_types.py
Due: guardrail-check

feat(registry): harden pqc checkpoint bootstrap
  services/registry/.gitignore
  services/registry/README.md
  services/registry/checkpoint.meta.json
  services/registry/checkpoint.sig
  services/registry/main.py
  services/registry/registry_store.json
Due: guardrail-check

docs(gonzo): multi-agent orchestration and delegation guides
  docs/gonzo/AGENT_DELEGATION_PLAN_2025-11-01.md
  docs/gonzo/MULTI_AGENT_ORCHESTRATION_GUIDE.md
Due: none

refactor(adapters): fix E402 lint in unified integration adapters
  core/orchestration/brain/unified_integration/adapters/cognitive_adapter.py
  core/orchestration/brain/unified_integration/adapters/intent_adapter.py
  core/orchestration/brain/unified_integration/adapters/oscillator_adapter.py
Due: guardrail-check

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
