Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$

🔧 Fix B007 unused loop control variables (16 eliminated)
  lukhas/orchestrator/health.py
  lukhas/reasoning_lab/redaction_engine.py
  scripts/registry/regenerate_module_registry.py
  tests/integration/test_critical_files_importsafe.py
  tests/reasoning_lab/test_demo_mode.py
  tests/security/test_auth_hardening.py
  tests/unit/core/consciousness/test_quantum_decision.py
  tests/unit/lukhas/api/test_features.py
  tests/unit/lukhas/api/test_storage.py
  tests/unit/serve/api/test_integrated_consciousness_api.py
  tests/unit/serve/reference_api/test_public_api_reference.py
Due: block-labs-imports, guardrail-check, check-license-headers

refactor: Continue ruff cleanup - B007 loop variables (16 eliminated) + UP035 typing (4 eliminated)
  tests/memory/test_matriz_gdpr_bridge.py
Due: block-labs-imports, guardrail-check

refactor: Major ruff cleanup progress - UP045 completely eliminated (94 total violations fixed)
  bridge/llm_wrappers/jules_wrapper.py
  core/colonies/ethics_swarm_colony.py
  core/consciousness/bridge.py
  core/consciousness/drift_detector.py
  governance/guardian/emergency_killswitch.py
  lukhas/governance/consent_ledger.py
  tests/bridge/test_explainability_interface_layer.py
  tests/integration/security/test_security_monitor_integration.py
  tests/observability/test_matriz_tracing.py
  tests/orchestration/test_async_orchestrator_metrics.py
  tests/scripts/test_generate_todo_inventory.py
  tests/smoke/fixtures.py
  tests/smoke/test_idempotency.py
  tests/unit/candidate/core/matrix/test_nodes.py
  tests/unit/core/test_openai_provider_protocol.py
  tests/unit/governance/test_jules03_identity.py
  tests/unit/orchestration/test_multi_brain_specialists.py
  tests/unit/test_ratelimit_keys.py
  tests/unit/test_webauthn_routes.py
  tests/util/mk_msg.py
Due: block-labs-imports, guardrail-check, check-license-headers

feat(matriz): Phase‑1 scaffolding N01–N03 (typed base, tests, compose)
  config/matriz/phase1.yml
  lukhas/orchestrator/matriz_phase1.py
  matriz/nodes/phase1/__init__.py
  matriz/nodes/phase1/attention_controller.py
  matriz/nodes/phase1/base.py
  matriz/nodes/phase1/episodic_memory.py
  matriz/nodes/phase1/events.py
  matriz/nodes/phase1/working_memory.py
  tests/integration/test_matriz_phase1_compose.py
  tests/matriz/phase1/test_attention_controller.py
  tests/matriz/phase1/test_episodic_memory.py
  tests/matriz/phase1/test_working_memory.py
Due: block-labs-imports, guardrail-check, check-license-headers

fix(matriz): resolve recursion error in root __init__.py and test monkeypatch
  __init__.py
  tests/matriz/phase1/test_episodic_memory.py
Due: block-labs-imports, guardrail-check

docs(matriz): add Phase-1 implementation plan and research synthesis
  docs/matriz_12/MATRIZ_Phase‑1_scaffolding-N01–N03_nodes.md
  docs/matriz_12/PHASE_1.md
  docs/matriz_12/PHASE_1_TO_12_FRAMEWORK.md
  docs/research/MATRIZ_THREE_WAY_RESEARCH_SYNTHESIS_2025-11-13.md
  scripts/create_5_specialist_sessions.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

feat(lukhas.ai): release v0.0.1 with dark theme and consciousness design
  websites/packages/lukhas.ai/src/components/NeuralBackground.tsx
  websites/packages/lukhas.ai/src/pages/HomePage.tsx
Due: none

test(memory): add comprehensive memory integration tests (MS008)
  tests/integration/test_memory_system_integration.py
Due: block-labs-imports, guardrail-check

feat: Aggressive ruff auto-fixes - 58 total violations eliminated
  fix_missing_imports.py
  lukhas_website/lukhas/api/identity.py
Due: block-labs-imports, guardrail-check

fix(aka_qualia): add missing MetricsConfig class to resolve test import errors
  aka_qualia/metrics.py
Due: block-labs-imports, guardrail-check

docs(testing): comprehensive test blocking issues audit and resolution
  TEST_BLOCKING_ISSUES_2025-11-13.md
Due: none

feat(scripts): Aggressive manual cleanup - E701/E702 violations fixed
  scripts/analyze_import_graph.py
  scripts/apply_promotions.py
Due: block-labs-imports, guardrail-check

fix(hygiene): resolve Python 3.9 type annotations and module path errors
  cognitive_core/reasoning/deep_inference_engine/__init__.py
  consciousness/enhanced_thought_engine.py
  governance/guardian/__init__.py
  identity/auth_service.py
  labs/consciousness/reflection/self_reflection_engine.py
  memory/sync.py
  orchestration/externalized_orchestrator.py
Due: block-labs-imports, guardrail-check

refactor(scripts): eliminate all E701/E702 violations - aggressive cleanup phase 2
  bridge/llm_wrappers/jules_wrapper.py
  scripts/analyze_import_graph.py
  scripts/apply_promotions.py
  scripts/batch_status.py
  scripts/build_import_map.py
  scripts/check_manifest_drift.py
  scripts/consolidation/detect_dream_collisions_and_propose_moves.py
  scripts/create_4_priority_jules_sessions.py
  scripts/generate_badges.py
  scripts/harvest_todos.py
  scripts/matriz/check_readiness.py
  scripts/normalize_context_front_matter.py
  scripts/suggest_imports_f821.py
  scripts/suggest_star_promotions.py
Due: block-labs-imports, guardrail-check

fix(scripts): improve source lookup in Jules session creator
  scripts/create_4_priority_jules_sessions.py
Due: block-labs-imports, guardrail-check

fix(test): resolve Pydantic V1→V2 migration and analytics import errors
  aka_qualia/models.py
  api/feedback_api.py
  bridge/adapters/api_framework.py
  bridge/api/config.py
  bridge/api/onboarding.py
  gtpsi/server/verify.py
  labs/core/orchestration/brain/eu_awareness_engine.py
  lukhas/api/analytics.py
  lukhas_website/lukhas/aka_qualia/models.py
  lukhas_website/lukhas/api/glyphs.py
  lukhas_website/lukhas/identity/validation_schemas.py
  matriz/interfaces/api_server.py
  products/experience/feedback/qi_feedback/schema.py
  products/experience/universal_language/core/__init__.py
  scripts/create_todo_resolution_sessions.py
  tools/enterprise/structured_audit_logger.py
  tools/fix_test_dependencies.py
  tools/migrate_pydantic_v1_to_v2.py
Due: block-labs-imports, guardrail-check, check-license-headers

refactor(scripts): eliminate all SIM115 violations - context manager cleanup
  scripts/dream_validate_pr.py
  scripts/generate_badges.py
  scripts/generate_module_manifests.py
  scripts/restore.py
  scripts/todo_migration/assign_from_mapping.py
  scripts/validate_manifests.py
  scripts/validate_openapi.py
Due: block-labs-imports, guardrail-check

docs(test): update TEST_BLOCKING_ISSUES with completed resolutions
  TEST_BLOCKING_ISSUES_2025-11-13.md
Due: none

refactor(scripts): eliminate 6 code quality violations - quick wins batch
  scripts/analysis/agi_module_analyzer.py
  scripts/preflight_check.py
  scripts/security-update.py
  scripts/security_sbom_generator.py
  scripts/t4_dryrun_autofix.py
  scripts/update_keychain_key.py
Due: block-labs-imports, guardrail-check

chore(review): request @codex review for PR merges and MS008 completion
  CODE_REVIEW_REQUEST.md
Due: none

refactor(scripts): eliminate 5 more code quality violations - final quick wins
  scripts/activate_consciousness.py
  scripts/preflight_check.py
  scripts/push_codex_prompts.py
  scripts/todo/sync_agents.py
  scripts/utils/launch_transmission.py
Due: block-labs-imports, guardrail-check

docs(prs): create summary of 10 new PRs from branch cleanup
  PR_CREATION_SUMMARY.md
Due: none

refactor(scripts): eliminate all B007 violations - unused loop variables
  scripts/bench_validated.py
  scripts/docs_dedupe.py
  scripts/mode_comparison.py
  scripts/statistical_tests.py
  scripts/validate_guardian_integration.py
  scripts/validate_performance.py
Due: block-labs-imports, guardrail-check

fix: remove invalid pytest configuration options
  pytest.ini
Due: none

refactor(scripts): eliminate all B904 violations - exception chaining
  scripts/ai_webhook_receiver.py
  scripts/bench/update_observed_from_bench.py
  scripts/coverage/collect_module_coverage.py
  scripts/notion_sync.py
  scripts/qrg/sign_ops_event.py
  scripts/todo_migration/create_issues.py
  scripts/todo_migration/replace_todos_with_issues.py
  scripts/update_directory_indexes.py
  scripts/validate_performance_budgets.py
Due: block-labs-imports, guardrail-check

Update core/symbolic/symbolic_anomaly_explorer.py
  core/symbolic/symbolic_anomaly_explorer.py
Due: block-labs-imports, guardrail-check, check-license-headers

Update contracts/dream_commerce/README.md
  contracts/dream_commerce/README.md
Due: none

test: remove invalid cache invalidation import
  tests/integration/serve/test_api.py
Due: block-labs-imports, guardrail-check

fix: use correct matriz package in coverage workflow
  .github/workflows/coverage.yml
Due: none

feat: migrate Pydantic V1 to V2 validators in aka_qualia/models.py
  aka_qualia/models.py
Due: block-labs-imports, guardrail-check

docs: update test suite documentation with infrastructure fixes
  tests/KNOWN_ISSUES.md
  tests/TEST_STATUS.md
Due: none

docs(session): comprehensive ruff cleanup summary - 38% reduction achieved
  RUFF_CLEANUP_SESSION_COMPLETE_NOV13.md
Due: none

feat: Implement chat interface and playground features
  websites/packages/lukhas.ai/package.json
  websites/packages/lukhas.ai/src/components/playground/ChatInterface.tsx
  websites/packages/lukhas.ai/src/components/playground/ConstellationPulse.tsx
  websites/packages/lukhas.ai/src/components/playground/ControlBar.tsx
  websites/packages/lukhas.ai/src/components/playground/MATRIZTrace.tsx
  websites/packages/lukhas.ai/src/pages/PlaygroundPage.tsx
  websites/packages/lukhas.ai/src/stores/playgroundStore.ts
  websites/packages/lukhas.ai/src/types/playground.ts
  websites/packages/lukhas.ai/vite.config.ts
  websites/pnpm-lock.yaml
Due: none

fix: add invalidate_model_cache helper
  serve/main.py
Due: block-labs-imports, guardrail-check

chore(ci): complete Phase 1 CI optimization pilot
  .github/workflows/auto-copilot-review.yml
  .github/workflows/coverage-gates.yml
Due: none

fix(guardian): secure kill switch storage
  guardian/emergency.py
  tests/unit/guardian/test_emergency.py
Due: block-labs-imports, guardrail-check

fix(core): restore OracleColony exports
  core/colonies/oracle_colony.py
Due: block-labs-imports, guardrail-check, check-license-headers
