Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$

fix(tests): reduce pytest collection errors from 39 to 22
  .claude/settings.local.json
  candidate/orchestration/brain/monitoring/intelligence_monitor.py
  docs/gonzo/claude_09_oct.md
  docs/gonzo/py_fixes.md
  lukhas/governance/guardian_serializers.py
  lukhas/observability/service_metrics.py
  lukhas_website/lukhas/core/reliability/circuit_breaker.py
  pytest.ini
  third_party_stubs/urllib3/__init__.py
  third_party_stubs/urllib3/exceptions.py
Due: guardrail-check

docs(review): comprehensive analysis of PRs and GitHub issues
  docs/reviews/PR_AND_ISSUE_REVIEW_2025-10-09.md
Due: none

docs(review): PR #363 verification report with nuanced assessment
  docs/reviews/PR_363_VERIFICATION_REPORT.md
Due: none

docs(security): comprehensive 6-week posture remediation plan
  docs/security/SECURITY_POSTURE_REMEDIATION.md
Due: none

Fix run_stream async generator handling
  candidate/orchestration/openai_modulated_service.py
Due: guardrail-check

Resolve rebase conflicts and fix streaming adapter
  candidate/orchestration/openai_modulated_service.py
  pytest.ini
Due: guardrail-check

test-unblock: bridges + metrics guard + markers (#363)
  .gitignore
  candidate/memory/folds/fold_engine.py
  candidate/orchestration/openai_modulated_service.py
  lukhas/aka_qualia/observability.py
  lukhas/governance/guardian_serializers/__init__.py
  lukhas/identity/__init__.py
  lukhas/identity/device_registry.py
  lukhas/identity/oidc_provider.py
  lukhas/ledger/events.py
  lukhas/memory/backends/memory_store.py
  lukhas/observability/matriz_instrumentation.py
  lukhas/rl/environments/__init__.py
  lukhas/rl/environments/consciousness_environment.py
  lukhas_website/lukhas/orchestration/api.py
  lukhas_website/lukhas/orchestration/context_preservation.py
  lukhas_website/lukhas/orchestration/externalized_orchestrator.py
  lukhas_website/lukhas/orchestration/health_monitor.py
  lukhas_website/lukhas/orchestration/multi_ai_router.py
  lukhas_website/lukhas/orchestration/routing_config.py
  lukhas_website/lukhas/orchestration/routing_strategies.py
  pytest.ini
Due: matrix-contract-presence, guardrail-check

feat(candidate-core): wire nias delivery loop decisions (#362)
  .lukhas_runs/2025-09-15/batches_clean/BATCH-CODEX01-2025-09-15-01.json
  candidate/bio/qi.py
  candidate/core/interfaces/as_agent/sys/nias/delivery_loop.py
  candidate/core/symbolic/creative_market.py
Due: guardrail-check

fix(matriz): expose all MATRIZ subpackages through lowercase shim
  matriz/__init__.py
Due: guardrail-check

feat(agents): integrate Jules batch - MATRIZ adapters and governance modules
  .lukhas_runs/2025-10-08/JULES_INTEGRATION_PLAN.md
  .lukhas_runs/2025-10-08/integrate_jules.sh
  .lukhas_runs/2025-10-08/integrate_jules_batch.py
  .lukhas_runs/2025-10-08/jules_file_mapping.json
  .lukhas_runs/2025-10-08/map_jules_files.py
  MATRIZ/adapters/__init__.py
  MATRIZ/adapters/adapters/__init__.py
  MATRIZ/adapters/adapters/bio_adapter.py
  MATRIZ/adapters/adapters/bridge_adapter.py
  MATRIZ/adapters/adapters/compliance_adapter.py
  MATRIZ/adapters/adapters/consciousness_adapter.py
  MATRIZ/adapters/adapters/contradiction_adapter.py
  MATRIZ/adapters/adapters/creative_adapter.py
  MATRIZ/adapters/adapters/emotion_adapter.py
  MATRIZ/adapters/adapters/governance_adapter.py
  MATRIZ/adapters/adapters/identity_adapter.py
  MATRIZ/adapters/adapters/memory_adapter.py
  MATRIZ/adapters/adapters/orchestration_adapter.py
  MATRIZ/adapters/cloud_consolidation.py
  MATRIZ/adapters/config/README.md
  MATRIZ/adapters/docs/README.md
  MATRIZ/adapters/docs/api.md
  MATRIZ/adapters/docs/architecture.md
  MATRIZ/adapters/docs/troubleshooting.md
  MATRIZ/adapters/drive/README.md
  MATRIZ/adapters/drive/__init__.py
  MATRIZ/adapters/dropbox/__init__.py
  MATRIZ/adapters/gmail_headers/__init__.py
  MATRIZ/adapters/lukhas_context.md
  MATRIZ/adapters/tests/README.md
  MATRIZ/adapters/tests/conftest.py
  MATRIZ/adapters/tests/test_adapters_integration.py
  MATRIZ/adapters/tests/test_adapters_unit.py
  adapters/__init__.py
  candidate/consciousness/reflection/openai_modulated_service.py
  candidate/governance/auth_glyph_registry.py
  candidate/memory/folds/fold_engine.py
  matriz/docs/MATRIX_V3_README.md
  matriz/docs/MATRIX_V3_SLIDES.md
  tests/security/test_crypto_hygiene.py
Due: guardrail-check

test(bridge): Add test scaffolds for onboarding, QRS, explainability, and JWT
  tests/bridge/test_api_framework_jwt.py
  tests/bridge/test_api_qrs_manager.py
  tests/bridge/test_explainability_fixtures.py
  tests/bridge/test_onboarding.py
Due: guardrail-check

test(bridge): Add vector store/RAG test scaffolds
  AGENTS.md
  MATRIZ/adapters/cloud_consolidation.py
  MATRIZ/adapters/drive/__init__.py
  MATRIZ/adapters/dropbox/__init__.py
  MATRIZ/adapters/gmail_headers/__init__.py
  adapters/cloud_consolidation.py
  adapters/drive/__init__.py
  adapters/dropbox/__init__.py
  adapters/gmail_headers/__init__.py
  tests/bridge/test_openai_modulated_service.py
Due: guardrail-check

test+docs(copilot): Complete governance tests and comprehensive documentation
  docs/examples/explainability_usage.md
  docs/examples/jwt_examples.md
  docs/examples/onboarding_api.md
  docs/examples/vector_store_examples.md
  tests/bridge/test_onboarding_errors.py
  tests/governance/test_access_control.py
  tests/governance/test_audit_system.py
  tests/governance/test_consent_manager.py
  tests/governance/test_policy_engine.py
  tests/governance/test_threat_detection.py
Due: guardrail-check

docs(copilot): Add batch completion report - 25/25 tasks complete
  .lukhas_runs/2025-10-08/reports/COPILOT_BATCH_COMPLETION.md
Due: none

review(claude): comprehensive verification of JULES batch 219dc8d0c
  .lukhas_runs/2025-10-08/reports/CLAUDE_CODE_REVIEW_SUMMARY.md
Due: none

docs(batches): accept JULES batch as MATRIZ infrastructure with new API/Governance batch
  .lukhas_runs/2025-10-08/batches/.lukhas_runs/2025-10-08/batches/BATCH-JULES-API-GOVERNANCE-02.json
  .lukhas_runs/2025-10-08/batches/.lukhas_runs/2025-10-08/batches/BATCH-JULES-MATRIZ-INFRASTRUCTURE-01.json
  .lukhas_runs/2025-10-08/batches/.lukhas_runs/2025-10-08/reports/JULES_BATCH_ACCEPTANCE_DECISION.md
Due: none

feat(bridge/api): Implement comprehensive onboarding module (tasks a1b2c3d4-g3h4i5j6)
  .claude/settings.local.json
  .lukhas_runs/2025-10-08/batches/BATCH-JULES-2025-10-08-01.json.original
  .lukhas_runs/2025-10-08/batches/BATCH-JULES-API-GOVERNANCE-02.json
  .lukhas_runs/2025-10-08/reports/JULES_BATCH_ACCEPTANCE_DECISION.md
  candidate/bridge/api/__init__.py
  candidate/bridge/api/onboarding.py
Due: guardrail-check

feat(bridge/api): Implement QRS manager and import controller (tasks k7l8m9n0, o1p2q3r4)
  candidate/bridge/api/api.py
  candidate/bridge/api/controllers.py
  pytest.ini
  pytest_asyncio_stub_DISABLED/README.md
  pytest_asyncio_stub_DISABLED/__init__.py
  pytest_asyncio_stub_DISABLED/claude.me
  pytest_asyncio_stub_DISABLED/config/README.md
  pytest_asyncio_stub_DISABLED/config/config.yaml
  pytest_asyncio_stub_DISABLED/config/environment.yaml
  pytest_asyncio_stub_DISABLED/config/logging.yaml
  pytest_asyncio_stub_DISABLED/docs/README.md
  pytest_asyncio_stub_DISABLED/docs/api.md
  pytest_asyncio_stub_DISABLED/docs/architecture.md
  pytest_asyncio_stub_DISABLED/docs/troubleshooting.md
  pytest_asyncio_stub_DISABLED/lukhas_context.md
  pytest_asyncio_stub_DISABLED/module.manifest.json
  pytest_asyncio_stub_DISABLED/plugin.py
  pytest_asyncio_stub_DISABLED/tests/README.md
  pytest_asyncio_stub_DISABLED/tests/conftest.py
  pytest_asyncio_stub_DISABLED/tests/test_pytest_asyncio_integration.py
  pytest_asyncio_stub_DISABLED/tests/test_pytest_asyncio_unit.py
  tests/bridge/test_onboarding.py
Due: guardrail-check, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock

feat(bridge): Implement explainability, JWT adapter, and vector store integration (19 tasks)
  .lukhas_runs/2025-10-08/batches/BATCH-JULES-API-GOVERNANCE-02.json
  candidate/bridge/adapters/__init__.py
  candidate/bridge/adapters/api_framework.py
  candidate/bridge/explainability_interface_layer.py
  candidate/bridge/llm_wrappers/__init__.py
  candidate/bridge/llm_wrappers/openai_modulated_service.py
Due: guardrail-check

docs(validation): approve JULES batch BATCH-JULES-API-GOVERNANCE-02 - all 25 tasks complete
  .lukhas_runs/2025-10-08/reports/JULES_BATCH_COMPLETE_VALIDATION.md
Due: none

feat(batches): create 2 test implementation batches for Copilot (50 tasks total)
  .lukhas_runs/2025-10-09/batches/BATCH-COPILOT-TESTS-01.json
  .lukhas_runs/2025-10-09/batches/BATCH-COPILOT-TESTS-02.json
Due: none

docs(copilot): add comprehensive test batches summary and implementation guide
  .lukhas_runs/2025-10-09/COPILOT_TEST_BATCHES_SUMMARY.md
Due: none

test(copilot): add 189 tests for bridge API, governance, and infrastructure (51% passing)
  .lukhas_runs/2025-10-09/reports/COPILOT_VALIDATION_SUMMARY.md
  docs/examples/usage_guide_onboarding.md
  docs/testing/COVERAGE_ANALYSIS.md
  docs/testing/TEST_SUITE_SUMMARY.md
  tests/bridge/test_explainability.py
  tests/bridge/test_jwt_adapter.py
  tests/bridge/test_qrs_manager.py
  tests/bridge/test_vector_store.py
  tests/core/test_import_controller.py
  tests/governance/test_governance.py
  tests/integration/test_api_governance_integration.py
  tests/performance/test_performance_benchmarks.py
  tests/security/test_security_critical.py
Due: guardrail-check

feat(bridge): add 12 methods to QRS Manager and Import Controller (131/189 tests passing)
  candidate/bridge/api/api.py
  candidate/bridge/api/controllers.py
Due: guardrail-check

test(utils): add 110 utility tests for ΛID, hash chains, and helpers (95% passing)
  tests/identity/test_lambda_id_utils.py
  tests/security/test_hash_chain_utils.py
  tests/test_async_minimal.py
  tests/utils/test_config_utils.py
  tests/utils/test_string_utils.py
  tests/utils/test_validation_utils.py
Due: guardrail-check

docs(audits): add comprehensive workspace health audit and inventory reports
  .claude/settings.local.json
  .lukhas_runs/2025-10-08/reports/CLAUDE_CODE_REVIEW_UPDATED.md
  .lukhas_runs/2025-10-09/BATCH_COMPLETION_REPORT.md
  .lukhas_runs/2025-10-09/IMPLEMENTATION_COMPLETE.md
  .lukhas_runs/2025-10-11/WORKSPACE_HEALTH_AUDIT.md
  docs/audits/ARTIFACT_ECOSYSTEM_QUICK_REFERENCE.md
  docs/audits/ASSET_VERIFICATION_REPORT.md
  docs/audits/COMPLETE_ARTIFACT_INVENTORY.md
  docs/audits/COMPLETE_MODULE_INVENTORY.json
  docs/audits/GPT5_AUDIT_PACKAGE.md
  docs/audits/GPT5_MATRIZ_ROLLOUT_COMPLETE_REPORT.md
  docs/audits/MATRIZ_MODULE_MAPPING_PLAN.md
  docs/audits/MODULE_ARTIFACT_AUDIT.md
  docs/gonzo/madrid.md
  pytest_asyncio/README.md
  pytest_asyncio/__init__.py
  pytest_asyncio/claude.me
  pytest_asyncio/config/README.md
  pytest_asyncio/config/config.yaml
  pytest_asyncio/config/environment.yaml
  pytest_asyncio/config/logging.yaml
  pytest_asyncio/docs/README.md
  pytest_asyncio/docs/api.md
  pytest_asyncio/docs/architecture.md
  pytest_asyncio/docs/troubleshooting.md
  pytest_asyncio/lukhas_context.md
  pytest_asyncio/module.manifest.json
  pytest_asyncio/plugin.py
  pytest_asyncio/tests/README.md
  pytest_asyncio/tests/conftest.py
  pytest_asyncio/tests/test_pytest_asyncio_integration.py
  pytest_asyncio/tests/test_pytest_asyncio_unit.py
  schemas/matriz_module_compliance.schema.json
  scripts/generate_complete_inventory.py
Due: guardrail-check, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock

feat(tools): add MATRIZ hygiene and visibility tooling
  docs/check_contracts_refs.md
  docs/check_links.py
  scripts/gen_constellation_top.py
  scripts/policy_guard.py
  scripts/report_manifest_stats.py
  scripts/validate_context_front_matter.py
  scripts/validate_contract_refs.py
Due: guardrail-check

feat(matriz): add 0.01% discipline pack - manifests, validation, and governance
  .claude/settings.local.json
  .github/PULL_REQUEST_TEMPLATE.md
  Makefile
  OWNERS.toml
  contracts/guardian.policy.violation@v1.json
  contracts/identity.oauth.callback@v1.json
  contracts/memory.write@v1.json
  docs/gonzo/matriz_prep/artifacts_kick_off.md
  docs/gonzo/matriz_prep/brief_cc.md
  docs/gonzo/matriz_prep/drop_in.md
  docs/gonzo/matriz_prep/drop_in_2.md
  docs/gonzo/matriz_prep/drop_in_3.md
  docs/gonzo/matriz_prep/drop_in_4.md
  docs/gonzo/matriz_prep/drop_in_5.md
  packages/star_canon_py/README.md
  packages/star_canon_py/pyproject.toml
  packages/star_canon_py/star_canon/__init__.py
  packages/star_canon_py/star_canon/star_canon.json
  pytest.ini
  release/FREEZE.md
  scripts/generate_badges.py
  scripts/generate_module_manifests.py
  scripts/patch_schema_to_v1_1_0.py
  scripts/star_canon.json
  scripts/top_config.json
  scripts/validate_manifests.py
  tests/manifests/golden/anchor_identity.json
  tests/manifests/golden/flow_consciousness.json
  tests/manifests/golden/watch_guardian.json
  tests/smoke/test_matriz_smoke.py
  tests/test_golden_manifests.py
Due: guardrail-check

feat(ci): add MATRIZ discipline pack pre-flight patches
  .cz.toml
  .github/workflows/matriz-validate.yml
  .pre-commit-config.yaml
  .secrets.baseline
  docs/audits/context_lint.txt
  docs/audits/linkcheck.txt
  packages/star_canon_py/star_canon/star_canon.json
  schemas/matriz_module_compliance.schema.json
  scripts/star_canon.json
Due: none

feat(matriz): add star rules system with CI tripwires and intelligent promotion engine
  .github/workflows/matriz-validate.yml
  Makefile
  configs/star_rules.json
  docs/audits/star_promotions.md
  docs/audits/star_rules_coverage.md
  docs/audits/star_rules_lint.json
  docs/gonzo/matriz_prep/drop_in_extra.md
  scripts/apply_promotions.py
  scripts/check_manifest_drift.py
  scripts/check_t1_owners.py
  scripts/gen_rules_coverage.py
  scripts/lint_star_rules.py
  scripts/suggest_star_promotions.py
  tests/rules/test_star_rules.py
Due: guardrail-check

feat(lint): implement T4 Ruff Gold Standard infrastructure for systematic lint reduction
  .claude/settings.local.json
  Makefile
  docs/audits/ruff.json
  docs/audits/ruff_baseline.json
  docs/audits/ruff_heatmap.md
  docs/gonzo/matriz_prep/turn_ruff_into_gold.md
  pyproject.toml
  scripts/analyze_import_graph.py
  scripts/build_import_map.py
  scripts/detect_duplicate_test_classes.py
  scripts/find_top_level_returns.py
  scripts/fix_f401_tests.py
  scripts/normalize_imports.py
  scripts/ruff_owner_heatmap.py
  scripts/ruff_ratchet.py
  scripts/suggest_imports_f821.py
Due: guardrail-check

test(smoke): fix all 4 failing smoke tests with real implementations (100% pass rate)
  .claude/settings.local.json
  core/__init__.py
  tests/golden/tier1/api_trace_0001.json
  tests/golden/tier1/consciousness_trace_0001.json
  tests/golden/tier1/governance_trace_0001.json
  tests/golden/tier1/identity_trace_0001.json
  tests/golden/tier1/memory_trace_0001.json
  tests/golden/tier1/orchestration_trace_0001.json
  tests/smoke/test_entrypoints.py
  tests/smoke/test_experimental_smoke.py
  tests/smoke/test_traces_router.py
Due: guardrail-check

feat(tools): add TODO harvesting system for MATRIZ cleanup
  .claude/settings.local.json
  AGENTS.md
  Makefile
  docs/gonzo/matriz_prep/CODEX_HANDOFF.md
  docs/gonzo/matriz_prep/TODO_brief.md
  scripts/create_issues_from_csv.py
  scripts/harvest_todos.py
Due: guardrail-check

docs(readme): update with MATRIZ transition progress and security status
  README.md
Due: none

feat(imports): add LibCST codemod infrastructure for legacy import migration
  .claude/settings.local.json
  Makefile
  configs/legacy_imports.yml
  docs/gonzo/matriz_prep/CODEX_HANDOFF.md
  docs/gonzo/matriz_prep/ruff_fixes.md
  lukhas/compat/__init__.py
  lukhas/tools/__init__.py
  scripts/check_legacy_imports.py
  scripts/codemod_imports.py
  tests/conftest.py
Due: matrix-contract-presence, guardrail-check

feat(hygiene): implement compat layer for test collection (89 → 0 errors)
  .lukhas_runs/2025-10-12/COMPAT_LAYER_IMPLEMENTATION.md
  candidate/core/logging/__init__.py
  docs/audits/compat_alias_hits.json
  lukhas/rl/environments/consciousness_environment.py
  pytest.ini
  scripts/check_alias_hits.py
Due: guardrail-check

feat(hygiene): implement compat layer for test collection (89 → 0 errors) (#374)
  .lukhas_runs/2025-10-12/COMPAT_LAYER_IMPLEMENTATION.md
  candidate/core/logging/__init__.py
  docs/audits/compat_alias_hits.json
  lukhas/rl/environments/consciousness_environment.py
  pytest.ini
  scripts/check_alias_hits.py
Due: guardrail-check
