Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$

docs(audit): add compliance audit, roadmap, and summaries
  reports/analysis/audit_summary.md
  reports/analysis/compliance_audit.md
  reports/analysis/executive_summary.txt
  reports/analysis/remediation_roadmap.md
Due: none

docs(diagrams): add Mermaid system architecture diagrams
  diagrams/matriz_cognitive_engine.mmd
  diagrams/system_overview.mmd
Due: none

fix(syntax): fix __future__ import order in core/common and remove recursive test dirs
  core/common/__init__.py
Due: block-labs-imports, guardrail-check, check-license-headers

fix(typing): correct Optional import placement + cleanup duplicate test paths
  tests/unit/adapters/tests/unit/adapters/tests/unit/adapters/__init__.py
  tests/unit/adapters/tests/unit/adapters/tests/unit/adapters/test_bio_adapter.py
  tests/unit/adapters/tests/unit/adapters/tests/unit/adapters/test_bridge_adapter.py
  tests/unit/adapters/tests/unit/adapters/tests/unit/adapters/test_compliance_adapter.py
  tests/unit/adapters/tests/unit/adapters/tests/unit/adapters/test_consciousness_adapter.py
  tests/unit/adapters/tests/unit/adapters/tests/unit/adapters/test_contradiction_adapter.py
  tests/unit/adapters/tests/unit/adapters/tests/unit/adapters/test_creative_adapter.py
  tests/unit/adapters/tests/unit/adapters/tests/unit/adapters/test_emotion_adapter.py
  tests/unit/adapters/tests/unit/adapters/tests/unit/adapters/test_governance_adapter.py
  tests/unit/adapters/tests/unit/adapters/tests/unit/adapters/test_identity_adapter.py
  tests/unit/adapters/tests/unit/adapters/tests/unit/adapters/test_memory_adapter.py
  tests/unit/adapters/tests/unit/adapters/tests/unit/adapters/test_orchestration_adapter.py
Due: block-labs-imports, guardrail-check

fix(typing): correct remaining misplaced Optional imports
  bridge/api/__init__.py
  memory/lifecycle.py
  tools/fix_misplaced_imports.py
Due: block-labs-imports, guardrail-check

fix(syntax): correct __future__ import order in matriz_decorators
  lukhas_website/lukhas/observability/matriz_decorators.py
Due: block-labs-imports, guardrail-check

feat(auth): add email/SMS services, JWT persistence, and magic link URL resolution
  agents_external/CLAUDE/workspaces/consent-compliance-specialist/src/consent_ledger.py
  agents_external/CLAUDE/workspaces/identity-auth-specialist/src/lambda_id.py
  branding/poetry/lukhas_lexicon.py
  branding/tone/tools/lukhas_tone_fixer.py
  branding/tone/tools/lukhas_tone_validator.py
  lukhas_website/packages/auth/email-service.ts
  lukhas_website/packages/auth/jwt-persistence.ts
  lukhas_website/packages/auth/jwt.ts
  lukhas_website/packages/auth/magic-links.ts
  lukhas_website/packages/auth/security.ts
  lukhas_website/packages/auth/signup.ts
  lukhas_website/packages/auth/sms-service.ts
Due: block-labs-imports, guardrail-check

security(api): remove hardcoded OpenAI API key from dream-weaver crystallize route
  lukhas_website/app/api/dream-weaver/crystallize/route.ts
Due: none

fix: Dashboard runner exits on pytest failures (#1563)
  tools/tests/run_and_build_reports.sh
Due: none

security(deps): update lukhas_website package-lock.json for @simplewebauthn upgrade
  lukhas_website/package-lock.json
Due: none

fix(syntax): correct __future__ import order in encryption_types
  core/security/encryption_types.py
Due: block-labs-imports, guardrail-check, check-license-headers

chore(docs): remove obsolete MASTER_LOG.md, replaced by MASTER_LOG_SECURITY_ENHANCEMENT.md
  todo/MASTER_LOG.md
Due: none

feat(security): Add comprehensive security scanner with improved test file exclusion
  scripts/security_scan.py
Due: block-labs-imports, guardrail-check

Potential fix for code scanning alert no. 1669: Clear-text logging of sensitive information
  scripts/security_scan.py
Due: block-labs-imports, guardrail-check

Potential fix for code scanning alert no. 1674: Unused import
  scripts/build_file_index.py
Due: block-labs-imports, guardrail-check

Potential fix for code scanning alert no. 1676: Unused import
  scripts/high_risk_patterns.py
Due: block-labs-imports, guardrail-check

Potential fix for code scanning alert no. 1673: Unused import
  scripts/static_analysis.py
Due: block-labs-imports, guardrail-check

Potential fix for code scanning alert no. 1677: Unused import
  scripts/naming_consistency.py
Due: block-labs-imports, guardrail-check

Update scripts/naming_consistency.py
  scripts/naming_consistency.py
Due: block-labs-imports, guardrail-check

fix(security): resolve P1 secret scanning bug and add audit data to gitignore
  .gitignore
  scripts/security_scan.py
Due: block-labs-imports, guardrail-check

Update scripts/security_scan.py
  scripts/security_scan.py
Due: block-labs-imports, guardrail-check

feat(stubs): create 38 module stubs + comprehensive implementation docs
  TODO/CLAUDE_CODE_WEB_PROMPTS.md
  TODO/MASTER_LOG.md
  bridge/queue/redis_queue.py
  core/adapters/config_resolver.py
  core/consciousness/__init__.py
  core/consciousness/bridge.py
  core/integration/nias_dream_bridge.py
  core/utils/orchestration_energy_aware_execution_planner.py
  docs/prompts/CLAUDE_WEB_EXEC_SUMMARY.md
  docs/prompts/CLAUDE_WEB_SECURITY_COMPLIANCE_PHASE1.md
  governance/identity/auth_integrations/qrg_bridge.py
  governance/identity/core/qrs/qrg_generator.py
  governance/identity/core/sent/consent_history.py
  governance/oversight/consolidate_guardian_governance.py
  governance/safety/constitutional_ai_safety.py
  labs/core/qi_biometrics/qi_biometrics_engine.py
  labs/governance/ethics/guardian_reflector.py
  labs/memory/fakes/agimemory_fake.py
  lukhas/analytics/privacy_client.py
  lukhas/memory/index.py
  memory/core/unified_memory_orchestrator.py
  serve/consciousness_api.py
  serve/dreams_api.py
  serve/guardian_api.py
  serve/identity_api.py
  serve/middleware/headers.py
  serve/middleware/strict_auth.py
  serve/routes_traces.py
  serve/schemas.py
  serve/webauthn_routes.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

Checkpoint from VS Code for coding agent session
  docs/prompts/CLAUDE_WEB_PROMPTS_ENUMERATED.md
Due: check-markdown-encoding, validate-docs-frontmatter

feat(governance): Implement Quantum-Resistant Governance Token Generator
  governance/identity/core/qrs/__init__.py
  governance/identity/core/qrs/qrg_generator.py
  products/security/qrg/requirements.txt
  pyproject.toml
  tests/unit/governance/identity/core/qrs/__init__.py
  tests/unit/governance/identity/core/qrs/test_qrg_generator.py
Due: block-labs-imports, guardrail-check

feat(guardian): Implement comprehensive Guardian Policy Validation API
  serve/GUARDIAN_API_README.md
  serve/guardian_api.py
  tests/unit/serve/test_guardian_api.py
Due: block-labs-imports, guardrail-check

feat(governance): Implement GDPR-compliant consent history manager
  governance/identity/core/sent/__init__.py
  governance/identity/core/sent/consent_history.py
  tests/unit/governance/identity/__init__.py
  tests/unit/governance/identity/core/__init__.py
  tests/unit/governance/identity/core/sent/__init__.py
  tests/unit/governance/identity/core/sent/test_consent_history.py
Due: block-labs-imports, guardrail-check

[WIP] Address security patterns and GDPR compliance issues (#1571)
  docs/prompts/CLAUDE_WEB_PROMPTS_ENUMERATED.md
  docs/security_compliance_issues/CLAUDE_CODE_WEB_PROMPTS.md
  docs/security_compliance_issues/ISSUE_01_ELIMINATE_EVAL_CALLS.md
  docs/security_compliance_issues/ISSUE_02_ELIMINATE_EXEC_CALLS.md
  docs/security_compliance_issues/ISSUE_03_FIX_SHELL_INJECTION.md
  docs/security_compliance_issues/ISSUE_04_FIX_PICKLE_DESERIALIZATION.md
  docs/security_compliance_issues/ISSUE_05_FIX_SQL_INJECTION.md
  docs/security_compliance_issues/ISSUE_06_FIX_YAML_UNSAFE_LOADING.md
  docs/security_compliance_issues/ISSUE_07_RIGHT_TO_ACCESS_API.md
  docs/security_compliance_issues/ISSUE_08_RIGHT_TO_ERASURE_API.md
  docs/security_compliance_issues/ISSUE_09_RIGHT_TO_PORTABILITY_API.md
  docs/security_compliance_issues/ISSUE_10_RIGHT_TO_RECTIFICATION_API.md
  docs/security_compliance_issues/ISSUE_11_DATA_RETENTION_POLICY.md
  docs/security_compliance_issues/ISSUE_12_PRIVACY_DOCUMENTATION.md
  docs/security_compliance_issues/ISSUE_13_TYPE_ANNOTATIONS.md
  docs/security_compliance_issues/SUMMARY.md
Due: check-markdown-encoding, validate-docs-frontmatter

feat(middleware): Implement StrictAuthMiddleware with JWT validation, rate limiting, and audit logging
  serve/middleware/README.md
  serve/middleware/__init__.py
  serve/middleware/strict_auth.py
Due: block-labs-imports, guardrail-check

feat(identity): Implement comprehensive ΛiD Identity API routes
  serve/identity_api.py
  tests/unit/serve/test_identity_api.py
Due: block-labs-imports, guardrail-check

feat(analytics): implement differential privacy client with epsilon-DP
  lukhas/analytics/__init__.py
  lukhas/analytics/privacy_client.py
  tests/unit/lukhas/analytics/test_privacy_dp_client.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-license-headers

feat(governance): Implement Constitutional AI Safety System
  governance/safety/__init__.py
  governance/safety/constitutional_ai_safety.py
  tests/unit/governance/safety/__init__.py
  tests/unit/governance/safety/test_constitutional_ai_safety.py
Due: block-labs-imports, guardrail-check

feat(consciousness): implement comprehensive Consciousness System API
  serve/consciousness_api.py
  tests/unit/serve/test_consciousness_api.py
Due: block-labs-imports, guardrail-check

feat(memory): Implement Unified Memory Orchestrator
  memory/core/README.md
  memory/core/__init__.py
  memory/core/unified_memory_orchestrator.py
  tests/unit/memory/core/__init__.py
  tests/unit/memory/core/test_unified_memory_orchestrator.py
Due: block-labs-imports, guardrail-check

feat(middleware): Implement StrictAuthMiddleware with JWT validation, rate limiting, and audit logging (#1574)
  serve/middleware/README.md
  serve/middleware/__init__.py
  serve/middleware/strict_auth.py
Due: block-labs-imports, guardrail-check

feat(governance): Implement GDPR-compliant consent history manager (#1577)
  governance/identity/core/sent/__init__.py
  governance/identity/core/sent/consent_history.py
  tests/unit/governance/identity/__init__.py
  tests/unit/governance/identity/core/__init__.py
  tests/unit/governance/identity/core/sent/__init__.py
  tests/unit/governance/identity/core/sent/test_consent_history.py
Due: block-labs-imports, guardrail-check

feat(guardian): Implement Guardian Policy Validation API (#1572)
  serve/GUARDIAN_API_README.md
  serve/guardian_api.py
  tests/unit/serve/test_guardian_api.py
Due: block-labs-imports, guardrail-check
