Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$

ci: add labot audit opa policy check (#1389)
  .github/workflows/labot_audit.yml
Due: none

Improve schema diff path formatting (#1390)
  tests/tools/test_check_openapi_drift.py
  tools/check_openapi_drift.py
Due: block-labs-imports, guardrail-check

Add status update for OpenAPI drift task (#1391)
  codex_artifacts/requests/06-openapi-drift-deeper-check.md
Due: none

Add regression test for removed OpenAPI responses (#1393)
  tests/tools/test_check_openapi_drift.py
Due: block-labs-imports, guardrail-check

docs(migration): add comprehensive MATRIZ migration strategy
  docs/MATRIZ_MIGRATION_STRATEGY.md
Due: check-markdown-encoding, validate-docs-frontmatter

refactor(types): modernize typing imports to Python 3.9+ native types
  lukhas/api/features.py
  lukhas/dream/__init__.py
  lukhas/features/flags_service.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-license-headers

T4: UP035 modernization batch #3
  lukhas/features/testing.py
Due: block-labs-imports, guardrail-check, check-license-headers

T4: UP035 governance audit modernization
  lukhas/governance/audit/events.py
  lukhas/governance/audit/logger.py
  lukhas/governance/audit/storage.py
Due: block-labs-imports, guardrail-check, check-license-headers

docs(audits): final session summary - Codex Web complete, lint blocked
  docs/audits/GITHUB_TRIAGE_SESSION_SUMMARY_2025-11-12.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs: GitHub Issues Triage Final Summary (2025-11-12) (#1394)
  core/qrg/signing.py
  core/wavec/checkpoint.py
  docs/MATRIZ_MIGRATION_STRATEGY.md
  docs/audits/GITHUB_TRIAGE_SESSION_SUMMARY_2025-11-12.md
  lukhas/analytics/privacy_client.py
  lukhas/api/analytics.py
  lukhas/api/auth_helpers.py
  lukhas/api/features.py
  lukhas/dream/__init__.py
  lukhas/features/flags_service.py
  lukhas/features/testing.py
  lukhas/governance/audit/events.py
  lukhas/governance/audit/logger.py
  lukhas/governance/audit/storage.py
  todo/MASTER_LOG.md
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

fix(lukhas.com): replace emojis with Lucide icons and adjust messaging claims
  websites/packages/lukhas.com/package.json
  websites/packages/lukhas.com/src/pages/EnterprisePage.tsx
  websites/packages/lukhas.com/src/pages/HomePage.tsx
  websites/packages/lukhas.com/src/pages/SolutionsPage.tsx
  websites/pnpm-lock.yaml
Due: none

T4: UP035 GDPR governance modernization
  lukhas/governance/auth/dependencies.py
  lukhas/governance/gdpr/config.py
  lukhas/governance/gdpr/routes.py
  lukhas/governance/gdpr/service.py
Due: block-labs-imports, guardrail-check, check-license-headers

T4: UP035 orchestrator and governance batch modernization
  lukhas/governance/rate_limit/config.py
  lukhas/governance/rate_limit/storage.py
  lukhas/orchestrator/pipeline.py
Due: block-labs-imports, guardrail-check, check-license-headers

test(matriz): add comprehensive unit tests for thought cognitive nodes
  tests/unit/matriz/nodes/thought/__init__.py
  tests/unit/matriz/nodes/thought/test_abductive_reasoning.py
  tests/unit/matriz/nodes/thought/test_analogical_reasoning.py
  tests/unit/matriz/nodes/thought/test_causal_reasoning.py
  tests/unit/matriz/nodes/thought/test_counterfactual_reasoning.py
  tests/unit/matriz/nodes/thought/test_metacognitive_reasoning.py
Due: block-labs-imports, guardrail-check

test(governance): add Phase 3 validation suite with canonical import fix
  docs/GUARDIAN_PHASE3_VALIDATION_REPORT_2025-11-12.md
  lukhas_website/lukhas/governance/guardian/__init__.py
  scripts/test_phase3_validation.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

Guardian Phase 3 Validation Suite + Canonical Import Fix (#1395)
  docs/GUARDIAN_PHASE3_VALIDATION_REPORT_2025-11-12.md
  lukhas_website/lukhas/governance/guardian/__init__.py
  scripts/test_phase3_validation.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

docs(jules): comprehensive review of 4 Jules sessions and PR outcomes
  docs/sessions/JULES_SESSION_REVIEW_2025-11-12.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(hygiene): add 13 MATRIZ migration automation and safety tasks
  .github/pull_request_template/migration.md
  todo/MASTER_LOG.md
Due: none

docs(governance): update consolidation audit with PR #1395 validation suite
  docs/GUARDIAN_STRUCTURE_CONSOLIDATION_AUDIT_2025-11-12.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(identity): comprehensive Lambda ID algorithm documentation and unit tests
  docs/identity/LAMBDA_ID_ALGORITHM.md
  tests/unit/identity/test_lambda_id_generator_comprehensive.py
  tests/unit/identity/test_lambda_id_validator_comprehensive.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

feat(lukhas.us): add US compliance portal with CCPA, NIST, and AI Bill of Rights
  websites/packages/lukhas.us/package.json
  websites/packages/lukhas.us/postcss.config.js
  websites/packages/lukhas.us/src/App.tsx
  websites/packages/lukhas.us/src/index.css
  websites/packages/lukhas.us/src/main.tsx
  websites/packages/lukhas.us/src/pages/CompliancePage.tsx
  websites/packages/lukhas.us/src/pages/ContactPage.tsx
  websites/packages/lukhas.us/src/pages/HomePage.tsx
  websites/packages/lukhas.us/tailwind.config.js
  websites/packages/lukhas.us/tsconfig.json
  websites/packages/lukhas.us/tsconfig.node.json
  websites/packages/lukhas.us/vite.config.ts
  websites/pnpm-lock.yaml
Due: none

fix(test): resolve smoke test auth failures and missing sys import
  core/common/__init__.py
  tests/smoke/test_api_acl.py
  tests/smoke/test_guardian_ethics.py
  tests/smoke/test_routing_negative.py
Due: block-labs-imports, guardrail-check, check-license-headers

docs(p0): complete verification of SG002, MP001, MS001 implementations
  P0_VERIFICATION_REPORT.md
Due: none

chore: add TODO/MASTER_LOG.md for tasks 1-40 tracking
  TODO/MASTER_LOG.md
Due: none

chore(docs): update MASTER_LOG with 13 completed tasks from parallel agents
  todo/MASTER_LOG.md
Due: none

fix(imports): resolve broken symlink and document lane-guard violations
  core/interfaces/api/v1/v1/grpc/lukhas_pb2.py
  docs/audits/LANE_GUARD_VIOLATIONS_2025-11-12.md
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

feat(tasks): complete 15 Jules sessions + merge 10 PRs, update MASTER_LOG
  todo/MASTER_LOG.md
Due: none

feat(interfaces): add lukhas.ai flagship consciousness platform website
  websites/packages/lukhas.ai/index.html
  websites/packages/lukhas.ai/package.json
  websites/packages/lukhas.ai/postcss.config.js
  websites/packages/lukhas.ai/src/App.tsx
  websites/packages/lukhas.ai/src/index.css
  websites/packages/lukhas.ai/src/main.tsx
  websites/packages/lukhas.ai/src/pages/AboutPage.tsx
  websites/packages/lukhas.ai/src/pages/HomePage.tsx
  websites/packages/lukhas.ai/tailwind.config.js
  websites/packages/lukhas.ai/tsconfig.json
  websites/packages/lukhas.ai/tsconfig.node.json
  websites/packages/lukhas.ai/vite.config.ts
  websites/pnpm-lock.yaml
Due: none

chore(tasks): allocate 15 Jules sessions in Batch 3 for observability and infrastructure
  todo/MASTER_LOG.md
Due: none

feat(interfaces): add lukhas.dev developer portal with comprehensive API documentation
  websites/packages/lukhas.dev/index.html
  websites/packages/lukhas.dev/package.json
  websites/packages/lukhas.dev/postcss.config.js
  websites/packages/lukhas.dev/src/App.tsx
  websites/packages/lukhas.dev/src/index.css
  websites/packages/lukhas.dev/src/main.tsx
  websites/packages/lukhas.dev/src/pages/DocsPage.tsx
  websites/packages/lukhas.dev/src/pages/HomePage.tsx
  websites/packages/lukhas.dev/src/pages/PlaygroundPage.tsx
  websites/packages/lukhas.dev/tailwind.config.js
  websites/packages/lukhas.dev/tsconfig.json
  websites/packages/lukhas.dev/tsconfig.node.json
  websites/packages/lukhas.dev/vite.config.ts
  websites/pnpm-lock.yaml
Due: none

chore(tasks): merge 12 Jules PRs from Batch 3, complete all P0 security tasks
  todo/MASTER_LOG.md
Due: none

fix(lukhas.id): correct ΛiD format description in RegisterPage
  websites/packages/lukhas.id/src/pages/RegisterPage.tsx
Due: none

chore(docs): track 8 discovered merged Batch 2 Jules PRs
  todo/MASTER_LOG.md
Due: none

chore(docs): allocate 15 more Jules sessions (Batch 4)
  todo/MASTER_LOG.md
Due: none

fix(lukhas.id): remove 'Lambda ID' reference - Λ represents Lukhas
  websites/packages/lukhas.id/src/pages/HomePage.tsx
Due: none

chore(hygiene): merge 2 Jules PRs from Batch 4 and update tracking
  todo/MASTER_LOG.md
Due: none

docs(p0): complete verification of SG002, MP001, MS001 implementations (#1405)
  P0_VERIFICATION_REPORT.md
Due: none

docs(identity): comprehensive Lambda ID algorithm documentation and unit tests (#1400)
  docs/identity/LAMBDA_ID_ALGORITHM.md
  tests/unit/identity/test_lambda_id_generator_comprehensive.py
  tests/unit/identity/test_lambda_id_validator_comprehensive.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

chore(hygiene): merge 5 more PRs (3 Batch 4 + 2 user) and hit 50% milestone
  todo/MASTER_LOG.md
Due: none
