Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock

matrix-contract-presence:
  name: Matrix Contract Presence
  entry: python3 tools/validate_contract_presence.py --enforce --quiet
  language: system
  pass_filenames: false

matrix-contract-schema:
  name: Matrix Contract Schema Validation
  entry: python3 tools/matrix_gate.py --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

opa-format:
  name: Format OPA policies
  entry: opa fmt -w
  language: system

matrix-identity-validation:
  name: Matrix Identity Block Validation
  entry: python3 tools/matrix_gate.py --identity --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

lukhas-tier-consistency:
  name: ΛiD Tier Consistency Check
  entry: python3 tools/lukhas_id_bridge.py --check-consistency
  language: system
  pass_filenames: false

guardrail-check:
  name: guardrail-check (ban direct LLM calls)
  entry: python3 scripts/ci/check_guardrail_usage.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

matrix-contract-validation:
  name: Validate Matrix Contracts
  entry: python3 tools/pre_commit_matrix_check.py
  language: system
  pass_filenames: true

telemetry-semconv-validation:
  name: Validate Telemetry Semantic Conventions
  entry: python3 tools/pre_commit_telemetry_check.py
  language: system
  pass_filenames: true

demo-script-validation:
  name: Validate Matrix Tracks Demo Scripts
  entry: python3 tools/pre_commit_demo_lint.py
  language: system
  pass_filenames: true

reject-legacy-directory-index:
  name: Reject legacy directory_index.json files
  entry: python3 -c "import sys; files=[f for f in sys.argv[1:] if 'directory_index.json' in f]; sys.exit(1 if files else 0)"
  language: system
  pass_filenames: true

validate-module-manifests-changed:
  name: T4 Module Manifest Validation
  entry: python3 tools/manifest_validate.py --all
  language: system
  pass_filenames: false

validate-configs-and-secrets:
  name: Validate configs and detect secrets
  entry: python3 tools/validate_configs.py
  language: system
  pass_filenames: false

manifest-validate:
  name: Manifest Validate
  entry: python3 tools/manifest_validate.py
  language: system
  pass_filenames: false

manifest-lock:
  name: Manifest Lock Hydrator
  entry: python3 tools/manifest_lock_hydrator.py
  language: system
  pass_filenames: false

refactor: fix E402 violations in 3 files (batch 4) (#421)
  branding/integrations/llm_bridge.py
  branding/vocabularies/vocabulary.py
  bridge/protocols/freeze_protection_check.py
Due: guardrail-check

refactor: fix E402 violations in 3 qi/ files (batch 5)
  qi/awareness_system/awareness.py
  qi/collapse/collapse_bridge.py
  qi/engines/creativity/creative_engine.py
Due: guardrail-check

refactor: fix E402 violations in 3 qi/ files (batch 5) (#422)
  qi/awareness_system/awareness.py
  qi/collapse/collapse_bridge.py
  qi/engines/creativity/creative_engine.py
Due: guardrail-check

refactor: fix E402 violations and enhance audit documentation
  .claude/settings.local.json
  docs/audits/live/2025-10-16T04-39-30Z/RUFF_TOTAL.txt
  docs/audits/live/2025-10-16T04-39-30Z/candidate_refs.txt
  docs/audits/live/2025-10-16T04-39-30Z/openapi_status.txt
  docs/audits/live/2025-10-16T04-39-30Z/ruff_stats.txt
  docs/audits/pre-audit/PR_REVIEW_SUMMARY.md
  docs/audits/shadow/20251016/envelope_comparison.md
  docs/audits/shadow/20251016/headers_comparison.md
  docs/audits/shadow/20251016/shadow_diff.json
  docs/audits/shadow/20251016T052010Z.json
  docs/audits/shadow/20251016T052010Z.md
  qi/states/bridge.py
  qi/states/lidar_emotion_interpreter.py
  tests/unit/ci/test_ci_workflow.py
Due: guardrail-check

refactor: fix E402 violations and enhance audit documentation (#423)
  .claude/settings.local.json
  docs/audits/live/2025-10-16T04-39-30Z/RUFF_TOTAL.txt
  docs/audits/live/2025-10-16T04-39-30Z/candidate_refs.txt
  docs/audits/live/2025-10-16T04-39-30Z/openapi_status.txt
  docs/audits/live/2025-10-16T04-39-30Z/ruff_stats.txt
  docs/audits/pre-audit/PR_REVIEW_SUMMARY.md
  docs/audits/shadow/20251016/envelope_comparison.md
  docs/audits/shadow/20251016/headers_comparison.md
  docs/audits/shadow/20251016/shadow_diff.json
  docs/audits/shadow/20251016T052010Z.json
  docs/audits/shadow/20251016T052010Z.md
  qi/states/bridge.py
  qi/states/lidar_emotion_interpreter.py
  tests/unit/ci/test_ci_workflow.py
Due: guardrail-check

refactor: fix E402 violations in 3 core/ files (batch 7)
  core/interfaces/as_agent/sys/nias/delivery_loop.py
  core/orchestration/learning_initializer.py
  core/utils/__init__.py
Due: guardrail-check

refactor: fix E402 violations in 3 core/ files (batch 7) (#424)
  core/interfaces/as_agent/sys/nias/delivery_loop.py
  core/orchestration/learning_initializer.py
  core/utils/__init__.py
Due: guardrail-check

refactor: fix E402 violations in 3 scripts/tools files (batch 8)
  scripts/bench_validated.py
  scripts/fixes/targeted_syntax_fix.py
  tools/fix_syntax_batch.py
Due: guardrail-check

refactor: fix E402 violations in 3 scripts/tools files (batch 8) (#425)
  scripts/bench_validated.py
  scripts/fixes/targeted_syntax_fix.py
  tools/fix_syntax_batch.py
Due: guardrail-check

docs: add comprehensive RC soak test results documentation
  docs/RC_SOAK_TEST_RESULTS.md
Due: none

docs: add comprehensive RC soak test results documentation (#426)
  docs/RC_SOAK_TEST_RESULTS.md
Due: none

docs: add comprehensive dependency audit trail documentation
  docs/DEPENDENCY_AUDIT.md
Due: none

docs: add comprehensive dependency audit trail documentation (#427)
  docs/DEPENDENCY_AUDIT.md
Due: none

docs(ops): add comprehensive GA deployment runbook
  docs/GA_DEPLOYMENT_RUNBOOK.md
Due: none

feat(test): add comprehensive testing strategy and deployment validation tests (Task 5 Phase 1)
  docs/COMPREHENSIVE_TESTING_STRATEGY.md
  tests/deployment/test_blue_green_deployment.py
Due: guardrail-check

refactor(hygiene): fix E402 violations in 5 core files (production batch 1)
  core/integration/neuro_symbolic_fusion_layer.py
  core/integration/system_coordinator.py
  core/integrator.py
  core/interfaces/as_agent/core/generate_image.py
  core/orchestration/core.py
Due: guardrail-check

refactor(hygiene): fix E402 violations in 4 core files (production batch 2)
  core/notion_sync.py
  core/symbolic/EthicalAuditor.py
  core/symbolic/pattern_recognition.py
  core/system_init.py
Due: guardrail-check

refactor(hygiene): fix E402 violations in 4 NIAS modules (production batch 3)
  core/interfaces/as_agent/sys/nias/dream_recorder.py
  core/interfaces/as_agent/sys/nias/feedback_loop.py
  core/interfaces/as_agent/sys/nias/symbolic_reply_generator.py
  core/modules/nias/__init__.py
Due: guardrail-check

refactor(hygiene): fix E402 violations and syntax error (production batch 4)
  core/orchestration/brain/demo.py
  core/symbolic/EthicalAuditor.py
Due: guardrail-check

refactor(hygiene): fix E402 in brain/orchestration/core.py (batch 5)
  core/orchestration/brain/orchestration/core.py
Due: guardrail-check

docs(planning): add agent execution plan and structured TODO manifests
  EXECUTION_PLAN.md
  lukhas_agent_todos.json
  lukhas_agent_todos.txt
Due: none

refactor(hygiene): fix split import pattern in final 3 files (batch 7)
  core/symbolic_core/features/collapse/entropy_tracker.py
  core/symbolic_legacy/features/collapse/entropy_tracker.py
  core/utils/orchestration_energy_aware_execution_planner.py
Due: guardrail-check

refactor(hygiene): fix E402 in 6 brain/orchestration files (batch 6)
  core/interfaces/ui/components/audio_exporter.py
  core/orchestration/brain/personality/voice_personality.py
  core/orchestration/brain/spine/healix_mapper.py
  core/orchestration/brain/unified_self_merge_divergence.py
  core/orchestration/integration/human_in_the_loop_orchestrator.py
  core/symbolic/neuro_symbolic_fusion_layer.py
Due: guardrail-check

refactor(hygiene): fix E402 violations in 24 production files (100% cleanup) (#430)
  EXECUTION_PLAN.md
  core/integration/neuro_symbolic_fusion_layer.py
  core/integration/system_coordinator.py
  core/integrator.py
  core/interfaces/as_agent/core/generate_image.py
  core/interfaces/as_agent/sys/nias/dream_recorder.py
  core/interfaces/as_agent/sys/nias/feedback_loop.py
  core/interfaces/as_agent/sys/nias/symbolic_reply_generator.py
  core/interfaces/ui/components/audio_exporter.py
  core/modules/nias/__init__.py
  core/notion_sync.py
  core/orchestration/brain/demo.py
  core/orchestration/brain/orchestration/core.py
  core/orchestration/brain/personality/voice_personality.py
  core/orchestration/brain/spine/healix_mapper.py
  core/orchestration/brain/unified_self_merge_divergence.py
  core/orchestration/core.py
  core/orchestration/integration/human_in_the_loop_orchestrator.py
  core/symbolic/EthicalAuditor.py
  core/symbolic/neuro_symbolic_fusion_layer.py
  core/symbolic/pattern_recognition.py
  core/symbolic_core/features/collapse/entropy_tracker.py
  core/symbolic_legacy/features/collapse/entropy_tracker.py
  core/system_init.py
  core/utils/orchestration_energy_aware_execution_planner.py
  lukhas_agent_todos.json
  lukhas_agent_todos.txt
Due: guardrail-check

chore(coordination): Claude Code task coordination infrastructure (#410)
  Makefile
  docs/audits/pre-audit/GUARDRAILS_CHECKLIST.md
  docs/plans/COORDINATION_DASHBOARD.md
  docs/plans/TASK_ASSIGNMENTS_CLAUDE.md
  docs/plans/task_status.json
  scripts/coordination/daily_snapshot.sh
Due: none

chore(security): pip-audit scan + dependency upgrades (CVEs fixed) (#401)
  docs/audits/security/20251015/pip-audit.json
  docs/audits/security/20251015/pip-audit.md
  docs/audits/security/SECURITY_REMEDIATION_PLAN.md
Due: none

docs(plan): F821 guided remediation plan (imports & undefined names) (#394)
  docs/audits/f821_suggestions_20251014T180317Z.md
Due: none

docs(constellation): enhance Phase 1-3 documentation with star system and ecosystem APIs
  docs/CONSTELLATION_TOP.md
  docs/api/ECOSYSTEM_APIS.md
  docs/lukhas_context.md
  docs/strategic/OPENAI_ECOSYSTEM_ALIGNMENT.md
Due: none

feat(automation): implement Phase 3 star promotion + Phase 1 context coverage system
  .claude/settings.local.json
  Makefile
  docs/audits/context_coverage.txt
  docs/audits/uncommitted_changes_audit_20251018.md
  docs/openapi/README.md
  mk/context.mk
  scripts/context_coverage_bot.py
  scripts/create_missing_contexts.py
  scripts/generate_module_manifests.py
  scripts/migrate_context_front_matter.py
  scripts/validate_contract_refs.py
Due: guardrail-check

feat(phase2): API manifest star tiering + flagship OpenAPI stubs
  docs/openapi/stubs/README.md
  docs/openapi/stubs/lukhas-dream-api.json
  docs/openapi/stubs/lukhas-guardian-api.json
  docs/openapi/stubs/lukhas-identity-api.json
  docs/openapi/stubs/lukhas-matriz-api.json
  docs/openapi/stubs/lukhas-memory-api.json
  manifests/labs/api/oidc/module.manifest.json
  manifests/lukhas/api/oidc/module.manifest.json
  scripts/phase2_api_tiering.py
  scripts/phase2_openapi_stubs.py
Due: guardrail-check, validate-module-manifests-changed, manifest-validate, manifest-lock

docs(phases2+4): comprehensive execution completion report
  docs/audits/EXECUTION_PLAN_COMPLETION_PHASE2_4.md
Due: none

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
