Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$

chore(ops): add Google Drive sync status checker
  scripts/check_gdrive_sync_status.sh
Due: none

feat(ops): add automated Google Drive sync via LaunchAgent
  scripts/sync_to_google_drive_auto.sh
Due: none

feat(jules): create 15 more sessions (bugs, docs, tests) - 46 sessions used today
  scripts/create_maximum_jules_sessions.py
Due: block-labs-imports, guardrail-check

docs: add Jules daily summary tracking 46 sessions and strategy for hitting 80-90/100
  JULES_TODAY_SUMMARY.md
Due: none

docs: update Jules summary - 51/100 sessions, added batch 4 documentation tasks
  JULES_TODAY_SUMMARY.md
Due: none

docs: update Jules summary - 66/100 sessions, 49 PRs, batch 5 in progress
  JULES_TODAY_SUMMARY.md
Due: none

fix(memory): repair syntax errors in labs memory systems
  labs/memory/systems/integrity_collapser.py
  labs/memory/systems/memory_resonance_analyzer.py
Due: block-labs-imports, guardrail-check

fix(f401): Remove unused logging imports in consciousness modules [Code Quality]
  labs/consciousness/reasoning/reasoning_engine.py
  labs/consciousness/systems/unified_consciousness_engine.py
Due: block-labs-imports, guardrail-check

feat(governance): add T4 strategic audit and Reasoning Lab specifications
  branding/design/reasoning-lab/COMPLETE_SPEC.md
  branding/design/reasoning-lab/REDACTION_SYSTEM.md
  branding/design/reasoning-lab/TESTING_STRATEGY.md
  branding/governance/README.md
  branding/governance/strategic/90_DAY_ROADMAP.md
  branding/governance/strategic/GAPS_ANALYSIS.md
  branding/governance/strategic/INNOVATION_PIPELINE.md
  branding/governance/strategic/T4_STRATEGIC_AUDIT.md
Due: none

docs(jules): update session status - 60/66 completed, 42+ PRs generated
  JULES_TODAY_SUMMARY.md
Due: none

docs(branding): update lukhas.eu research papers and homepage for governance compliance
  branding/websites/lukhas.eu/homepage_matriz_ready.md
  branding/websites/lukhas.eu/research/cognitive-dna-explainable-ai.md
  branding/websites/lukhas.eu/research/constitutional-validation-production-ai.md
  branding/websites/lukhas.eu/research/distributed-consciousness-global-scale.md
  branding/websites/lukhas.eu/research/lambda-id-privacy-preserving-identity.md
  branding/websites/lukhas.eu/research/parallel-dream-simulation-gamechanger.md
Due: none

feat(design): add logo concepts, SEO pillar strategy, and SVG validator
  branding/content/SEO_PILLAR_STRATEGY.md
  branding/design/LOGO_CONCEPTS.md
  tools/svg_validator.py
Due: block-labs-imports, guardrail-check

chore(docs): archive integrated gonzo files with integration log
  docs/gonzo/GONZO_INTEGRATION_LOG.md
  docs/gonzo/archive/integrated/2025-11-06/Deliverables.md
  docs/gonzo/archive/integrated/2025-11-06/MORE_DELIVERABLES.js
  docs/gonzo/archive/integrated/2025-11-06/STRATEGY.md
  docs/gonzo/archive/integrated/2025-11-06/T4 Strategic Audit & Roadmap.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(branding): update master README with strategic docs and design deliverables
  branding/README.md
Due: none

feat(ci): add auto-codex review workflow for Jules-created PRs
  .github/workflows/auto-codex-review.yml
Due: none

feat(tools): add Codex-assisted PR creation workflow
  scripts/create_codex_pr.sh
Due: none

feat(t4): implement T4 Platform Policy for unused imports [Architecture]
  .github/pull_request_template/t4_policy.md
  .github/workflows/t4-policy-validation.yml
  docs/policies/T4_UNUSED_IMPORTS_PLATFORM.md
  scripts/replace_t4_policy.sh
  tools/ci/check_unused_imports_todo.py
  tools/ci/intent_registry.py
  tools/ci/unused_imports.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

docs(ops): add GitHub issues audit and cleanup report
  GITHUB_ISSUES_AUDIT.md
Due: none

feat(t4): annotate MATRIZ unused imports with structured JSON metadata
  matriz/adapters/tests/test_adapters_integration.py
  matriz/adapters/tests/test_adapters_unit.py
  matriz/consciousness/core/engine.py
  matriz/consciousness/reflection/id_reasoning_engine.py
  matriz/tests/test_matriz_integration.py
  matriz/tests/test_matriz_unit.py
Due: block-labs-imports, guardrail-check, check-license-headers

feat(t4): add T4 Lint Platform - annotators, validators, autofix, B008 codemod
  .github/workflows/t4-lint-platform.yml
  docs/gonzo/T4_LINT_OPPORTUNITIES.md
  docs/policies/T4_LINT_PLATFORM.md
  tools/ci/check_lint_issues_todo.py
  tools/ci/codemods/fix_b008.py
  tools/ci/codemods/run_fix_b008.py
  tools/ci/lint_annotator.py
  tools/ci/lint_autofix.sh
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

docs(t4): add baseline metrics report for lint platform
  docs/gonzo/T4_LINT_BASELINE_METRICS.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(t4): add source documentation for T4 Lint Platform implementation
  docs/gonzo/AI-DRIVEN_AUTIMATION.md
  docs/gonzo/LINT_PATFORM.md
  docs/gonzo/UNUSED_IMPORTS_NEW.md
Due: check-markdown-encoding, validate-docs-frontmatter

feat: add Guardian constitution, queue infrastructure, and brand research
  branding/guardian/GUARDIAN_CONSTITUTION.md
  bridge/queue/__init__.py
  bridge/queue/redis_queue.py
  docs/gonzo/Lukhas AI Branding Visionary Enhancements.md
  docs/research/brand_philosophy/GONZO_RECONCILIATION.md
  docs/research/brand_philosophy/VISIONARY_ENHANCEMENTS_RESEARCH.md
  scripts/test_redis_queue.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

fix(lint): E702 - split multiple statements on one line (memory backends)
  memory/backends/inmemory/__init__.py
  memory/backends/postgres/__init__.py
  memory/backends/redis/__init__.py
  memory/backends/sqlite/__init__.py
  memory/fakes/__init__.py
  memory/folds/fold_soft_delete/__init__.py
Due: block-labs-imports, guardrail-check

fix(lint): B018 - remove/annotate useless expressions in memory/ lazy imports
  memory/folds/__init__.py
  memory/retention/__init__.py
  memory/scheduled_folding/__init__.py
Due: block-labs-imports, guardrail-check

fix(lint): SIM105 - replace try-except-pass with contextlib.suppress
  core/consciousness/async_client.py
  core/identity/constitutional_ai_compliance.py
  core/interfaces/as_agent/sys/dast/aggregator.py
  core/interfaces/as_agent/sys/dast/partner_sdk.py
  core/interfaces/as_agent/sys/dast/store.py
  core/orchestration/async_orchestrator.py
  core/orchestration/brain/brain_integration.py
  core/orchestration/brain/brain_integration_broken.py
  lukhas/__init__.py
Due: block-labs-imports, guardrail-check, check-license-headers

fix(lint): SIM102 - combine nested if statements in memory/fold_lineage_tracker
  memory/fold_lineage_tracker.py
Due: block-labs-imports, guardrail-check

docs(workflow): add mandatory worktree policy for parallel agent development
  WORKTREE_POLICY.md
Due: none

feat(ops): implement AI-driven event-based task orchestration
  bridge/llm_wrappers/codex_wrapper.py
  bridge/queue/redis_queue.py
  scripts/ai_task_router.py
  scripts/ai_webhook_receiver.py
  scripts/test_webhook_critical.json
  scripts/test_webhook_payload.json
Due: block-labs-imports, guardrail-check

feat(docs): integrate visionary enhancements with selective adoption
  branding/README.md
  branding/research/MINDFUL_FRICTION_PATTERNS.md
  branding/research/TECHNICAL_VOICE_GUIDELINES.md
  docs/gonzo/GONZO_INTEGRATION_LOG.md
  docs/gonzo/archive/integrated/2025-11-06/Lukhas AI Branding Visionary Enhancements.md
Due: check-markdown-encoding, validate-docs-frontmatter

lint(hygiene): fix quick wins small error types (42 violations)
  audit_2025_launch/tools/01_baseline_metrics.py
  audit_2025_launch/tools/02_duplicate_detector.py
  audit_2025_launch/tools/03_archive_candidates.py
  audit_2025_launch/tools/04_security_scanner.py
  audit_2025_launch/tools/05_config_analyzer.py
  audit_2025_launch/tools/06_docs_quality_checker.py
  audit_2025_launch/tools/07_test_coverage_mapper.py
  audit_2025_launch/tools/08_must_keep_registry.py
  bridge/llm_wrappers/jules_wrapper.py
  tests/core/test_orchestrator_lane_defaults.py
Due: block-labs-imports, guardrail-check

lint(imports): fix E402 import ordering violations
  branding/orchestration/constellation_framework_deployer.py
  branding/orchestration/content_orchestrator.py
  branding/orchestration/voice_coherence_upgrader.py
  core/common/__init__.py
  core/identity/manager.py
  lukhas/memory/index.py
  qi/engines/creativity/creative_engine.py
  scripts/bench_e2e_quiet.py
  scripts/bench_validated.py
  scripts/security/build_security_posture_artifacts.py
  scripts/utils/metrics.py
  scripts/validate_dynamic_id_hardening.py
  scripts/validate_ledger_performance.py
  scripts/verify_constellation_alias.py
  serve/main.py
  tests/unit/candidate/consciousness/dream/test_dream_feedback_controller.py
  tests/unit/candidate/core/test_task_manager.py
  tests/unit/ci/test_ci_workflow.py
  tests/unit/core/colonies/test_oracle_colony.py
  tests/unit/identity/test_matriz_consciousness_identity_signals.py
  tests/unit/memory/test_fold_lineage_entanglement.py
  tools/debug/trace_candidate_imports.py
Due: block-labs-imports, guardrail-check, check-license-headers

lint(integration): fix F821 undefined name violations in bridge adapters
  bridge/adapters/__init__.py
  bridge/api/onboarding.py
  bridge/api/orchestration_endpoints.py
  bridge/protocols/check_all_box_alignment.py
  bridge/protocols/freeze_protection_check.py
  core/orchestration/brain/australian_awareness_engine.py
  core/orchestration/brain/unified_integration/__init__.py
  core/orchestration/brain/unified_integration/adapters/legacy_adapter.py
  core/orchestration/integration_hub.py
Due: block-labs-imports, guardrail-check, check-license-headers

Guard tracing setup and normalize metrics labels
  serve/main.py
Due: block-labs-imports, guardrail-check

Fix unified integration handler dispatch
  core/orchestration/brain/unified_integration/__init__.py
Due: block-labs-imports, guardrail-check, check-license-headers

feat(bridge): add comprehensive Claude API setup and documentation
  docs/CLAUDE_API_QUICKSTART.md
  docs/bridge/CLAUDE_API_SETUP.md
  docs/bridge/README.md
  examples/claude_api_usage.py
  scripts/configure_claude_api.py
  scripts/test_claude_api.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

fix(auth): gate legacy fallback on configured jwt
  labs/core/security/auth.py
  serve/main.py
Due: block-labs-imports, guardrail-check

[CODEX] Fix E402: Import ordering - add blank lines (189 violations) (#1027)
  branding/orchestration/constellation_framework_deployer.py
  branding/orchestration/content_orchestrator.py
  branding/orchestration/voice_coherence_upgrader.py
  core/common/__init__.py
  core/identity/manager.py
  labs/core/security/auth.py
  lukhas/memory/index.py
  qi/engines/creativity/creative_engine.py
  scripts/bench_e2e_quiet.py
  scripts/bench_validated.py
  scripts/security/build_security_posture_artifacts.py
  scripts/utils/metrics.py
  scripts/validate_dynamic_id_hardening.py
  scripts/validate_ledger_performance.py
  scripts/verify_constellation_alias.py
  serve/main.py
  tests/unit/candidate/consciousness/dream/test_dream_feedback_controller.py
  tests/unit/candidate/core/test_task_manager.py
  tests/unit/ci/test_ci_workflow.py
  tests/unit/core/colonies/test_oracle_colony.py
  tests/unit/identity/test_matriz_consciousness_identity_signals.py
  tests/unit/memory/test_fold_lineage_entanglement.py
  tools/debug/trace_candidate_imports.py
Due: block-labs-imports, guardrail-check, check-license-headers
