Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

matrix-contract-presence:
  name: Matrix Contract Presence
  entry: python3 tools/validate_contract_presence.py --enforce --quiet
  language: system
  pass_filenames: false

matrix-contract-schema:
  name: Matrix Contract Schema Validation
  entry: python3 tools/matrix_gate.py --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

opa-format:
  name: Format OPA policies
  entry: opa fmt -w
  language: system

matrix-identity-validation:
  name: Matrix Identity Block Validation
  entry: python3 tools/matrix_gate.py --identity --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

lukhas-tier-consistency:
  name: ΛiD Tier Consistency Check
  entry: python3 tools/lukhas_id_bridge.py --check-consistency
  language: system
  pass_filenames: false

block-labs-imports:
  name: Block direct labs imports in production lanes
  entry: bash scripts/consolidation/block_labs_imports.sh
  language: system
  pass_filenames: false
  stages:
  - commit

import-linter:
  name: Import Isolation Guard (Simulation Lane)
  entry: import-linter
  language: system
  args:
  - --cache-dir
  - .importlinter_cache
  pass_filenames: false

simulation-lane-safety:
  name: Simulation Lane Safety Check
  entry: bash
  language: system
  args:
  - .claude/commands/95_sim_lane_summary.yaml
  pass_filenames: false

guardrail-check:
  name: guardrail-check (ban direct LLM calls)
  entry: python3 scripts/ci/check_guardrail_usage.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

matrix-contract-validation:
  name: Validate Matrix Contracts
  entry: python3 tools/pre_commit_matrix_check.py
  language: system
  pass_filenames: true

telemetry-semconv-validation:
  name: Validate Telemetry Semantic Conventions
  entry: python3 tools/pre_commit_telemetry_check.py
  language: system
  pass_filenames: true

demo-script-validation:
  name: Validate Matrix Tracks Demo Scripts
  entry: python3 tools/pre_commit_demo_lint.py
  language: system
  pass_filenames: true

reject-legacy-directory-index:
  name: Reject legacy directory_index.json files
  entry: python3 -c "import sys; files=[f for f in sys.argv[1:] if 'directory_index.json' in f]; sys.exit(1 if files else 0)"
  language: system
  pass_filenames: true

validate-module-manifests-changed:
  name: T4 Module Manifest Validation
  entry: python3 tools/manifest_validate.py --all
  language: system
  pass_filenames: false

validate-configs-and-secrets:
  name: Validate configs and detect secrets
  entry: python3 tools/validate_configs.py
  language: system
  pass_filenames: false

manifest-validate:
  name: Manifest Validate
  entry: python3 tools/manifest_validate.py
  language: system
  pass_filenames: false

manifest-lock:
  name: Manifest Lock Hydrator
  entry: python3 tools/manifest_lock_hydrator.py
  language: system
  pass_filenames: false

mcp-config-verify:
  name: 'Guard: MCP config verify'
  entry: python3 tools/mcp/verify_config.py
  language: system

feat(hygiene): add automated root directory hygiene system with pre-commit enforcement
  .pre-commit-config.yaml
  .root-allowlist
  Makefile
  docs/codex/CODEX_QUICK_START.txt
  docs/development/ROOT_HYGIENE.md
  scripts/validate_root_docs.py
  scripts/validate_root_hygiene.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

fix(production): resolve F821 undefined names - bio components and governance imports
  bridge/adapters/__init__.py
  core/orchestration/brain/australian_awareness_engine.py
  core/orchestration/brain/unified_integration/adapters/intent_adapter.py
Due: block-labs-imports, guardrail-check, check-license-headers

fix(hygiene): fix type annotations (UP037 + RUF013, 2 violations) (#982)
  lukhas/memory/index.py
  qi/bio/bio_optimizer.py
Due: block-labs-imports, guardrail-check, check-license-headers

fix(hygiene): remove duplicate dict key, add newline, fix type annotation (3 fixes) (#983)
  lukhas_website/tests/api/test_oidc_tiered_auth.py
  tools/SyntaxFixerBot.py
Due: block-labs-imports, guardrail-check

feat(bridge): add Google Jules API integration for autonomous code generation
  .env.example
  bridge/llm_wrappers/jules_wrapper.py
  docs/integrations/JULES_INTEGRATION.md
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

feat(security): add macOS Keychain integration for secure API key storage
  bridge/llm_wrappers/jules_wrapper.py
  core/security/keychain_manager.py
  docs/security/API_KEY_MANAGEMENT.md
  scripts/setup_api_keys.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

fix(F821): Resolve 4 production undefined name violations in bridge layer
  bridge/api/onboarding.py
  bridge/api/orchestration_endpoints.py
  bridge/protocols/check_all_box_alignment.py
  bridge/protocols/freeze_protection_check.py
Due: block-labs-imports, guardrail-check

fix(F821): Resolve 5 undefined name violations in core consciousness systems
  lukhas/memory/index.py
  matriz/consciousness/awareness/awareness_engine_elevated.py
  matriz/consciousness/reflection/circuit_breaker.py
Due: block-labs-imports, guardrail-check, check-license-headers

fix(F821): Resolve 17 undefined name violations in QI (quantum-inspired) layer
  qi/bio/bio_optimizer.py
  qi/bio/voice_adapter.py
  qi/distributed_qi_architecture.py
Due: block-labs-imports, guardrail-check

fix(bridge): correct Jules API integration with flexible schema and key fallback
  bridge/llm_wrappers/jules_wrapper.py
  core/security/keychain_manager.py
  scripts/test_jules_connection.py
Due: block-labs-imports, guardrail-check, check-license-headers

feat(tools): add Jules session management and monitoring tools
  JULES_SESSIONS_REPORT.md
  scripts/check_jules_sessions.py
  scripts/inspect_jules_session.py
  scripts/respond_to_jules_session.py
  scripts/summarize_waiting_sessions.py
Due: block-labs-imports, guardrail-check

docs(tools): add Jules session feedback templates for web UI responses
  JULES_FEEDBACK_TEMPLATES.md
Due: none

docs(tools): add prioritized action plan for Jules session management
  JULES_ACTION_PLAN.md
Due: none

docs(tools): add ready-to-paste Jules session responses and new task assignments
  JULES_RESPONSES_READY.md
Due: none

docs(tools): add specific replies for 4 active Jules sessions
  JULES_SESSION_REPLIES.md
Due: none

fix(F821): Resolve 11 undefined name violations in tools/ utilities
  tools/analysis/analyze_module_internals.py
  tools/analysis/ml_integration_analyzer.py
  tools/check_policy_bundle_checksum.py
  tools/cleanup/duplicate_code_analyzer.py
  tools/codemod_lukhas_from_ledger.py
  tools/enrich_module_manifests.py
  tools/functional_test_suite.py
  tools/migrate_module.py
Due: block-labs-imports, guardrail-check

feat(tools): add Jules session list script and new task assignments (TEST-014 onwards)
  NEW_JULES_TASKS.md
  scripts/list_all_jules_sessions.py
Due: block-labs-imports, guardrail-check

fix(F821): Resolve 3 undefined name violations in labs API layer
  labs/api/app.py
Due: block-labs-imports, guardrail-check

docs(tools): add PR review summary and Jules session creation guide
  CREATE_JULES_SESSIONS.md
  PR_REVIEW_SUMMARY.md
Due: none

fix(F821): Resolve 8 undefined name violations in labs/core layer - GOAL ACHIEVED! 🎯
  labs/core/integrated_system.py
  labs/core/quorum_override.py
  labs/core/resource_scheduler.py
  labs/core/symbolic_legacy/features/security/main.py
  scripts/analysis/agi_module_analyzer.py
  scripts/analysis/codebase_analyzer.py
  scripts/analyze_hidden_gems.py
  scripts/audit_baseline.py
  scripts/automated_maintenance_pipeline.py
  scripts/bench_t4_excellence.py
  scripts/coverage/collect_module_coverage.py
  scripts/dependency_scanner.py
  scripts/directory_index_generator.py
  scripts/fixes/fix_f_string_parenthesis_systematic.py
Due: block-labs-imports, guardrail-check

docs(tools): add step-by-step Jules session creator guide
  JULES_SESSION_CREATOR.md
Due: none

security(urllib3): resolve CVE-2025-50181 SSRF vulnerability
  docs/audits/security/urllib3_cve_2025-50181_resolution.md
Due: check-markdown-encoding, validate-docs-frontmatter

refactor(SIM117): Combine 9 nested with statements across OIDC and storage layers
  lukhas_website/lukhas/identity/oidc/provider.py
  lukhas_website/lukhas/identity/oidc/tokens.py
  storage/events.py
Due: block-labs-imports, guardrail-check

feat(branding): add multi-domain visual system and SSO integration specs
  branding/design/visuals/INTERACTIVE_MOTIFS.md
  branding/integration/SSO_CROSS_DOMAIN_GUIDE.md
Due: none

docs(branding): establish canonical brand documentation hierarchy
  branding/BRAND_GUIDELINES.md
  branding/README.md
  branding/design/LUKHAS_THEMES.md
Due: none

docs(branding): deprecate old branding documents and add canonical references
  branding/LUKHAS_BRANDING_COMPLETE.md
  branding/LUKHAS_BRANDING_GUIDE.md
  branding/LUKHAS_TONE_GUIDE.md
  docs/branding/LUKHAS_TONE_ENFORCEMENT_SYSTEM.md
  docs/gonzo/LUKHAS_STYLE_GUIDE.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(branding): integrate content templates into canonical branding system
  branding/README.md
  branding/design/ASSISTIVE_MODE_IMPLEMENTATION.md
  branding/templates/HOMEPAGE_CASESTUDY_TEMPLATES.md
  branding/templates/PRODUCT_TEMPLATES.md
  branding/templates/README.md
  docs/gonzo/ASSISTIVE_MODE.md
  docs/gonzo/HIOMEPAGE_&_CASE_STUDY.md
  docs/gonzo/TEMPLATE_PRODUCTS.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(branding): mark WEBSITE_CONTENT_TEMPLATE.md as duplicate
  docs/gonzo/WEBSITE_CONTENT_TEMPLATE.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(branding): integrate governance framework into canonical branding system
  branding/README.md
  branding/governance/AUTOMATION_GUIDE.md
  branding/governance/README.md
  branding/governance/tools/CONTENT_LINTING.md
  branding/governance/tools/GOVERNANCE_ARTIFACTS.md
  docs/gonzo/LINTING_AND_GOVERNANCE.md
  docs/gonzo/MORE.md
  docs/gonzo/MORE_ARTIFACTS.md
Due: check-markdown-encoding, validate-docs-frontmatter

feat(jules): fix API integration and create 7 test sessions programmatically
  CREATE_7_JULES_SESSIONS.md
  JULES_SESSIONS_CREATED.md
  bridge/llm_wrappers/jules_wrapper.py
  docs/gonzo/BRAND_GUIDELINES.md
  docs/gonzo/Deliverables.md
  docs/gonzo/MORE_DELIVERABLES.js
  docs/gonzo/STRATEGY.md
  docs/gonzo/T4 Strategic Audit & Roadmap.md
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

docs(branding): add evidence infrastructure (template + tools)
  branding/governance/tools/CONTENT_LINTING.md
  branding/templates/evidence_page.md
  tools/build_audit_pack.py
  tools/generate_evidence_pages.py
Due: block-labs-imports, guardrail-check

feat(jules): add approve_plan and send_message API methods, respond to waiting sessions
  JULES_API_COMPLETE_REFERENCE.md
  JULES_SUCCESS_SUMMARY.md
  JULES_WAITING_SESSIONS.md
  bridge/llm_wrappers/jules_wrapper.py
Due: block-labs-imports, guardrail-check

docs: integrate Jules AI documentation into CLAUDE.md and claude.me
  claude.me
Due: none

docs: add complete Jules AI integration summary
  JULES_COMPLETE_INTEGRATION_SUMMARY.md
Due: none

fix(e722): Replace bare except clauses with specific exceptions in audit tools [Security]
  audit_2025_launch/tools/01_baseline_metrics.py
  audit_2025_launch/tools/02_duplicate_detector.py
  audit_2025_launch/tools/03_archive_candidates.py
  audit_2025_launch/tools/04_security_scanner.py
  audit_2025_launch/tools/05_config_analyzer.py
  audit_2025_launch/tools/06_docs_quality_checker.py
  audit_2025_launch/tools/07_test_coverage_mapper.py
  audit_2025_launch/tools/08_must_keep_registry.py
  branding/engines/lukhas_content_platform/bots/lambda_bot_enterprise_qi_consciousness_lambda_bot.py
  branding/personal_brand/consciousness_authority_builder.py
  bridge/external/TrueCoreAnalyzer.py
  cognitive_core/orchestration/consensus_engine.py
  core/governance/auth_guardian_integration.py
  governance/ethics/__init__.py
  lukhas_website/lukhas/audit/analytics_read.py
  lukhas_website/lukhas/memory/backends/memory_store.py
  lukhas_website/lukhas/memory/distributed_memory.py
Due: block-labs-imports, guardrail-check, check-license-headers

feat(jules): add aggressive Jules usage policy and create 14 more high-priority sessions
  claude.me
  scripts/create_high_priority_sessions.py
Due: block-labs-imports, guardrail-check

docs: add Jules daily usage report tracking 21 sessions created today
  JULES_DAILY_USAGE_REPORT.md
Due: none

chore(ops): add Google Drive sync script for code backup
  scripts/sync_to_google_drive.sh
Due: none

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$
