Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$

feat(security): Implement strict authentication middleware (OWASP A01 fix) (#1312)
  lukhas_website/lukhas/api/middleware/strict_auth.py
  tests/unit/lukhas/governance/__init__.py
  tests/unit/lukhas/governance/middleware/__init__.py
  tests/unit/lukhas/governance/middleware/test_strict_auth.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check

security(governance): remove optional user_id to prevent identity spoofing
  lukhas/governance/__init__.py
  lukhas/governance/auth/__init__.py
  lukhas/governance/auth/dependencies.py
  serve/consciousness_api.py
  serve/feedback_routes.py
  tests/integration/test_cross_user_access.py
  tests/unit/lukhas/governance/auth/__init__.py
  tests/unit/lukhas/governance/auth/test_dependencies.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-license-headers

docs(ci): add CI optimization reminders to agent documentation
  .copilot_tasks.md
  lukhas_context.md
Due: none

feat(oneiric): emit regret_signature for post-hoc continuity analysis
  oneiric/__init__.py
  oneiric/core/__init__.py
  oneiric/core/generator.py
  oneiric/core/persistence.py
Due: block-labs-imports, guardrail-check

feat(memory): write-once fold wrapper with seal()
  core/memory/folds.py
Due: block-labs-imports, guardrail-check, check-license-headers

security(governance): implement per-user data isolation for feedback and traces
  products/experience/feedback/core/feedback_cards.py
  serve/models/trace_models.py
  serve/routes_traces.py
  serve/storage/trace_provider.py
  tests/integration/test_per_user_data_isolation.py
Due: block-labs-imports, guardrail-check

feat(wavec): annotate branches with drift metadata
  core/wavec/__init__.py
  core/wavec/checkpoint.py
Due: block-labs-imports, guardrail-check, check-license-headers

feat(guardian): structured veto reason codes
  core/guardian/__init__.py
  core/guardian/policies.py
Due: block-labs-imports, guardrail-check, check-license-headers

feat(lid): embed consent stamp claims
  lid/__init__.py
  lid/token.py
Due: block-labs-imports, guardrail-check

feat(dast): persist last directive for continuity
  dast/__init__.py
  dast/orchestrator.py
Due: block-labs-imports, guardrail-check

feat(metrics): dream + rollback counters
  serve/metrics.py
Due: block-labs-imports, guardrail-check

docs(audits): synthesize Claude, GPT-4, and Gemini audits into 90-day action plan
  audits/MULTI_MODEL_SYNTHESIS_2025-11-10.md
Due: none

security(governance): implement sliding window rate limiting for DoS prevention
  lukhas/governance/rate_limit/README.md
  lukhas/governance/rate_limit/__init__.py
  lukhas/governance/rate_limit/config.py
  lukhas/governance/rate_limit/middleware.py
  lukhas/governance/rate_limit/storage.py
  serve/main.py
  tests/integration/test_rate_limiting.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-license-headers

feat(feedback): implement production-ready storage backend with connection pooling
  products/experience/feedback/core/storage_backend.py
  tests/integration/test_feedback_storage_backend.py
Due: block-labs-imports, guardrail-check

fix: resolve syntax errors and begin systematic ruff cleanup
  tools/audit/final_validation.py
  tools/module_schema_validator.py
  tools/module_schema_validator.py.original
Due: block-labs-imports, guardrail-check

feat(governance): implement SOC 2 compliant audit logging system (Task 3.1)
  lukhas/governance/audit/README.md
  lukhas/governance/audit/__init__.py
  lukhas/governance/audit/config.py
  lukhas/governance/audit/events.py
  lukhas/governance/audit/logger.py
  lukhas/governance/audit/storage.py
  lukhas_website/lukhas/api/middleware/strict_auth.py
  tests/integration/test_audit_logging.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-license-headers

refactor: systematic UP035 deprecated import cleanup - batch 2
  api/optimization/advanced_middleware.py
  api/optimization/analytics_dashboard.py
  audit_2025_launch/tools/analyze_duplicates.py
  audit_2025_launch/tools/analyze_file_duplicates.py
  audit_2025_launch/tools/build_must_keep_registry.py
  fix_up035_batch.py
  tools/ci/build_metrics_dashboard.py
  tools/ci/codemods/add_bulk_imports.py
Due: block-labs-imports, guardrail-check

feat(governance): implement GDPR compliance basics (Task 3.2)
  lukhas/governance/gdpr/__init__.py
  lukhas/governance/gdpr/config.py
  lukhas/governance/gdpr/routes.py
  lukhas/governance/gdpr/service.py
  tests/integration/test_gdpr.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-license-headers

docs(governance): complete GPT-5 security audit implementation (Tasks 1.1-4.1)
  docs/development/GPT5_AUDIT_IMPLEMENTATION_COMPLETE.md
  docs/known_limitations/ENDOCRINE_PER_USER_STATE.md
Due: check-markdown-encoding, validate-docs-frontmatter

feat(hygiene): complete TODO system reorganization and agent directory clarification
  agent/README.md
  agent/config/README.md
  agent/config/config.yaml
  agent/config/environment.yaml
  agent/config/logging.yaml
  agent/context/claude.me
  agent/context/gemini.md
  agent/context/lukhas_context.md
  agent/docs/README.md
  agent/docs/api.md
  agent/docs/architecture.md
  agent/docs/troubleshooting.md
  agents/docs/README.md
  ai-agents/README.md
  scripts/todo/README.md
  scripts/todo/generate_reports.py
  scripts/todo/process_inbox.py
  scripts/todo/sync_agents.py
  scripts/todo/validate_master_log.py
  todo/MASTER_LOG.md
  todo/PLANNING_INDEX.md
  todo/RUFF_ERROR_ANALYSIS_REPORT.md
  todo/RULES_FOR_AGENTS.md
  todo/T4_CONSCIOUSNESS_ENHANCEMENT_TASKS.md
  todo/archive/PHASE_2_SURGICAL_PLAN_2025-10-24.md
  todo/by-agent/README.md
  todo/by-agent/claude-code.md
  todo/by-agent/codex.md
  todo/by-agent/human.md
  todo/by-agent/jules.md
  todo/context/claude.me
  todo/context/gemini.md
  todo/context/lukhas_context.md
  todo/inbox/README.md
  todo/inbox/_TEMPLATE.md
  todo/inbox/processed/.gitkeep
  todo/prompts/FEEDBACK_SYSTEM_PROMPTS.md
  todo/prompts/INFRASTRUCTURE_PROMPTS.md
  todo/prompts/MEMORY_AUTH_PROMPTS.md
Due: block-labs-imports, guardrail-check, validate-configs-and-secrets

feat(websites): initialize monorepo with shared design system
  websites/.gitignore
  websites/README.md
  websites/package.json
  websites/packages/ui/README.md
  websites/packages/ui/package.json
  websites/packages/ui/postcss.config.js
  websites/packages/ui/src/index.ts
  websites/packages/ui/src/styles/animations.css
  websites/packages/ui/src/styles/index.css
  websites/packages/ui/src/styles/variables.css
  websites/packages/ui/src/utils/cn.ts
  websites/packages/ui/src/utils/index.ts
  websites/packages/ui/tailwind.config.js
  websites/packages/ui/tsconfig.json
  websites/packages/ui/vite.config.ts
  websites/pnpm-workspace.yaml
  websites/turbo.json
Due: none

chore(hygiene): remove obsolete lowercase todo/ scaffold directory
  todo/PHASE_2_SURGICAL_PLAN_2025-10-24.md
  todo/README.md
  todo/claude.me
  todo/config/README.md
  todo/config/config.yaml
  todo/config/environment.yaml
  todo/config/logging.yaml
  todo/docs/README.md
  todo/docs/api.md
  todo/docs/architecture.md
  todo/docs/troubleshooting.md
  todo/gemini.md
  todo/lukhas_context.md
  todo/scripts/directory_index.json
  todo/tests/README.md
  todo/tests/__init__.py
  todo/tests/conftest.py
  todo/tests/test_TODO_integration.py
  todo/tests/test_TODO_unit.py
Due: block-labs-imports, guardrail-check, reject-legacy-directory-index, validate-configs-and-secrets

feat(ui): port PR0T3US morphing system to TypeScript
  websites/packages/ui/src/utils/index.ts
  websites/packages/ui/src/utils/morphing-system/MorphingEngine.ts
  websites/packages/ui/src/utils/morphing-system/README.md
  websites/packages/ui/src/utils/morphing-system/index.ts
Due: none

test(security): implement OWASP Top 10 security testing suite
  tests/security/OWASP_SECURITY_TESTS.md
  tests/security/__init__.py
  tests/security/conftest.py
  tests/security/test_owasp_a01_access_control.py.future
  tests/security/test_owasp_a05_security_misconfiguration.py.future
  tests/security/test_owasp_a07_auth_failures.py.future
  tests/security/test_owasp_a09_logging_failures.py.future
  tests/security/test_owasp_principles.py
Due: block-labs-imports, guardrail-check

docs(todo): mark TP007 OWASP security testing as complete
  todo/MASTER_LOG.md
Due: none

feat(ai-agents): add 6 P0 task prompts for Jules and Claude Code
  ai-agents/claude-code/P0_EMERGENCY_KILLSWITCH.md
  ai-agents/claude-code/P0_MATRIZ_COGNITIVE_NODES.md
  ai-agents/claude-code/P0_ORCHESTRATOR_TIMEOUTS.md
  ai-agents/jules/P0_GRADUAL_ROLLOUT.md
  ai-agents/jules/P0_GUARDIAN_DSL_CANARY.md
  ai-agents/jules/P0_SECRET_SCANNING.md
Due: none

ci(security): add comprehensive OWASP test pipelines and CI/CD integration
  .github/workflows/owasp-security-tests.yml
  Makefile.security
Due: none

refactor: systematic SIM117 multiple-with-statements cleanup - batch 1
  lukhas_website/lukhas/identity/oidc/provider.py
  lukhas_website/lukhas/identity/oidc/tokens.py
  memory/tests/test_observability.py
  storage/events.py
  tests/consciousness/test_guardian_integration.py
  tests/core/api/test_api_system.py
  tests/core/modules/test_voice_narration.py
  tests/core/orchestration/test_dream_adapter.py
  tests/core/test_consciousness_signal_router.py
Due: block-labs-imports, guardrail-check

feat(security): Eliminate identity spoofing with auth dependencies (OWASP A01)
  lukhas/governance/__init__.py
  lukhas/governance/auth/__init__.py
  lukhas/governance/auth/dependencies.py
  serve/consciousness_api.py
  serve/feedback_routes.py
  tests/unit/lukhas/governance/auth/__init__.py
  tests/unit/lukhas/governance/auth/test_dependencies.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check, check-license-headers

refactor: fix additional SIM117 multiple-with-statements violation
  labs/tools/tool_executor.py
Due: block-labs-imports, guardrail-check

refactor: systematic B904 exception chaining cleanup - batch 1
  api/consciousness_chat_api.py
  api/feedback_api.py
  api/universal_language_api.py
Due: block-labs-imports, guardrail-check

refactor: major B904 exception chaining cleanup - batch 2
  qi/ui/cockpit_api.py
Due: block-labs-imports, guardrail-check

refactor: attempt RUF012 mutable class attribute annotations
  branding/poetry/lukhas_lexicon.py
  core/identity_integration.py
Due: block-labs-imports, guardrail-check, check-license-headers

feat(ci): add GitHub Copilot auto-review for all PRs
  .github/workflows/auto-copilot-review.yml
Due: none

test(security): implement OWASP Top 10 security testing suite (#1339)
  .github/workflows/owasp-security-tests.yml
  Makefile.security
  tests/security/OWASP_SECURITY_TESTS.md
  tests/security/__init__.py
  tests/security/conftest.py
  tests/security/test_owasp_a01_access_control.py.future
  tests/security/test_owasp_a05_security_misconfiguration.py.future
  tests/security/test_owasp_a07_auth_failures.py.future
  tests/security/test_owasp_a09_logging_failures.py.future
  tests/security/test_owasp_principles.py
Due: block-labs-imports, guardrail-check
