Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$

T4: Modernize typing annotations in build_must_keep_registry.py - List->list, Set->set for Python 3.9+ compatibility
  audit_2025_launch/tools/build_must_keep_registry.py
Due: block-labs-imports, guardrail-check

feat(matriz): implement 15 MATRIZ cognitive nodes for complete cognitive loop (#1354)
  IMPLEMENTATION_COMPLETE.md
  matriz/nodes/action/__init__.py
  matriz/nodes/action/action_selection.py
  matriz/nodes/action/execution_monitoring.py
  matriz/nodes/action/goal_prioritization.py
  matriz/nodes/action/plan_generation.py
  matriz/nodes/action/resource_allocation.py
  matriz/nodes/awareness/__init__.py
  matriz/nodes/awareness/confidence_calibration.py
  matriz/nodes/awareness/metacognitive_monitoring.py
  matriz/nodes/decision/__init__.py
  matriz/nodes/decision/ethical_constraint.py
  matriz/nodes/decision/risk_assessment.py
  matriz/nodes/decision/utility_maximization.py
  matriz/nodes/thought/__init__.py
  matriz/nodes/thought/abductive_reasoning.py
  matriz/nodes/thought/analogical_reasoning.py
  matriz/nodes/thought/causal_reasoning.py
  matriz/nodes/thought/counterfactual_reasoning.py
  matriz/nodes/thought/metacognitive_reasoning.py
  verify_all_nodes.py
Due: block-labs-imports, guardrail-check, check-license-headers

docs(audit): analyze orchestrator size difference - verified intentional
  docs/audit/orchestrator_size_difference_analysis.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(audit): comprehensive lukhas_website/lukhas/ directory architecture analysis
  docs/audit/LUKHAS_WEBSITE_DIRECTORY_AUDIT_2025-11-12.md
Due: check-markdown-encoding, validate-docs-frontmatter

fix(governance): resolve Guardian module import path issues and syntax error
  governance/guardian/core.py
  governance/guardian/guardian_impl.py
  governance/guardian/guardian_impl/__init__.py
  governance/guardian/guardian_wrapper.py
  labs/core/governance/guardian_integration.py
  lukhas_website/lukhas/governance/guardian/__init__.py
  lukhas_website/lukhas/governance/guardian/guardian_impl.py
  lukhas_website/lukhas/governance/guardian/guardian_wrapper.py
  observability/matriz_decorators.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check

feat(interfaces): add 3D particle morphing system with React Three Fiber
  websites/demo.html
  websites/packages/ui/src/components/MorphingParticles.example.tsx
  websites/packages/ui/src/components/MorphingParticles.tsx
  websites/packages/ui/src/components/index.ts
Due: none

Update serve/middleware/cache_middleware.py
  serve/middleware/cache_middleware.py
Due: block-labs-imports, guardrail-check

Update serve/websocket_routes.py
  serve/websocket_routes.py
Due: block-labs-imports, guardrail-check

Update serve/dream_engine.py
  serve/dream_engine.py
Due: block-labs-imports, guardrail-check

T4: Re-modernize typing annotations in advanced_middleware.py
  api/optimization/advanced_middleware.py
Due: block-labs-imports, guardrail-check

fix(governance): Guardian Module Structure Phase 1 - Resolve Import Paths & Syntax Error (#1356)
  api/optimization/advanced_middleware.py
  api/optimization/analytics_dashboard.py
  api/optimization/integration_hub.py
  audit_2025_launch/tools/analyze_duplicates.py
  audit_2025_launch/tools/build_must_keep_registry.py
  governance/guardian/core.py
  governance/guardian/guardian_impl.py
  governance/guardian/guardian_impl/__init__.py
  governance/guardian/guardian_wrapper.py
  labs/core/governance/guardian_integration.py
  lukhas_website/lukhas/governance/guardian/__init__.py
  lukhas_website/lukhas/governance/guardian/guardian_impl.py
  lukhas_website/lukhas/governance/guardian/guardian_wrapper.py
  observability/matriz_decorators.py
Due: matrix-contract-presence, block-labs-imports, guardrail-check

refactor(interfaces): refine particle shapes and implement silver monochrome aesthetic
  websites/demo.html
  websites/packages/ui/src/components/MorphingParticles.tsx
Due: none

fix(serve): bypass HeadersMiddleware for WebSocket connections
  serve/main.py
Due: block-labs-imports, guardrail-check

docs(sessions): comprehensive summary of CI simplification and PR cleanup
  docs/sessions/SESSION_SUMMARY_2025-11-12_CI_PR_CLEANUP.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(sessions): CI simplification and PR cleanup session summary (2025-11-12)
  docs/sessions/SESSION_SUMMARY_2025-11-12_CI_PR_CLEANUP.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(governance): Guardian Structure Consolidation Phase 2 - Audit & Bridges
  docs/GUARDIAN_STRUCTURE_CONSOLIDATION_AUDIT_2025-11-12.md
  lukhas_website/lukhas/governance/guardian/policies.py
  lukhas_website/lukhas/governance/guardian/reflector.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

docs(sessions): CI simplification and PR cleanup session artifacts (2025-11-12)
  docs/sessions/SESSION_SUMMARY_2025-11-12_CI_PR_CLEANUP.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(sessions): Session artifacts for CI simplification & PR cleanup (#1361)
  docs/sessions/SESSION_SUMMARY_2025-11-12_CI_PR_CLEANUP.md
Due: check-markdown-encoding, validate-docs-frontmatter

T4: Autonomous typing modernization batch 1 - bridge modules & MCP server
  labs/core/consciousness_ticker/__init__.py
  labs/core/symbolic_bridge/integrator.py
  labs/flags/__init__.py
  labs/ledger/__init__.py
  mcp-lukhas-sse/mcp_official_server.py
Due: block-labs-imports, guardrail-check

T4: Modernize cognitive_security.py typing annotations
  labs/core/security/cognitive_security.py
Due: block-labs-imports, guardrail-check

docs(governance): Guardian Phase 3 - Comprehensive Documentation
  claude.me
  docs/architecture/GUARDIAN_SYSTEM.md
  docs/development/GUARDIAN_IMPORTS.md
Due: check-markdown-encoding, validate-docs-frontmatter

T4: Modernize credential_manager.py typing annotations (622 lines)
  labs/core/security/credential_manager.py
Due: block-labs-imports, guardrail-check

T4: Modernize dream benchmark typing annotations
  benchmarks/dream/calibration.py
  benchmarks/dream/stability.py
Due: block-labs-imports, guardrail-check

T4: Modernize branding and bridge typing annotations
  branding/integrations/llm_bridge.py
  branding/vocabularies/vocabulary_rotation_engine.py
  bridge/api/settings/__init__.py
Due: block-labs-imports, guardrail-check

refactor(labs): modernize typing in identity_manager.py (UP035)
  labs/core/identity/identity_manager.py
Due: block-labs-imports, guardrail-check

docs(governance): Guardian Structure Consolidation Phase 2 - Audit & Bridge Modules (#1360)
  claude.me
  docs/GUARDIAN_STRUCTURE_CONSOLIDATION_AUDIT_2025-11-12.md
  docs/architecture/GUARDIAN_SYSTEM.md
  docs/development/GUARDIAN_IMPORTS.md
  lukhas_website/lukhas/governance/guardian/policies.py
  lukhas_website/lukhas/governance/guardian/reflector.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

docs(sessions): PR Review Marathon session summary (2025-11-12)
  docs/sessions/SESSION_SUMMARY_2025-11-12_PR_REVIEW_MARATHON.md
Due: check-markdown-encoding, validate-docs-frontmatter

test(serve): preserve and fix comprehensive feedback_routes test suite (38 tests)
  tests/unit/serve/test_feedback_routes.py
Due: block-labs-imports, guardrail-check

deprecate(governance): add deprecation warnings to legacy Guardian bridges
  governance/guardian_sentinel.py
  governance/guardian_serializers.py
  governance/guardian_shadow_filter.py
  governance/guardian_system.py
  governance/guardian_system_integration.py
Due: block-labs-imports, guardrail-check

deprecate(governance): Add deprecation warnings to legacy Guardian bridges (#1362)
  governance/guardian_sentinel.py
  governance/guardian_serializers.py
  governance/guardian_shadow_filter.py
  governance/guardian_system.py
  governance/guardian_system_integration.py
Due: block-labs-imports, guardrail-check

T4: Modernize bridge and glyph typing annotations
  bridge/llm_wrappers/jules_wrapper.py
  candidate/glyphs/glyph_binder.py
Due: block-labs-imports, guardrail-check

T4: Modernize candidate module typing annotations
  candidate/glyphs/glyph_retriever.py
  candidate/quantum/measurement_history.py
Due: block-labs-imports, guardrail-check

refactor(governance): relocate guardian_policies to canonical location
  governance/guardian_policies.py
  lukhas_website/lukhas/governance/guardian/policies.py
Due: block-labs-imports, guardrail-check

feat(particle-system): implement cat shape with extreme geometric transformations
  websites/demo.html
Due: none

T4: Modernize audit decision embedding engine imports
  core/audit/audit_decision_embedding_engine.py
Due: block-labs-imports, guardrail-check, check-license-headers

docs(hygiene): comprehensive GitHub issues triage and reduction initiative
  docs/audits/GITHUB_ISSUES_TRIAGE_2025-11-12.md
Due: check-markdown-encoding, validate-docs-frontmatter

refactor(governance): Relocate guardian_policies to canonical location (#1363)
  governance/guardian_policies.py
  lukhas_website/lukhas/governance/guardian/policies.py
Due: block-labs-imports, guardrail-check

T4: Modernize core module typing annotations
  core/guardian/policies.py
  core/interfaces/api/v1/v1/rest/middleware.py
  core/memory/folds.py
Due: block-labs-imports, guardrail-check, check-license-headers
