Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$

chore(hygiene): merge 2 more Batch 4 PRs (LM004, MP012)
  todo/MASTER_LOG.md
Due: none

docs: add PR details file for manual PR creation
  PR_DETAILS.md
Due: none

feat(oneiric): optional seed_lock for reproducible runs
  oneiric/core/config.py
Due: block-labs-imports, guardrail-check

feat(memory): introduce double-helix strand types
  MATRIZ/analysis/__init__.py
  MATRIZ/analysis/signals.py
  MATRIZ/analysis/tags.py
  MATRIZ/tools/__init__.py
  MATRIZ/tools/probes.py
  core/audit/sink.py
  core/colonies/reflection_colony.py
  core/endocrine/api.py
  core/guardian/explain.py
  core/guardian/strings.py
  core/memory/hooks.py
  core/memory/metrics.py
  core/memory/strand.py
  core/tags/context.py
  core/tags/registry.py
  dast/counterfactual.py
  eqnox/__init__.py
  eqnox/glyphs/__init__.py
  eqnox/glyphs/metrics.py
  eqnox/glyphs/model.py
  eqnox/router.py
  lid/config.py
  lid/seed.py
  lid/telemetry.py
  scripts/consolidation/block_labs_imports.sh
Due: block-labs-imports, guardrail-check, check-license-headers

feat: complete remaining core features (tasks 33-40)
  bench/prompts_fixed.json
  cli/lukhas.py
  core/adapters/__init__.py
  core/adapters/provider_registry.py
  core/audit/redaction.py
  core/config.py
  docs/demos/REGRET_DEMO.md
  serve/debug.py
  serve/healthz.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

chore: update MASTER_LOG - all 40 tasks completed
  TODO/MASTER_LOG.md
Due: none

chore(hygiene): merge 5 more Batch 4 PRs and complete batch tracking
  todo/MASTER_LOG.md
Due: none

feat(lukhas.io): implement infrastructure platform with services and status pages
  websites/packages/lukhas.io/index.html
  websites/packages/lukhas.io/package.json
  websites/packages/lukhas.io/postcss.config.js
  websites/packages/lukhas.io/src/App.tsx
  websites/packages/lukhas.io/src/index.css
  websites/packages/lukhas.io/src/main.tsx
  websites/packages/lukhas.io/src/pages/HomePage.tsx
  websites/packages/lukhas.io/src/pages/ServicesPage.tsx
  websites/packages/lukhas.io/src/pages/StatusPage.tsx
  websites/packages/lukhas.io/tailwind.config.js
  websites/packages/lukhas.io/tsconfig.json
  websites/packages/lukhas.io/tsconfig.node.json
  websites/packages/lukhas.io/vite.config.ts
  websites/pnpm-lock.yaml
Due: none

chore(hygiene): update MASTER_LOG with PR #1459 completion
  todo/MASTER_LOG.md
Due: none

fix(tests): fix failing smoke tests
  tests/smoke/test_api_acl.py
  tests/smoke/test_auth_errors.py
Due: block-labs-imports, guardrail-check

feat(cloud): implement lukhas.cloud managed services platform
  websites/packages/lukhas.cloud/package.json
  websites/packages/lukhas.cloud/postcss.config.js
  websites/packages/lukhas.cloud/src/App.tsx
  websites/packages/lukhas.cloud/src/index.css
  websites/packages/lukhas.cloud/src/main.tsx
  websites/packages/lukhas.cloud/src/pages/CompliancePage.tsx
  websites/packages/lukhas.cloud/src/pages/HomePage.tsx
  websites/packages/lukhas.cloud/src/pages/PricingPage.tsx
  websites/packages/lukhas.cloud/tailwind.config.js
  websites/packages/lukhas.cloud/tsconfig.json
  websites/packages/lukhas.cloud/tsconfig.node.json
  websites/packages/lukhas.cloud/vite.config.ts
  websites/pnpm-lock.yaml
Due: none

feat(matriz): add emergency rollback infrastructure for shim removal
  ROLLBACK_PR_README.md
  docs/runbooks/MATRIZ_SHIM_ROLLBACK.md
Due: check-markdown-encoding, validate-docs-frontmatter

feat(store): implement lukhas.store consciousness app marketplace
  websites/packages/lukhas.store/package.json
  websites/packages/lukhas.store/postcss.config.js
  websites/packages/lukhas.store/src/App.tsx
  websites/packages/lukhas.store/src/index.css
  websites/packages/lukhas.store/src/main.tsx
  websites/packages/lukhas.store/src/pages/AppPage.tsx
  websites/packages/lukhas.store/src/pages/DiscoverPage.tsx
  websites/packages/lukhas.store/src/pages/HomePage.tsx
  websites/packages/lukhas.store/tailwind.config.js
  websites/packages/lukhas.store/tsconfig.json
  websites/packages/lukhas.store/tsconfig.node.json
  websites/packages/lukhas.store/vite.config.ts
  websites/pnpm-lock.yaml
Due: none

chore(ops): mark T20251112041 complete - MATRIZ rollback PR created
  todo/MASTER_LOG.md
Due: none

test(memory): add comprehensive fold consolidation edge case tests
  docs/MS003_FOLD_CONSOLIDATION_TEST_FINDINGS.md
  tests/unit/memory/test_fold_consolidation_edge_cases.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

feat(final-domains): implement lukhas.eu, lukhas.team, lukhas.xyz sites
  websites/packages/lukhas.eu/package.json
  websites/packages/lukhas.eu/postcss.config.js
  websites/packages/lukhas.eu/src/App.tsx
  websites/packages/lukhas.eu/src/index.css
  websites/packages/lukhas.eu/src/main.tsx
  websites/packages/lukhas.eu/src/pages/HomePage.tsx
  websites/packages/lukhas.eu/tailwind.config.js
  websites/packages/lukhas.eu/tsconfig.json
  websites/packages/lukhas.eu/tsconfig.node.json
  websites/packages/lukhas.eu/vite.config.ts
  websites/packages/lukhas.team/package.json
  websites/packages/lukhas.team/postcss.config.js
  websites/packages/lukhas.team/src/App.tsx
  websites/packages/lukhas.team/src/index.css
  websites/packages/lukhas.team/src/main.tsx
  websites/packages/lukhas.team/src/pages/HomePage.tsx
  websites/packages/lukhas.team/tailwind.config.js
  websites/packages/lukhas.team/tsconfig.json
  websites/packages/lukhas.team/tsconfig.node.json
  websites/packages/lukhas.team/vite.config.ts
  websites/packages/lukhas.xyz/package.json
  websites/packages/lukhas.xyz/postcss.config.js
  websites/packages/lukhas.xyz/src/App.tsx
  websites/packages/lukhas.xyz/src/index.css
  websites/packages/lukhas.xyz/src/main.tsx
  websites/packages/lukhas.xyz/src/pages/HomePage.tsx
  websites/packages/lukhas.xyz/tailwind.config.js
  websites/packages/lukhas.xyz/tsconfig.json
  websites/packages/lukhas.xyz/tsconfig.node.json
  websites/packages/lukhas.xyz/vite.config.ts
  websites/pnpm-lock.yaml
Due: none

chore(ops): mark MS003 complete - memory fold edge case tests
  todo/MASTER_LOG.md
Due: none

chore(hygiene): update MASTER_LOG - Evening Update 12 (Jules session rescue)
  todo/MASTER_LOG.md
Due: none

feat(jules): create Batch 5 Jules sessions (9 valid tasks)
  todo/MASTER_LOG.md
Due: none

fix(memory): resolve 3 critical import/export bugs in fold system
  labs/memory/fold_system/memory_fold_system.py
Due: block-labs-imports, guardrail-check

fix(memory): add async iteration for import_folds generator (Bug #4)
  labs/memory/fold_system/memory_fold_system.py
Due: block-labs-imports, guardrail-check

chore(docs): update MASTER_LOG - MS003 bug fixes complete
  docs/audits/STATE_SNAPSHOT_PR1404.md
  docs/operations/ROLLBACK_PLAN_PR1404.md
Due: check-markdown-encoding, validate-docs-frontmatter

fix(memory): resolve 4 critical import/export bugs - achieve 100% test pass rate (#1473)
  labs/memory/fold_system/memory_fold_system.py
Due: block-labs-imports, guardrail-check

test(memory): comprehensive fold consolidation edge case tests (MS003) (#1464)
  docs/MS003_FOLD_CONSOLIDATION_TEST_FINDINGS.md
  tests/unit/memory/test_fold_consolidation_edge_cases.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

feat(jules): merge 11 PRs - 68.5% completion milestone achieved
  todo/MASTER_LOG.md
Due: none

feat(docs,qrg): add LUKHAS Manifesto, QRG standard proposal, and operational signing
  docs/MANIFESTO.md
  docs/operations/qrg_signing.md
  docs/standards/QRG_PROPOSAL_v0.md
  scripts/qrg/sign_ops_event.py
  tests/unit/test_qrg_ops_signing.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

chore(jules): merge PR #1476 (MP005) - 69.4% completion
  todo/MASTER_LOG.md
Due: none

chore(jules): create Batch 6 - 13 sessions (68/100 quota used)
  todo/MASTER_LOG.md
Due: none

docs(governance): complete T4 compliance for PR #1404
  core/module_registry.py
  docs/governance/DUAL_APPROVAL_PR1404.md
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

feat(core): create ProviderRegistry infrastructure
  core/adapters/__init__.py
  core/adapters/config_resolver.py
  core/adapters/provider_registry.py
  tests/unit/core/adapters/test_provider_registry.py
Due: block-labs-imports, guardrail-check, check-license-headers

feat(interfaces): add 5 comprehensive pages to lukhas.ai
  websites/packages/lukhas.ai/src/App.tsx
  websites/packages/lukhas.ai/src/pages/FAQPage.tsx
  websites/packages/lukhas.ai/src/pages/PlaygroundPage.tsx
  websites/packages/lukhas.ai/src/pages/PricingPage.tsx
  websites/packages/lukhas.ai/src/pages/TechnologyPage.tsx
  websites/packages/lukhas.ai/src/pages/UseCasesPage.tsx
Due: none

refactor(observability): enhance lazy loading in evidence_collection
  observability/evidence_collection.py
  tests/observability/test_evidence_collection_importsafe.py
Due: block-labs-imports, guardrail-check

feat(migration): Complete MATRIZ migration prep tasks (T20251112022, T20251112023, T20251112052)
  scripts/migration/post_migration_cleanup.sh
  todo/MASTER_LOG.md
Due: none

feat: complete multi-task core features (40 tasks across 8 subsystems) (#1404)
  MATRIZ/analysis/__init__.py
  MATRIZ/analysis/signals.py
  MATRIZ/analysis/tags.py
  MATRIZ/tools/__init__.py
  MATRIZ/tools/probes.py
  cli/lukhas.py
  core/audit/redaction.py
  core/audit/sink.py
  core/colonies/reflection_colony.py
  core/config.py
  core/endocrine/api.py
  core/guardian/explain.py
  core/guardian/strings.py
  core/memory/hooks.py
  core/memory/metrics.py
  core/memory/strand.py
  core/module_registry.py
  core/tags/context.py
  core/tags/registry.py
  dast/counterfactual.py
  docs/demos/REGRET_DEMO.md
  docs/governance/DUAL_APPROVAL_PR1404.md
  eqnox/__init__.py
  eqnox/glyphs/__init__.py
  eqnox/glyphs/metrics.py
  eqnox/glyphs/model.py
  eqnox/router.py
  lid/config.py
  lid/seed.py
  lid/telemetry.py
  oneiric/core/config.py
  scripts/consolidation/block_labs_imports.sh
  serve/debug.py
  serve/healthz.py
  tests/smoke/test_auth_errors.py
  todo/MASTER_LOG.md
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

chore(jules): Batch 7 partial completion - 6/15 sessions (rate limited)
  todo/MASTER_LOG.md
Due: none

chore(jules): Batch 7 partial completion - 6/15 sessions (rate limited) (#1490)
  todo/MASTER_LOG.md
Due: none

feat(matriz): export all 22 MATRIZ cognitive nodes
  matriz/nodes/__init__.py
  matriz/nodes/awareness/__init__.py
Due: block-labs-imports, guardrail-check, check-license-headers
