Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, block-labs-imports, import-linter, simulation-lane-safety, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock, mcp-config-verify, mcp-contract, mcp-validate-catalog, check-markdown-encoding, validate-docs-frontmatter, check-license-headers

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  block-labs-imports: any of: \.py$
  import-linter: any of: ^(consciousness/simulation/|examples/simulation)
  simulation-lane-safety: any of: ^(consciousness/simulation/|examples/simulation)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
  mcp-config-verify: any of: ^lukhas-mcp/config\.yaml$
  mcp-contract: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  mcp-validate-catalog: any of: ^mcp-servers/lukhas-devtools-mcp/tooling/catalog\.json$
  check-markdown-encoding: any of: ^docs/.*\.md$
  validate-docs-frontmatter: any of: ^docs/.*\.md$
  check-license-headers: any of: ^(lukhas|matriz|core)/.*\.py$ and \.py$

docs(testing): complete 0.01% test excellence & lukhas.team platform design
  TEST_EXCELLENCE_SUMMARY.md
  docs/testing/IMPLEMENTATION_ROADMAP.md
  docs/testing/LUKHAS_TEAM_PLATFORM_SPEC.md
  docs/testing/README.md
  docs/testing/TEST_ORGANIZATION_0.01_PERCENT.md
  docs/testing/VISUAL_TEST_REPORTING_DESIGN.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(jules): batch 6 memory subsystem code quality fixes
  JULES_BATCH6_MEMORY_FIXES.md
  JULES_COMPLETE_STATUS_JAN_08.md
  release_artifacts/repo_audit_v2/security/openai_hits.txt
  scripts/create_jules_batch6_memory_fixes.py
Due: block-labs-imports, guardrail-check

docs(jules): batch 7 MATRIZ cognitive engine TODOs + final summary
  JULES_BATCH7_MATRIZ_TODOS.md
  JULES_FINAL_SUMMARY_JAN_08.md
  MISSING_TESTS_DELEGATION_GUIDE.md
  scripts/create_jules_batch7_matriz_todos.py
Due: block-labs-imports, guardrail-check

fix(mcp-tests): Fix imports and syntax in mcp-lukhas-sse test [F821]
  mcp-lukhas-sse/tests/test_mcp-lukhas-sse_unit.py
Due: block-labs-imports, guardrail-check

fix(intro-tests): Fix syntax in lukhas-ai-intro test [F821]
  lukhas_ai_intro/tests/test_lukhas-ai-intro_unit.py
Due: block-labs-imports, guardrail-check

docs(jules): audit completed sessions missing PRs
  JULES_SESSION_AUDIT_JAN_08.md
Due: none

fix(scaffold-tests): Fix syntax in 3 generated test scaffolds [F821]
  design_system/tests/test_design-system_unit.py
  jules_branch/tests/test_Jules--branch_unit.py
  mcp-server/tests/test_mcp-server_unit.py
Due: block-labs-imports, guardrail-check

fix(scripts+tests): Fix import issues [F821]
  scripts/wavec_snapshot.py
  tests/reliability/test_0_01_percent_features.py
Due: block-labs-imports, guardrail-check

chore(self-heal): bootstrap loop v0.1
  .github/workflows/self_healing.yml
  .lukhas/protected-files.yml
  Makefile
  scripts/bootstrap_self_heal.sh
  tools/check_openapi_drift.py
  tools/guard_patch.py
  tools/normalize_junit.py
Due: block-labs-imports, guardrail-check

docs(self-heal): add quickstart guide for Memory Healix v0.1
  SELF_HEALING_QUICKSTART.md
Due: none

docs(self-heal): add deployment completion summary
  SELF_HEAL_DEPLOYMENT_COMPLETE.md
Due: none

feat(self-heal): upgrade to self-evolution with drop-in hooks
  SELF_EVOLUTION_FRAMEWORK.md
  pytest.ini
  tests/conftest.py
  tools/evolve_candidates.py
Due: block-labs-imports, guardrail-check

fix(self-heal): add hookwrapper decorator to pytest_runtest_makereport
  tests/conftest.py
Due: block-labs-imports, guardrail-check

fix(batch-3): Fix F821 issues in 3 production files [F821]
  matriz/consciousness/awareness/awareness_engine_elevated.py
  mcp-servers/tests/test_mcp-servers_unit.py
  scripts/suggest_imports_f821.py
Due: block-labs-imports, guardrail-check, check-license-headers

docs(self-evolution): add complete deployment summary
  SELF_EVOLUTION_DEPLOYMENT_COMPLETE.md
Due: none

fix(batch-4): Fix 2 more integration test issues [F821]
  tests/integration/test_openai_facade_integration.py
  tests/matriz/test_e2e_perf.py
Due: block-labs-imports, guardrail-check

feat(stage-a): ready for test enrichment execution
  STAGE_A_READY.md
Due: none

test(serve): add comprehensive tests for serve modules
  tests/serve/__init__.py
  tests/serve/test_identity_api.py
  tests/serve/test_main.py
  tests/serve/test_strict_auth.py
Due: block-labs-imports, guardrail-check

feat(labot): add Stage A test orchestration agent
  .github/workflows/labot_plan.yml
  .labot/config.yml
  LABOT_README.md
  Makefile
  scripts/run_labot.sh
  tools/labot.py
Due: block-labs-imports, guardrail-check

docs(jules): PR review session - 4 merged, 2 pending fixes
  JULES_PR_REVIEW_JAN_08.md
Due: none

feat(labot): generate Stage A test enrichment artifacts for 15 high-priority targets
  prompts/labot/core_monitoring_metrics.md
  prompts/labot/core_security_encryption.md
  prompts/labot/lukhas_governance_guardian.md
  prompts/labot/lukhas_identity_core.md
  prompts/labot/lukhas_identity_webauthn.md
  prompts/labot/matriz_adapters_llm_adapter.md
  prompts/labot/matriz_bio_adaptation.md
  prompts/labot/matriz_core_engine.md
  prompts/labot/matriz_memory_context.md
  prompts/labot/serve_error_handling.md
  prompts/labot/serve_identity_middleware.md
  prompts/labot/serve_main.md
  prompts/labot/serve_middleware_cors.md
  prompts/labot/serve_responses.md
  prompts/labot/serve_streaming.md
  reports/evolve_candidates.json
  requests/labot/core_monitoring_metrics.pr.yml
  requests/labot/core_security_encryption.pr.yml
  requests/labot/lukhas_governance_guardian.pr.yml
  requests/labot/lukhas_identity_core.pr.yml
  requests/labot/lukhas_identity_webauthn.pr.yml
  requests/labot/matriz_adapters_llm_adapter.pr.yml
  requests/labot/matriz_bio_adaptation.pr.yml
  requests/labot/matriz_core_engine.pr.yml
  requests/labot/matriz_memory_context.pr.yml
  requests/labot/serve_error_handling.pr.yml
  requests/labot/serve_identity_middleware.pr.yml
  requests/labot/serve_main.pr.yml
  requests/labot/serve_middleware_cors.pr.yml
  requests/labot/serve_responses.pr.yml
  requests/labot/serve_streaming.pr.yml
Due: none

🔧 F821 Sprint: Fix medium production files (8 issues → 0)
  fix_bench_imports.py
  fix_complete.py
  fix_syntax.py
  scripts/bench_t4_excellence.py
Due: block-labs-imports, guardrail-check

chore(labot): apply safety polish and fix YAML syntax errors
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/labot_audit.yml
  prompts/_templates/test_surgeon_system_prompt.md
  requests/labot/core_monitoring_metrics.pr.yml
  requests/labot/core_security_encryption.pr.yml
  requests/labot/lukhas_governance_guardian.pr.yml
  requests/labot/lukhas_identity_core.pr.yml
  requests/labot/lukhas_identity_webauthn.pr.yml
  requests/labot/matriz_adapters_llm_adapter.pr.yml
  requests/labot/matriz_bio_adaptation.pr.yml
  requests/labot/matriz_core_engine.pr.yml
  requests/labot/matriz_memory_context.pr.yml
  requests/labot/serve_error_handling.pr.yml
  requests/labot/serve_identity_middleware.pr.yml
  requests/labot/serve_main.pr.yml
  requests/labot/serve_middleware_cors.pr.yml
  requests/labot/serve_responses.pr.yml
  requests/labot/serve_streaming.pr.yml
  tools/labot.py
Due: block-labs-imports, guardrail-check

docs(labot): add comprehensive deployment completion summary
  LABOT_DEPLOYMENT_COMPLETE.md
Due: none

🎯 F821 Sprint: Fix all single-issue production files (8 issues → 0)
  lukhas_website/lukhas/core/matriz/optimized_orchestrator.py
  tests/api/test_optimization_system.py
  tests/integration/test_orchestrator_matriz_roundtrip.py
  tests/soak/test_guardian_matriz_throughput.py
  tools/analysis/ml_integration_analyzer.py
  tools/ml_integration_analyzer.py
  tools/tools:promotion_selector.py
Due: block-labs-imports, guardrail-check

chore(labot): request tests for serve_main
  docs/labot/serve_main.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(features): comprehensive production feature documentation for 7 merged PRs
  PRODUCTION_FEATURES_LOG_JAN_08.md
  docs/architecture/TASK_MANAGER_GUIDE.md
  docs/consciousness/DREAM_ENGINE_API.md
  docs/operations/PROMETHEUS_MONITORING_GUIDE.md
Due: check-markdown-encoding, validate-docs-frontmatter

docs(makefile): comprehensive build system reference for 50+ commands
  docs/development/MAKEFILE_REFERENCE.md
Due: check-markdown-encoding, validate-docs-frontmatter

Revert "docs(labot): add comprehensive deployment completion summary"
  LABOT_DEPLOYMENT_COMPLETE.md
Due: none

Revert "chore(labot): apply safety polish and fix YAML syntax errors"
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/labot_audit.yml
  prompts/_templates/test_surgeon_system_prompt.md
  requests/labot/core_monitoring_metrics.pr.yml
  requests/labot/core_security_encryption.pr.yml
  requests/labot/lukhas_governance_guardian.pr.yml
  requests/labot/lukhas_identity_core.pr.yml
  requests/labot/lukhas_identity_webauthn.pr.yml
  requests/labot/matriz_adapters_llm_adapter.pr.yml
  requests/labot/matriz_bio_adaptation.pr.yml
  requests/labot/matriz_core_engine.pr.yml
  requests/labot/matriz_memory_context.pr.yml
  requests/labot/serve_error_handling.pr.yml
  requests/labot/serve_identity_middleware.pr.yml
  requests/labot/serve_main.pr.yml
  requests/labot/serve_middleware_cors.pr.yml
  requests/labot/serve_responses.pr.yml
  requests/labot/serve_streaming.pr.yml
  tools/labot.py
Due: block-labs-imports, guardrail-check

Revert "feat(labot): generate Stage A test enrichment artifacts for 15 high-priority targets"
  prompts/labot/core_monitoring_metrics.md
  prompts/labot/core_security_encryption.md
  prompts/labot/lukhas_governance_guardian.md
  prompts/labot/lukhas_identity_core.md
  prompts/labot/lukhas_identity_webauthn.md
  prompts/labot/matriz_adapters_llm_adapter.md
  prompts/labot/matriz_bio_adaptation.md
  prompts/labot/matriz_core_engine.md
  prompts/labot/matriz_memory_context.md
  prompts/labot/serve_error_handling.md
  prompts/labot/serve_identity_middleware.md
  prompts/labot/serve_main.md
  prompts/labot/serve_middleware_cors.md
  prompts/labot/serve_responses.md
  prompts/labot/serve_streaming.md
  reports/evolve_candidates.json
  requests/labot/core_monitoring_metrics.pr.yml
  requests/labot/core_security_encryption.pr.yml
  requests/labot/lukhas_governance_guardian.pr.yml
  requests/labot/lukhas_identity_core.pr.yml
  requests/labot/lukhas_identity_webauthn.pr.yml
  requests/labot/matriz_adapters_llm_adapter.pr.yml
  requests/labot/matriz_bio_adaptation.pr.yml
  requests/labot/matriz_core_engine.pr.yml
  requests/labot/matriz_memory_context.pr.yml
  requests/labot/serve_error_handling.pr.yml
  requests/labot/serve_identity_middleware.pr.yml
  requests/labot/serve_main.pr.yml
  requests/labot/serve_middleware_cors.pr.yml
  requests/labot/serve_responses.pr.yml
  requests/labot/serve_streaming.pr.yml
Due: none

Revert "feat(labot): add Stage A test orchestration agent"
  .github/workflows/labot_plan.yml
  .labot/config.yml
  LABOT_README.md
  Makefile
  scripts/run_labot.sh
  tools/labot.py
Due: block-labs-imports, guardrail-check

chore(tools): add ΛBot import splitter for policy-compliant reimport
  scripts/split_labot_import.sh
Due: none

chore(labot): import ΛBot files (group 1)
  .labot/config.yml
  JULES_PR_REVIEW_JAN_08.md
  docs/lukhas-team/DATABASE_SCHEMA_COMPLETE.md
  docs/lukhas-team/ICON_DESIGN_SPECIFICATION.md
  docs/lukhas-team/LAMBDA_ID_INTEGRATION_GUIDE.md
  docs/lukhas-team/LUKHAS_TEAM_VISIONARY_PLATFORM.md
  docs/lukhas-team/MATRIZ_INTEGRATION_ARCHITECTURE.md
  docs/lukhas-team/TECHNICAL_STACK_SPECIFICATION.md
  release_artifacts/repo_audit_v2/security/openai_hits.txt
  scripts/generate_complete_inventory.py
  scripts/validate_dynamic_id_hardening.py
  tests/unit/test_ratelimit_metrics.py
  tools/codemod_lukhas_from_ledger.py
  tools/labot.py
Due: block-labs-imports, guardrail-check, check-markdown-encoding, validate-docs-frontmatter

chore(labot): import ΛBot files (group 2)
  .github/workflows/labot_plan.yml
  scripts/run_labot.sh
Due: none

chore(labot): import ΛBot files (group 3)
  prompts/labot/serve_identity_middleware.md
  prompts/labot/serve_main.md
Due: none

chore(labot): import ΛBot files (group 4)
  prompts/labot/serve_responses.md
  prompts/labot/serve_streaming.md
Due: none

chore(labot): import ΛBot files (group 5)
  prompts/labot/serve_error_handling.md
  prompts/labot/serve_middleware_cors.md
Due: none
