Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock

matrix-contract-presence:
  name: Matrix Contract Presence
  entry: python3 tools/validate_contract_presence.py --enforce --quiet
  language: system
  pass_filenames: false

matrix-contract-schema:
  name: Matrix Contract Schema Validation
  entry: python3 tools/matrix_gate.py --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

opa-format:
  name: Format OPA policies
  entry: opa fmt -w
  language: system

matrix-identity-validation:
  name: Matrix Identity Block Validation
  entry: python3 tools/matrix_gate.py --identity --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

lukhas-tier-consistency:
  name: ΛiD Tier Consistency Check
  entry: python3 tools/lukhas_id_bridge.py --check-consistency
  language: system
  pass_filenames: false

guardrail-check:
  name: guardrail-check (ban direct LLM calls)
  entry: python3 scripts/ci/check_guardrail_usage.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

matrix-contract-validation:
  name: Validate Matrix Contracts
  entry: python3 tools/pre_commit_matrix_check.py
  language: system
  pass_filenames: true

telemetry-semconv-validation:
  name: Validate Telemetry Semantic Conventions
  entry: python3 tools/pre_commit_telemetry_check.py
  language: system
  pass_filenames: true

demo-script-validation:
  name: Validate Matrix Tracks Demo Scripts
  entry: python3 tools/pre_commit_demo_lint.py
  language: system
  pass_filenames: true

reject-legacy-directory-index:
  name: Reject legacy directory_index.json files
  entry: python3 -c "import sys; files=[f for f in sys.argv[1:] if 'directory_index.json' in f]; sys.exit(1 if files else 0)"
  language: system
  pass_filenames: true

validate-module-manifests-changed:
  name: T4 Module Manifest Validation
  entry: python3 tools/manifest_validate.py --all
  language: system
  pass_filenames: false

validate-configs-and-secrets:
  name: Validate configs and detect secrets
  entry: python3 tools/validate_configs.py
  language: system
  pass_filenames: false

manifest-validate:
  name: Manifest Validate
  entry: python3 tools/manifest_validate.py
  language: system
  pass_filenames: false

manifest-lock:
  name: Manifest Lock Hydrator
  entry: python3 tools/manifest_lock_hydrator.py
  language: system
  pass_filenames: false

test(api): add comprehensive test coverage for models, rate limiting, and responses
  tests/smoke/test_models.py
  tests/smoke/test_rate_limiting.py
  tests/smoke/test_responses.py
Due: guardrail-check

test(api): add 48 professional smoke tests for error handling, concurrency, and security
  tests/smoke/test_concurrency.py
  tests/smoke/test_error_handling.py
  tests/smoke/test_security_headers.py
Due: guardrail-check

feat(observability): add Prometheus alert pack + trace coverage metric for OpenAI facade
  .github/workflows/matriz-validate.yml
  Makefile
  docs/openapi/lukhas-openai.json
  lukhas/adapters/openai/api.py
  lukhas/core/reliability/ratelimit.py
  lukhas/observability/alerts/openai_facade.alerts.yml
  lukhas/observability/ratelimit_metrics.py
  lukhas/observability/security_headers.py
  lukhas/observability/tracing.py
  scripts/generate_openapi.py
  tests/unit/test_ratelimit_headers.py
  tests/unit/test_ratelimit_metrics.py
Due: guardrail-check

test(api): add 69 real capability tests for MATRIZ, memory, and consciousness pipeline
  tests/smoke/test_consciousness_pipeline.py
  tests/smoke/test_matriz_integration.py
  tests/smoke/test_memory_systems.py
Due: guardrail-check

feat(docs): add comprehensive overview of LUKHAS feedback system architecture and features
  docs/gonzo/Untitled-3.ini
  docs/gonzo/upgrades/feedback_system/LUKHAS_FEEDBACK_SYSTEM.md
  docs/phase3/PRODUCTION_FEATURES_SUMMARY.md
Due: none

fix(hygiene): improve codemod robustness for CST node handling
  scripts/codemod_imports.py
Due: guardrail-check

test(stability): add codemod golden tests + CI regression guard + branch cleanup
  .github/CODEOWNERS
  .github/workflows/matriz-validate.yml
  scripts/cleanup_branches.sh
  tests/tools/test_codemod_imports.py
Due: guardrail-check

chore(hygiene): implement soft audit P0 recommendations - lane split + ruff strict
  .claude/settings.local.json
  docs/gonzo/audits/SOFT_AUDIT_10_13_25.md
  pyproject.toml
  tests/e2e/comprehensive/test_comprehensive_all_systems.py
  tests/e2e/comprehensive_dream_test.py
  tests/e2e/integration/test_phase_1_complete.py
  tests/e2e/test_consciousness_direct.py
  tests/integration/test_concurrent_fix.py
  tests/rules/test_star_rules.py
Due: guardrail-check

feat(audit): implement Phase 3.1 Health Audit Pack with comprehensive reporting
  Makefile
  docs/audits/health/latest.json
  docs/audits/health/latest.md
  docs/gonzo/audits/LUKHAS_AI_SOFT_AUDIT.md
  pyproject.toml
  scripts/system_health_audit.py
  tests/smoke/test_runtime_lanes.py
Due: guardrail-check

docs(api): complete Copilot delegated tasks from soft audit
  README.md
  docs/api/postman/LUKHAS_Golden_Flows.postman_collection.json
  docs/api/postman/README.md
  docs/gonzo/audits/COPILOT_TASK_COMPLETION_10_13_25.md
  lukhas/core/reliability/idempotency.py
Due: guardrail-check

docs(audit): add Copilot delegation completion summary
  docs/gonzo/audits/COPILOT_DELEGATION_COMPLETE.md
Due: none

chore(audit): Phase 2 follow-through (A-C complete) + delegation framework
  .claude/settings.local.json
  docs/api/postman/LUKHAS_Golden_Flows.postman_collection.json
  docs/audits/system_health.json
  docs/audits/system_health.md
  docs/gonzo/audits/PHASE_2.md
  docs/gonzo/audits/PHASE_2_DELEGATIONS.md
  lukhas/adapters/openai/api.py
  lukhas/adapters/openai/routes/indexes.py
  lukhas/core/reliability/__init__.py
  scripts/system_health_audit.py
  tests/smoke/test_auth.py
  tests/smoke/test_auth_errors.py
Due: matrix-contract-presence, guardrail-check

feat(dx): Complete Copilot Phase 2 SDK & CI tasks (PHASE_2_1.md)
  .github/workflows/newman-golden-flows.yml
  docs/COPILOT_PHASE2_COMPLETION.md
  examples/sdk/python/README.md
  examples/sdk/python/requirements.txt
  examples/sdk/python/src/lukhas_client.py
  examples/sdk/typescript/README.md
  examples/sdk/typescript/package.json
  examples/sdk/typescript/src/basic-client.ts
  examples/sdk/typescript/src/client.ts
  examples/sdk/typescript/src/dreams-client.ts
  examples/sdk/typescript/src/search-client.ts
  examples/sdk/typescript/src/streaming-client.ts
  examples/sdk/typescript/src/types.ts
  examples/sdk/typescript/tsconfig.json
Due: guardrail-check

feat(ci): add health badge, OpenAPI diff, and strict mode rehearsal workflows
  .github/workflows/health-report-badge.yml
  .github/workflows/openapi-diff.yml
  .github/workflows/strict-mode-rehearsal.yml
Due: none

feat(guardian): merge PR #378 Guardian PDP + Redis backends
  .github/workflows/health-report-badge.yml
  .github/workflows/openapi-diff.yml
  .github/workflows/strict-mode-rehearsal.yml
Due: none

feat(guardian): add quota resolver, Redis backend, and Guardian metrics
  configs/policy/guardian_policies.yaml
  configs/quotas.yaml
  docs/guardian-enhancements.md
  docs/rfcs/RFC-0009-guardian-policy.md
  lukhas/adapters/openai/api.py
  lukhas/adapters/openai/policy_models.py
  lukhas/adapters/openai/policy_pdp.py
  lukhas/core/reliability/quota_resolver.py
  lukhas/core/reliability/redis_backend.py
  lukhas/observability/guardian_metrics.py
  tests/guardian/test_guardian_policies.yaml
  tests/guardian/test_pdp.py
  tests/unit/test_guardian_metrics.py
  tests/unit/test_quota_resolver.py
Due: guardrail-check

fix(tests): align smoke tests with OpenAI error envelope format
  tests/smoke/test_auth.py
  tests/smoke/test_error_envelope_minimal.py
Due: guardrail-check

feat(guardian,rl): enforce Guardian on endpoints + X-RateLimit-* headers + config/tests
  .claude/settings.local.json
  .env.example
  Makefile
  lukhas/adapters/openai/api.py
  tests/smoke/test_rate_limit_headers.py
Due: guardrail-check

fix(guardian): resolve PDP init warning + unbreak auth tests via default scopes
  lukhas/adapters/openai/api.py
  lukhas/adapters/openai/auth.py
  lukhas/adapters/openai/policy_pdp.py
  pyproject.toml
  tests/conftest.py
Due: guardrail-check

fix(guardian): filter unknown policy YAML keys (unless, etc)
  lukhas/adapters/openai/policy_pdp.py
  tests/conftest.py
Due: guardrail-check

fix(auth): use TokenClaims default scopes in verify_token_with_policy
  lukhas/adapters/openai/auth.py
  tests/smoke/test_candidate_smoke.py
Due: guardrail-check

feat(openapi): add OpenAI-compatible RL headers to spec
  .github/workflows/matriz-validate.yml
  docs/openapi/lukhas-openai.json
  scripts/generate_openapi.py
  tests/smoke/test_entrypoints.py
  tests/smoke/test_experimental_smoke.py
  tests/smoke/test_runtime_lanes.py
Due: guardrail-check

feat(guardian,monitoring): expose Guardian + RL signals in /healthz
  .github/workflows/matriz-validate.yml
  Makefile
  lukhas/adapters/openai/api.py
  scripts/check_openapi_headers.py
  tests/smoke/test_healthz_signals.py
Due: guardrail-check

feat(guardian,rl): enforce Guardian on endpoints + X-RateLimit-* headers (#380)
  .claude/settings.local.json
  .env.example
  .github/workflows/matriz-validate.yml
  Makefile
  docs/openapi/lukhas-openai.json
  lukhas/adapters/openai/api.py
  lukhas/adapters/openai/auth.py
  lukhas/adapters/openai/policy_pdp.py
  pyproject.toml
  scripts/check_openapi_headers.py
  scripts/generate_openapi.py
  tests/conftest.py
  tests/smoke/test_candidate_smoke.py
  tests/smoke/test_entrypoints.py
  tests/smoke/test_experimental_smoke.py
  tests/smoke/test_healthz_signals.py
  tests/smoke/test_rate_limit_headers.py
  tests/smoke/test_runtime_lanes.py
Due: guardrail-check

feat(observability): add Guardian/RL monitoring dashboards and post-release runbook
  docs/releases/CHANGELOG_v0.9.0-rc.md
  docs/releases/POST_RELEASE_v0.9.0-rc_RUNBOOK.md
  docs/releases/RELEASE_v0.9.0-rc_body.md
  lukhas/observability/alerts/guardian-rl.alerts.yml
  lukhas/observability/grafana/guardian-rl-dashboard.json
  scripts/query_guardian_deny_rate.sh
Due: none

fix(dx): Newman YAML syntax and TypeScript type safety
  .github/workflows/newman-golden-flows.yml
  examples/sdk/typescript/package.json
  examples/sdk/typescript/src/client.ts
Due: none

docs(readme): add 30-second quickstart section
  README.md
Due: none

docs(team): update team status with Phase 2 testing completion
  docs/gonzo/audits/TEAM_STATUS.md
Due: none

ops(ga): PR health badge, recording rules, enriched health artifacts (guardian+rl)
  .dev/locks/ga-guard.lock
  .github/workflows/health-report-badge.yml
  .github/workflows/matriz-validate.yml
  lukhas/observability/rules/guardian-rl.rules.yml
  scripts/system_health_audit.py
Due: guardrail-check

docs(dx): DX Polish Pack — cookbooks, Postman, examples smoke CI (no runtime)
  .github/workflows/dx-examples-smoke.yml
  README.md
  docs/gonzo/dx/COOKBOOK_dreams.md
  docs/gonzo/dx/COOKBOOK_responses.md
  docs/postman/LUKHAS.postman_environment.json
  docs/postman/LUKHAS_DX_Polish.postman_collection.json
  docs/releases/RELEASE_NOTES_DX_POLISH.md
Due: none

fix(ga): align budget messaging, retention, and add version tracking
  .github/workflows/health-report-badge.yml
  .github/workflows/matriz-validate.yml
  scripts/system_health_audit.py
Due: guardrail-check

docs(dx): DX Polish Pack (quickstart, cookbooks, Postman, CI smoke)
  .github/workflows/dx-examples-smoke.yml
  README.md
  docs/gonzo/dx/COOKBOOK_dreams.md
  docs/gonzo/dx/COOKBOOK_responses.md
  docs/postman/LUKHAS.postman_environment.json
  docs/postman/LUKHAS_DX_Polish.postman_collection.json
  docs/releases/RELEASE_NOTES_DX_POLISH.md
Due: none

feat(observability): GA Guard Pack — PR health badge + Prometheus recording rules + health artifacts wiring
  .dev/locks/ga-guard.lock
  .github/workflows/health-report-badge.yml
  .github/workflows/matriz-validate.yml
  lukhas/observability/rules/guardian-rl.rules.yml
  scripts/system_health_audit.py
Due: guardrail-check

chore(ops): release ga-guard lock after PR #382 merge
  .dev/locks/.gitkeep
  .dev/locks/ga-guard.lock
  scripts/locks/lock.py
  scripts/locks/status.py
  scripts/locks/unlock.py
Due: guardrail-check

docs(dx): DX Polish Pack enhancements (badge, caching, cross-links, team updates)
  .github/workflows/dx-examples-smoke.yml
  README.md
  docs/gonzo/MULTI_AGENT_BRIEF.md
  docs/gonzo/audits/TEAM_STATUS.md
Due: none

ops(coordination): GA Guard Pack operationalization + lane coordination updates
  docs/audits/MONITORING_DEPLOYMENT_CHECKLIST.md
  docs/gonzo/COORDINATION_UPDATE_2025-10-14.md
  docs/gonzo/audits/TEAM_STATUS.md
  docs/gonzo/issues/GUARDIAN_POLICY_YAML_FORMAT_MISMATCH.md
Due: none

Add OpenAPI specification for Lukhas OpenAI Facade API
  .dev/locks/dx-polish.lock
  .dev/locks/ga-guard.lock
  .dev/locks/hotpaths-b1.lock
  POST_RC_OPERATIONALIZATION_SUMMARY.md
  docs/openapi/lukhas-openapi.json
Due: none

fix(guardian): tolerate legacy policy YAML and add schema guard
  .github/workflows/matriz-validate.yml
  Makefile
  lukhas/adapters/openai/policy_pdp.py
  scripts/validate_guardian_policy.py
  tests/guardian/test_policy_format_compat.py
Due: guardrail-check

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
