Repository LukhasAI/Lukhas: changes, and which pre-commit hooks are due for each by the changed paths.
All: matrix-contract-presence, matrix-contract-schema, opa-format, matrix-identity-validation, lukhas-tier-consistency, guardrail-check, matrix-contract-validation, telemetry-semconv-validation, demo-script-validation, reject-legacy-directory-index, validate-module-manifests-changed, validate-configs-and-secrets, manifest-validate, manifest-lock

matrix-contract-presence:
  name: Matrix Contract Presence
  entry: python3 tools/validate_contract_presence.py --enforce --quiet
  language: system
  pass_filenames: false

matrix-contract-schema:
  name: Matrix Contract Schema Validation
  entry: python3 tools/matrix_gate.py --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

opa-format:
  name: Format OPA policies
  entry: opa fmt -w
  language: system

matrix-identity-validation:
  name: Matrix Identity Block Validation
  entry: python3 tools/matrix_gate.py --identity --pattern "lukhas/**/matrix_*.json"
  language: system
  pass_filenames: false

lukhas-tier-consistency:
  name: ΛiD Tier Consistency Check
  entry: python3 tools/lukhas_id_bridge.py --check-consistency
  language: system
  pass_filenames: false

guardrail-check:
  name: guardrail-check (ban direct LLM calls)
  entry: python3 scripts/ci/check_guardrail_usage.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

matrix-contract-validation:
  name: Validate Matrix Contracts
  entry: python3 tools/pre_commit_matrix_check.py
  language: system
  pass_filenames: true

telemetry-semconv-validation:
  name: Validate Telemetry Semantic Conventions
  entry: python3 tools/pre_commit_telemetry_check.py
  language: system
  pass_filenames: true

demo-script-validation:
  name: Validate Matrix Tracks Demo Scripts
  entry: python3 tools/pre_commit_demo_lint.py
  language: system
  pass_filenames: true

reject-legacy-directory-index:
  name: Reject legacy directory_index.json files
  entry: python3 -c "import sys; files=[f for f in sys.argv[1:] if 'directory_index.json' in f]; sys.exit(1 if files else 0)"
  language: system
  pass_filenames: true

validate-module-manifests-changed:
  name: T4 Module Manifest Validation
  entry: python3 tools/manifest_validate.py --all
  language: system
  pass_filenames: false

validate-configs-and-secrets:
  name: Validate configs and detect secrets
  entry: python3 tools/validate_configs.py
  language: system
  pass_filenames: false

manifest-validate:
  name: Manifest Validate
  entry: python3 tools/manifest_validate.py
  language: system
  pass_filenames: false

manifest-lock:
  name: Manifest Lock Hydrator
  entry: python3 tools/manifest_lock_hydrator.py
  language: system
  pass_filenames: false

chore(imports): remove module–package collisions (bio.py, governance/schema_registry.py, utils.py)
  .claude/settings.local.json
  lukhas/bio.py
  lukhas/bio/utils.py
  lukhas/governance/schema_registry.py
Due: guardrail-check

feat(imports): surgical bridge infrastructure with global alias hook and collision guards
  .claude/agents/agent-lukhas-specialist.md
  .claude/agents/agent-memory-specialist.md
  .claude/settings.local.json
  .github/workflows/bridge-quality.yml
  aka_qualia/__init__.py
  aka_qualia/core/__init__.py
  candidate/core/identity/lukhas_context.md
  candidate/memory/lukhas_context.md
  conftest.py
  consciousness/qi.py
  core/common/__init__.py
  core/common/logger/__init__.py
  docs/COMPREHENSIVE_LUKHAS_UNIVERSE_PLAN.md
  ethics/guardian/lukhas_context.md
  lukhas/cognitive_core.py
  lukhas/cognitive_core/__init__.py
  lukhas/cognitive_core/reasoning/__init__.py
  lukhas/cognitive_core/reasoning/contradiction_integrator/__init__.py
  lukhas/consciousness.py
  lukhas/consciousness/matriz_thought_loop.py
  lukhas/observability.py
  lukhas/observability/__init__.py
  lukhas/observability/advanced_metrics/__init__.py
  oneiric_core/claude.me
  pytest.ini
  quantum/lukhas_context.md
  tools/commands.py
  tools/dashboard.py
Due: matrix-contract-presence, guardrail-check

docs(constellation): add full 8-star format to final incomplete mentions
  .claude/agents/agent-identity-specialist.md
  .claude/agents/identity-authentication-specialist.md
  archive/scattered_root_files/ex_1.md
  audit/DEAD_CODE_TRIAGE.md
  docs/reports_root/deep_search_archive/deep_search_20250829T170531Z/MEMORY_STATUS.md
  ethics/lukhas_context.md
  lukhas_website/lukhas/aka_qualia/WAVE_C_DOCUMENTATION.md
  lukhas_website/lukhas/identity/lukhas_context.md
  reports/docs/TERMINAL_OUTPUT.md
  system_claude_audit/DOCS-copy-16-09025/TERMINAL_OUTPUT.md
Due: none

fix(bridges): add 6 critical bridges and fix core.__init__ getattr loop
  bridge/__init__.py
  bridge/adapters/__init__.py
  bridge/external_adapters/__init__.py
  core/__init__.py
  core/common/__init__.py
  governance/guardian_system/__init__.py
  memory/backends/__init__.py
  tools/scripts/__init__.py
Due: guardrail-check

fix(bridges): point bridges to real modules, remove qi.py collision (204\u2192199 errors)
  .claude/settings.local.json
  bridge/__init__.py
  bridge/adapters/__init__.py
  bridge/api/__init__.py
  bridge/api/analysis/drift_score.py
  bridge/api_gateway/__init__.py
  bridge/external_adapters/__init__.py
  governance/guardian_system/__init__.py
  lukhas/cognitive_core/reasoning/contradiction_integrator/__init__.py
  lukhas/memory/sync/__init__.py
  lukhas/qi.py
  memory/backends/__init__.py
  tools/scripts/__init__.py
Due: matrix-contract-presence, guardrail-check

fix(conftest): add repo root to sys.path, avoid tests/ shadowing (199\u2192179 errors, -10%)
  .claude/settings.local.json
  conftest.py
  pytest.ini
Due: guardrail-check

feat(bridges): create lukhas_website bridges for major modules (179\u2192111 errors, -38%)
  core/consciousness_stream.py
  lukhas/cognitive_core/reasoning/deep_inference_engine/__init__.py
  lukhas/consciousness/matriz_thought_loop/__init__.py
  lukhas/observability/advanced_metrics/__init__.py
Due: matrix-contract-presence, guardrail-check

fix(bridges): add consciousness and core bridges, remove package collisions (steady at 111)
  core/collective/__init__.py
  lukhas/consciousness/creativity_engine.py
  lukhas/consciousness/creativity_engine/__init__.py
  lukhas/consciousness/enhanced_thought_engine/__init__.py
  lukhas/consciousness/guardian_integration.py
  lukhas/consciousness/guardian_integration/__init__.py
  lukhas/consciousness/reflection_engine.py
  lukhas/consciousness/reflection_engine/__init__.py
Due: matrix-contract-presence, guardrail-check

refactor(imports): implement ChatGPT systematic bridge pattern with collision scrubber
  .github/workflows/bridge-quality.yml
  branding/__init__.py
  candidate/bio/awareness.py
  candidate/bio/core.py
  candidate/bio/oscillator.py
  candidate/bio/symbolic.py
  candidate/core/common.py
  candidate/core/glyph.py
  candidate/core/telemetry.py
  candidate/governance/common.py
  candidate/governance/ethics/policy_engines.py
  candidate/governance/ethics_legacy/compliance.py
  candidate/governance/guardian.py
  candidate/governance/identity/diagnostics.py
  candidate/memory/causal.py
  candidate/memory/colonies.py
  candidate/memory/compression.py
  candidate/memory/consolidation.py
  candidate/memory/dna_helix.py
  candidate/memory/episodic.py
  candidate/memory/fold_manager.py
  candidate/memory/fold_system.py
  candidate/memory/hippocampal.py
  candidate/memory/learning/meta_learning.py
  candidate/memory/learning/service.py
  candidate/memory/memory_consolidation.py
  candidate/orchestration/brain.py
  governance/guardian_system.py
  lukhas/_bridgeutils.py
  lukhas/cognitive_core/reasoning/contradiction_integrator/__init__.py
  lukhas/consciousness/matriz_thought_loop/__init__.py
  lukhas_website/lukhas/accepted/bio.py
  lukhas_website/lukhas/core/registry.py
  lukhas_website/lukhas/governance/consent_ledger.py
  lukhas_website/lukhas/governance/guardian.py
  products/infrastructure/legado/legacy_systems/compliance.py
  tests/bridges/test_chatgpt_bridges.py
Due: matrix-contract-presence, guardrail-check

docs(imports): comprehensive missing modules analysis for GPT-5 bridge creation
  bridge/api/db/__init__.py
  bridge/api/db/db.py
  docs/MISSING_MODULES_FOR_GPT5.md
Due: guardrail-check

feat(imports): Phase-1 bridges with explicit _CANDIDATES pattern (partial - 111\u2192177 errors)
  .claude/settings.local.json
  bridge/api/identity/__init__.py
  consciousness/systems/__init__.py
  core/common/__init__.py
  core/consciousness_stream/__init__.py
  core/consciousness_ticker/__init__.py
  governance/guardian_system/__init__.py
  lukhas/async_manager/__init__.py
  lukhas/consciousness/types/__init__.py
  pytest.ini
Due: matrix-contract-presence, guardrail-check

feat(bridges): Phase 2+3 memory+observability+tools bridges with collision guard
  .claude/settings.local.json
  aka_qualia/core/__init__.py
  bridge/api/analysis/__init__.py
  bridge/api/analysis/analytics.py
  bridge/api/analysis/drift_score.py
  candidate/cognitive_core/reasoning/contradiction_integrator/__init__.py
  candidate/matriz/__init__.py
  candidate/rl/__init__.py
  candidate/trace/__init__.py
  core/common/logger/__init__.py
  core/consciousness_stream.py
  lukhas/memory/__init__.py
  lukhas/memory/sync/__init__.py
  lukhas/observability/__init__.py
  lukhas/observability/advanced_metrics/__init__.py
  lukhas/observability/opentelemetry_tracing/__init__.py
  lukhas/tools.py
  memory/backends/__init__.py
  memory/folds.py
  memory/folds/__init__.py
  memory/folds/fold_engine/__init__.py
  memory/folds/fold_soft_delete/__init__.py
  tools/commands/__init__.py
  tools/performance_monitor/__init__.py
  tools/scripts/__init__.py
Due: matrix-contract-presence, guardrail-check

feat(bridges): Phase 4+5 memory backends, orchestration providers, governance, tools
  .claude/settings.local.json
  consciousness/types/__init__.py
  core/business/__init__.py
  core/clock/__init__.py
  core/ethics/logic/__init__.py
  docs/_inventory/docs_manifest.json
  governance/guardian/__init__.py
  governance/guardian_system/__init__.py
  lukhas/public_api/__init__.py
  memory/backends/inmemory/__init__.py
  memory/backends/postgres/__init__.py
  memory/backends/redis/__init__.py
  memory/backends/sqlite/__init__.py
  orchestration/kernels/__init__.py
  orchestration/openai_modulated_service/__init__.py
  orchestration/providers/__init__.py
  orchestration/providers/anthropic/__init__.py
  orchestration/providers/openai/__init__.py
  scripts/docs_inventory.py
  tools/categorize_todos/__init__.py
  tools/performance_monitor/logging_adapter.py
  tools/performance_monitor/metrics.py
Due: matrix-contract-presence, guardrail-check

feat(docs): implement T4 documentation governance framework with CI guardrails
  .github/workflows/docs-lint.yml
  Makefile
  docs/INDEX.md
  docs/_generated/REDIRECTS.md
  docs/_generated/SITE_MAP.md
  docs/_inventory/dedupe_plan.json
  docs/reference/DOCUMENTATION_INDEX.md
  docs/reports/DOCS_GOVERNANCE_IMPLEMENTATION_REPORT.md
  scripts/README_DOCS_SCRIPTS.md
  scripts/docs_dedupe.py
  scripts/docs_generate.py
  scripts/docs_lint.py
  scripts/docs_rewrite_links.py
Due: guardrail-check

feat(bridges): Phase 6+7 achieves 50% milestone (160→97 errors, -63, -39%)
  .claude/settings.local.json
  aka_qualia/core/__init__.py
  core/common/logger/__init__.py
  docs/ADR/ADR-0002-docs-governance.md
  lukhas/_bridgeutils.py
  lukhas/tiers/__init__.py
  memory/backends/__init__.py
  memory/folds/__init__.py
  memory/folds/fold_engine/__init__.py
  observability/opentelemetry_tracing/__init__.py
  orchestration/contracts/__init__.py
  orchestration/kernel_bus/__init__.py
  orchestration/multi_ai_router/__init__.py
  orchestration/providers/anthropic/adapters/__init__.py
  orchestration/providers/anthropic/types/__init__.py
  orchestration/providers/openai/adapters/__init__.py
  orchestration/providers/openai/types/__init__.py
  orchestration/providers/registry/__init__.py
  orchestration/routers/__init__.py
  products/core/__init__.py
  products/experience/__init__.py
  products/experience/modules/__init__.py
  tools/performance_monitor/__init__.py
Due: matrix-contract-presence, guardrail-check

docs(governance): add executive ledger for documentation governance framework
  docs/_generated/DOCS_GOVERNANCE_LEDGER.md
Due: none

docs(governance): update GPT-5 bridge guide with Phase 4+5 completion status
  docs/MISSING_MODULES_FOR_GPT5.md
Due: none

fix(bridges): add missing exports to core.registry and memory.backends
  core/registry/__init__.py
  memory/backends/__init__.py
Due: guardrail-check

feat(bridges): Phase 8 ultra-targeted silencers with analyzer and backend bug fix
  bridge/api/identity/__init__.py
  candidate/tools/performance_monitor.py
  governance/guardian_system/__init__.py
  lukhas/cognitive_core/reasoning/contradiction_integrator/__init__.py
  orchestration/providers/openai_modulated_service/__init__.py
  scripts/bridges/gen_phase8_from_pytest.py
  tests/bridges/test_phase8_contracts.py
  tools/performance_monitor/__init__.py
Due: matrix-contract-presence, guardrail-check

fix(aka_qualia): create minimal AkaQualia stub for test compatibility
  aka_qualia/core/__init__.py
Due: guardrail-check

feat(bridges): Phase 9 silencers with export_from fix and symbol promotion
  governance/guardian_system/__init__.py
  lukhas/consciousness/enhanced_thought_engine/__init__.py
  lukhas/consciousness/matriz_thought_loop/__init__.py
  lukhas/observability/advanced_metrics/__init__.py
  memory/backends/__init__.py
  tests/bridges/test_phase9_contracts.py
Due: matrix-contract-presence, guardrail-check

feat(analysis): add comprehensive pytest error report generator with JSON export
  scripts/analysis/generate_error_report.py
  scripts/analysis/generate_error_report_v2.py
Due: guardrail-check

feat(settings): expand permissions in settings.local.json for enhanced functionality
  .claude/settings.local.json
  candidate/consciousness/cognitive/reflective_introspection.py
  tests/conftest.py
Due: guardrail-check

feat(testing): Phase 10 surgical fixes - hardened import hooks + telemetry + bridges
  aka_qualia/__init__.py
  aka_qualia/core/__init__.py
  conftest.py
  core/common/logger/__init__.py
  pytest.ini
  tests/bridges/test_aka_qualia_contracts.py
  tests/conftest.py
Due: guardrail-check

fix(syntax): fix 35+ logging.getLogger syntax errors and add missing exports
  bridge/api/analysis/drift_score.py
  candidate/bio/coherence/bio_symbolic_validator.py
  candidate/bio/coherence/symbolic_validator.py
  candidate/consciousness/awareness/awareness_processor.py
  candidate/consciousness/core/engine_poetic.py
  candidate/consciousness/qi_consciousness_integration.py
  candidate/consciousness/quantum/superposition_processor.py
  candidate/consciousness/reasoning/advanced_engines/intelligence_engines.py
  candidate/consciousness/reflection/MetaLearningAdapter.py
  candidate/consciousness/reflection/brain_integration.py
  candidate/consciousness/reflection/cognitive_architecture_controller.py
  candidate/consciousness/reflection/oscillator.py
  candidate/consciousness/reflection/qi_dream_adapter.py
  candidate/consciousness/unified/oscillator.py
  candidate/consciousness/unified/symbolic_bio_symbolic_orchestrator.py
  candidate/core/glyph/glyph_exchange.py
  candidate/core/glyph/symbolic_contextual_mapping_colony.py
  candidate/core/orchestration/brain/MultiBrainSymphony.py
  candidate/core/orchestration/brain/abstract_reasoning/confidence_calibrator.py
  candidate/core/orchestration/brain/consciousness/memory_identity.py
  candidate/core/orchestration/brain/eu_ai_transparency.py
  candidate/core/orchestration/brain/main_bot.py
  candidate/core/orchestration/brain/safety_guardrails.py
  candidate/core/orchestration/brain/unified_integration/adapters/awareness_adapter.py
  candidate/core/orchestration/brain/unified_integration/adapters/brain_adapter.py
  candidate/core/orchestration/brain/visualization/golden_healix_mapper.py
  candidate/core/symbolic/symbolic_bio_symbolic.py
  candidate/core/symbolic/symbolic_core.py
  candidate/core/symbolic_core/features/memory_reflection_template.py
  candidate/core/symbolic_legacy/features/memory_reflection_template.py
  candidate/governance/ethics_legacy/compliance/engine.py
  candidate/governance/intelligence_safety_validator.py
  candidate/memory/folds/healix_mapper.py
  candidate/memory/temporal/bot_enhancement.py
  candidate/orchestration/brain/monitoring/intelligence_monitor.py
Due: guardrail-check

chore(tests): create observability/consciousness stubs, improve conftest logging
  lukhas/consciousness/enhanced_thought_engine.py
  lukhas/consciousness/matriz_thought_loop.py
  lukhas/observability/advanced_metrics.py
  lukhas/observability/evidence_collection.py
  lukhas/observability/performance_regression.py
  lukhas/observability/prometheus_metrics.py
  lukhas/observability/service_metrics.py
Due: guardrail-check

refactor(bridges): Phase 11 final push with focus analyzer and 5 hotfixes (96 errors stable)
  conftest.py
  governance/guardian_system/__init__.py
  lukhas/consciousness/enhanced_thought_engine/__init__.py
  lukhas/observability/advanced_metrics/__init__.py
  memory/backends/__init__.py
  memory/backends/filesystem/__init__.py
  memory/backends/s3/__init__.py
  scripts/analysis/focus_last_mile.py
Due: matrix-contract-presence, guardrail-check

docs(governance): add Phase 7 delta report with complete metrics
  docs/_generated/PHASE_7_DELTA_REPORT.md
Due: none

chore(docs): fix UTF-8 encoding for roadmap files
  docs/roadmap/ROADMAP_OPENAI_ALIGNMENT.md
  docs/roadmap/TASKS_OPENAI_ALIGNMENT.md
Due: none

feat(docs): elite next moves - owner workflow, link triage, encoding guard, CI schedule
  .claude/settings.local.json
  .pre-commit-config.yaml
  docs/_generated/CI_MERGE_BLOCK_SCHEDULE.md
  docs/_generated/OWNER_ASSIGNMENT_QUEUE.md
  docs/_generated/link_triage/external_path.md
  docs/_generated/link_triage/malformed.md
  docs/_generated/link_triage/missing_file.md
  scripts/hooks/check_encoding.py
  scripts/links_triage.py
  scripts/owners_queue.py
Due: guardrail-check

docs(governance): Phase B broken-link triage bot with anchor validation
  docs/_generated/link_triage/external_broken.md
  docs/_generated/link_triage/internal_broken.md
  docs/_generated/link_triage/summary.md
  scripts/links_triage_v2.py
Due: guardrail-check

docs(governance): Phase C encoding gate with UTF-8 enforcement in CI
  scripts/docs_lint.py
  scripts/encoding_guard.py
Due: guardrail-check

docs(governance): Phase E merge-block activation runbook with triage dashboard
  .github/workflows/docs-lint.yml
  docs/reports/MERGE_BLOCK_ACTIVATION.md
Due: none

docs(governance): Phase F vault replication framework with parametric inventory
  Makefile
  docs/_inventory/VAULT_DUPLICATES.md
  docs/_inventory/VAULT_INDEX.md
  docs/_inventory/vault_manifest.json
  scripts/vault_inventory.py
Due: guardrail-check

docs(governance): Phase G observability dashboard with metrics and sparklines
  docs/_generated/DOCS_METRICS.json
  docs/reports/DOCS_GOVERNANCE_DASHBOARD.md
  scripts/governance_metrics.py
Due: guardrail-check

fix(test): reduce pytest collection errors from 210 to 177
  .claude/settings.local.json
  core/breakthrough/__init__.py
  docs/gonzo/pre_freeze.md
  lukhas/async_utils.py
  lukhas/consciousness/enhanced_thought_engine.py
  lukhas/consciousness/matriz_thought_loop.py
  lukhas/metrics.py
  lukhas/observability/advanced_metrics.py
  pytest.ini
  tests/conftest.py
Due: guardrail-check

fix(bridge): add symbol stubs to reduce collection errors 177→175
  core/consciousness_stream/__init__.py
  governance/guardian_system/__init__.py
  lukhas/async_utils.py
  lukhas/consciousness/consciousness_stream/__init__.py
  lukhas/consciousness/enhanced_thought_engine/__init__.py
  lukhas/consciousness/matriz_thought_loop/__init__.py
  lukhas/governance/schema_registry/__init__.py
  lukhas/observability/advanced_metrics/__init__.py
Due: matrix-contract-presence, guardrail-check

Path conditions:
  matrix-contract-presence: any of: lukhas/.*/__init__\.py
  matrix-contract-schema: any of: lukhas/.*/matrix_.*\.json
  opa-format: any of: \.rego$
  matrix-identity-validation: any of: lukhas/.*/matrix_.*\.json
  lukhas-tier-consistency: any of: (lukhas/.*/matrix_.*\.json|candidate/governance/identity/config/tier_permissions\.json)
  guardrail-check: any of: \.py$
  matrix-contract-validation: any of: ^.*matrix_.*\.json$
  telemetry-semconv-validation: any of: ^telemetry/fixtures/.*\.json$
  demo-script-validation: any of: ^examples/matrix_tracks/.*\.sh$
  reject-legacy-directory-index: any of: .*directory_index\.json$
  validate-module-manifests-changed: any of: ^.*module\.manifest\.json$
  validate-configs-and-secrets: any of: ^.*/config/.*\.yaml$
  manifest-validate: any of: module\.manifest\.json$
  manifest-lock: any of: module\.manifest\.json$
